<div class="bg-slate-50 py-4 px-8">
  <div class="flex mb-2 flex items-center">
    <h3 class="font-bold mb-0">About</h3>
  </div>
  <div class="mt-4">
    <h3 class="font-bold">OpenAPI Specifications</h3>
    <ul class="list-none m-0 mt-4">
      {% for api_spec in info_box.api_specs %}
        <li class="flex grid-cols-2 justify-between items-center flex-wrap">
          <a href="{{ api_spec.url }}">{{ api_spec.title }}</a>
          <a class="rounded bg-indigo-500 text-white p-2 text-center" href="{{ api_spec.insomnia_link }}">Run in Insomnia</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
