<div class="bg-blue-200 py-4 px-8">
  <div class="flex mb-2 flex items-center">
    <img class="w-8 h-8 mr-2" src="https://docs.konghq.com/assets/images/icons/hub/kong-inc_rate-limiting.png">
    <h3 class="font-bold mb-0">About the Rate Limiting plugin</h3>
  </div>
  <span class="bg-purple-600 text-gray-200 text-xs font-semibold px-2 py-1 rounded-full mr-0.5">OSS</span>
  <span class="bg-blue-600 text-gray-200 text-xs font-semibold px-2 py-1 rounded-full mr-0.5">Konnect Free</span>

  <ul class="list-none m-0 mt-4">
    <li>
      <strong>Made by:</strong> Kong Inc.
    </li>
    <li>
      <strong>Categories:</strong> Authentication
    </li>
    <li>
      <strong>Supported topologies:</strong> hybrid, traditional, db-less
    </li>
    <li>
      <strong>Compatible protocols:</strong> grpc, grpcs, http, https
    </li>
    <li>
      <strong>Minimum Gateway version:</strong> 2.1.0
    </li>
  </ul>

  <div class="mt-4">
    <h3 class="font-bold">Related links</h3>
    <ul class="list-none m-0 mt-4">
      <li>
        <a href="#" class="text-blue-500 hover:underline">Rate Limiting Advanced Plugin</a>
      </li>
      <li>
        <a href="#" class="text-blue-500 hover:underline">Rate Limiting with consumer groups</a>
      </li>
      <li>
        <a href="#" class="text-blue-500 hover:underline">See more tutorials &raquo;</a>
      </li>
    </ul>
  </div>
</div>
