<div class="bg-slate-50 py-4 px-8">
  <div class="flex mb-2 flex items-center">
    <h3 class="font-bold mb-0">About</h3>
  </div>

  {% if info_box.products.size > 0 %}
    <div class="mt-4">
      <h3 class="font-bold">Products</h3>
      <ul class="list-none m-0 mt-4">
        {% for product in info_box.products %}
          <li class="flex grid-cols-2 justify-between items-center flex-wrap">
            <a class="bg-slate-200 text-blue-800 px-1.5 py-0.5 rounded-md mb-0.5" href="https://docs.devsite.com/search/{tutorial.topic}+{other stuff}">{{ product.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if info_box.plugins.size > 0 %}
    <div class="mt-4">
      <h3 class="font-bold">Plugins</h3>
      <ul class="list-none m-0 mt-4">
        {% for plugin in info_box.plugins %}
          <li class="flex grid-cols-2 justify-between items-center flex-wrap">
            <a href="{{ plugin.url }}">{{ plugin.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if info_box.entities.size > 0 %}
    <div class="mt-4">
      <h3 class="font-bold">Gateway Entities</h3>
      <ul class="list-none m-0 mt-4">
        {% for entity in info_box.entities %}
          <li class="flex grid-cols-2 justify-between items-center flex-wrap">
            <a href="{{ entity.url }}">{{ entity.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if info_box.tools.size > 0 %}
    <div class="mt-4">
      <h3 class="font-bold">Tools</h3>
      <ul class="list-none m-0 mt-4">
        {% for tool in info_box.tools %}
          <li class="flex grid-cols-2 justify-between items-center flex-wrap">
            <a href="/{{ tool.slug }}/">{{ tool.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if info_box.tiers.size > 0 %}
    <div class="mt-4">
      <h3 class="font-bold">Available on</h3>
      <ul class="list-none m-0 mt-4">
        {% for tier in info_box.tiers %}
          <li class="flex grid-cols-2 justify-between items-center flex-wrap">
            <a class="bg-slate-200 text-blue-800 px-1.5 py-0.5 rounded-md mb-0.5" href="https://docs.devsite.com/search/{tutorial.topic}+{other stuff}">{{ tier.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if info_box.min_versions.size > 0 %}
    <div class="mt-4">
      <h3 class="font-bold">Minimum version:</h3>
      <ul class="list-none m-0 mt-4">
        {% for min_version in info_box.min_versions %}
          <li class="flex grid-cols-2 justify-between items-center flex-wrap">
            <span>{{ min_version.product }} - {{ min_version.version }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if info_box.tags.size > 0 %}
    <div class="mt-4">
      <h3 class="font-bold">Tags</h3>
      <ul class="list-none m-0 mt-4">
        {% for tag in info_box.tags %}
          <li class="flex grid-cols-2 justify-between items-center flex-wrap">
            <a class="bg-slate-200 text-blue-800 px-1.5 py-0.5 rounded-md mb-0.5" href="https://docs.devsite.com/search/{tutorial.topic}+{other stuff}">{{ tag.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
