<div class="bg-blue-200 py-4 px-8">
  <div class="flex mb-2 flex items-center">
    <h3 class="font-bold mb-0">About</h3>
  </div>

  <div class="mt-4">
    <h3 class="font-bold">Products</h3>
    <ul class="list-none m-0 mt-4">
      <li class="flex grid-cols-2 justify-between items-center flex-wrap">
        <a href="/gateway/">{{ site.base_gateway }}</a>
      </li>
    </ul>
  </div>

  <div class="mt-4">
    <h3 class="font-bold">Plugins</h3>
    <ul class="list-none m-0 mt-4">
      <li class="flex grid-cols-2 justify-between items-center flex-wrap">
        <a href="/plugins/rate-limiting/">Rate Limiting</a>
      </li>
    </ul>
  </div>

  <div class="mt-4">
    <h3 class="font-bold">Entities</h3>
    <ul class="list-none m-0 mt-4">
      <li class="flex grid-cols-2 justify-between items-center flex-wrap">
        <a href="/kong-entities/service/">Service</a>
      </li>
    </ul>
  </div>
</div>
