<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />

    {% vite_client_tag %}
    {% vite_javascript_tag application %}
  </head>
  <body>
    <header class='flex spy-4 px-10 bg-slate-500 min-h-[70px] tracking-wide relative z-50'>
      <div class='flex flex-wrap items-center justify-between gap-5 w-full'>

        <div class="flex flex-row items-center">
          <a href="https://konghq.com" class="pr-4" target="_blank" rel="noopener noreferrer">
            <img src="https://docs.konghq.com/assets/images/logos/konglogo-dark-theme.svg" alt="Kong Logo" id="kong-logo">
          </a>
          <a href="/">
            <img src="https://docs.konghq.com//assets/images/logos/docslogo-dark-theme.svg" alt="Kong Docs Logo" id="kong-docs-logo">
          </a>
        </div>

        <ul class='flex gap-x-5 list-none'>
          <li class='border-gray-300 max-lg:py-3 px-3'>
            <a href='/' class='text-white hover:text-red-200'>Home</a>
          </li>
          <li class='border-gray-300 max-lg:py-3 px-3'>
            <a href='/how-to/' class='text-white hover:text-red-200'>How-to</a>
          </li>
          <li class='border-gray-300 max-lg:py-3 px-3'>
            <a href='/plugins/' class='text-white hover:text-red-200'>Plugins</a>
          </li>
          <li class='border-gray-300 max-lg:py-3 px-3'>
            <a href='/gateway/entities/' class='text-white hover:text-red-200'>Gateway Entities</a>
          </li>
          <li class='border-gray-300 max-lg:py-3 px-3'>
            <a href='/landing-pages/' class='text-white hover:text-red-200'>All Landing Pages</a>
          </li>
        </li>
      </ul>

      <div class='flex space-x-3'>
        <button
        class='px-4 py-2 text-sm rounded-full font-bold text-white border-2'>Login</button>
        <button
        class='px-4 py-2 text-sm rounded-full font-bold text-white border-2'>Sign up</button>

      </div>
    </div>
  </header>
  {{ content }}
</body>
</html>
