<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="scroll-smooth scroll-pt-20 h-full">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title | liquify }} - {{ site.title }}</title>
    <meta name="description" content="{{ page.description | liquify }}">

    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />

    {% if page.canonical_url %}
      <link rel="canonical" href="{{ site.links.web }}{{ page.canonical_url }}" />
    {% endif %}

    {% if page.seo_noindex == true %}
      <meta name="robots" content="nofollow,noindex" />
    {% else %}
      {% comment %}
      TODO: uncomment this when the site goes live
      <meta name="robots" content="follow,index" />
      {% endcomment %}
    {% endif %}

    {% include search_tags.html %}

    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.mode === 'dark' || (!('mode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
    </script>

    {% include structured_data.html %}

    {% vite_client_tag %}
    {% vite_javascript_tag application %}

    {% if layout.entity_schema %}
      {% vite_javascript_tag entity_schema %}
    {% endif %}

    {% if layout.api_spec %}
      {% vite_javascript_tag api_spec %}
    {% endif %}

    {% if layout.plugin_api_spec %}
      {% vite_javascript_tag plugin_api_spec %}
    {% endif %}

    {% if layout.plugin_schema %}
      {% vite_javascript_tag plugin_schema %}
    {% endif %}

    {% if page.hub %}
      {% vite_javascript_tag hub %}
    {% endif %}

    {% if page.search %}
      {% vite_javascript_tag search %}
    {% endif %}
  </head>

  <body class="bg-primary leading-6 h-full">
    <div class="min-h-full flex flex-col">
      <blockquote class="danger w-full m-auto">
        Tech Preview: This website is a confidential tech preview. Do not share the link or its contents with anyone outside the Kong organization.
      </blockquote>
      {% include_cached header.html api_spec=layout.api_spec %}

    <div class="flex flex-col gap-3 px-5 md:px-8 2xl:mx-auto flex-1 w-full {% if layout.api_spec == true %} 2xl:px-16 {% else %} max-w-screen-2xl  2xl:px-[156px] {% endif %}">
      {% unless layout.api_spec == true %}
        {% include breadcrumbs_and_links.html %}
      {% endunless%}

      {{ content }}
    </div>

    {% if page.get_help != false %}
      {% include get_help.html %}
    {% endif %}

    {% include_cached footer.html %}
  </div>
  <script>
    window.searchFilters = {{site.data.searchFilters | jsonify }}
    window.searchSources = {{site.data.searchSources | jsonify }}
  </script>
</body>
</html>
