<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="scroll-smooth scroll-pt-20">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />

    <script src="https://kit.fontawesome.com/1332a92967.js" crossorigin="anonymous"></script>

    {% vite_client_tag %}
    {% vite_javascript_tag application %}

    {% if layout.entity_schema %}
      {% vite_javascript_tag entity_schema %}
    {% endif %}
  </head>

  <body class="bg-primary">
    {% include header.html %}

  {% ifhascontent nav_header %}
    <section class="flex px-5 md:px-8 2xl:px-[156px] gap-4 2xl:mx-auto max-w-screen-2xl">
      {% contentblock nav_header %}
    </section>
  {% endifhascontent %}

  <div class="flex px-5 md:px-8 2xl:px-[156px] 2xl:mx-auto max-w-screen-2xl">
    {{ content }}
  </div>

  {% include footer.html %}
</body>
</html>
