---
layout: with_aside
entity_schema: true
---

{% contentfor index_link %}
  {% include index_link.html text="Gateway Entities" url="/gateway/entities/" %}
{% endcontentfor %}

{{ content }}

{% ifhascontent schema %}
{% include sections/schema.html %}
{% endifhascontent schema %}

{% ifhascontent setup_entity %}
{% include sections/setup_entity.html %}
{% endifhascontent setup_entity %}


{% if page.faqs %}
{% include sections/faq.html %}
{% endif %}


{% if page.schema %}
  <div id="schema" class="mt-4">
    <h2>Schema</h2>
    {% entity_schema %}
  </div>
{% endif %}

{% if page.next_steps %}
{% include sections/next_steps.html %}
{% endif %}

{% contentfor info_box %}
  {% include info_box/reference.html %}
{% endcontentfor %}