---
layout: with_aside
---

{% contentfor index_link %}
  {% include index_link.html text="Gateway Entities" url="/gateway/entities/" %}
{% endcontentfor %}

{{ content }}

{% ifhascontent schema %}
{% include sections/schema.html %}
{% endifhascontent schema %}

{% ifhascontent setup_entity %}
{% include sections/setup_entity.html %}
{% endifhascontent setup_entity %}

{% if page.faqs %}
{% include sections/faq.html %}
{% endif %}

{% if page.next_steps %}
{% include sections/next_steps.html %}
{% endif %}

{% contentfor info_box %}
  {% include info_box/reference.html %}
{% endcontentfor %}