---
layout: with_aside
---
{% contentfor index_link %}
  {% include index_link.html text="How-to Guides" url="/how-to/" %}
{% endcontentfor %}



{% include how-tos/tldr.html %}

<div class="flex flex-col gap-8 accordion" data-all-expanded="true">
{% if page.tools or page.prereqs %}
{% include sections/prerequisites.html tier=page.tier %}
{% endif %}

{{ content }}

{% if page.cleanup %}
{% include sections/cleanup.html %}
{% endif %}
</div>

{% if page.faqs %}
{% include sections/faq.html %}
{% endif %}

{% if page.next_steps %}
{% include sections/next_steps.html %}
{% endif %}

{% contentfor info_box %}
  {% include info_box/how-to.html %}
{% endcontentfor %}