---
layout: with_aside
---
{% include how-tos/tldr.html %}

<div class="flex flex-col gap-8 accordion" data-all-expanded="true">
{% include sections/prerequisites.html tier=page.tier tools=page.tools %}

{{ content }}

{% if page.cleanup %}
{% include sections/cleanup.html %}
{% endif %}
</div>

{% if page.faqs %}
{% include sections/faq.html %}
{% endif %}

{% if page.next_steps %}
{% include sections/next_steps.html %}
{% endif %}

{% if page.navigation %}
{% include sections/prev_next.html %}
{% endif %}

{% contentfor info_box %}
{% include info_box/concept.html %}
{% endcontentfor %}

{% if page.series %}
{% contentfor series_items %}
<div class="text-primary font-medium">In This Series</div>
<ol>
{% for item in page.series.items %}
<li {% if page.series.position == item.series.position %}class="font-bold"{% endif %}><a href="{{ item.url }}">{{ item.title | liquify }}</a></li>
{% endfor %}
</ol>
{% endcontentfor %}
{% endif %}

{% if page.works_on %}
{% contentfor controls %}
{% include how-tos/controls.html works_on=page.works_on %}
{% endcontentfor %}
{% endif %}