---
layout: with_aside
---
{% if page.tldr %}
{% include how-tos/tldr.html %}
{% endif %}

<div class="flex flex-col gap-8 accordion" data-all-expanded="true">
{% include sections/prerequisites.html tier=page.tier tools=page.tools %}

{{ content }}

{% if page.cleanup %}
{% include sections/cleanup.html %}
{% endif %}
</div>

{% if page.faqs %}
{% include sections/faq.html %}
{% endif %}

{% if page.navigation %}
{% include sections/prev_next.html %}
{% endif %}

{% if page.next_steps %}
{% include sections/next_steps.html %}
{% endif %}

{% contentfor info_box %}
{% include info_box/concept.html %}
{% endcontentfor %}