---
layout: default
---

<div>
{% for rows in page.config %}
  <div class="grid grid-cols-1 lg:grid-cols-{{ rows.row | size }} gap-2 mb-2">
    {% for column in rows.row %}
      <div class="p-4 flex flex-col">
        {% for entry in column.column %}
          {% assign include_path = "landing_pages/" | append: entry.type | append : ".md" %}
          {% include {{ include_path }} type=entry.type config=entry.config %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endfor %}
</div>