---
layout: default
---

{% capture edit_links %}
<div class="flex gap-3 justify-end">
  {% include edit_and_issue_links.html edit_link=page.edit_link %}
</div>
{% endcapture %}

<main class="flex flex-col gap-3 py-12 w-full">
  {% if page.url == '/gateway/rate-limiting/' %}
  <div class="flex justify-between">
    <div class="flex gap-1 justify-start text-xs">
      <a class="text-terciary" href="/rate-limiting/">Rate Limiting</a><span>/</span>
      <a class="text-terciary" href="/gateway/rate-limiting/">Kong Gateway</a>
    </div>
    {{edit_links}}
  </div>
  {% else %}
    {{edit_links}}
  {% endif %}

  <div class="flex flex-col gap-12">
    {% for row in page.rows %}

        <div class="grid gap-4">
          {% if row.header %}
              {% include landing_pages/header.md config = row.header %}
          {% endif %}

          {% if row.columns %}
            <div class="grid grid-cols-1 lg:grid-cols-{{ row.columns | size }} gap-8">
              {% for column in row.columns %}
                <div class="flex flex-col gap-3">
                  {% if column.header %}
                  {% include landing_pages/header.md config = column.header %}
                  {% endif %}

                  {% for entry in column.blocks %}
                      {% assign include_path = "landing_pages/" | append: entry.type | append : ".md" %}
                      {% capture include_template %}{% include {{ include_path }} type=entry.type config=entry.config %}{% endcapture %}
                      {{ include_template | markdownify }}
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>

    {% endfor %}
  </div>
</main>
