---
layout: default
---

<div class="mx-16 mt-8">
  <div class="pl-4 pb-2 pt-12 flex items-end bg-sky-500 mt-4">
    <div class="flex flex-col w-full">
      <h1 class="text-3xl mt-4 text-white">{{ page.title }}</h1>
    </div>
  </div>

  <div class="flex">
    <div class="p-4 w-2/3">
      <div id="content">
        {{ content }}
      </div>

      {% if page.faqs %}
      <div id="faq" class="mt-4">
        <h2>FAQ</h2>
        {% faqs %}
      </div>
      {% endif %}

      {% if page.next_steps %}
      <div id="next-steps" class="mt-4">
        <h2>Next Steps</h2>
        {% next_steps %}
      </div>
      {% endif %}
    </div>


    <div class="pl-4 mt-4 w-1/3">
      {% include info_box/reference.html %}
    </div>
  </div>
</div>
