---
layout: default
---

<div class="flex gap-16">
    <main class="flex flex-col w-3/4 pt-12">
        <h1>{{ page.title }}</h1>

        {{ content }}
    </main>

<aside class="flex flex-col w-1/4 pt-[92px]">
    <div class="flex flex-col gap-8 sticky top-0 items-baseline">
        <div class="flex flex-col rounded-md p-5 gap-5 bg-secondary shadow-primary w-full">
            {% contentblock info_box %}
        </div>
        {% if page.toc != false %}
        <div clas="flex flex-col">
            {% include toc.html html=content h_min=2 h_max=3 id='toc' item_class='py-2 px-5 scroll-to' %}
        </div>
        {% endif %}
    </div>
</aside>
</div>