{% include install/konnect-cta.html %}

<div class="flex flex-col gap-5 p-5 shadow-primary bg-secondary rounded-md heading-section">
    <div class="flex gap-2 items-center">
        {% include_svg '/assets/icons/third-party/linux.svg' %}
        <h2 id="linux">Linux</h2>
    </div>
    <div class="flex flex-col">
        {% navtabs "distro" %}
            {% navtab "Debian" %}
{%- include install/gateway/linux.html os="debian"-%}
            {% endnavtab %}
            {% navtab "Ubuntu" %}
{%- include install/gateway/linux.html os="ubuntu" -%}
            {% endnavtab %}
            {% navtab "Redhat" %}
{%- include install/gateway/linux.html os="rhel" -%}
            {% endnavtab %}
            {% navtab "Amazon Linux" %}
{%- include install/gateway/linux.html os="amazonlinux" -%}
            {% endnavtab %}
        {% endnavtabs %}
    </div>
</div>

<div class="flex flex-col gap-5 p-5 shadow-primary bg-secondary rounded-md heading-section">
    <div class="flex gap-2 items-center">
        {% include_svg '/assets/icons/third-party/docker.svg' %}
        <h2 id="docker">Docker</h2>
    </div>

    <div class="flex flex-col gap-2">
        <div class="flex gap-2">
            <h3 class="font-semibold text-base leading-6">Using Docker Compose </h3>
        </div>

         <div class="flex text-secondary">
            <p>
             {{site.base_gateway}} is available as a Docker image, making it easy to deploy in containerized environments.
            </p>
        </div>
         <div class="flex gap-2">
        <a href="/gateway/install/docker/" class="flex w-full p-5 gap-4 rounded-md shadow-primary text-sm text-white font-semibold bg-terciary items-center justify-between hover:no-underline hover:bg-hover-component/100 hover:text-primary">
            Install via Docker
            <span class="flex text-terciary h-5 w-5">&rarr;</span>
        </a>
        <a href="/gateway/install/docker-read-only/" class="flex w-full p-5 gap-4 rounded-md shadow-primary text-sm text-white font-semibold bg-terciary items-center justify-between hover:no-underline hover:bg-hover-component/100 hover:text-primary">
            Install via Docker in read-only mode
            <span class="flex text-terciary h-5 w-5">&rarr;</span>
        </a>
        </div>
    </div>

    <div class="border-t border-primary/5"></div>

    <div class="flex flex-col gap-2">
        <div class="flex gap-2">
            <h3 class="font-semibold text-base leading-6">Build your own</h3>
        </div>

        <div class="flex text-secondary">
            <p>
                {{site.base_gateway}} is distributed as prebuilt <code>deb</code> and <code>rpm</code> packages, in addition to official Docker images hosted on <a href="https://hub.docker.com/r/kong" rel="noreferrer noopener" target="_blank">Docker Hub</a>.
            </p>
        </div>

        <a href="/how-to/build-custom-docker-image/" class="flex w-full p-5 gap-4 rounded-md shadow-primary text-sm text-white font-semibold bg-terciary items-center justify-between hover:no-underline hover:bg-hover-component/100 hover:text-primary">
            Build your own Docker image
            <span class="flex text-terciary h-5 w-5">&rarr;</span>
        </a>
    </div>
</div>

<div class="flex flex-col gap-5 p-5 shadow-primary bg-secondary rounded-md heading-section">
    <div class="flex gap-2 items-center">
        {% include_svg '/assets/icons/third-party/kubernetes.svg' %}
        <h2 id="kubernetes">Kubernetes</h2>
    </div>

    <div class="flex flex-col gap-2">
        <div class="flex gap-2">
            <h3 class="font-semibold text-base leading-6">Deploy {{ site.base_gateway }} on Kubernetes</h3>
        </div>

        <div class="flex text-secondary">
            <p>
                Deploy {{ site.base_gateway }} on Kubernetes, and configure it using the UI, decK or Terraform.
            </p>
        </div>

        <div class="flex gap-2">
        <a href="/gateway/install/kubernetes/konnect/" class="flex w-full p-5 gap-4 rounded-md shadow-primary text-sm text-white font-semibold bg-terciary items-center justify-between hover:no-underline hover:bg-hover-component/100 hover:text-primary">
            Install via Helm
            <span class="flex text-terciary h-5 w-5">&rarr;</span>
        </a>
        <a href="/operator/get-started/gateway-api/install/" class="flex w-full p-5 gap-4 rounded-md shadow-primary text-sm text-white font-semibold bg-terciary items-center justify-between hover:no-underline hover:bg-hover-component/100 hover:text-primary">
            Install via Kong Operator
            <span class="flex text-terciary h-5 w-5">&rarr;</span>
        </a>
        </div>
    </div>

    <div class="border-t border-primary/5"></div>

    <div class="flex flex-col gap-2">
        <div class="flex gap-2">
            <h3 class="font-semibold text-base leading-6">Install {{site.kic_product_name}} (KIC)</h3>
        </div>

        <div class="flex text-secondary">
            <p>
                Configure {{ site.base_gateway }} using Kubernetes-native resources such as <code>httproute</code> and <code>ingress</code>.
            </p>
        </div>

        <div class="flex gap-2">
        <a href="/kubernetes-ingress-controller/install/" class="flex w-full p-5 gap-4 rounded-md shadow-primary text-sm text-white font-semibold bg-terciary items-center justify-between hover:no-underline hover:bg-hover-component/100 hover:text-primary">
            Install via Helm
            <span class="flex text-terciary h-5 w-5">&rarr;</span>
        </a>
        <a href="/operator/get-started/gateway-api/install/" class="flex w-full p-5 gap-4 rounded-md shadow-primary text-sm text-white font-semibold bg-terciary items-center justify-between hover:no-underline hover:bg-hover-component/100 hover:text-primary">
            Install via Kong Operator
            <span class="flex text-terciary h-5 w-5">&rarr;</span>
        </a>
        </div>
    </div>
</div>