{% unless page.output_format == 'markdown' %}
<div class="flex shadow-primary relative border rounded-lg border-primary">
    <div class="flex flex-col gap-4 p-5 rounded-md bg-secondary">
        <div class="flex items-center gap-3">
            {% include_svg '/assets/logos/Konnect-logo.svg' %}
        </div>

        <div class="flex text-secondary">
            {{site.konnect_short_name}} is Kong's SaaS platform for running {{site.base_gateway}} without any infrastructure to manage. Get a fully managed Control Plane, real-time analytics, and enterprise-grade security.
        </div>

        <div class="flex">
            <a class="button button--primary no-icon" href="https://konghq.com/products/kong-konnect/register?ktm_medium=referral&ktm_source=docs&ktm_campaign=gateway-konnect&ktm_content=install-gateway" target="_blank" rel="noopener noreferrer">
                Sign up for free →
            </a>
        </div>
    </div>
</div>
{% endunless %}
