[submodule "app/.repos/kuma"]
	path = app/.repos/kuma
	url = https://github.com/kumahq/kuma-website.git
[submodule "app/.repos/skills"]
	path = app/.repos/skills
	url = https://github.com/johnharris85/kong-skills.git
