[build]
  publish = "dist"
  command = "exe/build"
  environment = { JEKYLL_ENV = "development", NODE_OPTIONS = "--max_old_space_size=8192" }

[context.production.environment]
  JEKYLL_ENV = "production"
  BUNDLE_WITHOUT = "development"

[context.deploy-preview.environment]
  JEKYLL_ENV = "preview"
  BUNDLE_WITHOUT = "development"

[context.test]
  environment = { JEKYLL_ENV = "test" }

[dev]
  autoLaunch = false
  targetPort = 4000
  timeout = 30
