<div id="filters" class="filters md:flex">
    <div class="mobile-drawer hidden md:flex">
        <div class="mobile-drawer__panel">
            <div class="mobile-drawer__content">
                <div class="flex flex-col gap-8 w-full">
                    {% if include.functionality %}
                    <div class="flex flex-col gap-3">
                        <div class="text-sm text-links font-semibold">Functionality</div>
                        <div class="flex flex-col gap-3">
                            {% for category in categories %}
                            {% include checkbox.html value=category.slug name="category" label=category.text %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% if include.tier %}
                    <div class="flex flex-col gap-3">
                        <div class="text-sm text-links font-semibold">Tier</div>
                        <div class="flex flex-col gap-3">
                            {% for tier in site.data.products.gateway.tiers %}
                            {% assign tier_value = tier[0] %}
                            {% assign tier_text = tier[1].text %}
                            {% assign text = site.data.tooltips.tier[tier_value]%}
                            {% include checkbox.html value=tier_value name="tier"
                            label=tier_text tooltip=text %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% if include.deployment_platforms %}
                    <div class="flex flex-col gap-3">
                        <div class="text-sm text-links font-semibold">Deployment Platforms</div>
                        <div class="flex flex-col gap-3">
                            {% for deployment_topology in site.data.products.gateway.deployment_topologies %}
                            {% assign text = site.data.tooltips.deployment_topology[deployment_topology.slug]%}
                            {% include checkbox.html value=deployment_topology.slug name="deployment-topology"
                            label=deployment_topology.text tooltip=text %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% if include.support_by %}
                    <div class="flex flex-col gap-3">
                        <div class="text-sm text-links font-semibold">Support By</div>
                        <div class="flex flex-col gap-3">

                            {% for support in site.data.plugin_support.support_by %}
                            {% assign text = site.data.tooltips.support_by[support.slug]%}
                            {% include checkbox.html value=support.slug name="support" label=support.text tooltip=text
                            %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% if include.trusted_content %}
                    <div class="flex flex-col gap-3">
                        <div class="text-sm text-links font-semibold">Trusted Content</div>
                        <div class="flex flex-col gap-3">

                            {% for trust in site.data.plugin_support.trusted_content %}
                            {% assign text = site.data.tooltips.trusted_content[trust.slug]%}
                            {% include checkbox.html value=trust.slug name="trusted-content" label=trust.text
                            tooltip=text %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="mobile-drawer__footer">
                <button class="button button--secondary" id="clear-filters">
                    Clear Filters
                </button>
                <button id="see-results" class="button button--primary grow justify-center">
                    See Results
                </button>
            </div>
        </div>
    </div>
</div>