<div class="flex md:flex-col md:col-span-3  w-full justify-between gap-2">
    <div class="flex flex-col gap-3 w-full">
        <div class="filter-results-field">
            <svg class="filter-results-field__image" width="20" height="20" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M10 18V16H14V18H10ZM6 13V11H18V13H6ZM3 8V6H21V8H3Z" fill="rgb(var(--color-text-terciary))" />
            </svg>
            <input id="plugins-search" name="terms" type="search" class="filter-results-field__input"
                placeholder="Filter results">
        </div>
    </div>

    <div class="flex md:hidden">
        <button class="button button--secondary button--filters" id="toggle-filters-drawer">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 18V16H14V18H10ZM6 13V11H18V13H6ZM3 8V6H21V8H3Z" fill="rgb(var(--color-text-terciary))" />
            </svg>
            Filters
        </button>
    </div>
</div>