gateway:
  versions:
    - version: "3.12"
      env:
        KONG_IMAGE_NAME: kong/kong-gateway
        KONG_IMAGE_TAG: "3.12"
    - version: "3.11"
      env:
        KONG_IMAGE_NAME: kong/kong-gateway
        KONG_IMAGE_TAG: "3.11"
    - version: "3.10"
      env:
        KONG_IMAGE_NAME: kong/kong-gateway
        KONG_IMAGE_TAG: "3.10"
    - version: "3.9"
      env:
        KONG_IMAGE_NAME: kong/kong-gateway
        KONG_IMAGE_TAG: "3.9"
    - version: "3.8"
      env:
        KONG_IMAGE_NAME: kong/kong-gateway
        KONG_IMAGE_TAG: "3.8"
    - version: "3.4"
      env:
        KONG_IMAGE_NAME: kong/kong-gateway
        KONG_IMAGE_TAG: "3.4"
  env:
    WEBHOOK_URL: http://httpbin.konghq.com/anything
    SLACK_WEBHOOK_URL: http://httpbin.konghq.com/anything
    ANTHROPIC_API_KEY: anthropic-api-key

  setup:
    commands:
      - curl -Ls https://get.konghq.com/quickstart | bash -s -- -r "" -i $KONG_IMAGE_NAME -t $KONG_IMAGE_TAG -e KONG_LICENSE_DATA
      - sleep 5

    rbac:
      commands:
        - |
          curl -Ls https://get.konghq.com/quickstart | bash -s --  -r ""  -i $KONG_IMAGE_NAME -t $KONG_IMAGE_TAG -e "KONG_LICENSE_DATA" -e "KONG_ENFORCE_RBAC=on" -e "KONG_ADMIN_GUI_AUTH=basic-auth" -e "KONG_PASSWORD=kong" -e 'KONG_ADMIN_GUI_SESSION_CONF={"secret":"kong", "cookie_lifetime":300000, "cookie_renew":200000, "cookie_name":"kong_cookie", "cookie_secure":false, "cookie_samesite": "off"}'
    wasm:
      commands:
        - |
          curl -Ls https://get.konghq.com/quickstart | bash -s --  -r ""  -i $KONG_IMAGE_NAME -t $KONG_IMAGE_TAG -e "KONG_LICENSE_DATA" -e KONG_WASM=on

  cleanup:
    commands:
      - curl -Ls https://get.konghq.com/quickstart | bash -s -- -d -a kong-quickstart

  reset:
    commands:
      - deck gateway reset -f
