instructionsDir: './input/instructions'

baseUrl: http://localhost:8888
productionUrl: https://developer.konghq.com

before:
  commands:
    - docker run -d --name automated-tests-keycloak -p 127.0.0.1:8080:8080 -e KC_DB_USERNAME=keycloak -e KC_DB_PASSWORD=password -e KC_DB_DATABASE=keycloak -v $REALM_PATH:/opt/keycloak/data/import quay.io/keycloak/keycloak  start-dev --import-realm
    - docker run -d --name redis-stack-server -p 6379:6379 redis/redis-stack-server:latest
    - vault server -dev -dev-root-token-id root > /dev/null 2>&1 &
    - sleep 5
    - vault login root

after:
  commands:
    - docker rm -f automated-tests-keycloak
    - docker rm -f redis-stack-server
    - pkill vault || true