<div class="rounded-lg overflow-x-auto">
    <table>
        <thead>
            <tr class="uppercase">
                <th class="text-center"><span class="font-semibold text-primary">os</span></th>
                <th class="text-center"><span class="font-semibold text-primary">version</span></th>
                <th class="text-center"><span class="font-semibold text-primary">artifacts</span></th>
                <th class="text-center"><span class="font-semibold text-primary">arm support</span></th>
                <th class="text-center"><span class="font-semibold text-primary">fips compliant</span></th>
                <th class="text-center"><span class="font-semibold text-primary">aws graviton support</span></th>
                <th class="text-center"><span class="font-semibold text-primary">eol</span></th>
            </tr>
        </thead>
        <tbody>
            {% for d in include.release.distributions %}
            {% assign key = d | first | first %}
            {% assign distro = d | first | last %}
            {% assign package = site.data.support.packages[key] %}
            <tr>
                <td>{{ package.os }}</td>
                <td>{{ package.version }}</td>
                <td class="capitalize px-0">
                    <div class="flex flex-col items-center divide-y divide-primary/5 *:py-4 first:*:pt-0 last:*:pb-0">
                        {% if distro.package %}
                        <div class="flex w-full items-center justify-center">
                            <span class='badge'>package</span>
                        </div>
                        {% endif %}
                        {% if distro.docker %}
                        <div class="flex w-full items-center justify-center">
                            <span class='badge'>docker</span>
                        </div>
                        {% endif %}
                    </div>
                </td>
                <td class="text-center px-0">
                    <div class="flex flex-col divide-y divide-primary/5 *:py-4 first:*:pt-0 last:*:pb-0">
                        <span class="flex justify-center">{{ distro.package_support.arm | to_check }}</span>
                        {% if distro.docker %}<span class="flex justify-center">{{ distro.docker_support.arm | to_check }}</span>{% endif %}
                    </div>
                </td>
                <td class="text-center px-0">
                    <div class="flex flex-col divide-y divide-primary/5 *:py-4 first:*:pt-0 last:*:pb-0">
                        <span class="flex justify-center">{{ distro.package_support.fips | to_check }}</span>
                        {% if distro.docker %}<span class="flex justify-center">{{ distro.docker_support.fips | to_check }}</span>{% endif %}
                    </div>
                </td>
                <td class="text-center px-0">
                    <div class="flex flex-col divide-y divide-primary/5 *:py-4 first:*:pt-0 last:*:pb-0">
                        <span class="flex justify-center">{{ distro.package_support.graviton | to_check }}</span>
                        {% if distro.docker %}<span class="flex justify-center">{{ distro.docker_support.graviton | to_check }}</span>{% endif %}
                    </div>
                </td>
                <td>{% if distro.eol %}{{ distro.eol }}{% else %}{{release.eol}}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>