openapi: 3.0.3
info:
  title: Konnect Service Catalog
  version: 1.3.0
  description: The platform API for Konnect Service Catalog.
  contact:
    name: Kong
    url: 'https://konghq.com'
  x-oas-source: kong/platform-api@f5abe19d8ab80d6c690ce204d964dcfbd82baddc
  x-oas-source-link: 'https://github.com/Kong/platform-api/commit/f5abe19d8ab80d6c690ce204d964dcfbd82baddc'
servers:
  - url: 'https://us.api.konghq.com/v1'
    description: United-States Production region
  - url: 'https://eu.api.konghq.com/v1'
    description: Europe Production region
  - url: 'https://au.api.konghq.com/v1'
    description: Australia Production region
  - url: 'https://me.api.konghq.com/v1'
    description: Middle-East Production region
  - url: 'https://in.api.konghq.com/v1'
    description: India Production region
  - url: 'https://sg.api.konghq.com/v1'
    description: Singapore Production region
paths:
  /catalog-services:
    post:
      operationId: create-catalog-service
      summary: Create Service
      description: Creates a service.
      requestBody:
        $ref: '#/components/requestBodies/CreateCatalogServiceRequest'
      responses:
        '201':
          $ref: '#/components/responses/CatalogServiceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Services
    get:
      operationId: list-catalog-services
      summary: List Services
      description: Returns a paginated collection of services.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogServiceFilter'
        - $ref: '#/components/parameters/CatalogServiceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServicesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Services
  '/catalog-services/{id}':
    parameters:
      - name: id
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    get:
      operationId: fetch-catalog-service
      summary: Get a Service
      description: Fetches a service.
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Services
    patch:
      operationId: update-catalog-service
      summary: Update Service
      description: Updates a service.
      requestBody:
        $ref: '#/components/requestBodies/UpdateCatalogServiceRequest'
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Catalog Services
    delete:
      operationId: delete-catalog-service
      summary: Delete Service
      description: Deletes a service.
      responses:
        '204':
          description: Service was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Services
  /integrations:
    get:
      operationId: list-catalog-integrations
      summary: List Integrations
      description: |
        Returns a paginated collection of all catalog integrations available to connect.
        Each integration represents a built-in connector that extends the platform's capabilities;
        enabling discovery, resource management, event ingestion, and more.
        Integrations expose metadata that describes how they authenticate, what configuration they
        require, and how they interact with catalog entities like Resources and Services.

        Currently, integrations are platform-defined and cannot be extend or registered by customers.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogIntegrationFilter'
        - $ref: '#/components/parameters/CatalogIntegrationSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogIntegrationsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Integrations
  /integration-instances:
    post:
      operationId: create-integration-instance
      summary: Create Integration Instance
      description: Creates an integration instance.
      requestBody:
        $ref: '#/components/requestBodies/CreateIntegrationInstanceRequest'
      responses:
        '201':
          $ref: '#/components/responses/IntegrationInstanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Integration Instances
    get:
      operationId: list-integration-instances
      summary: List Integration Instances
      description: Returns a paginated collection of integration instances.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/IntegrationInstanceFilter'
        - $ref: '#/components/parameters/IntegrationInstanceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListIntegrationInstancesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Integration Instances
  '/integration-instances/{id}':
    parameters:
      - name: id
        in: path
        description: The `id` of the integration instance.
        required: true
        schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
    get:
      operationId: fetch-integration-instance
      summary: Get an Integration Instance
      description: Fetches a integration instance.
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instances
    patch:
      operationId: update-integration-instance
      summary: Update Integration Instance
      description: Updates an integration instance.
      requestBody:
        $ref: '#/components/requestBodies/UpdateIntegrationInstanceRequest'
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Integration Instances
    delete:
      operationId: delete-integration-instance
      summary: Delete Integration Instance
      description: Deletes an integration instance.
      responses:
        '204':
          description: Integration Instance was deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instances
  '/integration-instances/{integrationInstanceId}/auth-credential':
    parameters:
      - name: integrationInstanceId
        in: path
        description: The `id` of the integration instance.
        required: true
        schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
    post:
      operationId: create-integration-instance-auth-credential
      summary: Create Integration Instance Auth Credential
      description: |
        Creates an auth credential scoped to the given integration instance.
        Auth credentials are singleton resources that have a 1-to-1 relationship with
        an integration instance.

        An attempt to create subsequent auth credentials for an instance will result in a 409 response.
      requestBody:
        $ref: '#/components/requestBodies/CreateIntegrationInstanceAuthCredentialRequest'
      responses:
        '201':
          $ref: '#/components/responses/IntegrationInstanceAuthCredentialResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Integration Instance Auth Credentials
    get:
      operationId: get-integration-instance-auth-credential
      summary: Get Integration Instance Auth Credential
      description: Fetches the auth credential scoped to the given integration instance.
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceAuthCredentialResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Credentials
    delete:
      operationId: delete-integration-instance-auth-credential
      summary: Delete Integration Instance Auth Credential
      description: Deletes the auth credential scoped to the given integration instance.
      responses:
        '204':
          description: Integration Instance Auth Credential was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Credentials
  '/integration-instances/{integrationInstanceId}/auth-config':
    parameters:
      - name: integrationInstanceId
        in: path
        description: The `id` of the integration instance.
        required: true
        schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
    get:
      operationId: get-integration-instance-auth-config
      summary: Get Integration Instance Auth Config
      description: Fetches auth config scoped to the given integration instance.
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceAuthConfigResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Config
    put:
      operationId: upsert-integration-instance-auth-config
      summary: Upsert Integration Instance Auth Config
      description: Upserts auth config scoped to the given integration instance.
      requestBody:
        $ref: '#/components/requestBodies/UpsertIntegrationInstanceAuthConfigRequest'
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceAuthConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Config
    delete:
      operationId: delete-integration-instance-auth-config
      summary: Delete Integration Instance Auth Config
      description: Deletes the auth config scoped to the given integration instance.
      responses:
        '204':
          description: Integration Instance Auth Config was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Config
  /resources:
    get:
      operationId: list-resources
      summary: List Resources
      description: Returns a paginated collection of resources.
      parameters:
        - $ref: '#/components/parameters/CursorPageQuery'
        - $ref: '#/components/parameters/CatalogResourceFilter'
        - $ref: '#/components/parameters/CatalogResourceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogResourcesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Resources
  '/resources/{id}':
    parameters:
      - name: id
        in: path
        description: The `id` of the resource.
        required: true
        schema:
          type: string
          example: AflTNLY0tTQhv2my
    get:
      operationId: fetch-resource
      summary: Get a Resource
      description: Fetches a resource by ID.
      responses:
        '200':
          $ref: '#/components/responses/CatalogResourceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Resources
  '/integration-instances/{integrationInstanceId}/resources/{resourceId}':
    parameters:
      - name: integrationInstanceId
        in: path
        description: The `id` of the integration instance.
        required: true
        schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
      - name: resourceId
        in: path
        description: The `id` of the resource.
        required: true
        schema:
          type: string
          example: AflTNLY0tTQhv2my
    patch:
      operationId: update-resource
      summary: Update Resource
      description: Updates a resource.
      requestBody:
        $ref: '#/components/requestBodies/UpdateCatalogResourceRequest'
      responses:
        '200':
          $ref: '#/components/responses/CatalogResourceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Resources
  '/resources/{id}/catalog-services':
    parameters:
      - name: id
        in: path
        description: The `id` of the resource.
        required: true
        schema:
          type: string
          example: AflTNLY0tTQhv2my
    get:
      operationId: list-catalog-resource-services
      summary: List Resource Services
      description: Returns a paginated collection of services the given resource is mapped to.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogServiceFilter'
        - $ref: '#/components/parameters/CatalogServiceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServicesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Resource Services
  /resource-mappings:
    post:
      operationId: create-resource-mapping
      summary: Create Resource Mapping
      description: Creates a mapping between a catalog resource and service.
      requestBody:
        $ref: '#/components/requestBodies/CreateCatalogResourceMappingRequest'
      responses:
        '201':
          $ref: '#/components/responses/CatalogResourceMappingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Catalog Resource Mappings
    get:
      operationId: list-resource-mappings
      summary: List Resource Mappings
      description: Returns a paginated collection of catalog resource mappings.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogResourceMappingFilter'
        - $ref: '#/components/parameters/CatalogResourceMappingSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogResourceMappingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Resource Mappings
  '/resource-mappings/{resourceMappingId}':
    parameters:
      - name: resourceMappingId
        in: path
        description: The `id` of the resource mapping.
        required: true
        schema:
          type: string
          format: uuid
          example: d277faad-ed4e-4c56-a0fb-acce065dee34
    get:
      operationId: fetch-resource-mapping
      summary: Get a Resource Mapping
      description: Fetches a resource mapping by ID.
      responses:
        '200':
          $ref: '#/components/responses/CatalogResourceMappingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Resource Mappings
    delete:
      operationId: delete-resource-mapping
      summary: Delete Resource Mapping
      description: Removes an existing mapping between a catalog resource and service.
      responses:
        '204':
          description: Resource Mapping was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Resource Mappings
  '/catalog-services/{id}/resources':
    parameters:
      - name: id
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    get:
      operationId: list-catalog-service-resources
      summary: List Service Resources
      description: Returns a paginated collection of resources mapped to a service.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogResourceRefFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServiceResourcesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Service Resources
  /criteria-templates:
    get:
      operationId: list-criteria-templates
      summary: List Criteria Templates
      description: Returns a paginated collection of criteria templates.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CriteriaTemplateFilter'
        - $ref: '#/components/parameters/CriteriaTemplateSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCriteriaTemplatesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Criteria Templates
  /scorecard-templates:
    get:
      operationId: list-scorecard-templates
      summary: List Scorecard Templates
      description: Returns a paginated collection of scorecard templates.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ScorecardTemplateFilter'
        - $ref: '#/components/parameters/ScorecardTemplateSort'
      responses:
        '200':
          $ref: '#/components/responses/ListScorecardTemplatesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Scorecards
  /scorecards:
    post:
      operationId: create-scorecard
      summary: Create Scorecard
      description: Creates a scorecard.
      requestBody:
        $ref: '#/components/requestBodies/CreateScorecardRequest'
      responses:
        '201':
          $ref: '#/components/responses/ScorecardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Scorecards
    get:
      operationId: list-scorecards
      summary: List Scorecards
      description: Returns a paginated collection of scorecards.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ScorecardFilter'
        - $ref: '#/components/parameters/ScorecardSort'
      responses:
        '200':
          $ref: '#/components/responses/ListScorecardsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Scorecards
  '/scorecards/{id}':
    parameters:
      - name: id
        in: path
        description: The `id` of the scorecard.
        required: true
        schema:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
    get:
      operationId: fetch-scorecard
      summary: Get a Scorecard
      description: Fetches a scorecard.
      responses:
        '200':
          $ref: '#/components/responses/ScorecardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
    put:
      operationId: update-scorecard
      summary: Update Scorecard
      description: Updates a scorecard.
      requestBody:
        $ref: '#/components/requestBodies/UpdateScorecardRequest'
      responses:
        '200':
          $ref: '#/components/responses/ScorecardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
    delete:
      operationId: delete-scorecard
      summary: Delete Scorecard
      description: Deletes a scorecard.
      responses:
        '204':
          description: Scorecard was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
  '/scorecards/{id}/catalog-services':
    parameters:
      - name: id
        in: path
        description: The `id` of the scorecard.
        required: true
        schema:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
    get:
      operationId: list-scorecard-services
      summary: List Scorecard Services
      description: Lists services targeted by a scorecard.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ScorecardServiceFilter'
        - $ref: '#/components/parameters/ScorecardServiceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListScorecardServicesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
  '/scorecards/{id}/criteria':
    parameters:
      - name: id
        in: path
        description: The `id` of the scorecard.
        required: true
        schema:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
    get:
      operationId: list-scorecard-criteria
      summary: List Scorecard Criteria
      description: 'Lists criteria, including passing service counts, belonging to a scorecard.'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ScorecardCriteriaFilter'
        - $ref: '#/components/parameters/ScorecardCriteriaSort'
      responses:
        '200':
          $ref: '#/components/responses/ListScorecardCriteriaResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
  '/scorecards/{scorecardId}/criteria/{criteriaId}/catalog-services':
    parameters:
      - name: scorecardId
        in: path
        description: The `id` of the scorecard.
        required: true
        schema:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
      - name: criteriaId
        in: path
        description: The `id` of the criteria.
        required: true
        schema:
          type: string
          format: uuid
          example: 5c1121f9-3f3a-47c7-9bb6-c81a51128714
    get:
      operationId: list-scorecard-criteria-services
      summary: List Scorecard Criteria Services
      description: Lists services targeted by a scorecard criteria with evaluation results per-service.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ScorecardCriteriaServiceFilter'
        - $ref: '#/components/parameters/ScorecardCriteriaServiceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListScorecardCriteriaServicesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
  '/catalog-services/{id}/scorecards':
    parameters:
      - name: id
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    get:
      operationId: list-catalog-service-scorecards
      summary: List Catalog Service Scorecards
      description: Returns a paginated collection of scorecards targeting the given service.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ScorecardFilter'
        - $ref: '#/components/parameters/ScorecardSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServiceScorecardsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
  '/catalog-services/{serviceId}/scorecards/{scorecardId}':
    parameters:
      - name: serviceId
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
      - name: scorecardId
        in: path
        description: The `id` of the scorecard.
        required: true
        schema:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
    get:
      operationId: fetch-catalog-service-scorecard
      summary: Get a Catalog Service Scorecard
      description: Fetches the given scorecard targeting the service.
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceScorecardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
components:
  parameters:
    CatalogIntegrationFilter:
      name: filter
      description: Filters a collection of integrations.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/CatalogIntegrationFilterParameters'
    CatalogIntegrationSort:
      name: sort
      description: |
        Sorts a collection of integrations. Supported sort attributes are:
          - `display_name`
          - `name`

        Default sort is `display_name` in ascending order.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    CatalogResourceFilter:
      name: filter
      description: Filters a collection of resources.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/CatalogResourceFilterParameters'
    CatalogResourceMappingFilter:
      name: filter
      description: Filters a collection of resource mappings.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/CatalogResourceMappingFilterParameters'
    CatalogResourceMappingSort:
      name: sort
      description: |
        Sorts a collection of resource mappings. Supported sort attributes are:
          - `created_at`

        Default sort is `created_at` in descending order.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    CatalogResourceRefFilter:
      name: filter
      description: Filters a collection of resources.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/CatalogResourceRefFilterParameters'
    CatalogResourceSort:
      name: sort
      description: |
        Sorts a collection of resources. Supported sort attributes are:
          - `created_at`
          - `updated_at`

        Default sort is `created_at` in descending order.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    CatalogServiceFilter:
      name: filter
      description: Filters a collection of services.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/CatalogServiceFilterParameters'
    CatalogServiceSort:
      name: sort
      description: |
        Sorts a collection of services. Supported sort attributes are:
          - `display_name`
          - `name`
          - `created_at`
          - `updated_at`

        Default sort is `display_name` in ascending order.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    CriteriaTemplateFilter:
      name: filter
      description: Filters a collection of criteria templates.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/CriteriaTemplateFilterParameters'
    CriteriaTemplateSort:
      name: sort
      description: |
        Sorts a collection of criteria templates. Supported sort attributes are:
          - `display_name`
          - `name`

        Default sort is `display_name` in ascending order.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    CursorPageQuery:
      name: page
      description: Determines which page of the collection to retrieve.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/CursorPageParameters'
    IntegrationInstanceFilter:
      name: filter
      description: Filters a collection of integration instances.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/IntegrationInstanceFilterParameters'
    IntegrationInstanceSort:
      name: sort
      description: |
        Sorts a collection of integration instances. Supported sort attributes are:
          - `display_name`
          - `name`
          - `created_at`
          - `updated_at`
          - `integration.display_name`

        Default sort is `integration.display_name` in ascending order.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    PageNumber:
      name: 'page[number]'
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
    PageSize:
      name: 'page[size]'
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
    ScorecardCriteriaFilter:
      name: filter
      description: Filters a collection of criteria belonging to a scorecard.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/ScorecardCriteriaFilterParameters'
    ScorecardCriteriaServiceFilter:
      name: filter
      description: Filters a collection of services targeted by a scorecard criteria.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/ScorecardCriteriaServiceFilterParameters'
    ScorecardCriteriaServiceSort:
      name: sort
      description: |
        Sorts a collection of services targeted by a scorecard criteria. Supported sort attributes are:
          - `display_name`
          - `name`
          - `evaluation.is_passing`
          - `evaluation.successfully_evaluated_at`
          - `evaluation.attempted_at`

        Default sort is `display_name` in ascending order.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ScorecardCriteriaSort:
      name: sort
      description: |
        Sorts a collection of criteria belonging to a scorecard. Supported sort attributes are:
          - `evaluation.passing_services_count`

        By default, criteria will be returned in the order that they are configured in the scorecard.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ScorecardFilter:
      name: filter
      description: Filters a collection of scorecards.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/ScorecardFilterParameters'
    ScorecardServiceFilter:
      name: filter
      description: Filters a collection of services targeted by a scorecard.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/ScorecardServiceFilterParameters'
    ScorecardServiceSort:
      name: sort
      description: |
        Sorts a collection of services targeted by a scorecard. Supported sort attributes are:
          - `display_name`
          - `name`
          - `score.value`
          - `score.raw_value`

        Default sort is `display_name` in ascending order.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ScorecardSort:
      name: sort
      description: |
        Sorts a collection of scorecards. Supported sort attributes are:
          - `name`
          - `score.value`
          - `score.raw_value`

        Default sort is `name` in ascending order.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ScorecardTemplateFilter:
      name: filter
      description: Filters a collection of scorecard templates.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/ScorecardTemplateFilterParameters'
    ScorecardTemplateSort:
      name: sort
      description: |
        Sorts a collection of scorecard templates. Supported sort attributes are:
          - `display_name`
          - `name`

        Default sort is `display_name` in ascending order.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
  schemas:
    CreateCatalogService:
      type: object
      properties:
        name:
          description: |
            The machine name of the Service that uniquely identifies it within the catalog.
          type: string
          example: user-svc
          maxLength: 120
          minLength: 1
          pattern: '^[0-9a-z.-]+$'
        display_name:
          description: The display name of the Service.
          type: string
          example: User Service
          maxLength: 120
          minLength: 1
        description:
          description: Optionally provide a description of the Service.
          type: string
          maxLength: 2048
          nullable: true
        labels:
          $ref: '#/components/schemas/Labels'
        custom_fields:
          $ref: '#/components/schemas/CustomFields'
      additionalProperties: false
      required:
        - name
        - display_name
    UpdateCatalogService:
      type: object
      properties:
        name:
          description: |
            The machine name of the Service that uniquely identifies it within the catalog.
          type: string
          example: user-svc
          maxLength: 120
          minLength: 1
          pattern: '^[0-9a-z.-]+$'
        display_name:
          description: The display name of the Service.
          type: string
          example: User Service
          maxLength: 120
          minLength: 1
        description:
          description: Optionally provide a description of the Service.
          type: string
          maxLength: 2048
          nullable: true
        labels:
          $ref: '#/components/schemas/LabelsUpdate'
        custom_fields:
          $ref: '#/components/schemas/CustomFields'
      additionalProperties: false
    CatalogServiceFilterParameters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UuidFieldFilter'
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        display_name:
          $ref: '#/components/schemas/StringFieldFilter'
        custom_fields:
          description: |
            Filter by custom fields using dot-notation to specify the custom field.
            Filter operators are dictated by the custom field type. For example:
              - `filter[custom_fields.owner]`
              - `filter[custom_fields.owner][neq]=kong`
              - `filter[custom_fields.dashboard.link][contains]=https`
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
            - $ref: '#/components/schemas/BooleanFieldFilter'
            - $ref: '#/components/schemas/NumericFieldFilter'
        labels:
          $ref: '#/components/schemas/LabelsFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
    CatalogService:
      description: The service object contains information about a Service Catalog service.
      type: object
      properties:
        id:
          description: The service ID.
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          readOnly: true
        name:
          description: |
            The machine name of the Service that uniquely identifies it within the catalog.
          type: string
          example: user-svc
          maxLength: 120
          minLength: 1
          pattern: '^[0-9a-z.-]+$'
        display_name:
          description: The display name of the Service.
          type: string
          example: User Service
          maxLength: 120
          minLength: 1
        description:
          description: Optionally provide a description of the Service.
          type: string
          maxLength: 2048
          nullable: true
        custom_fields:
          $ref: '#/components/schemas/CustomFields'
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      required:
        - id
        - name
        - display_name
        - description
        - custom_fields
        - labels
        - created_at
        - updated_at
      title: CatalogService
    CatalogIntegrationFilterParameters:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        display_name:
          $ref: '#/components/schemas/StringFieldFilter'
    CatalogIntegration:
      type: object
      properties:
        name:
          description: The machine name of the integration that uniquely identifies it within the catalog.
          type: string
          example: gateway-manager
          readOnly: true
        display_name:
          description: The display name of the integration.
          type: string
          example: Gateway Manager
        description:
          description: The description of the integration.
          type: string
        built_in:
          description: |
            Denotes whether the integration is built-in to the catalog.
            Built-in integrations are always connected and available by default.
          type: boolean
          example: true
          readOnly: true
        version:
          description: The integration version.
          type: string
          example: v1
          readOnly: true
        visibility:
          description: The visibility of the integration.
          type: string
          example: public
          enum:
            - public
            - private
        authorization:
          $ref: '#/components/schemas/CatalogIntegrationAuthorization'
        config_schema:
          $ref: '#/components/schemas/CatalogIntegrationConfigSchema'
        resource_types:
          $ref: '#/components/schemas/CatalogIntegrationResourceTypes'
        discovery:
          $ref: '#/components/schemas/CatalogIntegrationDiscovery'
        api_spec_provider:
          $ref: '#/components/schemas/CatalogIntegrationApiSpecProvider'
        events:
          $ref: '#/components/schemas/CatalogIntegrationEvents'
      required:
        - built_in
        - name
        - display_name
        - version
        - authorization
        - config_schema
        - resource_types
        - discovery
        - api_spec_provider
        - events
        - visibility
    CatalogIntegrationAuthorization:
      description: Defines the authorization strategy for an integration.
      anyOf:
        - type: object
          nullable: true
        - $ref: '#/components/schemas/OAuth'
        - $ref: '#/components/schemas/MultiKeyAuth'
        - $ref: '#/components/schemas/GitHubAppInstallationAuth'
      title: CatalogIntegrationAuthorization
      x-convert-oneOf: true
    OAuth:
      description: |
        Defines the OAuth 2.0 authorization strategy used by an integration.
        This schema provides all necessary information for the platform to initiate
        and manage OAuth-based authorization flows on behalf of customers.
      type: object
      properties:
        type:
          type: string
          enum:
            - oauth
          x-terraform-transform-const: true
        overridable_config:
          description: |
            A list of field names from the `config` object (e.g., `client_id`, `authorization_endpoint`, etc)
            that can be overridden on a per-customer basis. When a field is listed here, the catalog allows
            customer-defined values to take precedence over the default configuration provided by the integration.
            This supports flexible deployment models, including both SaaS-based and self-hosted OAuth authorization flows.
          type: array
          items:
            type: string
            enum:
              - client_id
              - client_secret
              - authorization_endpoint
              - token_endpoint
        config:
          type: object
          properties:
            grant_type:
              description: |
                The OAuth 2.0 grant type used for authorization (e.g., `authorization_code`).
                Determines the flow the integration uses to request access tokens.
              type: string
              enum:
                - authorization_code
            client_id:
              description: The OAuth client identifier registered with the integration provider.
              type: string
              example: d745213a-b7e8-4998-abe3-41f164001970
            authorization_endpoint:
              type: object
              properties:
                url:
                  description: The URL where users are redirected to authorize access.
                  type: string
                  format: uri
                  example: 'https://identity.service.com/oauth/authorize'
              required:
                - url
            token_endpoint:
              type: object
              properties:
                url:
                  description: The URL used to retrieve access tokens.
                  type: string
                  format: uri
                  example: 'https://identity.service.com/oauth/token'
              required:
                - url
            scope:
              description: |
                A list of permission scopes requested by the integration.
                Defines what level of access the token will grant.
              type: array
              items:
                type: string
              example:
                - read
                - write
            scope_delimiter:
              description: |
                A string used to separate multiple scopes in the `scope` parameter.
              type: string
              default: ' '
            rolling_refresh_exp_seconds:
              description: |
                Number of seconds before the refresh token grant can no longer be used to mint
                a new access token. Once expired clients must re-authenticate to restart the
                window interval.
              type: number
              example: 15780000
              nullable: true
          required:
            - grant_type
            - client_id
            - authorization_endpoint
            - token_endpoint
            - scope
            - rolling_refresh_exp_seconds
      required:
        - type
        - config
    MultiKeyAuth:
      description: |
        Defines an authentication strategy based on one or more API keys passed via HTTP headers.
        This strategy supports integrations that require custom headers for credential-based access,
        allowing flexibility across providers with different authentication header requirements.
      type: object
      properties:
        type:
          type: string
          enum:
            - multi_key_auth
          x-terraform-transform-const: true
        config:
          type: object
          properties:
            headers:
              description: |
                A list of header definitions used to transmit API credentials to the integration's external API.
                Each header represents a unique key required by the provider.
              type: array
              items:
                type: object
                title: KeyAuthHeader
                required:
                  - name
                  - display_name
                  - description
                properties:
                  name:
                    description: The exact name of the HTTP request header where the credential should be inserted.
                    type: string
                    example: X-API-Key
                  display_name:
                    description: 'An optional user-friendly label for the key, used in UI forms to guide users.'
                    type: string
                    example: API Key
                    nullable: true
                  description:
                    description: An optional brief explanation of the purpose or usage of the key.
                    type: string
                    nullable: true
              minItems: 1
          required:
            - headers
      required:
        - type
        - config
    GitHubAppInstallationAuth:
      description: |
        Defines the GitHub App authorization strategy used by the GitHub integration.
        This strategy enables secure access to GitHub APIs using app installation tokens.
        It supports both API-based interactions and real-time event delivery via GitHub webhooks.
        Unlike standard OAuth flows, this strategy leverages GitHub's custom app installation flow
        and token lifecycle, making it ideal for deep, organization-level GitHub integration.
      type: object
      properties:
        type:
          type: string
          enum:
            - github_app_installation
          x-terraform-transform-const: true
        config:
          type: object
          properties:
            app_install_url:
              type: object
              additionalProperties: false
              properties:
                url:
                  description: |
                    The URL where customers are directed to install the GitHub App into their
                    GitHub organization.
                  type: string
                  format: uri
                  example: 'https://global.api.konghq.com/service-catalog-integrations/github/app/install'
              required:
                - url
            app_manage_url:
              type: object
              additionalProperties: false
              properties:
                url:
                  description: 'The GitHub App management page URL where users can view, configure, or uninstall the app after installation.'
                  type: string
                  format: uri
                  example: 'https://global.api.konghq.com/service-catalog-integrations/github/app/manage'
              required:
                - url
            authorize_app_installation_endpoint:
              type: object
              additionalProperties: false
              properties:
                url:
                  description: |
                    The endpoint used to link a completed GitHub App installation with a customer account in the catalog.
                    This step finalizes the integration by exchanging metadata from the GitHub installation event.
                  type: string
                  format: uri
                  example: 'https://global.api.konghq.com/service-catalog-integrations/github/app/authorize-installation'
              required:
                - url
            pending_app_installs_endpoint:
              type: object
              additionalProperties: false
              properties:
                url:
                  description: |
                    The endpoint used to return a list of in-progress or unlinked GitHub App installations awaiting user confirmation.
                  type: string
                  format: uri
                  example: 'https://global.api.konghq.com/service-catalog-integrations/github/app/pending-installs'
              required:
                - url
          required:
            - app_install_url
            - app_manage_url
            - authorize_app_installation_endpoint
            - pending_app_installs_endpoint
      required:
        - type
        - config
    CatalogIntegrationConfigSchema:
      description: Defines the configuration schema for the integration.
      example:
        base_url:
          type: string
          display_name: Base URL
          description: The customer-specific API URL
          required: true
      additionalProperties:
        x-convert-oneOf: true
        anyOf:
          - type: object
            nullable: true
          - $ref: '#/components/schemas/StringConfigFieldSchema'
          - $ref: '#/components/schemas/EnumConfigFieldSchema'
          - $ref: '#/components/schemas/BooleanConfigFieldSchema'
    StringConfigFieldSchema:
      description: Defines a string value integration config field.
      type: object
      properties:
        display_name:
          description: user-friendly name of the configuration field.
          type: string
        description:
          description: Optional brief description of the configuration field.
          type: string
        required:
          description: Denotes whether the config field is a required value.
          type: boolean
          default: false
        mutable_condition:
          $ref: '#/components/schemas/MutableCondition'
        type:
          description: The field type of the config value.
          type: string
          enum:
            - string
        default:
          description: The default value for the config field.
          type: string
      required:
        - type
      title: StringConfigFieldSchema
    EnumConfigFieldSchema:
      description: Defines an enum value integration config field.
      type: object
      properties:
        display_name:
          description: user-friendly name of the configuration field.
          type: string
        description:
          description: Optional brief description of the configuration field.
          type: string
        required:
          description: Denotes whether the config field is a required value.
          type: boolean
          default: false
        mutable_condition:
          $ref: '#/components/schemas/MutableCondition'
        type:
          description: The field type of config value.
          type: string
          enum:
            - enum
        choices:
          description: List of enumerated choices that can be selected as the config field value.
          type: array
          items:
            type: object
            required:
              - value
              - display_name
            properties:
              value:
                description: The value represented by this option.
                type: string
              display_name:
                description: user-friendly name of the option.
                type: string
              description:
                description: Optional brief description of the option.
                type: string
        default:
          description: |
            The default value for the config field.
            Must reference the value of an option listed in `choices`.
          type: string
      required:
        - type
        - choices
      title: EnumConfigFieldSchema
    BooleanConfigFieldSchema:
      description: Defines a boolean value integration config field.
      type: object
      properties:
        display_name:
          description: user-friendly name of the configuration field.
          type: string
        description:
          description: Optional brief description of the configuration field.
          type: string
        required:
          description: Denotes whether the config field is a required value.
          type: boolean
          default: false
        mutable_condition:
          $ref: '#/components/schemas/MutableCondition'
        type:
          description: The field type of the config value.
          type: string
          enum:
            - boolean
        default:
          description: The default value for the config field.
          type: boolean
      required:
        - type
      title: BooleanConfigFieldSchema
    MutableCondition:
      description: |
        Defines the condition under which this configuration field is allowed to be modified.
        When specified, the platform will restrict updates to this field unless the integration
        meets the given condition.

        For example, setting `mutable_condition: unauthorized` means the field can only be
        changed while the integration is in an unauthorized state.
      type: string
      enum:
        - unauthorized
    CatalogIntegrationResourceTypes:
      description: |
        Defines the resource types that the integration manages within the catalog.

        This schema is a key-value object where:
          - Keys are globally unique, machine-readable identifiers for each resource type.
          - Values are objects describing metadata about the resource type.

        This declaration enables the platform to understand the structure, identity, and behavior of resources discovered by the integration.
        By registering resource types, integrations communicate the kinds of entities they will ingest and maintain,
        allowing the catalog to enforce consistency, validation, and visibility across all integrations.
      type: object
      example:
        gateway_svc:
          display_name: Gateway Service
          schema:
            type: simple
            definition:
              control_plane_id: string
              gatway_service_id: string
        analytics_dashboard:
          display_name: Dashboard
          schema:
            type: simple
            definition:
              dashboard_id: string
      additionalProperties:
        type: object
        title: ResourceType
        required:
          - schema
        properties:
          display_name:
            description: The user-friendly resource type name.
            type: string
          schema:
            $ref: '#/components/schemas/SimpleSchema'
    CatalogIntegrationDiscovery:
      description: |
        Defines how the integration participates in Discovery.
        Discovery enables integrations to automatically ingest and update resources in the catalog.
      type: object
      properties:
        resource_integration_data_examples:
          description: |
            A map of example resource `integration_data` payloads by resource type.

              - Keys are the machine-readable, globally unique names of resource types registered by this integration.
              - Values are example `integration_data` payloads.
          type: object
          example:
            gateway_service:
              control_plane:
                id: 00000000-0000-0000-0000-000000000000
                name: dev-ext
                labels:
                  env: development
              gateway_service:
                id: 11111111-1111-1111-1111-111111111111
                name: gateway-service
                host: konghq.com
                path: /example
                type: service
                port: 443
                protocol: https
                enabled: true
          additionalProperties:
            type: object
            additionalProperties: true
            description: An example `integration_data` payload for the given resource type.
      nullable: true
      required:
        - resource_integration_data_examples
    CatalogIntegrationApiSpecProvider:
      description: |
        Defines how an integration behaves as a source provider of Catalog Service API specs.
        API specs are entities that can be attached to Catalog Services.
        When an integration implements this capability, it can act as a source type for API spec contents.
        In this role, the integration becomes the source of truth for the spec.
        When a spec is attached to a Catalog Service using this source type, the platform relies on the external system to provide and update the spec data.
        A null value indicates the given integration does not act as a source provider of API specs.
      type: object
      properties:
        name:
          description: |
            The globally unique name of the API spec provider that identifies it within the catalog.
            Corresponds to the API spec provider `type` when creating API specs.
          type: string
          example: konnect_api
        display_name:
          description: A user-friendly name for the API spec provider.
          type: string
          example: Konnect API
        description:
          description: An brief description of the API spec provider.
          type: string
        config_schema:
          description: Defines the shape of the API spec provider config.
          type: object
          example:
            type: simple
            definition:
              api_id: string
          properties:
            type:
              type: string
              enum:
                - simple
            definition:
              type: object
              additionalProperties:
                type: string
                enum:
                  - string
                  - number
                  - boolean
          required:
            - type
            - definition
        resource_type:
          description: |
            When non-null, denotes that the API spec provider is bound to the given Resource type.
            This means that API specs are auto-created when a Resource of the given type is mapped to a service.
            Furthermore, it couples the lifecycle of the API Spec with the given Resource mapping.
            When the given Resource is removed, the API spec will be deleted.
          type: string
          nullable: true
      nullable: true
      required:
        - name
        - display_name
        - description
        - config_schema
        - resource_type
    CatalogIntegrationEvents:
      description: |
        Defines the event types across all resource types belonging to the integration that will be ingested into the catalog.

          - Keys are the machine-readable, globally unique names of resource types registered by this integration.
          - Values are a map of event type definitions.
      type: object
      example:
        gateway_svc:
          plugin_added:
            display_name: Plugin Added
            description: Event triggered when a new plugin is added to a gateway service.
            events_feed:
              enabled: true
      additionalProperties:
        $ref: '#/components/schemas/IntegrationResourceEvents'
      nullable: true
    IntegrationResourceEvents:
      description: |
        Defines the event types for a given resource type belonging to the integration that will be ingested in the catalog.

          - Keys are the machine-readable, globally unique names of resource types registered by this integration.
          - Values are the event type definition.
      type: object
      additionalProperties:
        $ref: '#/components/schemas/IntegrationResourceEvent'
    IntegrationResourceEvent:
      description: Defines a registered event type for a given resource.
      type: object
      properties:
        display_name:
          description: User-friendly display name for the event type.
          type: string
        description:
          description: 'Optional, brief description of the integration event type.'
          type: string
          nullable: true
        events_feed:
          type: object
          properties:
            enabled:
              description: Whether this event type is returned by default in the Events API.
              type: boolean
          required:
            - enabled
      required:
        - display_name
        - description
        - events_feed
    CreateIntegrationInstance:
      type: object
      properties:
        integration_name:
          description: The type of integration instance to create.
          type: string
          example: aws-lambda
          maxLength: 120
          minLength: 1
          pattern: '^[0-9a-z.-]+$'
        name:
          description: |
            The machine name of the integration instance that uniquely identifies it within the catalog.
          type: string
          example: aws-lambda-prod
          maxLength: 120
          minLength: 1
          pattern: '^[0-9a-z.-]+$'
        display_name:
          description: The display name of the integration instance.
          type: string
          example: AWS (prod)
          maxLength: 120
          minLength: 1
        description:
          description: Optionally provide a description of the integration instance.
          type: string
          maxLength: 2048
          nullable: true
        labels:
          $ref: '#/components/schemas/Labels'
        config:
          $ref: '#/components/schemas/IntegrationInstanceConfig'
      additionalProperties: false
      required:
        - integration_name
        - name
        - display_name
        - config
    UpdateIntegrationInstance:
      type: object
      properties:
        name:
          description: |
            The machine name of the integration instance that uniquely identifies it within the catalog.
          type: string
          example: aws-lambda-prod
          maxLength: 120
          minLength: 1
          pattern: '^[0-9a-z.-]+$'
        display_name:
          description: The display name of the integration instance.
          type: string
          example: AWS (prod)
          maxLength: 120
          minLength: 1
        description:
          description: Optionally provide a description of the integration instance.
          type: string
          maxLength: 2048
          nullable: true
        labels:
          $ref: '#/components/schemas/LabelsUpdate'
        config:
          $ref: '#/components/schemas/IntegrationInstanceConfig'
      additionalProperties: false
    IntegrationInstanceFilterParameters:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        display_name:
          $ref: '#/components/schemas/StringFieldFilter'
        integration.name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        integration.display_name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        authorized:
          $ref: '#/components/schemas/BooleanFieldFilter'
        labels:
          $ref: '#/components/schemas/LabelsFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
    IntegrationInstance:
      description: Information about an integration instance.
      type: object
      properties:
        id:
          description: The integration instance ID.
          type: string
          format: uuid
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
          readOnly: true
        name:
          description: |
            The machine name of the integration instance that uniquely identifies it within the catalog.
          type: string
          example: aws-lambda-prod
          maxLength: 120
          minLength: 1
          pattern: '^[0-9a-z.-]+$'
        display_name:
          description: The display name of the integration instance.
          type: string
          example: AWS (prod)
          maxLength: 120
          minLength: 1
        description:
          description: The description of the integration instance.
          type: string
          maxLength: 2048
          nullable: true
        integration:
          $ref: '#/components/schemas/IntegrationRefWithoutInstance'
        authorized:
          description: Denotes whether the integration instance has been authorized within the catalog.
          type: boolean
          example: true
          readOnly: true
        labels:
          $ref: '#/components/schemas/Labels'
        config:
          $ref: '#/components/schemas/IntegrationInstanceConfig'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      required:
        - id
        - name
        - display_name
        - description
        - integration
        - authorized
        - config
        - created_at
        - updated_at
    IntegrationInstanceConfig:
      description: |
        JSON object representing configuration specific to the integration instance.
        The expected schema depends on the integration type and is dynamically registered at runtime.
      type: object
      example:
        account_region: eu
      default: {}
      additionalProperties: true
    CreateIntegrationInstanceAuthCredential:
      oneOf:
        - $ref: '#/components/schemas/CreateOAuthCredential'
        - $ref: '#/components/schemas/CreateGitHubAppInstallationCredential'
        - $ref: '#/components/schemas/CreateMultiKeyAuthCredential'
        - $ref: '#/components/schemas/CreateAWSRoleDelegationAuthCredential'
      title: CreateIntegrationInstanceAuthCredential
    IntegrationInstanceAuthCredential:
      description: Object containing metadata for an integration instance auth credential.
      oneOf:
        - $ref: '#/components/schemas/OAuthCredential'
        - $ref: '#/components/schemas/GitHubAppInstallationCredential'
        - $ref: '#/components/schemas/MultiKeyAuthCredential'
        - $ref: '#/components/schemas/AWSRoleDelegationAuthCredential'
      title: IntegrationInstanceAuthCredential
    CreateOAuthCredential:
      description: Payload used to create an `OAuth` credential for an integration instance.
      type: object
      properties:
        type:
          type: string
          enum:
            - oauth
          x-terraform-transform-const: true
        config:
          type: object
          additionalProperties: false
          properties:
            grant_type:
              description: 'The OAuth 2.0 grant type used for authorization (e.g., `authorization_code`).'
              type: string
              enum:
                - authorization_code
            code:
              description: The authorization code used to exchange for an access token with the identity server.
              type: string
              example: Yzk5ZDczMzRlNDEwY
            redirect_uri:
              description: |
                The redirect URI submitted to the authorization server during the authentication request
                to retrieve the authorization code.
              type: string
              format: uri
              example: 'https://cloud.konghq.com/us/service-catalog/integrations/pagerduty/oauth'
          required:
            - grant_type
            - code
            - redirect_uri
          title: CreateOAuthCredentialConfig
      additionalProperties: false
      required:
        - type
        - config
    CreateGitHubAppInstallationCredential:
      description: Payload used to create an `GitHub App Installation` credential for an integration instance.
      type: object
      properties:
        type:
          type: string
          enum:
            - github_app_installation
          x-terraform-transform-const: true
        config:
          type: object
          additionalProperties: false
          properties:
            installation_id:
              description: The GitHub App installation ID.
              type: string
              example: '46952218'
            code:
              description: The authorization code used to exchange for a GitHub user-scoped access token.
              type: string
              example: Yzk5ZDczMzRlNDEwY
            app_installed_by:
              description: The GitHub user who installed the app
              type: string
          required:
            - installation_id
            - code
          title: CreateGitHubAppInstallationCredentialConfig
      additionalProperties: false
      required:
        - type
        - config
    CreateMultiKeyAuthCredential:
      description: Payload used to create an `Multi Key` credential for an integration instance.
      type: object
      properties:
        type:
          type: string
          enum:
            - multi_key_auth
          x-terraform-transform-const: true
        config:
          type: object
          additionalProperties: false
          properties:
            headers:
              description: |
                A list of header key/value pairs used to transmit API credentials to the integration's external API.
                Header names are defined by the integration within its `Multi Key` authorization strategy definition.
              type: array
              items:
                type: object
                required:
                  - name
                  - key
                properties:
                  name:
                    description: Name of the request header
                    type: string
                  key:
                    description: The key used to populate the request header
                    type: string
              example:
                - name: x-api-key
                  key: 9f2a3b4c8d6e7f00112233445566778899aabbccddeeff001122334455667788
          required:
            - headers
          title: CreateMultiKeyAuthCredentialConfig
      additionalProperties: false
      required:
        - type
        - config
      writeOnly: true
    CreateAWSRoleDelegationAuthCredential:
      description: Payload used to create an `AWS Role Delegation` credential for an integration instance.
      type: object
      properties:
        type:
          type: string
          enum:
            - aws_role_delegation
        config:
          type: object
          additionalProperties: false
          properties:
            role_arn:
              description: |
                The AWS Role ARN string
              type: string
              example: 'arn:aws:iam::084735895545:role/KonnectServiceCatalogRole'
          required:
            - role_arn
          title: CreateAWSRoleDelegationAuthCredentialConfig
      additionalProperties: false
      required:
        - type
        - config
    OAuthCredential:
      description: Represents a credential scoped to an integration instance that supports the `OAuth` authorization strategy.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 4f535923-ec24-456c-b4e5-e67f65c8c208
        integration_instance:
          $ref: '#/components/schemas/IntegrationInstanceRef'
        missing_permissions:
          description: List of detected missing permissions required to enable the full functionality of the given integration instance.
          type: array
          items:
            $ref: '#/components/schemas/MissingPermission'
        tainted:
          description: Indicates that the credential is no longer valid and must be replaced with a new valid credential.
          type: boolean
          example: false
        expires_at:
          description: |
            Timestamp denoting when the when the credential will expire in RFC-3339 format with a "T" character separating date from time within the field value.
            When expired, the credential must be replaced with a new valid credential to re-enable full functionality for the given integration instance.

            A `null` value indicates no known expiration time.
          type: string
          format: date-time
          example: '2025-04-01T07:20:50Z'
          nullable: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        type:
          type: string
          enum:
            - oauth
          x-terraform-transform-const: true
      required:
        - id
        - integration_instance
        - missing_permissions
        - tainted
        - expires_at
        - created_at
        - type
      title: OAuthCredential
    GitHubAppInstallationCredential:
      description: Represents a credential scoped to an integration instance that supports the `GitHub App Installation` authorization strategy.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 4f535923-ec24-456c-b4e5-e67f65c8c208
        integration_instance:
          $ref: '#/components/schemas/IntegrationInstanceRef'
        missing_permissions:
          description: List of detected missing permissions required to enable the full functionality of the given integration instance.
          type: array
          items:
            $ref: '#/components/schemas/MissingPermission'
        tainted:
          description: Indicates that the credential is no longer valid and must be replaced with a new valid credential.
          type: boolean
          example: false
        expires_at:
          description: |
            Timestamp denoting when the when the credential will expire in RFC-3339 format with a "T" character separating date from time within the field value.
            When expired, the credential must be replaced with a new valid credential to re-enable full functionality for the given integration instance.

            A `null` value indicates no known expiration time.
          type: string
          format: date-time
          example: '2025-04-01T07:20:50Z'
          nullable: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        type:
          type: string
          enum:
            - github_app_installation
          x-terraform-transform-const: true
        config:
          type: object
          properties:
            installation_id:
              description: The GitHub App installation ID
              type: string
            app_installed_by:
              description: The GitHub user who installed the app.
              type: string
              nullable: true
          required:
            - installation_id
            - app_installed_by
          title: GitHubAppInstallationCredentialConfig
      required:
        - id
        - integration_instance
        - missing_permissions
        - tainted
        - expires_at
        - created_at
        - type
        - config
      title: GitHubAppInstallationCredential
    MultiKeyAuthCredential:
      description: Represents a credential scoped to an integration instance that supports the `Multi Key` authorization strategy.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 4f535923-ec24-456c-b4e5-e67f65c8c208
        integration_instance:
          $ref: '#/components/schemas/IntegrationInstanceRef'
        missing_permissions:
          description: List of detected missing permissions required to enable the full functionality of the given integration instance.
          type: array
          items:
            $ref: '#/components/schemas/MissingPermission'
        tainted:
          description: Indicates that the credential is no longer valid and must be replaced with a new valid credential.
          type: boolean
          example: false
        expires_at:
          description: |
            Timestamp denoting when the when the credential will expire in RFC-3339 format with a "T" character separating date from time within the field value.
            When expired, the credential must be replaced with a new valid credential to re-enable full functionality for the given integration instance.

            A `null` value indicates no known expiration time.
          type: string
          format: date-time
          example: '2025-04-01T07:20:50Z'
          nullable: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        type:
          type: string
          enum:
            - multi_key_auth
          x-terraform-transform-const: true
      required:
        - id
        - integration_instance
        - missing_permissions
        - tainted
        - expires_at
        - created_at
        - type
      title: MultiKeyAuthCredential
    AWSRoleDelegationAuthCredential:
      description: Represents a credential scoped to an integration instance that supports the `AWS Role Delegation` authorization strategy.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 4f535923-ec24-456c-b4e5-e67f65c8c208
        integration_instance:
          $ref: '#/components/schemas/IntegrationInstanceRef'
        missing_permissions:
          description: List of detected missing permissions required to enable the full functionality of the given integration instance.
          type: array
          items:
            $ref: '#/components/schemas/MissingPermission'
        tainted:
          description: Indicates that the credential is no longer valid and must be replaced with a new valid credential.
          type: boolean
          example: false
        expires_at:
          description: |
            Timestamp denoting when the when the credential will expire in RFC-3339 format with a "T" character separating date from time within the field value.
            When expired, the credential must be replaced with a new valid credential to re-enable full functionality for the given integration instance.

            A `null` value indicates no known expiration time.
          type: string
          format: date-time
          example: '2025-04-01T07:20:50Z'
          nullable: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        type:
          type: string
          enum:
            - aws_role_delegation
        config:
          type: object
          properties:
            role_arn:
              description: The Role ARN use for AWS Assume Role.
              type: string
          required:
            - role_arn
          title: AWSRoleDelegationAuthCredentialConfig
      required:
        - id
        - integration_instance
        - missing_permissions
        - tainted
        - expires_at
        - created_at
        - type
        - config
      title: AWSRoleDelegationAuthCredential
    MissingPermission:
      type: object
      properties:
        scopes:
          type: array
          items:
            type: string
            nullable: true
          example:
            - 'incident:read'
        message:
          description: |
            Describes the degraded experience of the integration instance due to the missing permission.
            May also include a message on how to resolve the missing permission.
          type: string
      required:
        - scopes
        - message
    UpsertIntegrationInstanceAuthConfig:
      oneOf:
        - $ref: '#/components/schemas/UpsertOAuthAuthConfig'
      title: UpsertIntegrationInstanceAuthConfig
    IntegrationInstanceAuthConfig:
      oneOf:
        - $ref: '#/components/schemas/OAuthAuthConfig'
      title: IntegrationInstanceAuthConfig
    UpsertOAuthAuthConfig:
      type: object
      properties:
        type:
          type: string
          enum:
            - oauth
          x-terraform-transform-const: true
        client_id:
          description: The OAuth client identifier.
          type: string
          example: d745213a-b7e8-4998-abe3-41f164001970
        client_secret:
          description: The OAuth client secret.
          type: string
          example: s3cr3t4p1cl13ntt0k3n1234567890abcdef
          writeOnly: true
        authorization_endpoint:
          description: The URL where users are redirected to authorize access.
          type: string
          format: uri
          example: 'https://identity.service.com/oauth/authorize'
        token_endpoint:
          description: The URL used to retrieve access tokens.
          type: string
          format: uri
          example: 'https://identity.service.com/oauth/token'
      additionalProperties: false
      required:
        - type
        - client_id
        - client_secret
        - authorization_endpoint
        - token_endpoint
      title: OAuth Config
    OAuthAuthConfig:
      type: object
      properties:
        type:
          type: string
          enum:
            - oauth
          x-terraform-transform-const: true
        client_id:
          description: The OAuth client identifier.
          type: string
          example: d745213a-b7e8-4998-abe3-41f164001970
        authorization_endpoint:
          description: The URL where users are redirected to authorize access.
          type: string
          format: uri
          example: 'https://identity.service.com/oauth/authorize'
        token_endpoint:
          description: The URL used to retrieve access tokens.
          type: string
          format: uri
          example: 'https://identity.service.com/oauth/token'
      required:
        - type
        - client_id
        - authorization_endpoint
        - token_endpoint
    UpdateCatalogResource:
      type: object
      properties:
        archived:
          description: |
            Whether or not to archive the resource.
            When a resource is archived, all catalog service mappings will be removed.
          type: boolean
          example: false
      additionalProperties: false
    CatalogResourceFilterParameters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/StringFieldFilterExact'
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        integration.name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        integration.display_name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        integration.instance.id:
          oneOf:
            - $ref: '#/components/schemas/UuidFieldFilter'
        integration.instance.name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        integration.instance.display_name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        type:
          $ref: '#/components/schemas/StringFieldFilterExact'
        config:
          oneOf:
            - $ref: '#/components/schemas/CatalogResourceConfigFieldFilter'
        integration_data:
          oneOf:
            - $ref: '#/components/schemas/CatalogResourceIntegrationDataFieldFilter'
        archived:
          $ref: '#/components/schemas/BooleanFieldFilter'
        service_associations:
          $ref: '#/components/schemas/NumericFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
    CatalogResourceRefFilterParameters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/StringFieldFilterExact'
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        integration.name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        integration.display_name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        integration.instance.id:
          oneOf:
            - $ref: '#/components/schemas/UuidFieldFilter'
        integration.instance.name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        integration.instance.display_name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        type:
          $ref: '#/components/schemas/StringFieldFilterExact'
        config:
          oneOf:
            - $ref: '#/components/schemas/CatalogResourceConfigFieldFilter'
        integration_data:
          oneOf:
            - $ref: '#/components/schemas/CatalogResourceIntegrationDataFieldFilter'
        service_associations:
          $ref: '#/components/schemas/NumericFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
    CatalogResourceConfigFieldFilter:
      description: 'Filter using **one** of the following operators: `eq`, `oeq`, `neq`, `contains`, `ocontains`'
      type: object
      properties:
        eq:
          description: The field exactly matches the provided value.
          type: string
          example: '?filter[field_name_here][eq]=foo'
        contains:
          description: The field contains the provided value.
          type: string
          example: '?filter[field_name_here][contains]=foo'
        ocontains:
          description: The field contains any of the provided values.
          type: string
          example: '?filter[field_name_here][ocontains]=foo,bar'
        oeq:
          description: The field matches any of the provided values.
          type: string
          example: '?filter[field_name_here][oeq]=foo,bar'
        neq:
          description: The field does not match the provided value.
          type: string
          example: '?filter[field_name_here][neq]=bar'
      additionalProperties: false
      x-examples:
        example-1:
          contains: some-value
          ocontains: 'this-value,or-that-value'
          oeq: 'some-value,some-other-value'
          neq: not-this-value
        example-2:
          eq: some-value
    CatalogResourceIntegrationDataFieldFilter:
      description: 'Filter using **one** of the following operators: `eq`, `oeq`, `neq`, `contains`, `ocontains`'
      type: object
      properties:
        eq:
          description: The field exactly matches the provided value.
          type: string
          example: '?filter[field_name_here][eq]=foo'
        contains:
          description: The field contains the provided value.
          type: string
          example: '?filter[field_name_here][contains]=foo'
        ocontains:
          description: The field contains any of the provided values.
          type: string
          example: '?filter[field_name_here][ocontains]=foo,bar'
        oeq:
          description: The field matches any of the provided values.
          type: string
          example: '?filter[field_name_here][oeq]=foo,bar'
        neq:
          description: The field does not match the provided value.
          type: string
          example: '?filter[field_name_here][neq]=bar'
      additionalProperties: false
      x-examples:
        example-1:
          contains: some-value
          ocontains: 'this-value,or-that-value'
          oeq: 'some-value,some-other-value'
          neq: not-this-value
        example-2:
          eq: some-value
    CatalogResource:
      description: Information about a catalog resource.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/CatalogResourceId'
        name:
          description: |
            The name of the resource.
            Will be `null` when the resource has not yet been hydrated by the integration.
          type: string
          maxLength: 255
          minLength: 1
          nullable: true
        integration:
          $ref: '#/components/schemas/IntegrationRef'
        type:
          $ref: '#/components/schemas/CatalogResourceType'
        config:
          $ref: '#/components/schemas/CatalogResourceConfig'
        integration_data:
          description: |
            JSON object containing schemaless integration data of the resource.
            This field is always populated by the system backing the integration.
            When `null`, the resource has been manually initialized via API but has
            yet to be hydrated by the integration.
          type: object
          additionalProperties: true
          nullable: true
        archived:
          description: Whether or not the resource has been archived.
          type: boolean
          example: false
        service_associations:
          description: The number of catalog services this resource is mapped to.
          type: number
          example: 2
          minimum: 0
          readOnly: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      required:
        - id
        - name
        - integration
        - type
        - config
        - integration_data
        - archived
        - service_associations
        - created_at
        - updated_at
    CatalogResourceId:
      description: The resource ID.
      type: string
      format: base64url
      example: 4UdXnoaDYYJsH_Ir
      maxLength: 16
      minLength: 16
    CatalogResourceConfig:
      description: |
        JSON object representing the properties used to identify the resource in the third-party system.
        The schema depends on the resource type and is dynamically registered at runtime.
      type: object
      example:
        control_plane_id: ccadfb0a-56cd-4f74-955d-aec1d87157c8
        gateway_service_id: 94896d05-0c4d-45eb-aae3-de754885dd58
      additionalProperties: true
    CatalogResourceType:
      description: |
        The resource type. Available resource types are compiled from the integrations installed within the catalog.
      type: string
      example: gateway_svc
      maxLength: 120
      minLength: 1
    CreateCatalogResourceMapping:
      type: object
      properties:
        service:
          description: The `id` or `name` of the service to map the resource to.
          type: string
          example: user-svc
        resource:
          oneOf:
            - $ref: '#/components/schemas/CatalogResourceId'
            - $ref: '#/components/schemas/CreateCatalogResourceMappingResourceByConfig'
      additionalProperties: false
      required:
        - service
        - resource
    CreateCatalogResourceMappingResourceByConfig:
      type: object
      properties:
        integration_instance:
          description: The `id` or `name` of the integration instance the resource belongs to.
          type: string
          example: aws-lambda-prod
        type:
          $ref: '#/components/schemas/CatalogResourceType'
        config:
          $ref: '#/components/schemas/CatalogResourceConfig'
      additionalProperties: false
      required:
        - integration_instance
        - type
        - config
      title: CreateCatalogResourceMappingResourceByConfig
    CatalogResourceMappingFilterParameters:
      type: object
      properties:
        resource.id:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilterExact'
        resource.name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        resource.type:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        resource.config:
          oneOf:
            - $ref: '#/components/schemas/CatalogResourceConfigFieldFilter'
        resource.integration.name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        resource.integration.display_name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        resource.integration.instance.id:
          oneOf:
            - $ref: '#/components/schemas/UuidFieldFilter'
        resource.integration.instance.name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        resource.integration.instance.display_name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        service.id:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilterExact'
        service.name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        service.display_name:
          oneOf:
            - $ref: '#/components/schemas/StringFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
    CatalogResourceMapping:
      description: Describes a mapping between a catalog resource and a service.
      type: object
      properties:
        id:
          description: The resource mapping ID.
          type: string
          format: uuid
          example: d277faad-ed4e-4c56-a0fb-acce065dee34
        resource:
          $ref: '#/components/schemas/CatalogResourceRef'
        service:
          $ref: '#/components/schemas/CatalogServiceRef'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
      required:
        - id
        - resource
        - service
        - created_at
    CriteriaTemplateFilterParameters:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        display_name:
          $ref: '#/components/schemas/StringFieldFilter'
        installed:
          $ref: '#/components/schemas/BooleanFieldFilter'
        integration_name:
          $ref: '#/components/schemas/StringFieldFilter'
    CriteriaTemplate:
      description: Representation of a criteria template.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/CriteriaTemplateName'
        display_name:
          description: The human-readable display name of the template.
          type: string
        category:
[...]
