openapi: 3.0.0
info:
  title: Konnect AI Gateway
  version: 0.0.60
  description: The API for configuring AI Gateways in Konnect.
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
servers:
  - url: 'https://us.api.konghq.com/v1'
    description: United-States Production region
  - url: 'https://eu.api.konghq.com/v1'
    description: Europe Production region
  - url: 'https://au.api.konghq.com/v1'
    description: Australia Production region
  - url: 'https://me.api.konghq.com/v1'
    description: Middle-East Production region
  - url: 'https://in.api.konghq.com/v1'
    description: India Production region
  - url: 'https://sg.api.konghq.com/v1'
    description: Singapore Production region
paths:
  /ai-gateways:
    get:
      operationId: list-ai-gateways
      summary: List AI Gateways
      description: Returns a list of AI Gateways in the organization.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewaysResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
    post:
      operationId: create-ai-gateway
      summary: Create an AI Gateway
      description: Creates a new AI Gateway in the organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/CreateAIGatewayRequestExample'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
  '/ai-gateways/{gatewayId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: get-ai-gateway
      summary: Get an AI Gateway
      description: Returns the details of a specific AI Gateway.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
    put:
      operationId: update-ai-gateway
      summary: Update an AI Gateway
      description: Updates the configuration of an existing AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/UpdateAIGatewayRequestExample'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
    delete:
      operationId: delete-ai-gateway
      summary: Delete an AI Gateway
      description: Deletes an existing AI Gateway.
      responses:
        '204':
          description: AI Gateway deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
  '/ai-gateways/{gatewayId}/data-plane-certificates':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-data-plane-certificates
      summary: List AI Gateway DataPlane Certificates
      description: Returns a list of DataPlane certificates that are associated to this AI Gateway. A DataPlane certificate allows DataPlanes configured with the certificate and corresponding private key to establish connection with this AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayDataPlaneCertificatesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
    post:
      operationId: create-ai-gateway-data-plane-certificate
      summary: Create New AI Gateway DataPlane Certificate
      description: Create a new DataPlane Certificate for this AI Gateway. A DataPlane certificate allows DataPlanes configured with the certificate and corresponding private key to establish connection with this AI Gateway.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayDataPlaneCertificateRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/AIGatewayDataplaneCertificateExample'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayDataPlaneCertificateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
  '/ai-gateways/{gatewayId}/data-plane-certificates/{certificateId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayDataPlaneCertificateId'
    get:
      operationId: get-ai-gateway-data-plane-certificate
      summary: Get a DataPlane Certificate
      description: Retrieve a DataPlane certificate associated to this AI Gateway. A DataPlane certificate allows DataPlanes configured with the certificate and corresponding private key to establish connection with this AI Gateway.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayDataPlaneCertificateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
    delete:
      operationId: delete-ai-gateway-data-plane-certificate
      summary: Delete AI Gateway DataPlane Certificate
      description: Remove a DataPlane client certificate associated to this AI Gateway. Removing a DataPlane certificate would invalidate any DataPlanes currently connected to this AI Gateway using this certificate.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
  '/ai-gateways/{gatewayId}/expected-config-version':
    get:
      operationId: get-ai-gateway-expected-config-version
      summary: Get the Expected Config Version
      description: Retrieve the expected config version for this AI Gateway. The expected config version can be used to verify if the config version of a data plane node is up to date with the AI Gateway. The config version will be the same if they are in sync.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayExpectedConfigVersionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
  '/ai-gateways/{gatewayId}/debug-cp-output':
    get:
      operationId: get-ai-gateway-debug-cp-output
      summary: Get the CP config output for an AI Gateway
      description: |
        Internal / privileged endpoint. Returns the control-plane configuration Koko would deliver to the given AI
        Gateway's data planes, as JSON by default or as YAML when the Accept header requests application/yaml.

        Requires a privileged internal service-client token; the organization is derived from the gateway.
      responses:
        '200':
          description: The CP config output for the AI Gateway.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
            application/yaml:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Debug
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
  '/ai-gateways/{gatewayId}/nodes':
    get:
      operationId: list-ai-gateway-nodes
      summary: List Nodes
      description: Returns a list of nodes associated with the specified AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayDataPlaneNodesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Nodes
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
  '/ai-gateways/{gatewayId}/nodes/{dataPlaneNodeId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayDataPlaneNodeId'
    get:
      operationId: get-ai-gateway-node
      summary: Get a Node
      description: Returns information about a specific node associated with the AI Gateway.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayDataPlaneNodeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Nodes
  '/ai-gateways/{gatewayId}/vaults':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-vaults
      summary: List AI Gateway Vaults
      description: Returns a list of vaults associated with the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayVaultsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
    post:
      operationId: create-ai-gateway-vault
      summary: Create an AI Gateway Vault
      description: Registers a new vault for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayVaultRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayVaultResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
  '/ai-gateways/{gatewayId}/vaults/{vaultIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayVaultIdOrName'
    get:
      operationId: get-ai-gateway-vault
      summary: Get an AI Gateway Vault
      description: Returns the details of a specific AI Gateway vault.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayVaultResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
    put:
      operationId: update-ai-gateway-vault
      summary: Update an AI Gateway Vault
      description: Updates the configuration of an existing AI Gateway vault.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayVaultRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayVaultResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
    delete:
      operationId: delete-ai-gateway-vault
      summary: Delete an AI Gateway Vault
      description: Removes a specific AI Gateway vault.
      responses:
        '204':
          description: Vault deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
  '/ai-gateways/{gatewayId}/available-policies':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-available-policies
      summary: List AI Gateway Available Policies
      description: Returns a list of available policies for the AI Gateway.
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayAvailablePoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
  '/ai-gateways/{gatewayId}/policies/schemas/{policySchemaName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayPolicySchemaName'
    get:
      operationId: get-ai-gateway-policy-schema
      summary: Get an AI Gateway Policy Schema
      description: Returns the details of a specific AI Gateway policy schema using the schema name.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayPolicySchemaResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
  '/ai-gateways/{gatewayId}/policies':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-policies
      summary: List AI Gateway Policies
      description: Returns a list of policies configured for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayPoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
    post:
      operationId: create-ai-gateway-policy
      summary: Create an AI Gateway Policy
      description: Registers a new policy for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayPolicyRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
  '/ai-gateways/{gatewayId}/policies/{policyIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayPolicyIdOrName'
    get:
      operationId: get-ai-gateway-policy
      summary: Get an AI Gateway Policy
      description: Returns the details of a specific AI Gateway policy.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayPolicyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
    put:
      operationId: update-ai-gateway-policy
      summary: Update an AI Gateway Policy
      description: Updates the configuration of an existing AI Gateway policy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayPolicyRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
    delete:
      operationId: delete-ai-gateway-policy
      summary: Delete an AI Gateway Policy
      description: Removes a specific AI Gateway policy.
      responses:
        '204':
          description: Policy deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
  '/ai-gateways/{gatewayId}/policies/{policyId}/usage':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayPolicyId'
    get:
      operationId: list-ai-gateway-policy-usage
      summary: List AI Gateway Policy Usage
      description: |
        Returns a response containing the usage by entity of a specific AI Gateway policy.
        The response is limited to only return the first N records per entity type.
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayPolicyUsageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
  '/ai-gateways/{gatewayId}/models':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-models
      summary: List AI Gateway Models
      description: Returns a list of all models registered in the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayModelsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
    post:
      operationId: create-ai-gateway-model
      summary: Create an AI Gateway Model
      description: 'Registers a new model with routing, capabilities, and target backends.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayModelRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayModelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
  '/ai-gateways/{gatewayId}/models/{modelIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayModelIdOrName'
    get:
      operationId: get-ai-gateway-model
      summary: Get an AI Gateway Model
      description: Returns the details of a specific AI Gateway model.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayModelResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
    put:
      operationId: update-ai-gateway-model
      summary: Update an AI Gateway Model
      description: Updates the configuration of an existing AI Gateway model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayModelRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayModelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
    delete:
      operationId: delete-ai-gateway-model
      summary: Delete an AI Gateway Model
      description: Removes a specific AI Gateway model.
      responses:
        '204':
          description: Model deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
  '/ai-gateways/{gatewayId}/agents':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-agents
      summary: List AI Gateway Agents
      description: Returns a list of all agents registered in the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayAgentsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
    post:
      operationId: create-ai-gateway-agent
      summary: Create an AI Gateway Agent
      description: Creates a new agent for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayAgentRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayAgentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
  '/ai-gateways/{gatewayId}/agents/{agentIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayAgentIdOrName'
    get:
      operationId: get-ai-gateway-agent
      summary: Get an AI Gateway Agent
      description: Returns the details of a specific AI Gateway agent.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayAgentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
    put:
      operationId: update-ai-gateway-agent
      summary: Update an AI Gateway Agent
      description: Updates the configuration of an existing AI Gateway agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayAgentRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayAgentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
    delete:
      operationId: delete-ai-gateway-agent
      summary: Delete an AI Gateway Agent
      description: Removes a specific AI Gateway agent.
      responses:
        '204':
          description: Agent deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
  '/ai-gateways/{gatewayId}/consumers':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-consumers
      summary: List AI Gateway Consumers
      description: Returns a list of all consumers for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    post:
      operationId: create-ai-gateway-consumer
      summary: Create an AI Gateway Consumer
      description: Creates a new consumer for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConsumerRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/ai-gateways/{gatewayId}/consumers/{consumerIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerIdOrName'
    get:
      operationId: get-ai-gateway-consumer
      summary: Get an AI Gateway Consumer
      description: Returns the details of a specific AI Gateway consumer.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConsumerResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    put:
      operationId: update-ai-gateway-consumer
      summary: Update an AI Gateway Consumer
      description: Updates the configuration of an existing AI Gateway consumer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayConsumerRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    delete:
      operationId: delete-ai-gateway-consumer
      summary: Delete an AI Gateway Consumer
      description: Removes a specific AI Gateway consumer.
      responses:
        '204':
          description: Consumer deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/ai-gateways/{gatewayId}/consumers/{consumerIdOrName}/consumer-groups':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerIdOrName'
    get:
      operationId: list-ai-gateway-consumer-groups-for-consumer
      summary: List Consumer Groups a Consumer belongs to
      description: List AI Gateway Consumer Groups an Consumer belongs to
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumerGroupsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    put:
      operationId: update-ai-gateway-consumer-groups-for-consumer
      summary: Updates Consumer Groups a Consumer belongs to
      description: Updates AI Gateway Consumer Groups a Consumer belongs to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consumer_groups:
                  type: array
                  items:
                    type: string
                    description: Consumer Group names
      responses:
        '201':
          description: Consumer Group names added to the consumer
          content:
            application/json:
              schema:
                type: object
                properties:
                  consumer_groups:
                    type: array
                    items:
                      type: string
                      description: Consumer Group names
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/ai-gateways/{gatewayId}/consumers/{consumerId}/credentials':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerId'
    get:
      operationId: list-ai-gateway-consumer-credentials
      summary: List AI Gateway Consumer Credentials
      description: Returns a list of all credentials for an AI Gateway consumer.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumerCredentialsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    post:
      operationId: create-ai-gateway-consumer-credential
      summary: Create an AI Gateway Consumer Credential
      description: Creates a new credential for an AI Gateway consumer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConsumerCredentialRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConsumerCredentialResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/ai-gateways/{gatewayId}/consumers/{consumerId}/credentials/{credentialId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerId'
      - $ref: '#/components/parameters/AIGatewayConsumerCredentialId'
    get:
      operationId: get-ai-gateway-consumer-credential
      summary: Get an AI Gateway Consumer Credential
      description: Returns the details of a specific credential for an AI Gateway consumer.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConsumerCredentialResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    delete:
      operationId: delete-ai-gateway-consumer-credential
      summary: Delete an AI Gateway Consumer Credential
      description: Removes a specific credential for an AI Gateway consumer.
      responses:
        '204':
          description: Credential deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/ai-gateways/{gatewayId}/consumer-groups':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-consumer-groups
      summary: List AI Gateway Consumer Groups
      description: Returns a list of all consumer groups for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumerGroupsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
    post:
      operationId: create-ai-gateway-consumer-group
      summary: Create an AI Gateway Consumer Group
      description: Creates a new Consumer Group for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConsumerGroupRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConsumerGroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
  '/ai-gateways/{gatewayId}/consumer-groups/{consumerGroupIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerGroupIdOrName'
    get:
      operationId: get-ai-gateway-consumer-group
      summary: Get an AI Gateway Consumer Group
      description: Returns the details of a specific AI Gateway Consumer Group.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConsumerGroupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
    put:
      operationId: update-ai-gateway-consumer-group
      summary: Update an AI Gateway Consumer Group
      description: Updates the configuration of an existing AI Gateway Consumer Group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayConsumerGroupRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayConsumerGroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
    delete:
      operationId: delete-ai-gateway-consumer-group
      summary: Delete an AI Gateway Consumer Group
      description: Removes a specific AI Gateway Consumer Group.
      responses:
        '204':
          description: Consumer Group deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
  '/ai-gateways/{gatewayId}/consumer-groups/{consumerGroupId}/consumers':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerGroupId'
    get:
      operationId: list-ai-gateway-consumers-in-consumer-group
      summary: List AI Gateway Consumers in a Consumer Group
      description: Returns a list of all consumers in the given consumer group for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
    post:
      operationId: add-ai-gateway-consumer-to-consumer-group
      summary: Add a Consumer to a Consumer Group
      description: Add a consumer to an AI Gateway Consumer Group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAIGatewayConsumerToGroupRequest'
      responses:
        '201':
          $ref: '#/components/responses/AddAIGatewayConsumerToGroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
  '/ai-gateways/{gatewayId}/consumer-groups/{consumerGroupId}/consumers/{consumerIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerGroupId'
      - $ref: '#/components/parameters/AIGatewayConsumerIdOrName'
    delete:
      operationId: remove-ai-gateway-consumer-from-consumer-group
      summary: Remove a Consumer from a Consumer Group
      description: Remove a consumer from an AI Gateway Consumer Group.
      responses:
        '204':
          description: Consumer removed from group successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
  '/ai-gateways/{gatewayId}/mcp-servers':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-mcp-servers
      summary: List MCP Servers
      description: Returns a list of MCP Servers configured for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayMCPServersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
    post:
      operationId: create-ai-gateway-mcp-server
      summary: Create an MCP Server
      description: Registers a new MCP Server for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayMCPServerRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayMCPServerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
  '/ai-gateways/{gatewayId}/mcp-servers/{mcpServerIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayMcpServerIdOrName'
    get:
      operationId: get-ai-gateway-mcp-server
      summary: Get an MCP Server
      description: Returns the details of a specific MCP Server.
      responses:
        '200':
          $ref: '#/components/responses/GetMCPServerResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
    put:
      operationId: update-ai-gateway-mcp-server
      summary: Update an MCP Server
      description: Updates the configuration of an existing MCP Server.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayMCPServerRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayMCPServerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
    delete:
      operationId: delete-ai-gateway-mcp-server
      summary: Delete an MCP Server
      description: Removes a specific MCP Server from the AI Gateway.
      responses:
        '204':
          description: MCP Server deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
  '/ai-gateways/{gatewayId}/model-providers':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-model-providers
      summary: List AI Gateway Model Providers
      description: Returns a list of model providers configured for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayModelProvidersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Model Providers
    post:
      operationId: create-ai-gateway-model-provider
      summary: Create an AI Gateway Model Provider
      description: Registers a new model provider for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayModelProviderRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayModelProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Model Providers
  '/ai-gateways/{gatewayId}/model-providers/{modelProviderIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayModelProviderIdOrName'
    get:
      operationId: get-ai-gateway-model-provider
      summary: Get an AI Gateway Model Provider
      description: Returns the details of a specific AI Gateway model provider.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayModelProviderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Model Providers
    put:
      operationId: update-ai-gateway-model-provider
      summary: Update an AI Gateway Model Provider
      description: Updates the configuration of an existing AI Gateway model provider.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayModelProviderRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayModelProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Model Providers
    delete:
      operationId: delete-ai-gateway-model-provider
      summary: Delete an AI Gateway Model Provider
      description: Removes a specific AI Gateway model provider.
      responses:
        '204':
          description: Model provider deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Model Providers
  '/ai-gateways/{gatewayId}/identity':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-identity-providers
      summary: List AI Gateway Identity Providers
      description: Returns a list of identity providers configured for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayIdentityProvidersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Identity Providers
    post:
      operationId: create-ai-gateway-identity-provider
      summary: Create an AI Gateway Identity Provider
      description: Registers a new identity provider for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayIdentityProviderRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayIdentityProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Identity Providers
  '/ai-gateways/{gatewayId}/identity/{identityProviderIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayIdentityProviderIdOrName'
    get:
      operationId: get-ai-gateway-identity-provider
      summary: Get an AI Gateway Identity Provider
      description: Returns the details of a specific AI Gateway identity provider.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayIdentityProviderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Identity Providers
    put:
      operationId: update-ai-gateway-identity-provider
      summary: Update an AI Gateway Identity Provider
      description: Updates the configuration of an existing AI Gateway Identity provider.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayIdentityProviderRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayIdentityProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Identity Providers
    delete:
      operationId: delete-ai-gateway-identity-provider
      summary: Delete an AI Gateway Identity Provider
      description: Removes a specific AI Gateway Identity provider.
      responses:
        '204':
          description: Identity provider deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Identity Providers
  '/ai-gateways/{gatewayId}/config-stores':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-config-stores
      summary: List AI Gateway Config Stores
      description: Returns a list of Config Stores associated with the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConfigStoresResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Stores
    post:
      operationId: create-ai-gateway-config-store
      summary: Create an AI Gateway Config Store
      description: Creates a new Config Store for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConfigStoreRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConfigStoreResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Stores
  '/ai-gateways/{gatewayId}/config-stores/{configStoreIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConfigStoreIdOrName'
    get:
      operationId: get-ai-gateway-config-store
      summary: Get an AI Gateway Config Store
      description: Returns the details of a specific AI Gateway Config Store.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConfigStoreResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Stores
    put:
      operationId: update-ai-gateway-config-store
      summary: Update an AI Gateway Config Store
      description: Updates the configuration of an existing AI Gateway Config Store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayConfigStoreRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayConfigStoreResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Stores
    delete:
      operationId: delete-ai-gateway-config-store
      summary: Delete an AI Gateway Config Store
      description: Removes a specific AI Gateway Config Store.
      parameters:
        - name: force
          in: query
          description: 'If true, delete the Config Store and all its secrets. If false, deletion is rejected when secrets are still linked to the Config Store.'
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: Config Store deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Stores
  '/ai-gateways/{gatewayId}/config-stores/{configStoreIdOrName}/secrets':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConfigStoreIdOrName'
    get:
      operationId: list-ai-gateway-config-store-secrets
      summary: List AI Gateway Config Store Secrets
      description: Returns a collection of all secrets for an AI Gateway Config Store.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConfigStoreSecretsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Store Secrets
    post:
      operationId: create-ai-gateway-config-store-secret
      summary: Create an AI Gateway Config Store Secret
      description: Creates a secret for an AI Gateway Config Store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConfigStoreSecretRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConfigStoreSecretResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Store Secrets
  '/ai-gateways/{gatewayId}/config-stores/{configStoreIdOrName}/secrets/{key}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConfigStoreIdOrName'
      - name: key
        in: path
        description: Config Store Secret key.
        required: true
        schema:
          $ref: '#/components/schemas/AIGatewayConfigStoreSecretKey'
    get:
      operationId: get-ai-gateway-config-store-secret
      summary: Get an AI Gateway Config Store Secret
      description: Returns the secret entity for the Config Store. Secret values once stored cannot be retrieved.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConfigStoreSecretResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Store Secrets
    put:
      operationId: update-ai-gateway-config-store-secret
      summary: Update an AI Gateway Config Store Secret
      description: Updates a secret for an AI Gateway Config Store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayConfigStoreSecretRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayConfigStoreSecretResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Store Secrets
    delete:
      operationId: delete-ai-gateway-config-store-secret
      summary: Delete an AI Gateway Config Store Secret
      description: Removes a secret from an AI Gateway Config Store.
      responses:
        '204':
          description: Config Store Secret deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Store Secrets
components:
  parameters:
    AIGatewayAgentIdOrName:
      name: agentIdOrName
      in: path
      required: true
      description: The unique ID or name of the AI Gateway agent.
      examples:
        name:
          value: my-entity-name
          summary: The name of the entity.
        id:
          value: bf138ba2-c9b1-4229-b268-04d9d8a6410b
          summary: The id of the entity.
      schema:
        $ref: '#/components/schemas/AIGatewayEntityIdentifier'
    AIGatewayConfigStoreIdOrName:
      name: configStoreIdOrName
      in: path
      required: true
      description: The unique ID or name of the AI Gateway Config Store.
      examples:
        name:
          value: my-entity-name
          summary: The name of the entity.
        id:
          value: bf138ba2-c9b1-4229-b268-04d9d8a6410b
          summary: The id of the entity.
      schema:
        $ref: '#/components/schemas/AIGatewayEntityIdentifier'
    AIGatewayConsumerCredentialId:
      name: credentialId
      in: path
      required: true
      description: The unique ID of the AI Gateway consumer credential.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayConsumerGroupId:
      name: consumerGroupId
      in: path
      required: true
      description: The unique ID of the AI Gateway Consumer Group.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayConsumerGroupIdOrName:
      name: consumerGroupIdOrName
      in: path
      required: true
      description: The unique ID or name of the AI Gateway Consumer Group.
      examples:
        name:
          value: my-entity-name
          summary: The name of the entity.
        id:
          value: bf138ba2-c9b1-4229-b268-04d9d8a6410b
          summary: The id of the entity.
      schema:
        $ref: '#/components/schemas/AIGatewayEntityIdentifier'
    AIGatewayConsumerId:
      name: consumerId
      in: path
      required: true
      description: The unique ID of the AI Gateway consumer.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayConsumerIdOrName:
      name: consumerIdOrName
      in: path
      required: true
      description: The unique ID or name of the AI Gateway consumer.
      examples:
        name:
          value: my-entity-name
          summary: The name of the entity.
        id:
          value: bf138ba2-c9b1-4229-b268-04d9d8a6410b
          summary: The id of the entity.
      schema:
        $ref: '#/components/schemas/AIGatewayEntityIdentifier'
    AIGatewayDataPlaneCertificateId:
      name: certificateId
      in: path
      required: true
      description: The unique ID of the DataPlane Certificate.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayDataPlaneNodeId:
      name: dataPlaneNodeId
      in: path
      required: true
      description: The unique ID of the AI Gateway DataPlane Node.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayId:
      name: gatewayId
      in: path
      required: true
      description: The unique ID of the AI Gateway.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayIdentityProviderIdOrName:
      name: identityProviderIdOrName
      in: path
      required: true
      description: The unique ID or name of the AI Gateway Identity provider.
      examples:
        name:
          value: my-entity-name
          summary: The name of the entity.
        id:
          value: bf138ba2-c9b1-4229-b268-04d9d8a6410b
          summary: The id of the entity.
      schema:
        $ref: '#/components/schemas/AIGatewayEntityIdentifier'
    AIGatewayMcpServerIdOrName:
      name: mcpServerIdOrName
      in: path
      required: true
      description: The unique ID or name of the MCP Server.
      examples:
        name:
          value: my-entity-name
          summary: The name of the entity.
        id:
          value: bf138ba2-c9b1-4229-b268-04d9d8a6410b
          summary: The id of the entity.
      schema:
        $ref: '#/components/schemas/AIGatewayEntityIdentifier'
    AIGatewayModelIdOrName:
      name: modelIdOrName
      in: path
      required: true
      description: The unique ID or name of the AI Gateway model.
      examples:
        name:
          value: my-entity-name
          summary: The name of the entity.
        id:
          value: bf138ba2-c9b1-4229-b268-04d9d8a6410b
          summary: The id of the entity.
      schema:
        $ref: '#/components/schemas/AIGatewayEntityIdentifier'
    AIGatewayModelProviderIdOrName:
      name: modelProviderIdOrName
      in: path
      required: true
      description: The unique ID or name of the AI Gateway model provider.
      examples:
        name:
          value: my-entity-name
          summary: The name of the entity.
        id:
          value: bf138ba2-c9b1-4229-b268-04d9d8a6410b
          summary: The id of the entity.
      schema:
        $ref: '#/components/schemas/AIGatewayEntityIdentifier'
    AIGatewayPolicyId:
      name: policyId
      in: path
      required: true
      description: The unique ID of the AI Gateway policy.
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        $ref: '#/components/schemas/UUID'
    AIGatewayPolicyIdOrName:
      name: policyIdOrName
      in: path
      required: true
      description: The unique ID or name of the AI Gateway policy.
      examples:
        name:
          value: my-entity-name
          summary: The name of the entity.
        id:
          value: bf138ba2-c9b1-4229-b268-04d9d8a6410b
          summary: The id of the entity.
      schema:
        $ref: '#/components/schemas/AIGatewayEntityIdentifier'
    AIGatewayPolicySchemaName:
      name: policySchemaName
      in: path
      required: true
      description: The type of the Policy. This is equivalent to the Kong 3 plugin name.
      example: ai-sanitizer
      schema:
        type: string
    AIGatewayVaultIdOrName:
      name: vaultIdOrName
      in: path
      required: true
      description: The unique ID or name of the AI Gateway Vault.
      examples:
        name:
          value: my-entity-name
          summary: The name of the entity.
        id:
          value: bf138ba2-c9b1-4229-b268-04d9d8a6410b
          summary: The id of the entity.
      schema:
        $ref: '#/components/schemas/AIGatewayEntityIdentifier'
    PageAfter:
      name: 'page[after]'
      description: 'Request the next page of data, starting with the item after this parameter.'
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: string
        example: ewogICJpZCI6ICJoZWxsbyB3b3JsZCIKfQ
    PageNumber:
      name: 'page[number]'
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
    PageSize:
      name: 'page[size]'
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
  schemas:
    AIGatewayEntityIdentifier:
      description: 'Identifier for an AI Gateway entity. In some cases, this may be the entity name or ID.'
      type: string
      example: my-entity-name
      maxLength: 256
      minLength: 1
      pattern: '^[A-Za-z0-9._-]{1,256}$'
    AIGatewayProxyURL:
      description: Proxy URL associated with reaching the data-planes connected to a control-plane.
      type: object
      properties:
        host:
          description: Hostname of the proxy URL.
          type: string
        port:
          description: Port of the proxy URL.
          type: integer
        protocol:
          description: Protocol of the proxy URL.
          type: string
      example:
        host: example.com
        port: 443
        protocol: https
      additionalProperties: false
      required:
        - host
        - port
        - protocol
    CreateAIGatewayRequest:
      type: object
      properties:
        display_name:
          description: The display name for this AI Gateway.
          type: string
          example: My AI Gateway
          maxLength: 256
          minLength: 1
        name:
          description: The name for this AI Gateway. This value is immutable after creation.
          example: my-ai-gateway
          allOf:
            - $ref: '#/components/schemas/AIGatewayEntityIdentifier'
        description:
          description: The description of the AI Gateway.
          type: string
          example: An AI Gateway for my organization.
          maxLength: 1024
        proxy_urls:
          description: Array of proxy URLs associated with reaching the data-planes connected to a control-plane.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayProxyURL'
          format: set
        labels:
          $ref: '#/components/schemas/PublicLabels'
      additionalProperties: true
      required:
        - display_name
        - name
    UpdateAIGatewayRequest:
      type: object
      properties:
        display_name:
          description: The display name for this AI Gateway.
          type: string
          example: My AI Gateway
          maxLength: 256
          minLength: 1
        name:
          description: The name for this AI Gateway. This value is immutable after creation.
          example: my-ai-gateway
          allOf:
            - $ref: '#/components/schemas/AIGatewayEntityIdentifier'
        description:
          description: The description of the AI Gateway.
          type: string
          example: An AI Gateway for my organization.
          maxLength: 1024
        proxy_urls:
          description: Array of proxy URLs associated with reaching the data-planes connected to a control-plane.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayProxyURL'
          format: set
        labels:
          $ref: '#/components/schemas/PublicLabels'
      additionalProperties: true
      required:
        - display_name
        - name
    AIGateway:
      type: object
      properties:
        display_name:
          description: The display name for this AI Gateway.
          type: string
          example: My AI Gateway
          maxLength: 256
          minLength: 1
        name:
          description: The name for this AI Gateway. This value is immutable after creation.
          example: my-ai-gateway
          allOf:
            - $ref: '#/components/schemas/AIGatewayEntityIdentifier'
        description:
          description: The description of the AI Gateway.
          type: string
          example: An AI Gateway for my organization.
          maxLength: 1024
        proxy_urls:
          description: Array of proxy URLs associated with reaching the data-planes connected to a control-plane.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayProxyURL'
          format: set
        labels:
          $ref: '#/components/schemas/PublicLabels'
        id:
          $ref: '#/components/schemas/UUID'
        endpoints:
          description: Object containing AI Gateway access endpoints.
          type: object
          additionalProperties: false
          properties:
            configuration:
              description: Configuration Endpoint.
              type: string
              format: url
              example: 'https://acfe5f253f.cp.konghq.com'
              readOnly: true
            telemetry:
              description: Telemetry Endpoint.
              type: string
              format: url
              example: 'https://acfe5f253f.tp0.konghq.com'
              readOnly: true
          required:
            - configuration
            - telemetry
        config_hash:
          description: |
            The hash of the latest configuration for the gateway. Every change to an entity
            under this gateway will result in a new config_hash being generated.
            The config hash can be used to verify if the config hash of an AI Gateway
            node is up to date with the AI Gateway. The config hash will be the same if they are in sync.
          type: string
          readOnly: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: true
      required:
        - display_name
        - name
        - id
        - endpoints
        - created_at
        - updated_at
    CreateAIGatewayDataPlaneCertificateRequest:
      type: object
      properties:
        cert:
          description: JSON escaped string of the certificate.
          type: string
        title:
          description: A human-readable name for the certificate.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: An optional description of the certificate.
          type: string
          maxLength: 1024
      additionalProperties: false
      required:
        - cert
        - title
    AIGatewayDataPlaneClientCertificate:
      type: object
      properties:
        cert:
          description: JSON escaped string of the certificate.
          type: string
        title:
          description: A human-readable name for the certificate.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: An optional description of the certificate.
          type: string
          maxLength: 1024
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        metadata:
          description: Metadata extracted from the certificate.
          type: object
          additionalProperties: false
          properties:
            subject:
              description: The certificate subject.
              type: string
            issuer:
              description: The certificate issuer.
              type: string
            san_names:
              description: Subject alternative names (deprecated).
              type: array
              items:
                type: string
              deprecated: true
            expiry:
              description: Unix timestamp of certificate expiry.
              type: integer
              format: int64
            key_usages:
              description: Key usage types for the certificate.
              type: array
              items:
                type: string
            snis:
              description: Server Name Indications associated with the certificate.
              type: array
              items:
                type: string
            dns_names:
              description: DNS subject alternative names.
              type: array
              items:
                type: string
            email_addresses:
              description: Email subject alternative names.
              type: array
              items:
                type: string
            ip_addresses:
              description: IP subject alternative names.
              type: array
              items:
                type: string
            uris:
              description: URI subject alternative names.
              type: array
              items:
                type: string
            is_ca:
              description: Whether the certificate is a CA certificate.
              type: boolean
          readOnly: true
      additionalProperties: false
      required:
        - cert
        - title
        - id
        - created_at
        - updated_at
    AIGatewayDataPlaneNode:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        version:
          type: string
        hostname:
          type: string
        last_ping:
          type: integer
        type:
          type: string
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        config_version:
          description: The version of the configuration applied by the node.
          type: string
          readOnly: true
        errors:
          description: Validation or configuration errors reported by the data plane node.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayDataPlaneNodeError'
        compatibility_status:
          type: object
          additionalProperties: false
          properties:
            state:
              type: string
            issues:
              type: array
              items:
                $ref: '#/components/schemas/AIGatewayDataPlaneNodeCompatibilityIssue'
      additionalProperties: false
      required:
        - id
        - version
        - hostname
        - last_ping
        - type
        - created_at
        - updated_at
        - compatibility_status
    AIGatewayDataPlaneNodeError:
      type: object
      properties:
        name:
          type: string
        error_message:
          type: string
        config_hash:
          type: string
        flattened_errors:
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayDataPlaneNodeFlattenedError'
        fields:
          type: object
          additionalProperties:
            type: string
        code:
          type: integer
        source:
          type: string
        traceback:
          type: string
      additionalProperties: false
      required:
        - name
        - error_message
        - code
        - source
        - traceback
      title: A Node Error
    AIGatewayDataPlaneNodeFlattenedError:
      type: object
      properties:
        entity_id:
          type: string
        entity_name:
          type: string
        entity_type:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayDataPlaneNodeErrorDetail'
      additionalProperties: false
    AIGatewayDataPlaneNodeErrorDetail:
      type: object
      properties:
        error_message:
          type: string
        type:
          type: string
        field:
          type: string
      additionalProperties: false
    AIGatewayExpectedConfigVersion:
      type: object
      properties:
        expected_config_version:
          description: The expected configuration version.
          type: string
        created_at:
          $ref: '#/components/schemas/CreatedAt'
      required:
        - expected_config_version
    AIGatewayDataPlaneNodeCompatibilityIssue:
      type: object
      properties:
        code:
          description: The compatibility issue code.
          type: string
        severity:
          description: The severity of the issue.
          type: string
        description:
          description: The description of the issue.
          type: string
        resolution:
          description: Steps required to take in order to resolve the issue.
          type: string
        affected_resources:
          description: Details of the resources affected by the issue.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayDataPlaneNodeCompatibilityIssueAffectedResource'
        documentation_url:
          description: Doc URL for the compatibility issue.
          type: string
      additionalProperties: false
      required:
        - code
        - severity
        - description
        - resolution
        - affected_resources
        - documentation_url
    AIGatewayDataPlaneNodeCompatibilityIssueAffectedResource:
      type: object
      properties:
        id:
          description: ID of the affected resource.
          type: string
        type:
          description: Type of the affected resource.
          type: string
        parent_code:
          description: Parent Issue Code.
          type: string
        details:
          description: Details of the affected resource.
          type: array
          items:
            type: string
      additionalProperties: false
      required:
        - id
        - type
        - parent_code
        - details
    AIGatewayModelModel:
      description: Configuration for proxying synchronous requests/responses to/from an AI Gateway model using generative APIs.
      type: object
      properties:
        display_name:
          description: The display name for this model instance.
          type: string
          example: My GPT 5 model
          maxLength: 256
          minLength: 1
        name:
          description: 'A user-defined unique identifier for this model, used as a stable human-readable reference. This value is immutable after creation.'
          example: my-gpt-5-model
          allOf:
            - $ref: '#/components/schemas/AIGatewayEntityIdentifier'
        enabled:
          description: Whether the model is enabled.
          type: boolean
          example: true
          default: true
        access:
          $ref: '#/components/schemas/AIGatewayModelAccess'
        formats:
          description: List of request/response formats supported by this model.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayModelFormat'
          maxItems: 1
          minItems: 1
        targets:
          description: One or more backend models that this model entry routes to.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayTarget'
          minItems: 1
        policies:
          $ref: '#/components/schemas/AIGatewayPolicyReferences'
        labels:
          $ref: '#/components/schemas/PublicLabels'
        managed_by:
          $ref: '#/components/schemas/ManagedBy'
        type:
          type: string
          enum:
            - model
        config:
          $ref: '#/components/schemas/AIGatewayModelModelConfig'
        capabilities:
          description: List of AI capabilities enabled for this model.
          type: array
          items:
            type: string
            enum:
              - generate
              - agentic
              - realtime
              - embeddings
              - image
              - audio/speech
              - audio/transcription
              - audio/translation
              - video
              - rerank
          minItems: 1
      required:
        - display_name
        - name
        - formats
        - targets
        - type
        - config
        - capabilities
    AIGatewayModelAPI:
      description: Configuration for proxying asynchronous requests/responses to/from an AI Gateway model using the files and batches APIs.
      type: object
      properties:
        display_name:
          description: The display name for this model instance.
          type: string
          example: My GPT 5 model
          maxLength: 256
          minLength: 1
        name:
          description: 'A user-defined unique identifier for this model, used as a stable human-readable reference. This value is immutable after creation.'
          example: my-gpt-5-model
          allOf:
            - $ref: '#/components/schemas/AIGatewayEntityIdentifier'
        enabled:
          description: Whether the model is enabled.
          type: boolean
          example: true
          default: true
        access:
          $ref: '#/components/schemas/AIGatewayModelAccess'
        formats:
          description: List of request/response formats supported by this model.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayModelFormat'
          maxItems: 1
          minItems: 1
        targets:
          description: One or more backend models that this model entry routes to.
          type: array
          items:
            $ref: '#/components/schemas/AIGatewayTarget'
          minItems: 1
        policies:
          $ref: '#/components/schemas/AIGatewayPolicyReferences'
        labels:
          $ref: '#/components/schemas/PublicLabels'
        managed_by:
          $ref: '#/components/schemas/ManagedBy'
        type:
          type: string
          enum:
            - api
        config:
          $ref: '#/components/schemas/AIGatewayModelAPIConfig'
        capabilities:
          description: List of AI capabilities enabled for this API model.
          type: array
          items:
            type: string
            enum:
              - batches
              - files
      required:
        - display_name
        - name
        - formats
        - targets
        - type
        - config
        - capabilities
    CreateAIGatewayModelRequest:
      description: Configuration for an AI Gateway model.
      discriminator:
        propertyName: type
        mapping:
          api: '#/components/schemas/AIGatewayModelAPI'
          model: '#/components/schemas/AIGatewayModelModel'
      oneOf:
        - $ref: '#/components/schemas/AIGatewayModelAPI'
        - $ref: '#/components/schemas/AIGatewayModelModel'
    UpdateAIGatewayModelRequest:
      description: Configuration for an AI Gateway model.
      discriminator:
        propertyName: type
        mapping:
          api: '#/components/schemas/AIGatewayModelAPI'
          model: '#/components/schemas/AIGatewayModelModel'
      oneOf:
        - $ref: '#/components/schemas/AIGatewayModelAPI'
        - $ref: '#/components/schemas/AIGatewayModelModel'
    AIGatewayModel:
      description: Configuration for an AI Gateway model.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      discriminator:
        propertyName: type
        mapping:
          api: '#/components/schemas/AIGatewayModelAPI'
          model: '#/components/schemas/AIGatewayModelModel'
      oneOf:
        - $ref: '#/components/schemas/AIGatewayModelAPI'
        - $ref: '#/components/schemas/AIGatewayModelModel'
      required:
        - id
        - created_at
        - updated_at
    AIGatewayModelModelConfig:
      description: 'Routing, logging, and load balancing configuration for the model.'
      type: object
      properties:
        route:
          $ref: '#/components/schemas/AIGatewayRouteConfig'
        logging:
          description: Configuration for AI Gateway logging.
          type: object
          additionalProperties: false
          properties:
            payloads:
              type: boolean
              default: false
            statistics:
              type: boolean
              default: true
        response_streaming:
          type: string
          default: allow
          enum:
            - allow
            - always
            - deny
        max_request_body_size:
          description: Maximum size of request body to parse. Set to 0 for unlimited.
          type: integer
          default: 8388608
        model:
          type: object
          default:
            name_header: true
          additionalProperties: false
          properties:
            alias:
              description: |
                An alias for the model, used to select the target virtual model when passed in the "model" parameter of the request body.
                When not set, this defaults to the AI Gateway model's name.
              type: string
            name_header:
              description: Display the model name selected in the X-Kong-LLM-Model response header
              type: boolean
              default: true
        balancer:
          $ref: '#/components/schemas/AIGatewayModelBalancerConfig'
        proxy:
          $ref: '#/components/schemas/AIGatewayProxyConfig'
      additionalProperties: false
      required:
        - route
    AIGatewayModelAPIConfig:
      description: 'Routing, logging, and load balancing configuration for the model.'
      type: object
      properties:
        route:
          $ref: '#/components/schemas/AIGatewayRouteConfig'
        logging:
          description: Configuration for AI Gateway logging.
          type: object
          additionalProperties: false
          properties:
            payloads:
              type: boolean
              default: false
            statistics:
              type: boolean
              default: true
        response_streaming:
          type: string
          default: allow
          enum:
            - allow
            - always
            - deny
        max_request_body_size:
          description: Maximum size of request body to parse. Set to 0 for unlimited.
          type: integer
          default: 8388608
        balancer:
          $ref: '#/components/schemas/AIGatewayModelBalancerConfig'
        proxy:
          $ref: '#/components/schemas/AIGatewayProxyConfig'
        model:
          type: object
          additionalProperties: false
          properties:
            alias:
              description: |
                An alias for the model, used to select the target virtual model when passed in the "model" parameter of the request body.
                When not set, this defaults to the AI Gateway model's name.
              type: string
      additionalProperties: false
      required:
        - route
    AIGatewayModelBalancerConfig:
      description: Configuration for a model's load balancer when multiple target models are configured.
      discriminator:
        propertyName: algorithm
        mapping:
          consistent-hashing: '#/components/schemas/AIGatewayModelBalancerConsistentHashingConfig'
          least-connections: '#/components/schemas/AIGatewayModelBalancerLeastConnectionsConfig'
          lowest-latency: '#/components/schemas/AIGatewayModelBalancerLowestLatencyConfig'
          lowest-usage: '#/components/schemas/AIGatewayModelBalancerLowestUsageConfig'
          priority: '#/components/schemas/AIGatewayModelBalancerPriorityConfig'
          round-robin: '#/components/schemas/AIGatewayModelBalancerRoundRobinConfig'
          semantic: '#/components/schemas/AIGatewayModelBalancerSemanticConfig'
      oneOf:
        - $ref: '#/components/schemas/AIGatewayModelBalancerConsistentHashingConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerLeastConnectionsConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerLowestLatencyConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerLowestUsageConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerPriorityConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerRoundRobinConfig'
        - $ref: '#/components/schemas/AIGatewayModelBalancerSemanticConfig'
    AIGatewayModelBalancerConsistentHashingConfig:
      type: object
      properties:
        connect_timeout:
          type: integer
          default: 60000
          maximum: 2147483646
          minimum: 1
        fail_timeout:
          description: The period of time (in milliseconds) the target will be considered unavailable after the number of unsuccessful attempts reaches `max_fails`.
          type: integer
          default: 10000
          maximum: 2147483646
          minimum: 1
        failover_criteria:
          description: 'Specifies in which cases an upstream response should be failover to the next target. Each option in the array is equivalent to the function of https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_next_upstream'
          type: array
          items:
            type: string
            enum:
              - error
              - http_403
              - http_404
              - http_429
              - http_500
              - http_502
              - http_503
              - http_504
              - invalid_header
              - non_idempotent
[...]
