<div class="flex flex-col gap-2 w-full">
  <div class="flex items-center gap-1 text-primary font-medium">
    <span>Scopes</span>
  </div>
  <div class="flex flex-col gap-1.5 flex-wrap">
    {% for scope in include.scopes %}
        <div class="flex gap-2 items-center">
            {% if scope == 'global' %}
                <span>Global</span>
            {% else %}
                {% assign entity_page = site.ai_gateway_entities | where: "slug", scope | first %}
                <a href="{{ entity_page.url }}">{{ entity_page.title }}</a>
            {% endif %}
        </div>
    {% endfor %}
  </div>
</div>