<div class="flex flex-col gap-2  w-full">
  <div class="flex items-center gap-1 text-primary font-medium">
    <span>Supported Gateway Topologies</span>
    <a href="/gateway/deployment-topologies/" aria-label="Learn more about Gateway deployment topologies" class="flex items-center">
      <span class="block w-4 h-4 bg-current" style="mask: url('/assets/icons/help.svg') no-repeat center / contain" aria-hidden="true"></span>
    </a>
  </div>
  <div class="flex gap-1.5 flex-wrap">
    {% for topology in include.topologies.on_prem %}
    <span {% unless forloop.last %}class="after:content-[',']"{% endunless %}>{{ topology }}</span>
    {% endfor %}
  </div>
</div>

{% if include.topologies.konnect_deployments %}
<div class="flex flex-col gap-2  w-full">
  <div class="flex items-center gap-1 text-primary font-medium">
    <span>Supported Konnect Deployments</span>
    <a href="/gateway/topology-hosting-options/" aria-label="Learn more about Konnect Data Plane hosting options" class="flex items-center">
      <span class="block w-4 h-4 bg-current" style="mask: url('/assets/icons/help.svg') no-repeat center / contain" aria-hidden="true"></span>
    </a>
  </div>
  <div class="flex gap-1.5 flex-wrap">
    {% for deployment in include.topologies.konnect_deployments %}
    <span {% unless forloop.last %}class="after:content-[',']"{% endunless %}>{{ deployment }}</span>
    {% endfor %}
  </div>
</div>
{% endif %}