<div class="flex flex-col gap-2  w-full">
  <div class="text-primary font-medium">Supported Gateway Topologies</div>
  <div class="flex gap-1.5 flex-wrap">
    {% for topology in include.topologies.on_prem %}
    <span {% unless forloop.last %}class="after:content-[',']"{% endunless %}>{{ topology }}</span>
    {% endfor %}
  </div>
</div>

{% if include.topologies.konnect_deployments %}
<div class="flex flex-col gap-2  w-full">
  <div class="text-primary font-medium">Supported Konnect Deployments</div>
  <div class="flex gap-1.5 flex-wrap">
    {% for deployment in include.topologies.konnect_deployments %}
    <span {% unless forloop.last %}class="after:content-[',']"{% endunless %}>{{ deployment }}</span>
    {% endfor %}
  </div>
</div>
{% endif %}