openapi: 3.0.3
info:
  title: Konnect API Builder
  version: 3.1.0
  description: The management API for building APIs for Konnect Dev Portals.
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
  x-oas-source: kong/platform-api@d338ece9c89e865190819ddc20d925392fc59705
  x-oas-source-link: 'https://github.com/Kong/platform-api/commit/d338ece9c89e865190819ddc20d925392fc59705'
servers:
  - url: 'https://us.api.konghq.com/v3'
    description: United-States Production region
  - url: 'https://eu.api.konghq.com/v3'
    description: Europe Production region
  - url: 'https://au.api.konghq.com/v3'
    description: Australia Production region
  - url: 'https://me.api.konghq.com/v3'
    description: Middle-East Production region
  - url: 'https://in.api.konghq.com/v3'
    description: India Production region
  - url: 'https://sg.api.konghq.com/v3'
    description: Singapore Production region
paths:
  /apis:
    post:
      operationId: create-api
      summary: Create API
      description: Creates an API.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiNameBadRequestExample:
                  $ref: '#/components/examples/ApiNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API
    get:
      operationId: list-apis
      summary: List APIs
      description: Returns a collection of all APIs.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ApiFilters'
        - $ref: '#/components/parameters/ApiSort'
      responses:
        '200':
          $ref: '#/components/responses/ListApiResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                InvalidApiSortQueryBadRequestExample:
                  $ref: '#/components/examples/InvalidApiSortQueryNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API
  /apis/validate-specification:
    post:
      operationId: validate-specification
      summary: Validate API Specification
      description: Validates the content and type (OpenAPI or AsyncAPI) of a potential API specification without associating it with a specific API.
      requestBody:
        $ref: '#/components/requestBodies/ValidateApiSpecRequest'
      responses:
        '201':
          $ref: '#/components/responses/ValidateApiSpecSuccessResponse'
        '400':
          description: Bad Request - Either the request format is invalid or the specification content failed validation.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiSpecContentBadRequestExample:
                  $ref: '#/components/examples/ApiSpecContentBadRequestExample'
                ApiSpecValidationFailedBadRequestExample:
                  $ref: '#/components/examples/ValidateApiSpecBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Specification
  '/apis/{apiId}':
    parameters:
      - name: apiId
        in: path
        description: The UUID API identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
    get:
      operationId: fetch-api
      summary: Get an API
      description: Get an API.
      responses:
        '200':
          $ref: '#/components/responses/ApiResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API
    patch:
      operationId: update-api
      summary: Update API
      description: Updates an API.
      parameters:
        - name: force
          in: query
          description: |
            If true, allows operations to be removed from the current version when using access control enforcement.
            If false, operations removal will be rejected with a 409 error.
            Omitting the value means true.
          schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - 'false'
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiNameBadRequestExample:
                  $ref: '#/components/examples/ApiNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiVersionPatchConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API
    delete:
      operationId: delete-api
      summary: Delete API
      description: Deletes an API.
      responses:
        '204':
          description: API was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API
  '/apis/{apiId}/documents':
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      operationId: create-api-document
      summary: Create API Document
      description: |
        Publish a new document attached to an API.

        All configuration options may be provided in the frontmatter section of `content`. If you set values in both the `POST` request _and_ in the frontmatter, the values in the `POST` request will take precedence.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiDocumentRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiNameBadRequestExample:
                  $ref: '#/components/examples/ApiDocumentBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Documentation
    get:
      operationId: list-api-documents
      summary: List API Documents
      description: Returns a collection of all documents for an API.
      parameters:
        - $ref: '#/components/parameters/ApiDocumentFilters'
      responses:
        '200':
          $ref: '#/components/responses/ListApiDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                InvalidApiSortQueryBadRequestExample:
                  $ref: '#/components/examples/InvalidApiSortQueryBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Documentation
  '/apis/{apiId}/documents/{documentId}':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/DocumentId'
    get:
      operationId: fetch-api-document
      summary: Get an API Document
      description: Returns a document for the API.
      responses:
        '200':
          $ref: '#/components/responses/ApiDocumentResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Documentation
    patch:
      operationId: update-api-document
      summary: Update API Document
      description: Updates a document for an API.
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiDocumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiNameBadRequestExample:
                  $ref: '#/components/examples/ApiDocumentBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Documentation
    delete:
      operationId: delete-api-document
      summary: Delete API Documentation
      description: Removes a document from an API.
      responses:
        '204':
          description: Document for the API was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Documentation
  '/apis/{apiId}/documents/{documentId}/move':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/DocumentId'
    post:
      operationId: move-api-document
      summary: Move API Documentation
      description: 'This api allows the user to move a document within the document tree using the parameters parent_document_id and index. If parent_document_id is not provided, the document will be placed at the top level of the document tree. index represents a zero-indexed document order relative to its siblings under the same parent. For example, if we want to put the document at top level in first position we would send parent_document_id: null and index: 0. This api also supports using a negative index to count backwards from the end of the document list, which means you can put the document in last position by using index: -1.'
      requestBody:
        $ref: '#/components/requestBodies/MoveDocumentRequest'
      responses:
        '204':
          description: Document for the API was moved successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - API Documentation
  '/apis/{apiId}/specifications':
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      operationId: create-api-spec
      summary: Create API Specification
      description: |
        Creates a specification (OpenAPI or AsyncAPI) for an API.
        **Note:** You can only have one specification for an API. This endpoint is deprecated and will be removed: use /versions instead.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiSpecRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiSpecContentBadRequestExample:
                  $ref: '#/components/examples/ApiSpecContentBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSpecConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      deprecated: true
      tags:
        - API Specification
    get:
      operationId: list-api-specs
      summary: List API Specifications
      description: |
        Returns a list of specifications for an API. The specification can be of type OpenAPI or AsyncAPI.
        **Note:** You can only have one specification for an API. This endpoint is deprecated and will be removed: use /versions instead.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ApiSpecFilters'
      responses:
        '200':
          $ref: '#/components/responses/ListApiSpecResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      deprecated: true
      tags:
        - API Specification
  '/apis/{apiId}/specifications/{specId}':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/SpecId'
    get:
      operationId: fetch-api-spec
      summary: Get API Specification
      description: |
        Fetches the specification (OpenAPI or AsyncAPI) of an API.
        **Note:** This endpoint is deprecated and will be removed: use /versions instead.
      responses:
        '200':
          $ref: '#/components/responses/ApiSpecResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      deprecated: true
      tags:
        - API Specification
    patch:
      operationId: update-api-spec
      summary: Update API Specification
      description: |
        Updates the specification (OpenAPI or AsyncAPI) of an API.
        **Note:** This endpoint is deprecated and will be removed: use /versions instead.
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiSpecRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiSpecContentBadRequestExample:
                  $ref: '#/components/examples/ApiSpecContentBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSpecHiddenConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      deprecated: true
      tags:
        - API Specification
    delete:
      operationId: delete-api-spec
      summary: Delete API Specification
      description: |
        Deletes the specification (OpenAPI or AsyncAPI) of an API.
        **Note:** This endpoint is deprecated and will be removed: use /versions instead.
      responses:
        '204':
          description: API Specification was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      deprecated: true
      tags:
        - API Specification
  '/apis/{apiId}/versions':
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      operationId: create-api-version
      summary: Create API Version
      description: |
        Creates a version (OpenAPI or AsyncAPI) for an API.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiVersionRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiVersionBadRequestExample:
                  $ref: '#/components/examples/ApiVersionBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSpecConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Version
    get:
      operationId: list-api-versions
      summary: List API Versions
      description: |
        Returns a list of versions for an API. The version can be of type OpenAPI or AsyncAPI.
        **Note:** You can only have one version for an API.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ApiVersionFilters'
        - $ref: '#/components/parameters/ApiVersionSort'
      responses:
        '200':
          $ref: '#/components/responses/ListApiVersionResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Version
  '/apis/{apiId}/versions/{versionId}':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/VersionId'
    get:
      operationId: fetch-api-version
      summary: Get an API Version
      description: Fetches the version (OpenAPI or AsyncAPI) of an API.
      responses:
        '200':
          $ref: '#/components/responses/ApiVersionResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Version
    patch:
      operationId: update-api-version
      summary: Update API Version
      description: Updates the version (OpenAPI or AsyncAPI) of an API.
      parameters:
        - name: force
          in: query
          description: |
            If true, allows operations to be removed from the current version when using access control enforcement.
            If false, operations removal will be rejected with a 409 error.
            Omitting the value (i.e., setting `?force`) means true.
          schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - 'false'
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiVersionRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiVersionBadRequestExample:
                  $ref: '#/components/examples/ApiVersionBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiVersionPatchConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Version
    delete:
      operationId: delete-api-version
      summary: Delete API Version
      description: Deletes the version (OpenAPI or AsyncAPI) of an API.
      responses:
        '204':
          description: API Version was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Version
  '/apis/{apiId}/publications/{portalId}':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/PortalId'
    put:
      operationId: publish-api-to-portal
      summary: Publish API
      description: |
        Publish an API to a portal.
      requestBody:
        $ref: '#/components/requestBodies/PutApiPublicationRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiPublicationResponse'
        '400':
          $ref: '#/components/responses/ApiPublicationBadRequest'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
    get:
      operationId: fetch-publication
      summary: Get a Publication
      description: |
        Retrieve an API's publication in a portal.
        If the API is not published to the portal, a 404 response is returned.
      responses:
        '200':
          $ref: '#/components/responses/ApiPublicationResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
    delete:
      operationId: delete-publication
      summary: Delete Publication
      description: Unpublish an API from a portal.
      responses:
        '204':
          description: API was successfully unpublished from portal.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
  /api-publications:
    get:
      operationId: list-api-publications
      summary: List Publications
      description: Returns a collection of all API Publications.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ApiPublicationFilters'
        - $ref: '#/components/parameters/ApiPublicationSort'
      responses:
        '200':
          $ref: '#/components/responses/ListApiPublicationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
  '/portals/{portalId}/api-publications':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: list-portal-api-publications
      summary: List Portal API Publications
      description: |
        Returns a collection of all API Publications for a specific portal.

        **Access Control**: Requires permission to view the specified portal. Once portal access is granted, all API publications for that portal are returned regardless of the caller's individual API permissions.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PortalApiPublicationFilters'
        - $ref: '#/components/parameters/PortalApiPublicationSort'
      responses:
        '200':
          $ref: '#/components/responses/ListPublicationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
  '/api-packages/{apiPackageId}/publications/{portalId}':
    parameters:
      - $ref: '#/components/parameters/ApiPackageId'
      - $ref: '#/components/parameters/PortalId'
    put:
      operationId: publish-api-package-to-portal
      summary: Publish API Package
      description: |
        Publish an API Package to a portal.
      requestBody:
        $ref: '#/components/requestBodies/PutApiPackagePublicationRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiPackagePublicationResponse'
        '400':
          $ref: '#/components/responses/ApiPublicationBadRequest'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
    get:
      operationId: fetch-api-package-publication
      summary: Get an API Package Publication
      description: |
        Retrieve an API Package's publication in a portal.
        If the API Package is not published to the portal, a 404 response is returned.
      responses:
        '200':
          $ref: '#/components/responses/ApiPackagePublicationResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
    delete:
      operationId: delete-api-package-publication
      summary: Delete API Package Publication
      description: Unpublish an API Package from a portal.
      responses:
        '204':
          description: API Package was successfully unpublished from portal.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Publication
  '/apis/{apiId}/implementations':
    parameters:
      - $ref: '#/components/parameters/ApiId'
    post:
      operationId: create-api-implementation
      summary: Create API Implementation
      description: |
        Creates an implementation for an API.
        If all operations in an API are implemented by a single gateway service and the service
        has no routes that are not part of the API, then the API can be linked to the service.
        For cases where an API is implemented by multiple gateway services, only a subset of
        routes in one or more gateway services, or API operations need to be made available for API packages,
        then the API should be linked to the control plane that defines the routes that overlap with the API.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiImplementationRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiImplementationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiImplementationBadRequestExample:
                  $ref: '#/components/examples/ApiImplementationBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiImplementationConflict'
      tags:
        - API Implementation
  '/apis/{apiId}/implementations/{implementationId}':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/ImplementationId'
    get:
      operationId: fetch-api-implementation
      summary: Get an API Implementation
      description: Retrieve a gateway implementation for this API
      responses:
        '200':
          $ref: '#/components/responses/ApiImplementationResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Implementation
    delete:
      operationId: delete-api-implementation
      summary: Delete API Implementation
      description: Unlink a gateway implementation from this API
      responses:
        '204':
          description: API implementation was unlinked successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Implementation
  '/apis/{apiId}/operations':
    parameters:
      - $ref: '#/components/parameters/ApiId'
    get:
      operationId: list-api-operations
      summary: List API Operations
      description: |
        Returns a list of operations for an API.
        Returns 404 if the API is not configured for access control enforcement.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ApiOperationFilters'
      responses:
        '200':
          $ref: '#/components/responses/ListApiOperationResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Operations
  '/apis/{apiId}/operations/{operationId}':
    parameters:
      - $ref: '#/components/parameters/ApiId'
      - $ref: '#/components/parameters/OperationId'
    get:
      operationId: fetch-api-operation
      summary: Get an API Operation
      description: |
        Returns a specific operation for an API.
        Returns 404 if the API is not configured for access control enforcement.
      responses:
        '200':
          $ref: '#/components/responses/ApiOperationResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Operations
  /api-implementations:
    get:
      operationId: list-api-implementations
      summary: List API Implementations
      description: List gateway implementations for this API
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ApiImplementationFilters'
        - $ref: '#/components/parameters/ApiImplementationSort'
      responses:
        '200':
          $ref: '#/components/responses/ListApiImplementationsResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Implementation
  /api-attributes:
    get:
      operationId: list-api-attributes
      summary: List API Attributes
      description: List attributes across all apis
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ApiAttributeFilters'
        - $ref: '#/components/parameters/ApiAttributeSort'
      responses:
        '200':
          $ref: '#/components/responses/ListApiAttributesResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Attributes
  /api-packages:
    get:
      operationId: list-api-packages
      summary: List API Packages
      description: List API packages
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ApiPackageFilters'
        - $ref: '#/components/parameters/ApiPackageSort'
      responses:
        '200':
          $ref: '#/components/responses/ListApiPackagesResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Packages
    post:
      operationId: create-api-package
      summary: Create API Package
      description: |
        Creates a package of APIs.
        An API package is a collection of APIs that can be used to group related APIs together.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiPackageRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiPackageResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Packages
  '/api-packages/{packageId}':
    parameters:
      - name: packageId
        in: path
        description: The UUID API Package identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
    get:
      operationId: get-api-package
      summary: Get API Package
      description: Get details of a specific API package.
      responses:
        '200':
          $ref: '#/components/responses/ApiPackageResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Packages
    patch:
      operationId: patch-api-package
      summary: Patch API Package
      description: |
        Updates an existing API package.
        You can modify the name, description and version of the API Package.
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiPackageRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiPackageResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
      tags:
        - API Packages
    delete:
      operationId: delete-api-package
      summary: Delete API Package
      description: Deletes an API package.
      responses:
        '204':
          description: API package was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Packages
  '/api-packages/{packageId}/documents':
    parameters:
      - name: packageId
        in: path
        description: The UUID API Package identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
    post:
      operationId: create-api-package-document
      summary: Create API Package Document
      description: |
        Publish a new document attached to an API Package.

        All configuration options may be provided in the frontmatter section of `content`. If you set values in both the `POST` request _and_ in the frontmatter, the values in the `POST` request will take precedence.
      requestBody:
        $ref: '#/components/requestBodies/CreateApiDocumentRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiPackageDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiNameBadRequestExample:
                  $ref: '#/components/examples/ApiDocumentBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Package Documentation
    get:
      operationId: list-api-package-documents
      summary: List API Package Documents
      description: Returns a collection of all documents for an API package.
      parameters:
        - $ref: '#/components/parameters/ApiDocumentFilters'
      responses:
        '200':
          $ref: '#/components/responses/ListApiPackageDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                InvalidApiSortQueryBadRequestExample:
                  $ref: '#/components/examples/InvalidApiSortQueryBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Package Documentation
  '/api-packages/{packageId}/documents/{documentId}':
    parameters:
      - name: packageId
        in: path
        description: The UUID API Package identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
      - $ref: '#/components/parameters/DocumentId'
    get:
      operationId: fetch-api-package-document
      summary: Get an API Package Document
      description: Returns a document for the API Package.
      responses:
        '200':
          $ref: '#/components/responses/ApiPackageDocumentResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Package Documentation
    patch:
      operationId: update-api-package-document
      summary: Update API Package Document
      description: Updates a document for an API Package.
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiDocumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiPackageDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiNameBadRequestExample:
                  $ref: '#/components/examples/ApiDocumentBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Package Documentation
    delete:
      operationId: delete-api-package-document
      summary: Delete API Package Documentation
      description: Removes a document from an API Package.
      responses:
        '204':
          description: Document for the API was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Package Documentation
  '/api-packages/{packageId}/documents/{documentId}/move':
    parameters:
      - name: packageId
        in: path
        description: The UUID API Package identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
      - $ref: '#/components/parameters/DocumentId'
    post:
      operationId: move-api-package-document
      summary: Move API Package Documentation
      description: 'This api allows the user to move a document within the document tree using the parameters parent_document_id and index. If parent_document_id is not provided, the document will be placed at the top level of the document tree. index represents a zero-indexed document order relative to its siblings under the same parent. For example, if we want to put the document at top level in first position we would send parent_document_id: null and index: 0. This api also supports using a negative index to count backwards from the end of the document list, which means you can put the document in last position by using index: -1.'
      requestBody:
        $ref: '#/components/requestBodies/MoveDocumentRequest'
      responses:
        '204':
          description: Document for the API Package was moved successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - API Package Documentation
  '/api-packages/{packageId}/operations':
    parameters:
      - name: packageId
        in: path
        description: The UUID API Package identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
    get:
      operationId: list-api-packages-operations
      summary: List API Packages Operations
      description: List API packages operations
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ApiPackageOperationsFilters'
        - $ref: '#/components/parameters/ApiPackageOperationsSort'
      responses:
        '200':
          $ref: '#/components/responses/ListApiPackagesOperationsResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Package Operations
    patch:
      operationId: update-api-package-operations
      summary: Update API Package Operation
      description: Update API Package Operations
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiPackageOperationRequest'
      responses:
        '204':
          description: API operations were successfully added or removed to the package.
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSlugConflict'
      tags:
        - API Package Operations
  '/api-packages/{packageId}/operations/{operationId}':
    parameters:
      - name: packageId
        in: path
        description: The UUID API Package identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
      - name: operationId
        in: path
        description: The UUID API Operation identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
    get:
      operationId: get-api-packages-operation
      summary: Get API Packages Operation
      description: Get API packages operation
      responses:
        '200':
          $ref: '#/components/responses/ApiPackageOperationResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Package Operations
    delete:
      operationId: remove-api-package-operation
      summary: Remove API Package Operation
      description: Remove an operation from an API package.
      responses:
        '204':
          description: API operation was removed successfully from the package.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Package Operations
  '/api-packages/{packageId}/current-specification':
    parameters:
      - name: packageId
        in: path
        description: The UUID API Package identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
    put:
      operationId: update-api-package-current-specification
      summary: Update API package current specification
      description: |
        Updates the current specification of an API package.
      requestBody:
        $ref: '#/components/requestBodies/UpdateApiSpecRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ApiNameBadRequestExample:
                  $ref: '#/components/examples/ApiDocumentBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiSlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Package Specification
    get:
      operationId: get-api-package-current-specification
      summary: Get the API package current specification
      description: Fetches the current specification of an API Package.
      responses:
        '200':
          $ref: '#/components/responses/ApiSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                InvalidApiSortQueryBadRequestExample:
                  $ref: '#/components/examples/InvalidApiSortQueryBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Package Specification
    delete:
      operationId: delete-api-package-current-specification
      summary: Delete API Package current Specification
      description: |
        Deletes the current specification of an API Package.
      responses:
        '204':
          description: API Package Specification was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Package Specification
  '/api-packages/{packageId}/computed-specification':
    parameters:
      - name: packageId
        in: path
        description: The UUID API Package identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
    get:
      operationId: get-api-package-computed-specification
      summary: Get the API package computed specification
      description: Fetches the computed specification of an API Package.
      responses:
        '200':
          $ref: '#/components/responses/ApiSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
        - API Package Specification
components:
  parameters:
    ApiAttributeFilters:
      name: filter
      description: Filters API attributes in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ApiAttributeFilterParameters'
      style: deepObject
    ApiAttributeSort:
      name: sort
      description: |
        Sorts a collection of API attributes. Supported sort attributes are:
          - id
          - key
          - created_at
          - updated_at
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ApiDocumentFilters:
      name: filter
      description: Filters API Documents in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ApiDocumentFilterParameters'
      style: deepObject
    ApiFilters:
      name: filter
      description: Filters APIs in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ApiFilterParameters'
      style: deepObject
    ApiId:
      schema:
        type: string
        format: uuid
        example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
      name: apiId
      in: path
      required: true
      description: The UUID API identifier
    ApiImplementationFilters:
      name: filter
      description: Filters APIs in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ApiImplementationFilterParameters'
      style: deepObject
    ApiImplementationSort:
      name: sort
      description: |
        Sorts a collection of API implementations. Supported sort attributes are:
          - id
          - api_id
          - control_plane_id
          - service_id
          - created_at
          - updated_at
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ApiOperationFilters:
      name: filter
      description: Filters API Operations in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ApiOperationFilterParameters'
      style: deepObject
    ApiPackageFilters:
      name: filter
      description: Filters API Packages in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ApiPackageFilterParameters'
      style: deepObject
    ApiPackageId:
      schema:
        type: string
        format: uuid
        example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
      name: apiPackageId
      in: path
      required: true
      description: The UUID API Package identifier
    ApiPackageOperationsFilters:
      name: filter
      description: Filters API Packages operations in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ApiPackageOperationsFilterParameters'
      style: deepObject
    ApiPackageOperationsSort:
      name: sort
      description: |
        Sorts a collection of API Packages Operations. Supported sort attributes are:
          - path
          - method
          - api_id
          - created_at
          - updated_at
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ApiPackageSort:
      name: sort
      description: |
        Sorts a collection of API Packages. Supported sort attributes are:
          - name
          - version
          - created_at
          - updated_at
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ApiPublicationFilters:
      name: filter
      description: Filters API Publications in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ApiPublicationFilterParameters'
      style: deepObject
    ApiPublicationSort:
      name: sort
      description: |
        Sorts a collection of API publications. Supported sort attributes are:
          - portal_id
          - portal_name
          - api_id
          - api_name
          - created_at
          - updated_at
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ApiSort:
      name: sort
      description: |
        Sorts a collection of APIs. Supported sort attributes are:
          - name
          - version
          - created_at
          - updated_at
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ApiSpecFilters:
      name: filter
      description: Filters API Specs in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ApiSpecFilterParameters'
      style: deepObject
    ApiVersionFilters:
      name: filter
      description: Filters API Version in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ApiVersionFilterParameters'
      style: deepObject
    ApiVersionSort:
      name: sort
      description: |
        Sorts a collection of API versions. Supported sort attributes are:
          - created_at
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    DocumentId:
      schema:
        type: string
        format: uuid
        example: de5c9818-be5c-42e6-b514-e3d4bc30ddeb
      name: documentId
      description: The document identifier related to the API
      in: path
      required: true
    ImplementationId:
      schema:
        type: string
        format: uuid
        example: 032d905a-ed33-46a3-a093-d8f536af9a8a
      name: implementationId
      in: path
      required: true
      description: The Portal identifier
    OperationId:
      schema:
        type: string
        format: uuid
        example: b42d905a-ed33-46a3-a093-d8f536af9a8a
      name: operationId
      in: path
      required: true
      description: The API operation identifier
    PageNumber:
      name: 'page[number]'
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
    PageSize:
      name: 'page[size]'
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
    PortalApiPublicationFilters:
      name: filter
      description: Filters API Publications in a portal response (excludes portal-specific filters).
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/PortalApiPublicationFilterParameters'
      style: deepObject
    PortalApiPublicationSort:
      name: sort
      description: |
        Sorts a collection of API publications within a portal. Supported sort attributes are:
          - api_id
          - api_name
          - created_at
          - updated_at
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    PortalId:
      schema:
        type: string
        format: uuid
        example: f32d905a-ed33-46a3-a093-d8f536af9a8a
      name: portalId
      in: path
      required: true
      description: The Portal identifier
    SpecId:
      schema:
        type: string
        format: uuid
        example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      name: specId
      description: The API specification identifier
      in: path
      required: true
    VersionId:
      schema:
        type: string
        format: uuid
        example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      name: versionId
      description: The API version identifier
      in: path
      required: true
  schemas:
    ApiResponseSchema:
      type: object
      properties:
        id:
          description: The API identifier.
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          readOnly: true
        name:
          description: |
            The name of your API. The `name + version` combination must be unique for each API you publish.
          type: string
          example: MyAPI
          maxLength: 255
          minLength: 1
        description:
          description: A description of your API. Will be visible on your live Portal.
          type: string
          nullable: true
        version:
          description: An optional version for your API. Leave this empty if your API is unversioned.
          type: string
          maxLength: 255
          minLength: 1
          nullable: true
        current_version_summary:
          $ref: '#/components/schemas/ApiVersionSummary'
        slug:
          description: |
            The `slug` is used in generated URLs to provide human readable paths.

            Defaults to `slugify(name + version)`
          type: string
          example: my-api-v1
          nullable: true
          pattern: '^[\w-]+$'
        api_spec_ids:
          description: The list of API specification ids for the API.
          type: array
          items:
            type: string
            format: uuid
            description: The id of the API specification.
            example: 123e4567-e89b-12d3-a456-426614174000
          deprecated: true
          readOnly: true
        portals:
          description: The list of portals which this API is published to.
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - id
              - name
              - display_name
            properties:
              id:
                description: The portal identifier.
                type: string
                format: uuid
                example: 25a2624c-49fc-4764-99e1-224ed819f200
              name:
                description: 'The name of the portal, used to distinguish it from other portals.'
                type: string
                example: My Portal
              display_name:
                description: The display name of the portal. This value will be the portal's `name` in Portal API.
                type: string
                example: My Portal
          nullable: false
          readOnly: true
          uniqueItems: true
        labels:
          $ref: '#/components/schemas/Labels'
        implementation_mode:
          description: the implementations that are associated with this api either gateway_entity_binding or access_control_enforcement
          type: string
          nullable: true
          readOnly: true
        attributes:
          $ref: '#/components/schemas/ApiAttributes'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - id
        - name
        - version
        - labels
        - created_at
        - updated_at
        - slug
        - portals
        - api_spec_ids
        - current_version_summary
      title: API
    AuthStrategyApiSyncError:
      type: object
      properties:
        control_plane_error:
          type: string
          enum:
            - control_plane_error_no_response
            - control_plane_error_invalid_response
            - control_plane_error_unavailable
            - control_plane_error_internal_error
            - control_plane_error_bad_request
            - control_plane_error_plugin_conflict
            - control_plane_error_data_constraint_error
            - control_plane_error_implementation_not_found
        message:
          type: string
        info:
          type: object
          additionalProperties: true
          properties:
            details:
              type: array
              items:
                type: object
                additionalProperties: true
                properties:
                  type:
                    type: string
                  message:
                    type: array
                    items:
                      type: string
      example:
        control_plane_error: control_plane_error_unavailable
        message: Unable to connect to the control plane to update plugin
      additionalProperties: false
      nullable: true
      required:
        - message
    ApiDocumentId:
      description: The API document identifier.
      type: string
      format: uuid
      example: de5c9818-be5c-42e6-b514-e3d4bc30ddeb
      readOnly: true
      title: API Document ID
    ApiDocumentContent:
      description: Raw markdown content to display in your Portal
      type: string
      title: API Document Content
    ApiDocumentTitle:
      description: The title of the document. Used to populate the `<title>` tag for the page
      type: string
      example: API Document
      title: API Document Title
    ApiDocumentStatus:
      description: If `status=published` the document will be visible in your live portal
      type: string
      default: unpublished
      enum:
        - published
        - unpublished
    ApiDocumentParentDocumentId:
      description: |
        API Documents may be rendered as a tree of files.

        Specify the `id` of another API Document as the `parent_document_id` to add some heirarchy do your documents.
      type: string
      format: uuid
      example: null
      nullable: true
      title: API Document Parent Document ID
    ApiDocumentSlug:
      description: |
        The `slug` is used in generated URLs to provide human readable paths.

        Defaults to `slugify(title)`
      type: string
      example: api-document
      pattern: '^[\w-]+$'
      title: API Document Slug
    ApiDocumentSummaryWithChildren:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ApiDocumentId'
        title:
          $ref: '#/components/schemas/ApiDocumentTitle'
        slug:
          $ref: '#/components/schemas/ApiDocumentSlug'
        status:
          $ref: '#/components/schemas/ApiDocumentStatus'
        parent_document_id:
          $ref: '#/components/schemas/ApiDocumentParentDocumentId'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        children:
          type: array
          items:
            $ref: '#/components/schemas/ApiDocumentSummaryWithChildren'
      additionalProperties: false
      required:
        - id
        - title
        - slug
        - status
        - parent_document_id
        - created_at
        - updated_at
        - children
      title: API Document Summary
    ApiDocument:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ApiDocumentId'
        content:
          $ref: '#/components/schemas/ApiDocumentContent'
        title:
          $ref: '#/components/schemas/ApiDocumentTitle'
        slug:
          $ref: '#/components/schemas/ApiDocumentSlug'
        status:
          $ref: '#/components/schemas/ApiDocumentStatus'
        parent_document_id:
          $ref: '#/components/schemas/ApiDocumentParentDocumentId'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      title: API Document
    MoveDocumentRequestPayload:
      description: move document request payload
      type: object
      properties:
        parent_document_id:
          description: parent document id
          type: string
          format: uuid
          example: dd4e1b98-3629-4dd3-acc0-759a726ffee2
        index:
          description: index of the document in the parent document's children
          type: integer
          example: 1
      title: Move document
    ApiVersion:
      type: object
      properties:
        id:
          description: The API version identifier.
          type: string
          format: uuid
          example: 7710d5c4-d902-410b-992f-18b814155b53
          readOnly: true
        version:
          description: The version of the api.
          type: string
          example: 1.0.0
        spec:
          type: object
          additionalProperties: false
          properties:
            content:
              description: |
                The raw content of your API spec, in json or yaml format (OpenAPI or AsyncAPI).
              example: '{"openapi":"3.0.3","info":{"title":"Example API","version":"1.0.0"},"paths":{"/example":{"get":{"summary":"Example endpoint","responses":{"200":{"description":"Successful response"}}}}}}'
              type: string
            type:
              description: |
                The type of specification being stored. This allows us to render the specification correctly.
              type: string
              example: oas3
              enum:
                - oas2
                - oas3
                - asyncapi
              readOnly: true
              title: API Spec Type
            validation_messages:
              description: The errors that occurred while parsing the API version spec.
              type: array
              items:
                type: object
                additionalProperties: false
                required:
                  - message
                properties:
                  message:
                    type: string
              readOnly: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      title: API Version
    ApiVersionSummary:
      type: object
      properties:
        id:
          description: The API version identifier.
          type: string
          format: uuid
          example: 7710d5c4-d902-410b-992f-18b814155b53
          readOnly: true
        version:
          description: The version of this api spec.
          type: string
        spec:
          type: object
          additionalProperties: false
          properties:
            type:
              $ref: '#/components/schemas/ApiSpecType'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      nullable: true
      readOnly: true
      title: API Version Summary
    ApiSpec:
      type: object
      properties:
        id:
          description: The API specification identifier.
          type: string
          format: uuid
          example: 7710d5c4-d902-410b-992f-18b814155b53
          readOnly: true
        content:
          description: |
            The raw content of your API specification, in json or yaml format (OpenAPI or AsyncAPI).
          example: '{"openapi":"3.0.3","info":{"title":"Example API","version":"1.0.0"},"paths":{"/example":{"get":{"summary":"Example endpoint","responses":{"200":{"description":"Successful response"}}}}}}'
          type: string
        validation_messages:
          description: The errors that occurred while parsing the API specification.
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - message
            properties:
              message:
                type: string
          readOnly: true
        type:
          description: |
            The type of specification being stored. This allows us to render the specification correctly.
          type: string
          example: oas3
          enum:
            - oas2
            - oas3
            - asyncapi
          title: API Spec Type
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      title: API Specification
    ValidateApiSpecRequestPayload:
      type: object
      properties:
        content:
          description: |
            The raw content of your API specification (OpenAPI or AsyncAPI), in json or yaml, to be validated.
          type: string
      additionalProperties: false
      required:
        - content
      title: API Specification Validation Request Payload
    ValidateApiSpecSuccessResponse:
      type: object
      properties:
        validation_messages:
          description: Any informational messages or warnings generated during validation. Empty if none.
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - message
            properties:
              message:
                type: string
      additionalProperties: false
      required:
        - validation_messages
      title: API Specification Validation Success Response
    ApiPublicationVisibility:
      description: |
        The visibility of the API in the portal.
        Public API publications do not require authentication to view and retrieve information about them.
        Private API publications require authentication to retrieve information about them.
      type: string
      default: private
      enum:
        - public
        - private
      title: API Publication Visibility
    ApiPublicationAuthStrategyIds:
      description: |
        The auth strategy the API enforces for applications in the portal.
        Omitting this property means the portal's default application auth strategy will be used.
        Setting to null means the API will not require application authentication.
        DCR support for application registration is currently in development.
      type: array
      items:
        type: string
        format: uuid
      maxItems: 1
      minItems: 1
      nullable: true
      title: API Publication Auth Strategy IDs
    ApiPublicationListItem:
      description: An API publication in a portal
      type: object
      properties:
        api_id:
          description: The API identifier.
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          readOnly: true
        portal_id:
          description: The portal identifier.
          type: string
          format: uuid
          example: 7710d5c4-d902-410b-992f-18b814155b53
          readOnly: true
        auto_approve_registrations:
          $ref: '#/components/schemas/AutoApproveRegistrations'
        entity_type:
          $ref: '#/components/schemas/EntityType'
        visibility:
          $ref: '#/components/schemas/ApiPublicationVisibility'
        auth_strategy_ids:
          $ref: '#/components/schemas/ApiPublicationAuthStrategyIds'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - api_id
        - portal_id
        - visibility
        - created_at
        - updated_at
        - auth_strategy_ids
        - auto_approve_registrations
        - entity_type
      title: API Publication List Item
    PublicationListItem:
      description: An API or API Package publication in a portal
      type: object
      properties:
        api_id:
          description: The API identifier.
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          readOnly: true
        portal_ids:
          description: The portal identifier.
          type: array
          items:
            type: string
            format: uuid
          example:
            - 7710d5c4-d902-410b-992f-18b814155b53
          readOnly: true
        auto_approve_registrations:
          $ref: '#/components/schemas/AutoApproveRegistrations'
        entity_type:
          $ref: '#/components/schemas/EntityType'
        visibility:
          $ref: '#/components/schemas/ApiPublicationVisibility'
        auth_strategy_ids:
          $ref: '#/components/schemas/ApiPublicationAuthStrategyIds'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - api_id
        - portal_ids
        - visibility
        - created_at
        - updated_at
        - auth_strategy_ids
        - auto_approve_registrations
        - entity_type
      title: Publication List Item
    AutoApproveRegistrations:
      description: 'Whether the application registration auto approval on this portal for the api is enabled. If set to false, fallbacks on portal''s auto_approve_applications value.'
      type: boolean
      title: Auto Approve Registrations
    ApiPublication:
      description: An API publication in a portal
      type: object
      properties:
        auto_approve_registrations:
          $ref: '#/components/schemas/AutoApproveRegistrations'
        auth_strategy_ids:
          $ref: '#/components/schemas/ApiPublicationAuthStrategyIds'
        visibility:
          $ref: '#/components/schemas/ApiPublicationVisibility'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      title: API Publication
    ApiPackagePublication:
      description: An API Package publication in a portal
      type: object
      properties:
        auto_approve_registrations:
          $ref: '#/components/schemas/AutoApproveRegistrations'
        auth_strategy_ids:
          $ref: '#/components/schemas/ApiPublicationAuthStrategyIds'
        visibility:
          $ref: '#/components/schemas/ApiPublicationVisibility'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      title: API Package Publication
    ApiImplementationService:
      description: A Gateway service that implements an API
      type: object
      properties:
        control_plane_id:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
        id:
          type: string
          format: uuid
          example: 7710d5c4-d902-410b-992f-18b814155b53
        auth_strategy_sync_error:
          allOf:
            - $ref: '#/components/schemas/AuthStrategyApiSyncError'
          readOnly: true
      additionalProperties: false
      required:
        - control_plane_id
        - id
      title: API Implementation Service
    ApiImplementationControlPlane:
      description: A Control plane that implements an API
      type: object
      properties:
        access_control_enforcement_enabled:
          description: Indicates if the access control enforcement plugin is installed globally in the target control plane
          type: boolean
          readOnly: true
        control_plane_id:
          type: string
          format: uuid
          example: 7710d5c4-d902-410b-992f-18b814155b53
      additionalProperties: false
      required:
        - control_plane_id
      title: API Implementation Control Plane
    ApiImplementationListItem:
      description: An entity that implements an API
      type: object
      oneOf:
        - $ref: '#/components/schemas/ApiImplementationListItemGatewayServiceEntity'
        - $ref: '#/components/schemas/ApiImplementationListItemControlPlaneEntity'
      title: API Implementation List Item
    ApiImplementationListItemGatewayServiceEntity:
      description: An API Implementation list item for gateway services
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        api_id:
          description: The API identifier.
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          readOnly: true
        service:
          $ref: '#/components/schemas/ApiImplementationService'
      additionalProperties: false
      required:
        - id
        - api_id
        - created_at
        - updated_at
      title: ApiImplementationListItemGatewayServiceEntity
    ApiImplementationListItemControlPlaneEntity:
      description: An API Implementation list item for control planes
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        api_id:
          description: The API identifier.
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          readOnly: true
        control_plane:
          $ref: '#/components/schemas/ApiImplementationControlPlane'
      additionalProperties: false
      required:
        - id
        - api_id
        - created_at
        - updated_at
        - control_plane
      title: ApiImplementationListItemControlPlaneEntity
    ApiImplementation:
      description: An entity that implements an API
      type: object
      oneOf:
        - $ref: '#/components/schemas/ApiImplementationGatewayServiceEntity'
        - $ref: '#/components/schemas/ApiImplementationControlPlaneEntity'
      title: API Implementation
    ApiImplementationGatewayServiceEntity:
      description: A gateway service that implements an API
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        service:
          $ref: '#/components/schemas/ApiImplementationService'
      additionalProperties: false
      title: ApiImplementationGatewayServiceEntity
    ApiImplementationControlPlaneEntity:
      description: A control plane that implements an API
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        control_plane:
          $ref: '#/components/schemas/ApiImplementationControlPlane'
      additionalProperties: false
      title: ApiImplementationControlPlaneEntity
    ApiAttributeListItem:
      description: Entities that describe APIs
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        key:
          description: 'A unique key that can contain lowercase letters, numbers, hyphens, and underscores'
          type: string
          format: '^[a-z0-9-_]{0,128}$'
          example: kind
          maxLength: 128
        values:
          type: array
          items:
            type: object
            required:
              - value
              - api_count
            properties:
              value:
                description: A keyword describing the API under the attribute key
                type: string
                example: REST
                maxLength: 512
                minLength: 1
                pattern: '^[^,<>]*$'
              api_count:
                type: integer
      additionalProperties: false
      readOnly: true
      required:
        - id
        - key
        - values
        - created_at
        - updated_at
      title: API Attribute List Item
    ApiAttributes:
      description: A set of attributes that describe the API
      type: object
      example:
        env:
          - production
        domains:
          - web
          - mobile
      default: {}
      additionalProperties:
        nullable: true
        description: 'Set of attributes with unique keys. Each key can include lowercase letters, numbers, hyphens, and underscores.'
        type: array
        minItems: 1
        maxItems: 20
        items:
          type: string
          minLength: 1
          maxLength: 512
          pattern: '^[^,<>]*$'
      nullable: false
      title: API Attributes
    ApiOperation:
      description: An operation linked to an API
      type: object
      properties:
        id:
          description: The API operation identifier.
          type: string
          format: uuid
          example: b42d905a-ed33-46a3-a093-d8f536af9a8a
          readOnly: true
        method:
          $ref: '#/components/schemas/Method'
        path:
          description: The path of the operation.
          type: string
          example: /users/*
        implementation_status:
          $ref: '#/components/schemas/ApiOperationImplementationStatus'
      additionalProperties: false
      required:
        - id
        - method
        - path
      title: API Operation
    ApiOperationImplementationStatus:
      description: The implementation status of the operation.
      type: object
      properties:
        matched:
          description: Whether the operation is matched by a Kong route in the control plane
          type: boolean
          readOnly: true
        route:
          type: object
          additionalProperties: false
          nullable: true
          properties:
            id:
              description: The route identifier
              type: string
              format: uuid
            name:
              description: The name of the route
              type: string
          readOnly: true
          required:
            - id
            - name
        service:
          type: object
          additionalProperties: false
          nullable: true
          properties:
            id:
              description: The service identifier
              type: string
              format: uuid
            name:
              description: The name of the service
              type: string
          readOnly: true
          required:
            - id
            - name
      additionalProperties: false
      required:
        - matched
        - route
        - service
      title: API Operation Implementation Status
    APIPackageJSONPatchOperation:
      description: A JSON Patch operation to add or remove API Operations from a Package.
      type: array
      items:
        $ref: '#/components/schemas/APIPackageJSONPatchItem'
      minItems: 1
      title: JSON Patch Operation
    APIPackageJSONPatchItem:
      description: A JSON Patch operation to add or remove an API Operation from a Package.
      type: object
      properties:
        op:
          description: The operation to perform.
          type: string
          enum:
            - add
            - remove
            - replace
        path:
          description: 'The path to the API Operation in the Package, in the format "operations/<uuid>".'
          type: string
          pattern: '^operations/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        value:
          type: object
          additionalProperties: false
          properties:
            rate_limiting_config:
              $ref: '#/components/schemas/RateLimitingConfig'
          required:
            - rate_limiting_config
      additionalProperties: false
      required:
        - op
        - path
    ApiFilterParameters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UuidFieldFilter'
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        version:
          $ref: '#/components/schemas/StringFieldFilter'
        labels:
          $ref: '#/components/schemas/LabelsFieldFilter'
        attributes:
          $ref: '#/components/schemas/AttributesFieldFilter'
        implementation_mode:
          $ref: '#/components/schemas/StringFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
      title: API Filter Parameters
    ApiPackageFilterParameters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UuidFieldFilter'
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        version:
          $ref: '#/components/schemas/StringFieldFilter'
        labels:
          $ref: '#/components/schemas/LabelsFieldFilter'
        attributes:
          $ref: '#/components/schemas/AttributesFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
      title: API Package Filter Parameters
    ApiPackageOperationsFilterParameters:
      type: object
      properties:
        api_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        method:
          $ref: '#/components/schemas/StringFieldFilter'
        path:
          $ref: '#/components/schemas/StringFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
      title: API Package Operations Filter Parameters
    ApiDocumentFilterParameters:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StringFieldFilter'
      title: API Document Filter Parameters
    ApiSpecFilterParameters:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/StringFieldFilter'
      title: API Spec Filter Parameters
    ApiVersionFilterParameters:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/StringFieldFilter'
        version:
          $ref: '#/components/schemas/StringFieldFilter'
      title: API Spec Filter Parameters
    ApiPublicationFilterParameters:
      type: object
      properties:
        portal_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        portal_name:
          $ref: '#/components/schemas/StringFieldFilter'
        api_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        api_name:
          $ref: '#/components/schemas/StringFieldFilter'
        auth_strategy_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        entity_type:
          $ref: '#/components/schemas/StringFieldFilter'
      title: API Publication Filter Parameters
    PortalApiPublicationFilterParameters:
      description: API Publication filters excluding portal-specific fields (since portal is already specified in path)
      type: object
      properties:
        api_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        api_name:
          $ref: '#/components/schemas/StringFieldFilter'
        auth_strategy_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        entity_type:
          $ref: '#/components/schemas/StringFieldFilter'
      title: Portal API Publication Filter Parameters
    ApiImplementationFilterParameters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UuidFieldFilter'
        api_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        service_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        control_plane_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
      title: API Implementation Filter Parameters
    ApiAttributeFilterParameters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UuidFieldFilter'
        key:
          $ref: '#/components/schemas/UuidFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
      title: API Attribute Filter Parameters
    ApiOperationFilterParameters:
      type: object
      properties:
        method:
          $ref: '#/components/schemas/StringFieldFilter'
        path:
          $ref: '#/components/schemas/StringFieldFilter'
      title: API Operation Filter Parameters
    ApiPackageResponseSchema:
      type: object
      properties:
        id:
          description: The API Package identifier.
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          readOnly: true
        name:
          description: |
            The name of your API Package. The `name + version` combination must be unique for each API Package you publish.
          type: string
          example: MyAPIPackage
          maxLength: 255
          minLength: 1
        description:
          description: A description of your API Package. Will be visible on your live Portal.
          type: string
          nullable: true
        slug:
          description: |
            The unique slug for your API Package, It should be unique across all APIs and API Packages.
          type: string
          example: my-api-package-v1
          nullable: true
          pattern: '^[\w-]+$'
        version:
          description: An optional version for your API Package. Leave this empty if your API Package is unversioned.
          type: string
          maxLength: 255
          minLength: 1
          nullable: true
        rate_limiting_config:
          $ref: '#/components/schemas/RateLimitingConfig'
        labels:
          $ref: '#/components/schemas/Labels'
        attributes:
          $ref: '#/components/schemas/ApiAttributes'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - id
        - name
        - slug
        - version
        - labels
        - attributes
        - created_at
        - updated_at
        - rate_limiting_config
      title: API Package
    ApiPackageOperationResponseSchema:
      type: object
      properties:
        id:
          description: The API Operation identifier.
          type: string
          format: uuid
          example: 0f5061ce-78f6-4452-9108-ad7c02821fd6
          readOnly: true
        api:
          type: object
          additionalProperties: false
          properties:
            id:
              description: The API identifier.
              type: string
              format: uuid
              example: 0f5061ce-78f6-4452-9108-ad7c02821fd6
              readOnly: true
            name:
              description: The name of the API this operation belongs to.
              type: string
              example: MyAPI
              readOnly: true
            version:
              description: The version of the API this operation belongs to.
              type: string
              example: 1.0.0
              readOnly: true
          readOnly: true
          required:
            - id
            - name
            - version
        method:
          $ref: '#/components/schemas/Method'
        path:
          description: The path of the API Operation.
          type: string
          example: '/users/{user_id}'
          readOnly: true
        rate_limiting_config:
          description: Rate limit configuration that can be applied to an API Package or an API Package Operation.
          type: object
          additionalProperties: false
          nullable: true
          properties:
            limit:
              description: The amount of requests allowed for each operation within the specified duration.
              type: integer
              minimum: 0
            duration:
              description: The timeframe to ensure that an application does not exceed the request limit.
              type: string
              enum:
                - seconds
                - minutes
                - hours
          readOnly: true
          required:
            - limit
            - duration
          title: Rate Limiting configuration
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        implementation_status:
          $ref: '#/components/schemas/ApiOperationImplementationStatus'
      additionalProperties: false
      required:
        - id
        - api
        - method
        - path
        - created_at
        - updated_at
        - rate_limiting_config
      title: API Package Operation Response
    Method:
      description: The HTTP method of an API Operation.
      type: string
      enum:
        - GET
        - POST
        - PUT
        - DELETE
        - PATCH
        - OPTIONS
        - HEAD
        - CONNECT
        - TRACE
      readOnly: true
    RateLimitingConfig:
      description: Rate limit configuration that can be applied to an API Package or an API Package Operation.
      type: object
      properties:
        limit:
          description: The amount of requests allowed for each operation within the specified duration.
          type: integer
          minimum: 0
        duration:
          description: The timeframe to ensure that an application does not exceed the request limit.
          type: string
          enum:
            - seconds
            - minutes
            - hours
      additionalProperties: false
      nullable: true
      required:
        - limit
        - duration
      title: Rate Limiting configuration
    UuidFieldFilter:
      description: 'Filter using **one** of the following operators: `eq`, `oeq`, `neq`'
      type: object
      properties:
        eq:
          description: The field exactly matches the provided value.
          type: string
          example: '?filter[field_name_here][eq]=foo'
        oeq:
          description: The field matches any of the provided values.
          type: string
          example: '?filter[field_name_here][oeq]=foo,bar'
        neq:
          description: The field does not match the provided value.
          type: string
          example: '?filter[field_name_here][neq]=bar'
      additionalProperties: false
      x-examples:
        example-1:
          oeq: 'some-value,some-other-value'
          neq: not-this-value
        example-2:
          eq: some-value
    StringFieldFilter:
      oneOf:
        - title: Filter by operator
          description: 'Filter using **one** of the following operators: `eq`, `oeq`, `neq`, `contains`, `ocontains`'
          x-examples:
            example-1:
              contains: some-value
              ocontains: 'this-value,or-that-value'
              oeq: 'some-value,some-other-value'
              neq: not-this-value
            example-2:
              eq: some-value
          properties:
            eq:
              description: The field exactly matches the provided value.
              type: string
              example: '?filter[field_name_here][eq]=foo'
            contains:
              description: The field contains the provided value.
              type: string
              example: '?filter[field_name_here][contains]=foo'
            ocontains:
              description: The field contains any of the provided values.
              type: string
              example: '?filter[field_name_here][ocontains]=foo,bar'
            oeq:
              description: The field matches any of the provided values.
              type: string
              example: '?filter[field_name_here][oeq]=foo,bar'
            neq:
              description: The field does not match the provided value.
              type: string
              example: '?filter[field_name_here][neq]=bar'
          type: object
          additionalProperties: false
        - title: Filter by exact string match
          type: string
          description: The field exactly matches the provided value.
          example: '?filter[title]=foo'
    LabelsFieldFilter:
      allOf:
        - title: LabelsFieldFilter
          description: |
            Filters on the resource's `labels` field. Filters must use dot-notation to identify
[...]
