{% assign id = "deployment-topology-switch" %}
{% if include.mobile %}{% assign id = id | append: '-mobile' %}{% endif %}

<div class="switch">
    <div class="switch__options">
        <label for="{{id}}-konnect" class="switch__option-label">konnect</label>
        <div class="switch__wrapper">
            <input type="radio" id="{{id}}-konnect" name="{{id}}-deployment-type" value="konnect" class="switch__input">
            <input type="radio" id="{{id}}-on-prem" name="{{id}}-deployment-type" value="on-prem" class="switch__input">

            <span class="switch__slider"></span>
        </div>
        <label for="{{id}}-on-prem" class="switch__option-label">on-prem</label>
    </div>
</div>