{%- assign gpg_key = site.data.products.gateway.public_keys[page.release.major_minor_version].gpg_key  -%}
{%- unless gpg_key -%}
{%- assign gpg_key = site.data.products.gateway.public_keys.legacy.gpg_key  -%}
{%- endunless -%}

<div class="flex flex-col gap-5">
    <div class="flex flex-col gap-4">
        <h3 class="font-semibold text-base leading-6">Package manager</h3>

{%- assign include_path =  "install/gateway/linux/packages/" | append: include.os | append: ".html" -%}
{% include {{include_path}} gpg_key=gpg_key release=page.release %}
  <p class="text-secondary text-sm">
    Make sure your version is <a href="/gateway/version-support-policy/#supported-versions" class="text-link hover:underline">supported</a>. After installation you can <a href="/how-to/configure-datastore/" class="text-link hover:underline">configure the datastore</a> to complete setup.
  </p>
    </div>

    <div class="border-t border-primary/5"></div>

    <div class="flex flex-col gap-2">
        <h3 class="font-semibold text-base leading-6">Binary Download</h3>

        <div class="grid md:grid-cols-2 gap-4">
            {% assign distro = page.release.distros_by_os[include.os] | find: "default", true %}

            {%- assign include_os_path = "install/gateway/linux/binaries/" | append: include.os | append: ".html" -%}
            {% include {{include_os_path}} distro=distro release=page.release os=include.os %}
        </div>
        
        {% if include.os == "ubuntu" or include.os == "rhel" %}
        <blockquote class="warning">
          <span>
            For FIPS-compliant environments, you must also <a href="/gateway/fips-support/#configure-fips" class="underline hover:no-underline" target="_blank" rel="noopener noreferrer">enable <code>fips = on</code> in your Kong configuration file</a>.
          </span>
        </blockquote>
        {% endif %}
    </div>
</div>