{% if page.works_on %}
{% include info_box/sections/works_on.html works_on=page.works_on %}
{% endif %}

{% if page.all_docs_indices and page.all_docs_indices != empty  %}
{% include_cached info_box/sections/all_docs_indices.html all_docs_indices=page.all_docs_indices %}
{% endif %}

{% if page.series %}
{% include info_box/sections/series.html %}
{% endif %}

{% if page.tags %}
{% include info_box/sections/tags.html tags=page.tags %}
{% endif %}

{% if page.related_resources %}
{% include info_box/sections/related_resources.html %}
{% endif %}

{% if page.min_version %}
{% include info_box/sections/min_version.html min_version=page.min_version %}
{% endif %}