{% if page.api_specs %}
<div class="flex flex-col gap-2 w-full">
  <div class="text-primary font-medium">OpenAPI Specifications</div>
  <div class="flex gap-1.5 flex-col">
    {% for api_spec in page.api_specs %}
    <div class="flex justify-between">
      <a href="{{ api_spec.url }}">{{ api_spec.text }}</a>
      {% if api_spec.insomnia_link %}
      <a class="flex-shrink-0" href="{{ api_spec.insomnia_link }}"><img src="/assets/logos/brand/Insomnia.svg">
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if page.related_resources %}
{% include info_box/sections/related_resources.html %}
{% endif %}