variables: &variables
  upstream:
    placeholder: 'upstreamName|Id'
    description: 'The `id` or `name` of the upstream the target is associated with.'
  consumer:
    placeholder: 'consumerName|Id'
    description: 'The `id` or `name` of the consumer the plugin configuration will target.'
  consumer_group:
    placeholder: 'consumerGroupName|Id'
    description: 'The `id` or `name` of the consumer group the plugin configuration will target.'
  route:
    placeholder: 'routeName|Id'
    description: 'The `id` or `name` of the route the plugin configuration will target.'
  service:
    placeholder: 'serviceName|Id'
    description: 'The `id` or `name` of the service the plugin configuration will target.'

konnect_variables: &konnect_variables
  region:
    placeholder: 'region'
    description: 'Geographic region where your Kong Konnect is hosted and operates.'
  pat:
    placeholder: 'KONNECT_TOKEN'
    description: 'Your Personal Access Token (PAT) associated with your Konnect account.'

formats:
  deck:
    label: 'decK'
    variables:
      <<: *variables

  admin-api:
    label: 'Admin API'
    base_url: 'http://localhost:8001'
    endpoints:
      consumer:       '/consumers/'
      consumer_group: '/consumer_groups/'
      route:          '/routes/'
      service:        '/services/'
      target:         '/upstreams/{upstream}/targets/'
      upstream:       '/upstreams/'
      workspace:      '/workspaces/'
      vault:          '/vaults/'
      certificate:    '/certificates/'
      sni:            '/snis/'
      ca_certificate: '/ca_certificates/'
      rbac:           '/rbac/users/'
      admin:          '/admins/register/'
      group:          '/groups/'
      license:        '/licenses/'
      key:            '/keys/'
      key-set:        '/key-sets/'
      keyring:        '/keyring/'
      event_hook:     '/event-hooks/'
      partial:        '/partials/'
    plugin_endpoints:
      consumer:       '/consumers/{consumer}/plugins/'
      consumer_group: '/consumer_groups/{consumer_group}/plugins/'
      route:          '/routes/{route}/plugins/'
      service:        '/services/{service}/plugins/'
      global:         '/plugins/'
    variables:
      <<: *variables

  konnect-api:
    label: 'Konnect API'
    base_url: 'https://{region}.api.konghq.com/v2/control-planes/{control_plane}/core-entities'
    event_gateway_base_url: 'https://{region}.api.konghq.com/v1/event-gateways/{event_gateway}'
    endpoints:
      consumer:        '/consumers/'
      consumer_group:  '/consumer_groups/'
      route:           '/routes/'
      service:         '/services/'
      target:          '/upstreams/{upstream}/targets/'
      upstream:        '/upstreams/'
      vault:           '/vaults/'
      certificate:     '/certificates/'
      ca_certificate:  '/ca_certificates/'
      sni:             '/snis/'
      key:             '/keys'
      key-set:         '/key-sets'
      partial:         '/partials/'
      backend_cluster: '/backend-clusters'
      virtual_cluster: '/virtual-clusters'
      listener:        '/listeners'
      schema_registry: '/schema-registries'
      static_key:      '/static-keys'
    plugin_endpoints:
      consumer:       '/consumers/{consumer}/plugins/'
      consumer_group: '/consumer_groups/{consumer_group}/plugins/'
      global:         '/plugins/'
      route:          '/routes/{route}/plugins/'
      service:        '/services/{service}/plugins/'
    policy_endpoints:
      consume:  '/virtual-clusters/{virtual_cluster}/consume-policies'
      produce:  '/virtual-clusters/{virtual_cluster}/produce-policies'
      cluster:  '/virtual-clusters/{virtual_cluster}/cluster-policies'
      listener: '/listeners/{event_gateway_listener}/policies'
    variables:
      <<: *konnect_variables
      control_plane:
        placeholder: 'controlPlaneId'
        description: 'The `id` of the control plane.'
      upstream:
        placeholder: 'upstreamId'
        description: 'The `id` of the upstream the target is associated with.'
      consumer:
        placeholder: 'consumerId'
        description: 'The `id` of the consumer the plugin configuration will target.'
      consumer_group:
        placeholder: 'consumerGroupId'
        description: 'The `id` of the consumer group the plugin configuration will target.'
      route:
        placeholder: 'routeId'
        description: 'The `id` of the route the plugin configuration will target.'
      service:
        placeholder: 'serviceId'
        description: 'The `id` of the service the plugin configuration will target.'
    event_gateway_variables:
      <<: *konnect_variables
      virtual_cluster:
        placeholder: 'virtualClusterId'
        description: 'The `id` of the Virtual Cluster.'
      event_gateway:
        placeholder: 'eventGatewayId'
        description: 'The `id` of the Event Gateway.'
      event_gateway_listener:
        placeholder: 'eventGatewayListenerId'
        description: The `id` of the Event Gateway Listener.

  kic:
    label: 'KIC'

  operator:
    label: 'Operator'

  terraform:
    label: 'Terraform'

  ui:
    label: 'UI'
    entities:
      - admin
      - ca_certificate
      - certificate
      - consumer
      - consumer_group
      - key
      - key_set
      - partial
      - plugin
      - route
      - service
      - sni
      - target
      - upstream
      - vault
      - workspace
      - group

targets:
  consumer:
    label: 'Consumer'
  consumer_group:
    label: 'Consumer Group'
  global:
    label: 'Global'
  route:
    label: 'Route'
  service:
    label: 'Service'

phases:
  consume:
    label: 'Consume Phase'
  produce:
    label: 'Produce Phase'
  cluster:
    label: 'Cluster Phase'