---
layout: policies/without_aside
---

<div class="flex gap-16 w-full flex-col md:flex-row">
  <nav class="hidden md:flex gap-8 basis-1/4">
    <div class="flex gap-3 flex-col">
      <div class="text-sm text-brand font-semibold">Basic use cases</div>
      <ul class="tabcolumn">
        {% for example in page.examples %}
          <li>
            <a class="tab-button__vertical{% if page.url == example.url %} tab-button__vertical--active{% endif %}" href="{{ example.url }}">{{ example.title | liquify }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <div class="flex md:hidden bg-secondary rounded-md justify-between py-2 px-4 gap-2 w-full shadow-primary items-center">
    <select id="plugin-example-dropdown" class="bg-secondary grow max-w-full">
      {% for example in page.examples %}
          <option value="{{ example.url }}" {% if example == page.url %}selected{% endif %}>{{ example.title | liquify }}</option>
      {% endfor %}
  </select>
  </div>
  <article class="flex flex-col md:basis-3/4 gap-12">
    {{content}}
  </article>
</div>

