{% assign plugin_example = include.plugin_example %}
{% assign targets_dropdown = plugin_example.targets_dropdown %}
{% assign formats_dropdown = plugin_example.formats_dropdown %}

<div id="{{ entity_example.id }}" class="entity-example">
  <div class="p-2 flex justify-end">
    <div>
      {% if targets_dropdown %}
        {% if targets_dropdown.options.size > 1 %}
          <label for="select-target-{{ entity_example.id }}" class="sr-only">Select an entity</label>
          <select id="select-target-{{ entity_example.id }}" class="ml-1 w-36 select-target border border-gray-300 ">
            {% for option in targets_dropdown.options %}
              <option value="{{ option.value }}">{{ option.text }}</option>
            {% endfor %}
          </select>
        {% endif %}
      {% endif %}

      {% if formats_dropdown.options.size > 1 %}
        <label for="select-format-{{ entity_example.id }}" class="sr-only">Select a format</label>
        <select id="select-format-{{ entity_example.id }}" class="ml-1 w-36 select-format border border-gray-300 ">
          {% for option in formats_dropdown.options %}
            <option value="{{ option.value }}">{{ option.text }}</option>
          {% endfor %}
        </select>
      {% endif %}
    </div>
  </div>

  {% if targets_dropdown %}
    {% for entity_example in plugin_example.entity_examples %}
     {% assign target = entity_example.target.key %}

     {% assign formatted_examples = entity_example.formatted_examples %}
      <div tabindex="0" class="entity-example-target-panel hidden overflow-auto" aria-labelledby="select-target-{{ entity_example.id }}" data-target="{{ target }}">
        {% for formatted_example in formatted_examples %}
          <div tabindex="0" class="entity-example-format-panel hidden overflow-auto" aria-labelledby="select-format-{{ entity_example.id }}" data-format="{{ formatted_example.format.value }}">
            {% capture markdown_template %}{% include {{ formatted_example.template_file }} presenter=formatted_example.presenter %}{% endcapture %}
            {{ markdown_template | markdownify }}
          </div>
        {% endfor %}
      </div>

    {% endfor %}
  {% endif %}
</div>
