---
title: "404: Page Not Found"
sitemap: false
permalink: 404.html
toc: false
edit_and_issue_links: false
get_help: false
layout: default
llm: false
---

<div class="flex flex-col gap-8 mt-44">
  <div class="flex flex-col gap-2 items-center">
    <span class="inline dark:hidden">{% include_svg "/assets/hero-images/404/light.svg" %}</span>
    <span class="hidden dark:inline">{% include_svg "/assets/hero-images/404/dark.svg" %}</span>

    <p class="font-extrabold text-primary text-[40px] leading-[60px]">Oops!</p>
    <p class="text-primary">We can't seem to find the page you are looking for.</p>
  </div>
  <div class="flex items-center justify-center">
    <a class="button button--primary" href="/">Go back to Home</a>
  </div>
</div>