---
title: How-to Guides
layout: default
edit_and_issue_links: false
description: Discover Kong's tutorials to help you build, secure, and scale your services.
---
{%- if page.output_format == 'markdown' -%}
{%- assign grouped_how_tos = site.how-tos | where_exp: "how_to", "how_to.published != false" | group_by_exp: "how_to", "how_to.products | first" -%}
{%- for group in grouped_how_tos %}
## {{ site.data.products[group.name].name }}

{%- assign how_tos = group.items | sort: "title" -%}
{% for how_to in how_tos %}
### {{ how_to.title | liquify }}
Description: {{ how_to.description | liquify | rstrip}}
Documentation: {{ how_to.url }}
{% endfor %}
{% endfor %}
{%- else -%}
<div class="flex flex-col gap-12 w-full">
  <div class="flex justify-between gap-[60px]">
      <div class="flex flex-col gap-6 py-24 self-center">
          <div class="flex flex-col gap-2">
              <div class="flex items-center gap-3"><h1 class="font-extrabold text-[40px] leading-[60px]">How-to Guides</h1>{% include components/llm_dropdown.html url=page.url %}</div>
              <span class="leading-7">Discover Kong's tutorials to help you build, secure, and scale your services.</span>
          </div>
      </div>
      <div class="hidden lg:flex pt-9 pr-9 ">
        <span class="hidden dark:inline">{% include_svg '/assets/hero-images/how-to/dark.svg' %}</span>
        <span class="inline dark:hidden">{% include_svg '/assets/hero-images/how-to/light.svg' %}</span>
      </div>
    </div>

  <div id="search-index-app" data-content-type="how_to"></div>
</div>
{% endif %}