---
title: Kong Plugin Hub
hub: true
layout: default
edit_and_issue_links: false
description: Extend Kong Gateway and Kong Konnect with powerful plugins and easy integrations.
---

{%- assign categories = site.data.plugin_categories | sort: "text" -%}
{%- assign kong_plugins = site.data.kong_plugins | where_exp: "plugin", "plugin.published != false" -%}
{%- assign act_as_plugins = site.data.act_as_plugins | where_exp: "plugin", "plugin.published != false" -%}
{%- assign plugins = kong_plugins | concat: act_as_plugins -%}
{%- assign third_party_premium = plugins | where: "third_party", true | where: "premium_partner", true -%}
{%- assign third_party_other = plugins | where: "third_party", true | where_exp: "plugin", "plugin.premium_partner != true" -%}
{%- assign third_party_plugins = third_party_premium | concat: third_party_other -%}

{% if page.output_format == 'markdown'%}
{% for cat in categories %}
{%- assign plugins_for_category = plugins | where_exp: "plugin", "plugin.categories contains cat.slug" | sort:
"name" -%}
{% if plugins_for_category.size > 0 %}
## {{ cat.text }}

{% for plugin in plugins_for_category %}
### {{plugin.name | liquify}}
Description: {{plugin.description | liquify}}
Documentation: {{plugin.url}}
{% endfor %}{% endif %}{% endfor %}

{% if third_party_plugins.size > 0 %}
## 3rd Party Plugins

{% for plugin in third_party_plugins %}
### {{plugin.name | liquify}}
Description: {{plugin.description | liquify}}
Documentation: {{plugin.url}}
{% endfor %}{% endif %}
{% else %}
<div class="flex flex-col gap-12 w-full">
  <div class="flex justify-between gap-[60px]">
    <div class="flex flex-col gap-6 py-24 self-center">
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-3"><h1 class="font-extrabold text-[40px] leading-[60px]">Kong Plugin Hub</h1>{% include components/llm_dropdown.html url=page.url %}</div>
        <span class="leading-7">Extend Kong Gateway and Kong Konnect with powerful plugins and easy integrations</span>
      </div>
      <div class="flex gap-3 items-center lg:w-3/5">
        <a class="text-xs px-1 text-terciary leading-5" href="/gateway/entities/plugin/">Plugins Overview</a><span
          class="border-l border-primary h-full"></span>
        <a class="text-xs px-1 text-terciary leading-5" href="/gateway/entities/plugin/#custom-plugins">Custom Plugin
          Development</a><span class="border-l border-primary h-full"></span>
      </div>
    </div>
    <div class="hidden lg:flex pt-9 pr-9 ">
      <span class="hidden dark:inline">{% include_svg '/assets/hero-images/plugins/dark.svg' %}</span>
      <span class="inline dark:hidden">{% include_svg '/assets/hero-images/plugins/light.svg' %}</span>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-16">
    {% include policies/index/filters.html functionality=true tier=true deployment_platforms=true support_by=true trusted_content=true %}

    <div class="searchbox-results-container">
      {% include policies/index/search_input.html %}

      {% include policies/index/plugin_cards.html categories=categories plugins=plugins third_party_plugins=third_party_plugins %}
    </div>
  </div>
</div>
{% endif %}