---
layout: default
title: Reference Page Index
edit_and_issue_links: false
---


<div class="mx-16">
  <h1 class="my-4">Reference Page Index</h1>
  <ul>
    {% assign all_pages = site.pages | sort: 'dir' | where: "plugin?", empty | where: "api_spec", empty %}
    {% for page in all_pages %}
    {% if page.content_type == "reference" and page.canonical? %}
      <li>
        <a href="{{ page.url }}" class="text-blue-500 hover:underline">{{ page.title | default: "MISSING TITLE" }}</a> ({{ page.dir }})
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>