---
layout: default
search: true
title: Search
llm: false
edit_and_issue_links: false
---


<div class="flex flex-col gap-12 w-full">
    <div class="flex justify-between gap-[60px]">
        <div class="flex flex-col gap-6 py-24 self-center">
            <div class="flex flex-col gap-2">
                <h1 class="font-extrabold text-[40px] leading-[60px]">Kong Developer</h1>
                <span class="leading-7">Discover Kong’s tools, APIs, and tutorials to help you build, secure, and scale your services</span>
                <a class="text-sm no-icon" href="/sitemap/">View all Kong documentation</a>
            </div>
        </div>
        <div class="hidden lg:flex pt-9 pr-9 ">
            <span class="hidden dark:inline">{% include_svg '/assets/hero-images/home/kong-dark.svg' %}</span>
            <span class="inline dark:hidden">{% include_svg '/assets/hero-images/home/kong.svg' %}</span>
        </div>
    </div>

    <div id="search-app"></div>
</div>
