---
title: Support Articles
layout: default
edit_and_issue_links: false
description: Browse troubleshooting guides and knowledge base articles for Kong products and services.
---
<div class="flex flex-col gap-12 w-full">
  <div class="flex justify-between gap-[60px]">
      <div class="flex flex-col gap-6 py-24 self-center">
          <div class="flex flex-col gap-2">
              <h1 class="font-extrabold text-[40px] leading-[60px]">Support Articles</h1>
              <span class="leading-7">Browse troubleshooting guides and knowledge base articles for Kong products and services.</span>
          </div>
      </div>
      <div class="hidden lg:flex pt-9 pr-9 ">
        <span class="hidden dark:inline">{% include_svg '/assets/hero-images/how-to/dark.svg' %}</span>
        <span class="inline dark:hidden">{% include_svg '/assets/hero-images/how-to/light.svg' %}</span>
      </div>
    </div>

  <div id="search-index-app" data-content-type="support"></div>
</div>
