{% assign _tag = include.tag | default: "h2" %}{% assign _content = include.content | default: include.text %}<{{ _tag }}{% if include.class %} class="{{ include.class }}"{% endif %} id="{{ include.id }}" data-toc-label="{{ include.text }}"><a href="#{{ include.id }}" aria-label="Anchor" title="{{ include.text }}" class="flex items-center gap-2 link-anchor group w-full hover:no-underline text-primary">{{ _content }}<span class="hidden link-anchor-icon group-hover:flex">
        {% include_svg '/assets/icons/link.svg' %}
</span>
</a></{{ _tag }}>
