{% if site.render_banner %}
<div id="banner" class="flex border-b border-primary sticky top-16  z-10 duration-300 opacity-100 bg-brand">
    <div class="flex justify-center items-center w-full 2xl:mx-auto px-5 lg:px-8  ai-assistant-aware-px py-4 md:py-2 max-w-screen-2xl">
        <div class="flex flex-col gap-2 md:flex-row items-center justify-center">
            <div class="flex text-black text-xs font-normal md:text-base">AI Gateway 2.0 private beta documentation</div>
        </div>
    </div>
</div>
{% endif %}