{% if page.works_on contains 'konnect' %}
<div data-deployment-topology="konnect" class="content" markdown="1" {{ config.test_attribute }}="{{ config.data_validate_konnect | escape }}">
  {% include how-tos/validations/request-check/snippet.md config=config.konnect_snippet_config %}
</div>
{% endif %}

{% if page.works_on contains 'on-prem' %}
<div data-deployment-topology="on-prem" class="content" markdown="1" {{ config.test_attribute }}="{{ config.data_validate_on_prem | escape }}">
  {% include how-tos/validations/request-check/snippet.md config=config.on_prem_snippet_config %}
</div>
{% endif %}