{% if page.works_on contains 'konnect' %}
<div data-deployment-topology="konnect" markdown="1" data-test-step="block">
  {% include how-tos/validations/request-check/snippet.md url=config.konnect_url headers=config.headers body=config.body method=config.method %}
</div>
{% endif %}

{% if page.works_on contains 'on-prem' %}
<div data-deployment-topology="on-prem"  markdown="1" data-test-step="block">
  {% include how-tos/validations/request-check/snippet.md url=config.on_prem_url headers=config.headers body=config.body method=config.method %}
</div>
{% endif %}