<footer class="flex flex-col border-t border-primary/5 relative text-sm">
    <div class="flex flex-col md:flex-row py-12 md:gap-[300px] w-full max-w-screen-2xl 2xl:mx-auto px-6 md:px-8 2xl:px-[156px]">
        <div class="flex flex-col gap-6">
            <div class="flex">
                <img src="/assets/logos/brand/KongPrimary.svg" alt="Kong Logo" id="kong-logo">
            </div>
            <div class="flex flex-col gap-2">
                <h5 class="flex font-bold uppercase">Powering the API world</h5>
                <p class="flex font-normal mb-0 text-terciary">Increase developer productivity, security, and performance at scale with the unified platform for API management, service mesh, and ingress controller.</p>
            </div>
        </div>
        <div class="flex flex-col gap-2 justify-end"></div>
    </div>
    <div class="flex border-t border-primary/5 w-full"></div>
    <div
        class="flex gap-5 justify-between flex-start md:items-center font-normal flex-col md:flex-row w-full max-w-screen-2xl 2xl:mx-auto py-4 px-5 md:px-8 2xl:px-[156px]">
        <div class="flex gap-6">
            <a href="https://github.com/kong/kong" rel="noreferrer noopener" target="_blank">
                <div class="flex w-5 h-5 text-terciary">{% include_svg '/assets/icons/social/github.svg' %}</div>
            </a>
            <a href="https://www.meetup.com/topics/kong/all" rel="noreferrer noopener" target="_blank">
                <div class="flex w-5 h-5 text-terciary">{% include_svg '/assets/icons/social/meetup.svg' %}</div>
            </a>
            <a href="https://www.linkedin.com/company/konghq" rel="noreferrer noopener" target="_blank">
                <div class="flex w-5 h-5 text-terciary">{% include_svg '/assets/icons/social/linkedin.svg' %}</div>
            </a>
            <a href="https://twitter.com/thekonginc" rel="noreferrer noopener" target="_blank">
                <div class="flex w-5 h-5 text-terciary">{% include_svg '/assets/icons/social/x.svg' %}</div>
            </a>
            <a href="https://www.youtube.com/@KongInc" rel="noreferrer noopener" target="_blank">
                <div class="flex w-5 h-5 text-terciary">{% include_svg '/assets/icons/social/youtube.svg' %}</div>
            </a>
        </div>
        <div class="flex gap-2 list-none">
            <a class="text-terciary" href="https://konghq.com/terms">Terms</a>
            <span class="text-terciary">|</span>
            <a class="text-terciary" href="https://konghq.com/privacy">Privacy</a>
            <span class="text-terciary">|</span>
            <a class="text-terciary" href="https://konghq.com/compliance">Trust and Compliance</a>
        </div>
        <div>
            <span class="text-terciary">&copy; Kong Inc. {{ site.time | date: '%Y' }} &nbsp;</span>
        </div>
    </div>

    <svg class="pointer-events-none	absolute bottom-0 opacity-30 dark:opacity-40 fill-brand-saturated" width="400" height="400" viewBox="0 0 400 400"
        fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_7381_16494)">
            <g filter="url(#filter0_f_7381_16494)">
                <path
                    d="M1.52588e-05 190C27.5776 190 54.8852 195.432 80.3636 205.985C105.842 216.539 128.992 232.007 148.492 251.508C167.993 271.008 183.461 294.158 194.015 319.637C204.568 345.115 210 372.423 210 400L0 400L1.52588e-05 190Z" />
            </g>
        </g>
        <defs>
            <filter id="filter0_f_7381_16494" x="-172" y="18" width="554" height="554" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="86" result="effect1_foregroundBlur_7381_16494" />
            </filter>
            <clipPath id="clip0_7381_16494">
                <rect width="400" height="400" fill="white" />
            </clipPath>
        </defs>
    </svg>

    <svg class="pointer-events-none	absolute bottom-0 right-0 opacity-30 dark:opacity-40 fill-brand-saturated" width="400" height="400" viewBox="0 0 400 400"
        fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_7381_16496)">
            <g filter="url(#filter0_f_7381_16496)">
                <path
                    d="M400 190C372.422 190 345.115 195.432 319.636 205.985C294.158 216.539 271.008 232.007 251.508 251.507C232.007 271.008 216.539 294.158 205.985 319.636C195.432 345.115 190 372.422 190 400L400 400L400 190Z" />
            </g>
        </g>
        <defs>
            <filter id="filter0_f_7381_16496" x="18" y="17.9998" width="554" height="554" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="86" result="effect1_foregroundBlur_7381_16496" />
            </filter>
            <clipPath id="clip0_7381_16496">
                <rect width="400" height="400" fill="white" />
            </clipPath>
        </defs>
    </svg>

</footer>