<footer class="flex flex-col border-t border-primary">
    <div class="flex flex-col md:flex-row py-12 md:gap-[300px] w-full max-w-screen-2xl 2xl:mx-auto px-5 md:px-8 2xl:px-[156px]">
        <div class="flex flex-col gap-6 w-1/2">
            <div class="flex">
                <img src="/assets/logos/brand/KongPrimary.svg" alt="Kong Logo" id="kong-logo">
            </div>
            <div class="flex flex-col gap-2">
                <h5 class="flex font-bold uppercase">Powering the API world</h5>
                <p class="flex font-normal mb-0 text-terciary">Increase developer productivity, security, and performance at scale with the unified platform for API management, service mesh, and ingress controller.</p>
            </div>
        </div>
        <div class="flex flex-col gap-2 justify-end"></div>
    </div>
    <div class="flex border-t border-primary w-full"></div>
    <div
        class="flex gap-2 justify-between h-[60px] items-center font-normal flex-col md:flex-row w-full max-w-screen-2xl 2xl:mx-auto py-4 px-5 md:px-8 2xl:px-[156px]">
        <div class="flex gap-6">
            <a href="https://github.com/kong/kong" rel="noreferrer noopener" target="_blank"><i class="fa fa-lg fa-github text-terciary"></i></a>
            <a href="https://www.meetup.com/topics/kong/all" rel="noreferrer noopener" target="_blank"><i class="fa fa-lg fa-meetup text-terciary"></i></a>
            <a href="https://www.linkedin.com/company/konghq" rel="noreferrer noopener" target="_blank"><i class="fa fa-lg fa-linkedin text-terciary"></i></a>
            <a href="https://twitter.com/thekonginc" rel="noreferrer noopener" target="_blank"><i class="fa fa-lg fa-twitter text-terciary"></i></a>
            <a href="https://www.youtube.com/@KongInc" rel="noreferrer noopener" target="_blank"><i class="fa fa-lg fa-youtube text-terciary"></i></a>
        </div>
        <div class="flex gap-2 list-none">
            <a class="text-terciary" href="https://konghq.com/terms">Terms</a>
            <span class="text-terciary">|</span>
            <a class="text-terciary" href="https://konghq.com/privacy">Privacy</a>
            <span class="text-terciary">|</span>
            <a class="text-terciary" href="https://konghq.com/compliance">Trust and Compliance</a>
        </div>
        <div>
            <span class="text-terciary">&copy; Kong Inc. {{ site.time | date: '%Y' }} &nbsp;</span>
        </div>
    </div>
</footer>