<svg class="pointer-events-none absolute opacity-30 dark:opacity-40 fill-brand-saturated top-16" width="400" height="400" viewBox="0 0 400 400" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_7381_16502)">
        <g filter="url(#filter0_f_7381_16502)">
            <path
                d="M0 210C27.5776 210 54.8852 204.568 80.3635 194.015C105.842 183.461 128.992 167.993 148.492 148.492C167.993 128.992 183.461 105.842 194.015 80.3635C204.568 54.8851 210 27.5776 210 0L1.52588e-05 3.05176e-05L0 210Z" />
        </g>
    </g>
    <defs>
        <filter id="filter0_f_7381_16502" x="-172" y="-172" width="554" height="554" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="86" result="effect1_foregroundBlur_7381_16502" />
        </filter>
        <clipPath id="clip0_7381_16502">
            <rect width="400" height="400" fill="white" />
        </clipPath>
    </defs>
</svg>

<svg class="pointer-events-none absolute right-0 opacity-30 dark:opacity-40 fill-brand-saturated top-16" width="400" height="400" viewBox="0 0 400 400"
    fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_7381_16499)">
        <g filter="url(#filter0_f_7381_16499)">
            <path
                d="M400 210C372.422 210 345.115 204.568 319.636 194.015C294.158 183.461 271.008 167.993 251.508 148.493C232.007 128.992 216.539 105.842 205.985 80.3636C195.432 54.8852 190 27.5776 190 0L400 0.000167847L400 210Z" />
        </g>
    </g>
    <defs>
        <filter id="filter0_f_7381_16499" x="18" y="-172" width="554" height="554" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="86" result="effect1_foregroundBlur_7381_16499" />
        </filter>
        <clipPath id="clip0_7381_16499">
            <rect width="400" height="400" fill="white" />
        </clipPath>
    </defs>
</svg>


<header class='flex bg-header h-[64px] border-b border-primary/5 sticky top-0 bg-primary z-10 text-sm' id="header-nav">
    <div class="flex justify-between w-full max-w-screen-2xl 2xl:mx-auto px-5 md:px-8 2xl:px-[156px]">
      <div class="flex flex-row items-center gap-2.5">
        <a href="/">
          <img src="/assets/logos/brand/KongDeveloper.svg" alt="Kong Developer Logo" id="kong-developer-logo">
        </a>
      </div>

      <div class='flex gap-8 list-none items-center py-5 '>
        <a href='/' class='text-terciary'>Home</a>
        <a href='/how-to/' class='text-terciary'>How-to Guides</a>
        <a href='/plugins/' class='text-terciary'>Plugins</a>
        <a href='/gateway/entities/' class='text-terciary'>Gateway Entities</a>
        <a href='/landing-pages/' class='text-terciary'>All Landing Pages</a>

        <div class="flex">
          <button id="mode-switch">
            <span class="hidden dark:inline">
              <svg viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
                <path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" class="fill-brand/20 stroke-brand"></path>
                <path d="M12 4v1M17.66 6.344l-.828.828M20.005 12.004h-1M17.66 17.664l-.828-.828M12 20.01V19M6.34 17.664l.835-.836M3.995 12.004h1.01M6 6l.835.836" class="stroke-brand"></path>
              </svg>
            </span>
            <span class="dark:hidden">
              <svg viewBox="0 0 24 24" fill="none" class="w-6 h-6">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z" class="fill-brand/20"></path>
                <path d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z" class="fill-brand"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z" class="fill-brand"></path>
              </svg>
            </span>
          </button>
        </div>

        <div class='flex gap-3 leading-6 font-medium'>
          <button class='rounded-lg border-2 py-1 px-4 text-primary border-brand'>Login</button>
          <button class='rounded-lg border-2 py-1 px-4 bg-brand text-white border-brand'>Sign up</button>
        </div>
      </div>
    </div>
</header>