{% for group in groups %}
{% unless group.hidden %}
<div class="grid grid-cols-1 gap-10">
  {% if group.title or group.description  %}
  <div>
  {% if group.title %}<h2 id="{{ group.title | slugify }}" data-skip-process-heading-id="true">{{ group.title | liquify }}</h2>{% endif %}

  {% if group.description %}
  <p class="text-base text-terciary mt-2">{{ group.description | liquify }}</p>
  {% endif %}
  </div>
  {% endif %}

  {% for section in group.sections %}{% unless section.hidden %}
    <div class="flex flex-col gap-5 heading-section card p-6 rounded-lg shadow-primary">
      {% if section.title %}
      <h3 id="{% if group.title %}{{ group.title | liquify | slugify }}--{% endif %}{{ section.title | liquify | slugify }}" class="always-link mb-2" data-skip-process-heading-id="true">{{ section.title | liquify }}</h3>
      {% endif %}

      <div class="content">
        <ul class="list-none ml-0 grid grid-cols-1 md:grid-cols-3 gap-6">
          {% for page in section.pages %}
            {% assign title = page.title %}
            {% if page.short_title %}{% assign title = page.short_title %}{% endif %}
            {% if page.plugin? and page.example? %}{% assign title = page.example_title %}{% endif %}
            <li class="flex flex-col gap-1">
              <a class="text-brand-saturated !mb-0 text-base tracking-[-.01em]" href="{{ page.url }}">{{ title }}</a>
              <p class="text-xs text-terciary">
                {{ page.description }}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endunless %}{% endfor %}
</div>
{% endunless %}
{% endfor %}
