
{% for group in groups %}
  <div id="{{ group.title | slugify }}" class="flex flex-col gap-4 heading-section  card p-5 rounded-md">
      <h2>{{ group.title }}</h2>

      <div class="content">
        <ul class="list-none ml-0 grid grid-cols-1 md:grid-cols-3 gap-4">
          {% for page in group.pages %}
            {% assign title = page.title %}
            {% if page.short_title %}{% assign title = page.short_title %}{% endif %}
            <li class="flex flex-col gap-1">
              <a class="text-brand-saturated !mb-0 text-base tracking-[-.01em]" href="{{ page.url }}">{{ title }}</a>
              <p class="text-xs text-terciary">
                {{ page.description }}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
  </div>
{% endfor %}