{% if include.products or include.tools or include.tier or include.beta == true or include.tech_preview == true %}
<div class="flex gap-2 items-center flex-wrap">
    {%- if include.beta == true or include.tech_preview == true -%}
        {%- include_cached badges/stage.html beta=include.beta tech_preview=include.tech_preview -%}
    {%- endif -%}

    {% if include.tier %}
        {% include tier.html products=include.products tier=include.tier %}
    {% endif %}

    {% if include.tier or include.beta == true or include.tech_preview == true %}
        {% if include.products or include.tools %}
        <span class="text-sm"> and uses: </span>
        {% endif %}
    {% else %}
        <span class="text-sm">Uses: </span>
    {% endif %}

    {% assign hasTool = false %}
    {% if include.products %}
        {% for product in include.products %}
        {% assign hasTool = true %}
        {% assign product_info = site.data.products[product] %}
            {% capture url %}/{{ product }}/{% endcapture %}
            {% if product == 'kic' %}
                {% capture url %}/kubernetes-ingress-controller/{% endcapture %}
            {% elsif product == 'konnect' %}
                {% capture url %}/konnect/{% endcapture %}
            {% else %}
            {% elsif product == 'reference-platform' %}
                {% capture url %}/index/reference-platform/{% endcapture %}
            {% endif %}
            {% include badge.html url=url text=product_info.name %}
        {% endfor %}
    {% endif %}

    {% assign show_tool = true %}
    {% if include.products contains 'kic' and include.tools contains 'kic' and include.tools.size == 1 %}
    {% assign show_tool = false %}
    {% endif %}
    {% if include.products contains 'operator' and include.tools contains 'operator' and include.tools.size == 1 %}
    {% assign show_tool = false %}
    {% endif %}

    {% if include.products and include.tools %}
        {% if show_tool %}
        {% assign tool = include.tools | find_exp: "tool", "site.data.tools[tool]" %}
        {% if hasProduct and tool %}
            <span class="text-brand-saturated/40">|</span>
        {% endif %}
        {% endif %}
    {% endif %}

    {% if include.tools %}
        {% assign sorted_tools = include.tools | sort %}
        {% for tool in sorted_tools %}
        {% assign tool_info = site.data.tools[tool] %}
        {% if tool_info %}
          {% if show_tool %}
            {% if tool == 'kic' %}
                {% capture url %}/kubernetes-ingress-controller/{% endcapture %}
            {% else %}
                {% capture url %}/{{ tool }}/{% endcapture %}
            {% endif %}
            {% include badge.html url=url text=tool_info.name %}
          {% endif %}
        {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endif %}
