<div class="bg-secondary shadow-primary rounded-md flex flex-col text-sm accordion">
{% for faq in faqs %}
  <div class="py-4 px-5 flex flex-col {% unless forloop.last %} border-b border-primary/5 {% endunless %} accordion-item">
    <a href="#{{ faq.q | slugify }}" id="{{ faq.q | slugify }}" class="flex justify-between items-center cursor-pointer text-primary list-none accordion-trigger hover:no-underline">
      {{ faq.q }}<span class="fa fa-chevron-down float-right text-terciary"></span>
    </a>
    <div class="flex flex-col gap-3 mt-1.5 accordion-panel">
    {{ faq.a | markdownify }}
    </div>
  </div>
{% endfor %}
</div>