<table class="{% if include.sticky %}table__sticky{% endif %}">
    <thead>
        <tr>
        <th>{% if include.item_title %}{{ include.item_title }}{% endif %}</th>
        {% for column in include.columns %}
            <th class="text-center">
            <span class="font-semibold text-primary">{{ column.title | liquify }}</span>
            </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in include.rows %}
        <tr>
            <td>
            <span class="block text-primary">
                {% if row.url %}
                    <a href="{{row.url}}">{{ row.title | liquify | markdown }}</a>
                {% else %}
                    {{ row.title | liquify | markdown }}
                {% endif %}
            </span>
            {% if row.subtitle %}
                <span class="text-secondary">{{ row.subtitle | liquify | markdown }}</span>
            {% endif %}
            </td>
            {% for column in include.columns %}
                {% assign v = row[column.key] %}
                <td{% if v == true or v == false or include.center_values %} class="text-center"{% endif %}>
                {% if v == true %}
                    {% include icon_true.html %}
                {% elsif v == false %}
                    {% include icon_false.html %}
                {% else %}
                    {{v | liquify | markdown}}
                {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>