{% if how_tos.size > 0 %}
<ul class="flex flex-col bg-secondary shadow-primary  rounded-md text-sm ml-0">
  {% for how_to in how_tos %}
    <li class="py-4 px-5 flex {% unless forloop.last %} border-b border-primary/5 {% endunless %} {% if forloop.last and config.view_more %} border-b border-primary/5 {% endif %}">
      <a class="w-full text-primary hover:underline flex justify-between" href="{{ how_to.url }}">{{ how_to.title }}<span class="text-terciary inline">View &rarr;</span></a>
    </li>
  {% endfor %}
  {% if config.view_more %}
  <li class="py-4 px-5 flex">
    <a class="w-full" href="{{ config.view_more }}">View More &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}