<table class="table-auto">
    <thead>
        <tr>
          <th class="font-semibold text-primary">Parameter</th>
          <th class="font-semibold text-primary">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for field in config.fields %}
        <tr>
            <td>
                <span class="block text-primary">
                    <code>{{ field.name | markdown }}</code>
                </span>
                {% if field.default_value != nil %}
                {% if field.array? %}
                    <span class="text-secondary text-xs">Default: <code>{{ field.default_value | join: ', ' | markdown }}</code></span>
                {% else %}
                    <span class="text-primary text-xs">Default: <code>{{ field.default_value | markdown }}</code></span>
                {% endif %}
            {% endif %}
            </td>
            <td>
                <span class="text-primary content">{{ field.description | markdownify }}</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>