<table class="table-auto">
    <thead>
        <tr>
          <th class="font-semibold text-primary">Parameter</th>
          <th class="font-semibold text-primary">Default Value</th>
          <th class="font-semibold text-primary">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for field in config.fields %}
        <tr>
            <td>
                <span class="block text-primary">
                    <a href="/gateway/configuration/#{{field.name}}"><code>{{ field.name | markdown }}</code></a>
                </span>
            </td>
            <td>
                {% if field.default_value != nil %}
                    {% if field.array? %}
                        <span class="text-primary"><code>{{ field.default_value | join: ', ' | markdown }}</code></span>
                    {% else %}
                        <span class="text-primary"><code>{{ field.default_value | markdown }}</code></span>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                <span class="text-primary content">{{ field.description | markdownify }}</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>