<div class="plugin-config-example">
  <div class="flex">
    <label for="select-plugin-config-example" class="sr-only">Select a plugin configuration example</label>
    <select id="select-plugin-config-example" class="ml-1 w-1/2 select-plugin-config  border border-gray-300">
      {% for plugin_example in plugin_examples %}
        <option value="{{ plugin_example.slug }}">{{ plugin_example.slug }}</option>
      {% endfor %}
    </select>
  </div>

  {% for plugin_example in plugin_examples %}
    <div class="plugin-config-example-panel hidden overflow-auto" aria-labelledby="select-plugin-config-example" data-slug="{{ plugin_example.slug }}">
      {% include components/plugin_config_examples/plugin_example.html plugin_example=plugin_example %}
    </div>
  {% endfor %}
</div>
