{% assign plugin_config_example = include.plugin_config_example %}
{% assign targets = plugin_config_example.targets %}
{% assign formats = plugin_config_example.formats %}

<div class="flex flex-col gap-4 heading-section entity-example" id="{{ plugin_config_example.id }}">
  <div class="flex flex-col sm:flex-row gap-4 sm:items-center sm:justify-between">
    <h2 id="set-up-the-plugin">Set up the {{include.entity}}</h2>
    <div class="flex w-full sm:w-fit sm:justify-end">
      <div class="flex gap-2 text-xs">
        {% if targets.size > 1 %}
        <div class="bg-secondary rounded-md flex justify-between py-2 px-4 w-full shadow-primary items-center">
          <label for="select-target-{{ plugin_config_example.id }}" class="sr-only">{{include.target_label}}</label>
          <select id="select-target-{{ plugin_config_example.id }}" class="select-target bg-secondary">
            {% for target in targets %}
            <option value="{{ target }}">{{ include.targets[target].label }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}

        {% if formats.size > 1 %}
        <div class="bg-secondary rounded-md flex justify-between py-2 px-4 w-full shadow-primary items-center">
          <label for="select-format-{{ plugin_config_example.id }}" class="sr-only">Select a format</label>
          <select id="select-format-{{ plugin_config_example.id }}" class="select-format bg-secondary">
            {% for format in formats %}
            <option value="{{ format }}">{{ site.data.entity_examples.config.formats[format].label }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="content">

    {% if targets.size > 0 %}
    {% for example in plugin_config_example.examples %}
    {% assign target = example.target.key %}

    {% assign formatted_examples = example.formatted_examples %}
    <div tabindex="0" class="entity-example-target-panel hidden content" aria-labelledby="select-target-{{ example.id }}" data-target="{{ target }}">
      {% for formatted_example in formatted_examples %}
      {% assign format = formatted_example.format %}
      <div tabindex="0" class="entity-example-format-panel {% if formats.size > 1 %} hidden {% endif %} content" aria-labelledby="select-format-{{ example.id }}" data-format="{{ format }}">
        {% capture markdown_template %}{% include {{ formatted_example.template_file }} presenter=formatted_example.presenter render_context=true %}{% endcapture %}
        {{ markdown_template | markdownify }}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
  </div>

</div>