{% assign drop = include.credential_example %}
{% assign formats = drop.formats %}

<div class="flex flex-col gap-4 heading-section entity-example" id="{{ drop.id }}">
  <div class="flex flex-col sm:flex-row gap-4 sm:items-center sm:justify-between">
    {% capture _setup_text %}Create a Consumer and credential{% endcapture %}
    {% assign _setup_id = _setup_text | slugify %}
    {% include anchor_heading.html tag="h2" id=_setup_id text=_setup_text %}
    <div class="flex w-full sm:w-fit sm:justify-end">
      <div class="flex gap-2 text-xs">
        {% if formats.size > 1 %}
        <div class="bg-secondary rounded-md flex justify-between py-2 px-4 w-full shadow-primary items-center">
          <label for="select-format-{{ drop.id }}" class="sr-only">Select a format</label>
          <select id="select-format-{{ drop.id }}" class="select-format bg-secondary">
            {% for format in formats %}
            <option value="{{ format }}">{{ site.data.entity_examples.config.formats[format].label }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="content">
    {% for formatted_example in drop.formatted_examples %}
    {% assign format = formatted_example.format %}
    <div tabindex="0" class="entity-example-format-panel {% if formats.size > 1 %} hidden {% endif %} content" aria-labelledby="select-format-{{ drop.id }}" data-format="{{ format }}">
      {% capture markdown_template %}{% include {{ formatted_example.template_file }} presenter=formatted_example.presenter render_context=true %}{% endcapture %}
      {{ markdown_template | markdownify }}
    </div>
    {% endfor %}
  </div>
</div>
