<ol class="list-none mx-0">
  {% if prereqs.tools and page.products contains "gateway" %}
  <li>
{% capture kong_gateway %}{% include prereqs/kong_gateway.md %}{% endcapture %}
{{ kong_gateway | markdownify }}
  </li>
  {% endif %}

  {% for tool in prereqs.tools %}
    <li>
      {% assign tool_include = 'prereqs/tools/' | append: tool | append: '.md' %}
      {% capture tool_template %}{% include {{ tool_include }} %}{% endcapture %}
      {{ tool_template | markdownify }}
    </li>
  {% endfor %}

  {% if prereqs.entities? %}
    <li>
      {% capture entities_template %}{% include prereqs/entities.md data=prereqs.data %}{% endcapture %}
      {{ entities_template | markdownify }}
    </li>
  {% endif %}

  {% for prereq in prereqs.inline %}
    <li>
      {% capture inline_template %}{% include prereqs/inline.md prereq=prereq %}{% endcapture %}
      {{ inline_template | markdownify }}
    </li>
  {% endfor %}
</ul>
