{% assign default_accordion = 'data-default="0" ' %}
{% if prereqs.expand_accordion == false %}
  {% assign default_accordion = '' %}
{% endif %}
<div class="flex flex-col accordion prerequisites" {{ default_accordion }}data-multiple="false" data-test-id="prereqs">

    {% if page.works_on contains 'konnect' %}
      {% unless page.products contains 'gateway' %}
        <div class="flex flex-col gap-1.5 border-b border-primary/5 accordion-item  last:border-b-0" data-deployment-topology="konnect" data-test-setup="konnect">
          {% include prereqs/products/konnect-auth-only.md tier=include.tier %}
        </div>
      {% endunless %}
    {% endif %}

    {% if prereqs.kubernetes.gateway_api %}
    <div class="flex flex-col gap-1.5 border-b border-primary/5 accordion-item last:border-b-0">
      {% include prereqs/kubernetes/gateway-api.md config=prereqs.kubernetes %}
    </div>
    {% endif %}

    {% unless prereqs.skip_product == true %}
  
    {% if page.products %}
      {% assign inline_before = prereqs.inline | where: "position", "before" %}
      {% for prereq in inline_before %}
      <div class="flex flex-col gap-1.5 border-b border-primary/5 accordion-item last:border-b-0">
    {% include prereqs/inline.md prereq=prereq %}
      </div>
      {% endfor %}

      {% if page.products contains 'gateway' %}
        {% if page.works_on contains 'konnect' %}
        <div class="flex flex-col gap-1.5 border-b border-primary/5 accordion-item  last:border-b-0" data-deployment-topology="konnect" data-test-setup="konnect">
          {% include prereqs/products/konnect.md tier=include.tier %}
        </div>
        {% endif %}
        <div class="flex flex-col gap-1.5 border-b border-primary/5 accordion-item  last:border-b-0" data-deployment-topology="on-prem" data-test-setup='{ "gateway": "{{page.min_version.gateway}}" }'>
          {% assign variables=prereqs['gateway'] %}
          {% include prereqs/products/gateway.md rbac=page.rbac env_variables=variables %}
        </div>
      {% endif %}

      {% for product in prereqs.products %}
        <div class="flex flex-col gap-1.5 border-b border-primary/5 accordion-item  last:border-b-0">
  {% assign product_include = 'prereqs/products/' | append: product | append: '.md' %}
  {% include {{ product_include }} tier=include.tier prereqs=prereqs %}
        </div>
      {% endfor %}
    {% endif %}

  {% endunless %}

  {% for tool in prereqs.tools %}
  {% assign tool_include = 'prereqs/tools/' | append: tool | append: '.md' %}
  {% capture tool_include_exists %}{% include_exists tool_include %}{% endcapture %}
  {% if tool_include_exists == 'true' %}
    <div class="flex flex-col gap-1.5 border-b border-primary/5 accordion-item  last:border-b-0">
{% include {{ tool_include }} %}
    </div>
  {% endif %}
  {% endfor %}

  {% if prereqs.entities? %}
    <div class="flex flex-col gap-1.5 border-b border-primary/5 accordion-item  last:border-b-0">
      {% assign prereq_path = "prereqs/entities/" | append: page.products[0] | append: ".md" %}
{% include {{ prereq_path }} data=prereqs.data %}
    </div>
  {% endif %}

  {% assign inline = prereqs.inline | where: "position", empty %}
  {% for prereq in inline %}
  <div class="flex flex-col gap-1.5 border-b border-primary/5 accordion-item last:border-b-0">
{% include prereqs/inline.md prereq=prereq %}
  </div>
  {% endfor %}
</div>
