{% if related_resources.layout.style == "cards" %}
  <div class="grid grid-cols-4 gap-2">
    {% for related_resource in related_resources.items %}
      <div class="flex flex-col border-2 border-gray-200 rounded-md p-3">
        <div class="flex gap-2">
          <div class="flex w-5 h-5 text-brand shrink-0">{% include_svg related_resource.icon %}</div>
        </div>
        <a href="{{ related_resource.url | liquify }}">{{ related_resource.text | liquify }}</a>
      </div>
    {% endfor %}
  </div>
  {% elsif related_resources.layout.style == "list" %}
  <div class="flex gap-3 flex-col text-sm">
    {% for related_resource in related_resources.items %}
      <div class="flex gap-2">
        <div class="flex w-5 h-5 text-brand shrink-0">{% include_svg related_resource.icon %}</div>
        <a href="{{ related_resource.url | liquify }}">{{ related_resource.text | liquify }}</a>
      </div>
    {% endfor %}
    </div>
{% else %}
  <div>
Unsupported related_resources layout: {{ related_resources.layout.style }}
  </div>
{% endif %}