{% if include.config.header.text %}
{% assign _header_id = include.config.header.text | liquify | slugify %}
{% capture _header_text %}{{ include.config.header.text | liquify }}{% endcapture %}
{% capture _header_content %}{% if include.config.header.icon %}<img class="mr-1.5 w-5 h-5" src="{{ include.config.header.icon }}" />{% endif %}{{ include.config.header.text | liquify | markdown }}{% endcapture %}
{% include anchor_heading.html tag="h2" id=_header_id text=_header_text content=_header_content class="flex items-center" %}
{% endif %}

{% for item in include.config.blocks %}
{% if item.type == "text" %}

{{ item.text | liquify | markdownify }}
{% endif %}

{% if item.type == "ordered_list" %}

<ol>
{% for list_item in item.items %}
<li>{{ list_item | liquify | markdown }}</li>
{% endfor %}
</ol>
{% endif %}

{% if item.type == "unordered_list" %}

<ul>
{% for list_item in item.items %}
<li>{{ list_item | liquify | markdown }}</li>
{% endfor %}
</ul>
{% endif %}

{% endfor %}
