openapi: 3.0.3
info:
  title: Konnect Mesh Control Plane manager
  description: Control Plane manager API
  version: 0.0.1
  x-ref-schema-name: DataplaneOverview
  contact:
    name: Kong
    url: 'https://konghq.com'
  x-oas-source: kong/platform-api@e6492f75c56e326b80588939aeda47124f3e89a5
  x-oas-source-link: 'https://github.com/Kong/platform-api/commit/e6492f75c56e326b80588939aeda47124f3e89a5'
servers:
  - url: 'https://us.api.konghq.com/v1'
    description: US Public API
  - url: 'https://eu.api.konghq.com/v1'
    description: EU Public API
  - url: 'https://au.api.konghq.com/v1'
    description: AU Public API
  - url: 'https://me.api.konghq.com/v1'
    description: ME Public API
paths:
  '/mesh/control-planes/{cpId}/api':
    get:
      operationId: index
      summary: The index endpoint
      description: 'The index endpoint, some common metadata'
      responses:
        '200':
          $ref: '#/components/responses/IndexResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - System
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/_resources':
    get:
      operationId: get-resource-type-description
      summary: A list of all resources that exist
      description: Returns a Global Insight object
      responses:
        '200':
          $ref: '#/components/responses/ResourceTypeDescriptionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - System
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/global-insight':
    get:
      operationId: get-global-insight
      summary: Get Global Insight
      description: Returns a Global Insight object
      responses:
        '200':
          $ref: '#/components/responses/GlobalInsightResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - GlobalInsight
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/{resourceType}/{resourceName}/_rules':
    get:
      operationId: inspect-dataplanes-rules
      summary: Returns rules matching this dataplane
      description: Returns rules matching this dataplane
      parameters:
        - name: mesh
          in: path
          description: The mesh the policy is part of
          required: true
          schema:
            type: string
          example: default
        - name: resourceType
          in: path
          description: The type of resource (only some resources support rules api)
          required: true
          schema:
            type: string
            enum:
              - dataplanes
              - meshgateways
          example: dataplanes
        - name: resourceName
          in: path
          description: The name of the resource
          required: true
          schema:
            type: string
          example: my-dp
      responses:
        '200':
          $ref: '#/components/responses/InspectRulesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - Inspect
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes/{name}/_config':
    get:
      operationId: get-dataplanes-xds-config
      summary: 'Get a proxy XDS config on a CP, this endpoint is only available on zone CPs.'
      description: 'Returns the [xds](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol) configuration of the proxy.'
      parameters:
        - name: mesh
          in: path
          description: The mesh of the DPP to get the diff for.
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: The name of the DPP within the mesh to get the diff for.
          required: true
          schema:
            type: string
        - name: shadow
          in: query
          description: |
            When computing XDS config the CP take into account policies with 'kuma.io/effect: shadow' label
          schema:
            type: boolean
            default: false
        - name: include
          in: query
          description: |
            An array of extra fields to include in the response. When `include=diff` the server computes a diff in JSONPatch format
            between the current proxy XDS config and the config returned in the 'xds' field.
          schema:
            type: array
            items:
              type: string
              enum:
                - diff
      responses:
        '200':
          $ref: '#/components/responses/GetDataplaneXDSConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes/{name}/_layout':
    get:
      operationId: get-dataplanes-layout
      summary: Get networking layout for this dataplane
      description: Returns detailed dataplane networking layout with most important information on dataplane and list of its inbounds and outbounds
      parameters:
        - name: mesh
          in: path
          description: The mesh of the DPP to get the layout for.
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: The name of the DPP within the mesh to get the layout for.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DataplaneNetworkingLayoutResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes/{name}/_policies':
    get:
      operationId: get-proxy-policy-conf
      summary: Get proxy policies for this dataplane
      description: Returns proxy level policy configuration derived from combining all proxy policies selecting this dataplane
      parameters:
        - name: mesh
          in: path
          description: The mesh of the DPP to get the diff for.
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: The name of the DPP within the mesh to get the diff for.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/ProxyPolicyConfResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes/{name}/_inbounds/{inbound-kri}/_policies':
    get:
      operationId: get-inbound-policy-conf
      summary: Get policies for this inbound
      description: Returns inbound policy configuration derived from combining all policies selecting this dataplane
      parameters:
        - name: mesh
          in: path
          description: The mesh of the DPP to get the policies for.
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: The name of the DPP within the mesh to get the policies for.
          required: true
          schema:
            type: string
        - name: inbound-kri
          in: path
          description: The name of the Inbound from DPP to get the policies for.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/InboundPolicyConfResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes/{name}/_outbounds/{kri}/_policies':
    get:
      operationId: get-outbound-policy-conf
      summary: Get policies for this outbound
      description: Returns outbound policy configuration derived from combining all policies selecting this dataplane
      parameters:
        - name: mesh
          in: path
          description: The mesh of the DPP to get the policies for.
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: The name of the DPP within the mesh to get the policies for.
          required: true
          schema:
            type: string
        - name: kri
          in: path
          description: The KRI of the Outbound to get the policies for.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/OutboundPolicyConfResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes/{name}/_outbounds/{kri}/_routes':
    get:
      operationId: get-outbound-routes
      summary: Get routes configuration for this outbound
      description: Returns routes configuration derived from combining all routes on this outbound
      parameters:
        - name: mesh
          in: path
          description: The mesh of the DPP to get the policies for.
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: The name of the DPP within the mesh to get the policies for.
          required: true
          schema:
            type: string
        - name: kri
          in: path
          description: The KRI of the Outbound to get the routes for.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/RoutesListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes/{name}/_outbounds/{outbound-kri}/_routes/{route-kri}/_policies':
    get:
      operationId: get-route-policy-conf
      summary: Get policies for this route
      description: Returns route policy configuration derived from combining all policies selecting this dataplane
      parameters:
        - name: mesh
          in: path
          description: The mesh of the DPP to get the policies for.
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: The name of the DPP within the mesh to get the policies for.
          required: true
          schema:
            type: string
        - name: outbound-kri
          in: path
          description: The KRI of the Outbound to get the routes for.
          required: true
          schema:
            type: string
        - name: route-kri
          in: path
          description: The KRI of the Route to get the configuration for.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/RoutePolicyConfResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/{policyType}/{policyName}/_resources/dataplanes':
    get:
      operationId: inspect-resources
      summary: Returns resources matched by this policy
      description: Returns resources matched by this policy. In the case of `targetRef` policies we'll match using the top level `targetRef`
      parameters:
        - name: mesh
          in: path
          description: The mesh the policy is part of
          required: true
          schema:
            type: string
          example: default
        - name: policyType
          in: path
          description: The type of the policy
          required: true
          schema:
            type: string
          example: meshretries
        - name: policyName
          in: path
          description: The type of the policy
          required: true
          schema:
            type: string
          example: retry-all
        - name: size
          in: query
          description: The max number of items to return
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: The offset of result
          required: false
          schema:
            type: integer
        - name: name
          in: query
          description: A sub string to filter resources by name
          required: false
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/InspectDataplanesForPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - Inspect
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshservices/{name}/_dataplanes':
    get:
      operationId: inspect-meshservices-dataplanes
      summary: Returns dataplanes matched by a MeshService
      description: Returns dataplanes matched by a MeshService
      parameters:
        - name: mesh
          in: path
          description: The mesh the service is part of
          required: true
          schema:
            type: string
          example: default
        - name: name
          in: path
          description: The name of the service
          required: true
          schema:
            type: string
          example: redis
        - name: size
          in: query
          description: The max number of items to return
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: The offset of result
          required: false
          schema:
            type: integer
        - name: name
          in: query
          description: A sub string to filter resources by name
          required: false
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/InspectDataplanesForPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - Inspect
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/{serviceType}/{serviceName}/_hostnames':
    get:
      operationId: inspect-hostnames
      summary: Returns hostnames for service
      description: Returns hostnames for a service
      parameters:
        - name: mesh
          in: path
          description: The mesh the service is part of
          required: true
          schema:
            type: string
          example: default
        - name: serviceType
          in: path
          description: The type of the service
          required: true
          schema:
            type: string
            enum:
              - meshservices
              - meshmultizoneservices
              - meshexternalservices
          example: meshservices
        - name: serviceName
          in: path
          description: The name of the service
          required: true
          schema:
            type: string
          example: redis
      responses:
        '200':
          $ref: '#/components/responses/InspectHostnamesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - Inspect
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/_kri/{kri}':
    get:
      operationId: getByKri
      summary: Returns a resource by KRI
      parameters:
        - name: kri
          in: path
          description: KRI of the resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The resource
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DataplaneItem'
                  - $ref: '#/components/schemas/MeshItem'
                  - $ref: '#/components/schemas/MeshAccessLogItem'
                  - $ref: '#/components/schemas/MeshCircuitBreakerItem'
                  - $ref: '#/components/schemas/MeshFaultInjectionItem'
                  - $ref: '#/components/schemas/MeshGatewayItem'
                  - $ref: '#/components/schemas/MeshHTTPRouteItem'
                  - $ref: '#/components/schemas/MeshHealthCheckItem'
                  - $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
                  - $ref: '#/components/schemas/MeshMetricItem'
                  - $ref: '#/components/schemas/MeshPassthroughItem'
                  - $ref: '#/components/schemas/MeshProxyPatchItem'
                  - $ref: '#/components/schemas/MeshRateLimitItem'
                  - $ref: '#/components/schemas/MeshRetryItem'
                  - $ref: '#/components/schemas/MeshTCPRouteItem'
                  - $ref: '#/components/schemas/MeshTLSItem'
                  - $ref: '#/components/schemas/MeshTimeoutItem'
                  - $ref: '#/components/schemas/MeshTraceItem'
                  - $ref: '#/components/schemas/MeshTrafficPermissionItem'
                  - $ref: '#/components/schemas/ZoneEgressItem'
                  - $ref: '#/components/schemas/ZoneIngressItem'
                  - $ref: '#/components/schemas/MeshGlobalRateLimitItem'
                  - $ref: '#/components/schemas/MeshOPAItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - KRI
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshAccessLog#get
        terraform-datasource: null
      operationId: getMeshAccessLog
      summary: Returns MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshAccessLog
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshAccessLog#create,update'
        terraform-datasource: null
      operationId: putMeshAccessLog
      summary: Creates or Updates MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshAccessLogCreateOrUpdateSuccessResponse'
      tags:
        - MeshAccessLog
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshAccessLog#delete
        terraform-datasource: null
      operationId: deleteMeshAccessLog
      summary: Deletes MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshAccessLog
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshAccessLogList#get
        terraform-datasource: null
      operationId: getMeshAccessLogList
      summary: Returns a list of MeshAccessLog in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogList'
      tags:
        - MeshAccessLog
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshCircuitBreaker#get
        terraform-datasource: null
      operationId: getMeshCircuitBreaker
      summary: Returns MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshCircuitBreaker
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshCircuitBreaker#create,update'
        terraform-datasource: null
      operationId: putMeshCircuitBreaker
      summary: Creates or Updates MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshCircuitBreakerCreateOrUpdateSuccessResponse'
      tags:
        - MeshCircuitBreaker
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshCircuitBreaker#delete
        terraform-datasource: null
      operationId: deleteMeshCircuitBreaker
      summary: Deletes MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshCircuitBreaker
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshCircuitBreakerList#get
        terraform-datasource: null
      operationId: getMeshCircuitBreakerList
      summary: Returns a list of MeshCircuitBreaker in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerList'
      tags:
        - MeshCircuitBreaker
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshFaultInjection#get
        terraform-datasource: null
      operationId: getMeshFaultInjection
      summary: Returns MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshFaultInjection
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshFaultInjection#create,update'
        terraform-datasource: null
      operationId: putMeshFaultInjection
      summary: Creates or Updates MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshFaultInjectionCreateOrUpdateSuccessResponse'
      tags:
        - MeshFaultInjection
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshFaultInjection#delete
        terraform-datasource: null
      operationId: deleteMeshFaultInjection
      summary: Deletes MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshFaultInjection
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshFaultInjectionList#get
        terraform-datasource: null
      operationId: getMeshFaultInjectionList
      summary: Returns a list of MeshFaultInjection in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionList'
      tags:
        - MeshFaultInjection
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHealthCheck#get
        terraform-datasource: null
      operationId: getMeshHealthCheck
      summary: Returns MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHealthCheck
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshHealthCheck#create,update'
        terraform-datasource: null
      operationId: putMeshHealthCheck
      summary: Creates or Updates MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshHealthCheckCreateOrUpdateSuccessResponse'
      tags:
        - MeshHealthCheck
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHealthCheck#delete
        terraform-datasource: null
      operationId: deleteMeshHealthCheck
      summary: Deletes MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHealthCheck
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHealthCheckList#get
        terraform-datasource: null
      operationId: getMeshHealthCheckList
      summary: Returns a list of MeshHealthCheck in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckList'
      tags:
        - MeshHealthCheck
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHTTPRoute#get
        terraform-datasource: null
      operationId: getMeshHTTPRoute
      summary: Returns MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHTTPRoute
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshHTTPRoute#create,update'
        terraform-datasource: null
      operationId: putMeshHTTPRoute
      summary: Creates or Updates MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshHTTPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshHTTPRoute
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHTTPRoute#delete
        terraform-datasource: null
      operationId: deleteMeshHTTPRoute
      summary: Deletes MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHTTPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshHTTPRouteList#get
        terraform-datasource: null
      operationId: getMeshHTTPRouteList
      summary: Returns a list of MeshHTTPRoute in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteList'
      tags:
        - MeshHTTPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshLoadBalancingStrategy#get
        terraform-datasource: null
      operationId: getMeshLoadBalancingStrategy
      summary: Returns MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshLoadBalancingStrategy
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshLoadBalancingStrategy#create,update'
        terraform-datasource: null
      operationId: putMeshLoadBalancingStrategy
      summary: Creates or Updates MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse'
      tags:
        - MeshLoadBalancingStrategy
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshLoadBalancingStrategy#delete
        terraform-datasource: null
      operationId: deleteMeshLoadBalancingStrategy
      summary: Deletes MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshLoadBalancingStrategy
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshLoadBalancingStrategyList#get
        terraform-datasource: null
      operationId: getMeshLoadBalancingStrategyList
      summary: Returns a list of MeshLoadBalancingStrategy in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyList'
      tags:
        - MeshLoadBalancingStrategy
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshMetric#get
        terraform-datasource: null
      operationId: getMeshMetric
      summary: Returns MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMetric
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshMetric#create,update'
        terraform-datasource: null
      operationId: putMeshMetric
      summary: Creates or Updates MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshMetricCreateOrUpdateSuccessResponse'
      tags:
        - MeshMetric
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshMetric#delete
        terraform-datasource: null
      operationId: deleteMeshMetric
      summary: Deletes MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMetric
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshMetricList#get
        terraform-datasource: null
      operationId: getMeshMetricList
      summary: Returns a list of MeshMetric in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricList'
      tags:
        - MeshMetric
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshPassthrough#get
        terraform-datasource: null
      operationId: getMeshPassthrough
      summary: Returns MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshPassthrough
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshPassthrough#create,update'
        terraform-datasource: null
      operationId: putMeshPassthrough
      summary: Creates or Updates MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshPassthroughCreateOrUpdateSuccessResponse'
      tags:
        - MeshPassthrough
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshPassthrough#delete
        terraform-datasource: null
      operationId: deleteMeshPassthrough
      summary: Deletes MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshPassthrough
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshPassthroughList#get
        terraform-datasource: null
      operationId: getMeshPassthroughList
      summary: Returns a list of MeshPassthrough in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughList'
      tags:
        - MeshPassthrough
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshProxyPatch#get
        terraform-datasource: null
      operationId: getMeshProxyPatch
      summary: Returns MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshProxyPatch
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshProxyPatch#create,update'
        terraform-datasource: null
      operationId: putMeshProxyPatch
      summary: Creates or Updates MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshProxyPatchCreateOrUpdateSuccessResponse'
      tags:
        - MeshProxyPatch
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshProxyPatch#delete
        terraform-datasource: null
      operationId: deleteMeshProxyPatch
      summary: Deletes MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshProxyPatch
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshProxyPatchList#get
        terraform-datasource: null
      operationId: getMeshProxyPatchList
      summary: Returns a list of MeshProxyPatch in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchList'
      tags:
        - MeshProxyPatch
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRateLimit#get
        terraform-datasource: null
      operationId: getMeshRateLimit
      summary: Returns MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRateLimit
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshRateLimit#create,update'
        terraform-datasource: null
      operationId: putMeshRateLimit
      summary: Creates or Updates MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshRateLimitCreateOrUpdateSuccessResponse'
      tags:
        - MeshRateLimit
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRateLimit#delete
        terraform-datasource: null
      operationId: deleteMeshRateLimit
      summary: Deletes MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRateLimitList#get
        terraform-datasource: null
      operationId: getMeshRateLimitList
      summary: Returns a list of MeshRateLimit in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitList'
      tags:
        - MeshRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRetry#get
        terraform-datasource: null
      operationId: getMeshRetry
      summary: Returns MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRetry
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshRetry#create,update'
        terraform-datasource: null
      operationId: putMeshRetry
      summary: Creates or Updates MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRetryItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshRetryCreateOrUpdateSuccessResponse'
      tags:
        - MeshRetry
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRetry#delete
        terraform-datasource: null
      operationId: deleteMeshRetry
      summary: Deletes MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRetry
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshRetryList#get
        terraform-datasource: null
      operationId: getMeshRetryList
      summary: Returns a list of MeshRetry in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryList'
      tags:
        - MeshRetry
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTCPRoute#get
        terraform-datasource: null
      operationId: getMeshTCPRoute
      summary: Returns MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTCPRoute
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshTCPRoute#create,update'
        terraform-datasource: null
      operationId: putMeshTCPRoute
      summary: Creates or Updates MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTCPRouteItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTCPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshTCPRoute
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTCPRoute#delete
        terraform-datasource: null
      operationId: deleteMeshTCPRoute
      summary: Deletes MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTCPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTCPRouteList#get
        terraform-datasource: null
      operationId: getMeshTCPRouteList
      summary: Returns a list of MeshTCPRoute in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteList'
      tags:
        - MeshTCPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTimeout#get
        terraform-datasource: null
      operationId: getMeshTimeout
      summary: Returns MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTimeout
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshTimeout#create,update'
        terraform-datasource: null
      operationId: putMeshTimeout
      summary: Creates or Updates MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTimeoutItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTimeoutCreateOrUpdateSuccessResponse'
      tags:
        - MeshTimeout
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTimeout#delete
        terraform-datasource: null
      operationId: deleteMeshTimeout
      summary: Deletes MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTimeout
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTimeoutList#get
        terraform-datasource: null
      operationId: getMeshTimeoutList
      summary: Returns a list of MeshTimeout in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutList'
      tags:
        - MeshTimeout
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtlses/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTLS#get
        terraform-datasource: null
      operationId: getMeshTLS
      summary: Returns MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTLS
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshTLS#create,update'
        terraform-datasource: null
      operationId: putMeshTLS
      summary: Creates or Updates MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTLSItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTLSCreateOrUpdateSuccessResponse'
      tags:
        - MeshTLS
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTLS#delete
        terraform-datasource: null
      operationId: deleteMeshTLS
      summary: Deletes MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTLS
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtlses':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTLSList#get
        terraform-datasource: null
      operationId: getMeshTLSList
      summary: Returns a list of MeshTLS in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSList'
      tags:
        - MeshTLS
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtraces/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrace#get
        terraform-datasource: null
      operationId: getMeshTrace
      summary: Returns MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrace
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshTrace#create,update'
        terraform-datasource: null
      operationId: putMeshTrace
      summary: Creates or Updates MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTraceItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTraceCreateOrUpdateSuccessResponse'
      tags:
        - MeshTrace
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrace#delete
        terraform-datasource: null
      operationId: deleteMeshTrace
      summary: Deletes MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrace
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtraces':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTraceList#get
        terraform-datasource: null
      operationId: getMeshTraceList
      summary: Returns a list of MeshTrace in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceList'
      tags:
        - MeshTrace
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtrafficpermissions/{name}':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrafficPermission#get
        terraform-datasource: null
      operationId: getMeshTrafficPermission
      summary: Returns MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrafficPermission
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshTrafficPermission#create,update'
        terraform-datasource: null
      operationId: putMeshTrafficPermission
      summary: Creates or Updates MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTrafficPermissionItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshTrafficPermissionCreateOrUpdateSuccessResponse'
      tags:
        - MeshTrafficPermission
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrafficPermission#delete
        terraform-datasource: null
      operationId: deleteMeshTrafficPermission
      summary: Deletes MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrafficPermission
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtrafficpermissions':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshTrafficPermissionList#get
        terraform-datasource: null
      operationId: getMeshTrafficPermissionList
      summary: Returns a list of MeshTrafficPermission in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionList'
      tags:
        - MeshTrafficPermission
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes':
    get:
      operationId: getDataplaneList
      summary: Returns a list of Dataplane in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DataplaneList'
      tags:
        - Dataplane
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes/{name}':
    delete:
      operationId: deleteDataplane
      summary: Deletes Dataplane entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the Dataplane
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DataplaneDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Dataplane
    get:
      operationId: getDataplane
      summary: Returns Dataplane entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the Dataplane
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DataplaneItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Dataplane
    put:
      operationId: putDataplane
      summary: Creates or Updates Dataplane entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the Dataplane
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataplaneItem'
      responses:
        '200':
          $ref: '#/components/responses/DataplaneCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/DataplaneCreateOrUpdateSuccessResponse'
      tags:
        - Dataplane
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes/{name}/_overview':
    get:
      operationId: getDataplaneOverview
      parameters:
        - name: mesh
          in: path
          description: The mesh of the DPP to get the diff for.
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: The name of the DPP within the mesh to get the diff for.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetDataplaneOverviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes/_overview':
    get:
      operationId: getDataplaneOverviewList
      parameters:
        - name: mesh
          in: path
          description: The mesh of the DPP to get the diff for.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetDataplaneOverviewListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshList#get
        terraform-datasource: null
      operationId: getMeshList
      summary: Returns a list of Mesh in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
      responses:
        '200':
          $ref: '#/components/responses/MeshList'
      tags:
        - Mesh
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{name}':
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: Mesh#delete
        terraform-datasource: null
      operationId: deleteMesh
      summary: Deletes Mesh entity
      parameters:
        - name: name
          in: path
          description: name of the Mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Mesh
    get:
      x-speakeasy-entity-operation:
        terraform-resource: Mesh#get
        terraform-datasource: null
      operationId: getMesh
      summary: Returns Mesh entity
      parameters:
        - name: name
          in: path
          description: name of the Mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Mesh
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'Mesh#create,update'
        terraform-datasource: null
      operationId: putMesh
      summary: Creates or Updates Mesh entity
      parameters:
        - name: name
          in: path
          description: name of the Mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshCreateOrUpdateSuccessResponse'
      tags:
        - Mesh
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshgateways':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGatewayList#get
        terraform-datasource: null
      operationId: getMeshGatewayList
      summary: Returns a list of MeshGateway in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshGatewayList'
      tags:
        - MeshGateway
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshgateways/{name}':
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGateway#delete
        terraform-datasource: null
      operationId: deleteMeshGateway
      summary: Deletes MeshGateway entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGateway
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshGatewayDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshGateway
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshGateway#get
        terraform-datasource: null
      operationId: getMeshGateway
      summary: Returns MeshGateway entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGateway
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshGatewayItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshGateway
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshGateway#create,update'
        terraform-datasource: null
      operationId: putMeshGateway
      summary: Creates or Updates MeshGateway entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGateway
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshGatewayItem'
      responses:
        '200':
          $ref: '#/components/responses/MeshGatewayCreateOrUpdateSuccessResponse'
        '201':
          $ref: '#/components/responses/MeshGatewayCreateOrUpdateSuccessResponse'
      tags:
        - MeshGateway
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/secrets':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshSecretList#get
        terraform-datasource: null
      operationId: getSecretList
      summary: Returns a list of Secret in the mesh.
      parameters:
        - name: offset
          in: query
          description: offset in the list of entities
          required: false
          schema:
            type: integer
          example: 0
        - name: size
          in: query
          description: the number of items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: filter
          in: query
          description: 'filter by labels when multiple filters are present, they are ANDed'
          required: false
          schema:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
          example:
            label.k8s.kuma.io/namespace: my-ns
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SecretList'
      tags:
        - Secret
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/secrets/{name}':
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: MeshSecret#delete
        terraform-datasource: null
      operationId: deleteSecret
      summary: Deletes Secret entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the Secret
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SecretDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Secret
    get:
      x-speakeasy-entity-operation:
        terraform-resource: MeshSecret#get
        terraform-datasource: null
      operationId: getSecret
      summary: Returns Secret entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the Secret
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SecretItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Secret
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'MeshSecret#create,update'
        terraform-datasource: null
      operationId: putSecret
      summary: Creates or Updates Secret entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the Secret
          required: true
          schema:
            type: string
[...]
