.copy-code-snippet {
  position: relative;
}

.copy-code-snippet .copy-action {
  position: absolute;
  padding: 3px;
  top: 0;
  right: 4px;
  cursor: pointer;
  color: white;
  opacity: 0.4;
  transition: color 0.3s;
  z-index: 10;
  width: 20px;
}

.copy-code-snippet[data-file] .copy-action {
  top: 25px;
}

.copy-code-snippet .copy-action:hover {
  opacity: 0.2;
}

#copy-code-success-info {
  position: fixed;
  padding: 4px 8px;
  background: white;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-top: -32px;
  transform: translateX(-50%);
}

#copy-code-input {
  position: fixed;
  top: -2000px;
}
