@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --removed-body-scroll-bar-size: 15px;

    --color-bg-primary: 247, 251, 255;
    --color-bg-secondary: 255, 255, 255;
    --color-bg-terciary: 7, 53, 103;
    --color-bg-code-block: 7, 53, 103;
    --color-bg-code-block-header: 28, 85, 146;
    --color-bg-hover-component: 235, 244, 254;

    --color-text-primary: 5, 47, 92;
    --color-text-secondary: 74, 96, 120;
    --color-text-terciary: 99, 119, 140;

    --color-border-primary: 5, 47, 92;
    --color-shadow-primary: 5, 47, 92, 0.04;

    --color-brand: 66, 140, 220;
    --color-brand-saturated: 24, 128, 240;

    --color-semantic-red-primary: 214, 67, 67;
    --color-semantic-red-secondary: 255, 229, 229;
    --color-semantic-yellow-primary: 220, 158, 66;
    --color-semantic-yellow-secondary: 255, 252, 224;
    --color-semantic-blue-primary: 33, 112, 197;
    --color-semantic-blue-secondary: 238, 250, 255;
    --color-semantic-green-primary: 66, 174, 148;
    --color-semantic-green-secondary: 236, 255, 251;
    --color-semantic-grey-primary: 86, 86, 86;
    --color-semantic-grey-secondary: 242, 242, 242;
    --color-semantic-purple-primary: 151, 71, 255;
    --color-semantic-purple-secondary: 240, 229, 255;

    --color-shadow-hover-card: 24, 128, 240, 0.16;

    --kui-color-text-neutral-stronger: rgb(var(--color-text-secondary));
    --kui-color-text-neutral-strong: rgb(var(--color-text-secondary));
    --kui-color-text-neutral: rgb(var(--color-text-primary));
    --kui-color-text: rgb(var(--color-text-primary));
    --kui-color-text-primary: rgb(var(--color-brand));
    --kui-color-background: rgb(var(--color-bg-primary));
    --kui-color-background-neutral-weakest: rgb(var(--color-bg-primary));
    --kui-color-border: rgb(var(--color-border-primary), 0.05);
  }

  .dark {
    --color-bg-primary: 2, 20, 40;
    --color-bg-secondary: 4, 40, 79;
    --color-bg-terciary: 28, 85, 146;
    --color-bg-code-block: 28, 85, 146;
    --color-bg-code-block-header: 7, 53, 103;
    --color-bg-hover-component: 7, 53, 103;

    --color-text-primary: 255, 255, 255;
    --color-text-secondary: 191, 202, 213;
    --color-text-terciary: 170, 185, 200;

    --color-border-primary: 255, 255, 255;
    --color-shadow-primary: 2, 20, 40, 0.08;

    --color-semantic-red-primary: 214, 67, 67;
    --color-semantic-red-secondary: 79, 28, 28;
    --color-semantic-yellow-primary: 255, 198, 115;;
    --color-semantic-yellow-secondary: 64, 42, 10;
    --color-semantic-blue-primary: 66, 140, 220;
    --color-semantic-blue-secondary: 4, 40, 79;
    --color-semantic-green-primary: 134, 226, 204;
    --color-semantic-green-secondary: 18, 51, 43;
    --color-semantic-grey-primary: 176, 176, 176;
    --color-semantic-grey-secondary: 21, 31, 43;
    --color-semantic-purple-primary: 220, 193, 255;
    --color-semantic-purple-secondary: 65, 37, 102;

    --color-shadow-hover-card: 24, 128, 240, 0.4;
  }

  html {
    font-family: "Inter", system-ui, sans-serif;
    @apply text-secondary font-normal;
  }

  body {
    @apply transition-colors duration-200;
  }


  code {
    font-family: "JetBrains Mono", system-ui, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-primary;
  }

  h1 {
    @apply font-bold text-3xl tracking-[-.01em];
  }

  h2 {
    @apply font-bold text-xl tracking-[-.01em];
  }

  h3 {
    @apply font-bold text-lg tracking-[-.01em];
  }

  main h3:not(.card h3, .prerequisites h3, .cleanup h3, .landing-page h3) {
    @apply pt-4;
  }

  h4 {
    @apply font-bold text-base tracking-[-.01em];
  }

  table {
    @apply bg-secondary shadow-primary border-none rounded-lg text-sm;

    &.table__sticky {
      @apply w-full;

      thead {
        @apply sticky top-0;
      }
    }
  }


  thead {
    @apply bg-secondary;
  }

  th {
    @apply bg-secondary text-primary font-semibold py-4 px-5 text-left;
  }

  th:first-child {
    @apply rounded-tl-lg;
  }

  th:last-child {
    @apply rounded-tr-lg;
  }

  th:not(:last-child) {
    @apply border-r border-primary/5;
  }

  td {
    @apply py-4 px-5;
  }

  td:not(:last-child) {
    @apply border-r border-primary/5;
  }

  tbody tr {
    @apply border-t border-primary/5;
  }

  details[open] summary .chevron-icon {
    @apply rotate-180;
  }

  ol, ul {
    @apply list-outside ml-4 flex flex-col gap-[0.4rem];
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  li {
    @apply leading-[1.6rem];
  }

  li > *:not(:last-child) {
    @apply mb-2;
  }

  a {
    @apply hover:underline;
  }

  main a {
    @apply text-brand;
  }

  a code {
    @apply text-brand;
  }

  code {
    @apply text-primary bg-secondary rounded border border-brand-saturated/40 text-sm;
  }

  code span {
    @apply text-white;
  }

  h3[id^="includes-kumahq-kuma-"][id$="-changelog"] {
    @apply flex items-center gap-1;

    > a {
      @apply w-auto;
    }
  }
}

@layer components {
  .highlight {
    @apply w-full bg-code-block h-fit;
  }

  div.highlight {
    @apply p-3 inline-grid rounded-lg;
  }

  pre {
    @apply overflow-auto whitespace-pre;
  }

  pre code {
    @apply whitespace-pre text-white bg-code-block border-none text-sm;
  }

  pre:not(.shiki)::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  pre:not(.shiki)::-webkit-scrollbar-thumb {
    @apply bg-brand rounded-lg;
  }

  pre::-webkit-scrollbar-track {
    @apply bg-code-block-header rounded-lg;
  }

  code.highlighter-rouge {
    @apply px-1;
  }

  .copy-code-snippet {
    @apply relative;
  }

  .copy-code-snippet div.highlight {
    @apply pr-10;
  }

  .copy-code-snippet .copy-action {
    @apply absolute cursor-pointer text-secondary right-3 top-3;
  }

  .copy-code-snippet .copy-action:hover {
    @apply opacity-20;
  }

  .copy-code-success-info {
    @apply absolute bg-primary border border-white px-1 py-2 rounded -mt-9 translate-x-1/3 transition-opacity duration-700 ease-out top-0 right-0 opacity-0;
  }

  #copy-code-input {
    @apply fixed -top-full;
  }

  [data-file] {
    @apply relative;
  }

  [data-file] div.highlight {
    @apply rounded-t-none;
  }

  [data-file]:before {
    @apply bg-code-block-header px-3 py-2 rounded-t-lg text-white w-full inline-block content-[attr(data-file)] text-sm;
  }

  .copy-code-snippet[data-file] .copy-action {
    @apply top-2;
  }

  .content {
    @apply flex flex-col gap-3;
  }

  .success, .warning, .danger, .info, .neutral, .decorative {
    @apply rounded-md p-4 gap-2 border-l-[3px] text-primary flex flex-col pl-10 relative text-sm;

    &:not(.no-icon)::before {
      @apply text-base absolute left-4 w-4 h-4 content-[''] top-[18px];
      mask-size: cover;
      mask:url(/assets/icons/admonitions/info.svg);
    }
  }

  .info {
    @apply bg-semantic-blue-secondary border-semantic-blue-primary;

    &:not(.no-icon)::before {
      @apply bg-semantic-blue-primary;
    }
  }

  .success {
    @apply bg-semantic-green-secondary border-semantic-green-primary;

    &:not(.no-icon)::before {
      @apply bg-semantic-green-primary;
    }
  }

  .warning {
    @apply bg-semantic-yellow-secondary border-semantic-yellow-primary;

    &:not(.no-icon)::before {
      @apply bg-semantic-yellow-primary;
      mask:url(/assets/icons/admonitions/warning.svg);
    }
  }

  .danger {
    @apply bg-semantic-red-secondary border-semantic-red-primary;

    &:not(.no-icon)::before {
      @apply bg-semantic-red-primary;
      mask:url(/assets/icons/admonitions/danger.svg);
    }
  }

  .neutral {
    @apply bg-semantic-grey-secondary border-semantic-grey-primary;

    &:not(.no-icon)::before {
      @apply bg-semantic-grey-primary;
    }
  }

  .decorative {
    @apply bg-semantic-purple-secondary border-semantic-purple-primary;

    &:not(.no-icon)::before {
      @apply bg-semantic-purple-primary;
    }
  }

  .mermaid svg {
    @apply m-auto;

    p, span {
      @apply text-primary !important;
    }

    rect, circle, ellipse, polygon {
      @apply fill-transparent stroke-[rgb(var(--color-brand))] !important;
    }

    .label-container {
      @apply fill-[rgb(var(--color-bg-secondary))] !important;
    }

    .edgeLabel {
      @apply bg-primary !important;
    }

    path {
      @apply fill-[context-stroke] stroke-[rgb(var(--color-brand))] stroke-1 !important
    }
  }

  .mermaid svg[aria-roledescription="sequence"] {
    .actor {
      @apply fill-[rgb(var(--color-bg-secondary))] !important;
    }

    .activation0 {
      @apply fill-[rgb(var(--color-bg-secondary))] !important;
    }

    text {
      @apply fill-[rgb(var(--color-text-primary))] !important;

    }

    text > tspan {
      @apply fill-[rgb(var(--color-text-primary))] !important;
    }

    .messageLine0 {
      @apply stroke-[rgb(var(--color-brand))] !important;
    }

    circle {
      @apply fill-[rgb(var(--color-bg-secondary))] !important;
    }
  }

  .badge {
    @apply rounded px-1.5 py-0.5 text-primary text-xs bg-brand-saturated/40;
  }

  .badge.deprecated {
    @apply bg-semantic-red-secondary;
  }

  .badge.premium-partner {
    @apply bg-semantic-purple-secondary;
  }

  .badge.third-party {
    @apply bg-semantic-green-secondary;
  }

  .badge.new-in {
    @apply align-middle;
  }

  .tablist {
    @apply list-none flex gap-4 text-sm ml-0 flex-row border-b border-primary/5 w-full items-center overflow-x-auto;
  }

  .tabcolumn {
    @apply list-none flex text-sm ml-0  w-full gap-0;

    ul, li {
      @apply list-none;
    }
  }

  .tab-button {
    @apply flex text-sm box-border;
  }

  .tab-button--active {
    @apply text-primary font-semibold border-brand !important;
  }

  .tab-button__horizontal {
    @apply tab-button py-3 text-terciary hover:no-underline items-center max-h-11 flex-shrink-0;

    &.tab-button__horizontal--active {
      @apply tab-button--active border-b-2 pb-[10px] !important;
    }
  }

  .tab-button__vertical {
    @apply tab-button py-2 px-5 text-terciary hover:no-underline border-l-2 border-transparent flex-wrap flex items-center gap-1;

    &.tab-button__vertical--active {
      @apply tab-button--active !important;
    }
  }

  .card {
    @apply flex rounded-md bg-secondary shadow-primary h-full;
  }

  .card__bordered {
    @apply border border-primary/5 hover:border hover:border-brand-saturated/40 hover:shadow-hover-card;
  }

  .card__featured {
    @apply border-brand-saturated/80 hover:border-brand-saturated border-2 relative overflow-hidden hover:shadow-hover-card;
  }

  .kong-conf-param h3 > a {
    @apply text-brand-saturated;
  }

  .kong-conf-param code {
    @apply text-sm;
  }

  #toc {
    @apply max-h-screen overflow-y-auto;
  }

  #toc .tab-button__vertical {
    @apply [overflow-wrap:anywhere];
  }

  #toc li > * {
    @apply mb-0;
  }

  .background-gradient {
    background: linear-gradient(transparent, transparent) padding-box,
    linear-gradient(227.59deg, #E9EEF7 6.43%, #3CB087 30.81%, #11A06B 36.89%, #286FEB 65.64%, #E9EEF7 100%) border-box;
  }

  .filters {
    @apply w-full h-full md:sticky flex flex-col md:flex left-0 self-start md:top-24 md:self-start md:h-auto;
  }

  .mobile-drawer {
    @apply fixed inset-0 md:relative md:inset-auto flex items-end z-50;
  }

  .mobile-drawer__panel {
    @apply w-full bg-secondary md:bg-transparent transition-transform duration-300 transform h-[75vh] flex flex-col rounded-t-md md:translate-y-0;
  }

  .mobile-drawer__content {
    @apply flex flex-col flex-1 overflow-y-auto p-6 md:p-0 gap-8;
  }

  .mobile-drawer__footer {
    @apply flex w-full gap-3 p-6 bg-secondary border-t border-primary/5 md:hidden;
  }
}

.ais-InstantSearch {
  @apply flex flex-col md:gap-8;
}

.ais-Pagination {
  @apply flex flex-col md:col-span-3 md:col-start-2 w-full gap-16;
}

.ais-Pagination-list {
  @apply flex-row justify-center gap-2;
}

.ais-Pagination-item {
  @apply bg-primary px-2 py-[6px] border border-primary/5 rounded-md w-[38px] h-[34px] flex items-center;
}

.ais-Pagination-item:hover {
  @apply bg-secondary;
}

.ais-Pagination-link {
  @apply h-5 w-full flex items-center justify-center text-primary;
}

.ais-Pagination-item--selected {
  @apply bg-secondary border-brand-saturated font-bold;
}

.ais-Pagination-link {
  @apply no-underline !important;
}

.ais-RefinementList-label {
  @apply flex gap-2 py-0.5 w-full text-sm text-primary items-center md:pl-1;
}

.ais-RefinementList-count {
  @apply hidden;
}

.checkbox, .ais-RefinementList-checkbox {
  @apply form-checkbox bg-secondary rounded border border-primary/[.08] dark:border-primary/5;
}

.checkbox--checked, .ais-RefinementList-checkbox:checked {
  @apply bg-brand-saturated;
}

.ais-Panel--noRefinement {
  @apply hidden;
}

.ais-StateResults {
  @apply flex flex-col md:col-span-3 w-full gap-16;
}

.modal-overflow {
  @apply overflow-hidden overscroll-contain;
}

.card:target {
  @apply border-brand-saturated border-2;
}
