{% if page.versioned and page.releases_dropdown %}
    {% include releases_dropdown.html releases_dropdown=page.releases_dropdown release=page.release mobile=include.mobile %}
{% endif %}

{% ifhascontent controls %}
    <div class="flex flex-col text-xs">
        {% contentblock controls no-convert %}
    </div>
{% endifhascontent %}

{% ifhascontent info_box %}
<div class="flex flex-col rounded-md p-5 gap-5 bg-secondary shadow-primary w-full">
{% contentblock info_box %}
</div>
{% endifhascontent %}

{% ifhascontent series_items %}
<div class="flex flex-col rounded-md p-5 gap-5 bg-secondary shadow-primary w-full">
{% contentblock series_items %}
</div>
{% endifhascontent %}
