<main id="main" class="flex flex-col pb-12 gap-12 {{ page.content_type | slugify }} {{include.class}}">
    <div class="flex flex-col gap-3">
        <div class="flex gap-3 items-center">
            {% if page.icon %}<img src="{{ page.icon }}" class="w-8 h-8"/>{% endif %}

            <h1 id="{{page.title | slugify}}">{{ page.title | liquify }}</h1>

            {% if layout.tier_inline == true and page.tier %}
                {% include tier.html products=page.products tier=page.tier %}
            {% endif %}

            {%- if page.premium_partner -%}
            {%- include badges/premium_partner.html -%}
            {%- endif -%}
        </div>

        {% if layout.uses != false %}
        {% include uses.html products=page.products tools=page.tools tier=page.tier %}
        {% endif %}

        {% ifhascontent nav_header %}
            <section class="flex">
            {% contentblock nav_header %}
            </section>
        {% endifhascontent %}
    </div>

    {{ content }}
</main>