<main class="flex flex-col py-12 gap-12 {{ page.content_type | slugify }} {{include.class}}">
    <div class="flex flex-col gap-3">
        {% if page.breadcrumbs %}
            {% include breadcrumbs.html %}
        {% endif %}

        <div class="flex gap-3 items-center">
            {% if page.icon %}<img src="{{ page.icon }}" class="w-8 h-8"/>{% endif %}
            <h1>{{ page.title | liquify }}</h1>
        </div>

        {% if layout.uses != false %}
        {% include uses.html products=page.products tools=page.tools tier=page.tier %}
        {% endif %}

        {% ifhascontent nav_header %}
            <section class="flex">
            {% contentblock nav_header %}
            </section>
        {% endifhascontent %}
    </div>

    {{ content }}
</main>