{% if page.works_on contains 'konnect' %}
<div class="content" data-deployment-topology="konnect" markdown="1" {% unless config.skip == true %} data-test-step="{{ config.data_validate_konnect | escape }}" {% endunless %}>
  {% include how-tos/validations/request-check/snippet.md url=config.konnect_url headers=config.headers form_data=config.form_data body=config.body body_cmd=config.body_cmd method=config.method user=config.user sleep=config.sleep display_headers=config.display_headers cookie_jar=config.cookie_jar cookie=config.cookie message=config.message mtls=config.mtls count=config.count insecure=config.insecure expected_headers=config.expected_headers output=config.output %}
</div>
{% endif %}

{% if page.works_on contains 'on-prem' %}
<div class="content" data-deployment-topology="on-prem"  markdown="1" {% unless config.skip == true %} data-test-step="{{ config.data_validate_on_prem | escape }}" {% endunless %}>
  {% include how-tos/validations/request-check/snippet.md url=config.on_prem_url headers=config.headers form_data=config.form_data body=config.body body_cmd=config.body_cmd method=config.method user=config.user sleep=config.sleep display_headers=config.display_headers cookie_jar=config.cookie_jar cookie=config.cookie message=config.message mtls=config.mtls count=config.count insecure=config.insecure expected_headers=config.expected_headers output=config.output %}
</div>
{% endif %}
