openapi: 3.0.0
info:
  title: Konnect Metering & Billing
  version: 0.0.1
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
  description: Konnect Metering & Billing API.
  x-oas-source: kong/platform-api@3d1f59233252eb8ffbfbdbf3a6f25536b62948a4
  x-oas-source-link: 'https://github.com/Kong/platform-api/commit/3d1f59233252eb8ffbfbdbf3a6f25536b62948a4'
servers:
  - url: 'https://us.api.konghq.com/v3'
    description: United-States Production region
  - url: 'https://eu.api.konghq.com/v3'
    description: Europe Production region
  - url: 'https://au.api.konghq.com/v3'
    description: Australia Production region
  - url: 'https://me.api.konghq.com/v3'
    description: Middle-East Production region
  - url: 'https://in.api.konghq.com/v3'
    description: India Production region
  - url: 'https://sg.api.konghq.com/v3'
    description: Singapore Production region
paths:
  /openmeter/addons:
    get:
      operationId: list-openmeter-addons
      summary: List add-ons
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List all add-ons.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort add-ons returned in the response. Supported sort attributes are:

            - `id`
            - `key`
            - `name`
            - `created_at` (default)
            - `updated_at`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: Filter add-ons returned in the response.
          required: false
          schema:
            $ref: '#/components/schemas/ListAddonsParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Product Catalog
    post:
      operationId: create-openmeter-addon
      summary: Create add-on
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create a new add-on.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddonRequest'
      responses:
        '201':
          description: Addon created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Product Catalog
  '/openmeter/addons/{addonId}':
    put:
      operationId: update-openmeter-addon
      summary: Update add-on
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Update an add-on by id.
      parameters:
        - name: addonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertAddonRequest'
      responses:
        '200':
          description: Addon upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Product Catalog
    get:
      operationId: get-openmeter-addon
      summary: Get add-on
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get add-on by id.
      parameters:
        - name: addonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Addon response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Product Catalog
    delete:
      operationId: delete-openmeter-addon
      summary: Soft delete add-on
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Soft delete add-on by id.
      parameters:
        - name: addonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
  '/openmeter/addons/{addonId}/archive':
    post:
      operationId: archive-openmeter-addon
      summary: Archive add-on version
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Archive an add-on version.
      parameters:
        - name: addonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Addon updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
  '/openmeter/addons/{addonId}/publish':
    post:
      operationId: publish-addon
      summary: Publish add-on version
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Publish an add-on version.
      parameters:
        - name: addonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Addon updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
  /openmeter/apps:
    get:
      operationId: list-apps
      summary: List apps
      description: List installed apps.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Apps
  '/openmeter/apps/{appId}':
    get:
      operationId: get-app
      summary: Get app
      description: Get an installed app.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: App response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingApp'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Apps
  /openmeter/customers:
    post:
      operationId: create-customer
      summary: Create customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Customer created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Customers
    get:
      operationId: list-customers
      summary: List customers
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort customers returned in the response. Supported sort attributes are:

            - `id`
            - `name` (default)
            - `created_at`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter customers returned in the response.

            To filter customers by key add the following query param: filter[key]=my-db-id
          required: false
          schema:
            $ref: '#/components/schemas/ListCustomersParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}':
    get:
      operationId: get-customer
      summary: Get customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Customer response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
    put:
      operationId: upsert-customer
      summary: Upsert customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCustomerRequest'
      responses:
        '200':
          description: Customer upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
    delete:
      operationId: delete-customer
      summary: Delete customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/billing':
    get:
      operationId: get-customer-billing
      summary: Get customer billing data
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: CustomerBillingData response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomerData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
    put:
      operationId: update-customer-billing
      summary: Update customer billing data
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCustomerBillingDataRequest'
      responses:
        '200':
          description: CustomerBillingData upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomerData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/billing/app-data':
    put:
      operationId: update-customer-billing-app-data
      summary: Update customer billing app data
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertAppCustomerDataRequest'
      responses:
        '200':
          description: AppCustomerData upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppCustomerData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/billing/stripe/checkout-sessions':
    post:
      operationId: create-customer-stripe-checkout-session
      summary: Create Stripe Checkout Session
      description: |-
        Create a [Stripe Checkout Session](https://docs.stripe.com/payments/checkout)
        for the customer.

        Creates a Checkout Session for collecting payment method information from
        customers. The session operates in "setup" mode, which collects payment details
        without charging the customer immediately. The collected payment method can be
        used for future subscription billing.

        For hosted checkout sessions, redirect customers to the returned URL. For
        embedded sessions, use the client_secret to initialize Stripe.js in your
        application.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCustomerStripeCreateCheckoutSessionRequest'
      responses:
        '201':
          description: CreateStripeCheckoutSessionResult created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/billing/stripe/portal-sessions':
    post:
      operationId: create-customer-stripe-portal-session
      summary: Create Stripe customer portal session
      description: |-
        Create Stripe Customer Portal Session.

        Useful to redirect the customer to the Stripe Customer Portal to manage their
        payment methods, change their billing address and access their invoice history.
        Only returns URL if the customer billing profile is linked to a stripe app and
        customer.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCustomerStripeCreateCustomerPortalSessionRequest'
      responses:
        '201':
          description: CreateStripeCustomerPortalSessionResult created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppStripeCreateCustomerPortalSessionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/entitlement-access':
    get:
      operationId: list-customer-entitlement-access
      summary: List customer entitlement access
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: List the customer's active features and their access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomerEntitlementAccessResponseData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Entitlements
  /openmeter/events:
    get:
      operationId: list-metering-events
      summary: List metering events
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List ingested events.
      parameters:
        - $ref: '#/components/parameters/CursorPaginationQuery'
        - name: filter
          in: query
          description: |-
            Filter events returned in the response.

            To filter events by subject add the following query param:
            filter[subject][eq]=customer-1
          required: false
          schema:
            $ref: '#/components/schemas/ListEventsParamsFilter'
          style: deepObject
        - name: sort
          in: query
          description: |-
            Sort events returned in the response. Supported sort attributes are:

            - `time` (default)
            - `ingested_at`
            - `stored_at`

            When omitted, events are sorted by `time desc` (most recent first). When a sort
            field is provided without a suffix, it sorts descending. Append the `asc` suffix
            to sort ascending, or the `desc` suffix to sort descending.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
      responses:
        '200':
          description: Cursor paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestedEventPaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Metering Events
    post:
      operationId: ingest-metering-events
      summary: Ingest metering events
      description: Ingests an event or batch of events following the CloudEvents specification.
      requestBody:
        required: true
        content:
          application/cloudevents+json:
            schema:
              $ref: '#/components/schemas/MeteringEvent'
          application/cloudevents-batch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MeteringEvent'
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/MeteringEvent'
                - type: array
                  items:
                    $ref: '#/components/schemas/MeteringEvent'
      responses:
        '202':
          description: The events have been ingested and are being processed asynchronously.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Metering Events
  /openmeter/features:
    get:
      operationId: list-features
      summary: List features
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List all features.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort features returned in the response. Supported sort attributes are:

            - `key`
            - `name`
            - `created_at` (default)
            - `updated_at`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter features returned in the response.

            To filter features by meter_id add the following query param:
            filter[meter_id][oeq]=<id>
          required: false
          schema:
            $ref: '#/components/schemas/ListFeatureParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturePagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Features
    post:
      operationId: create-feature
      summary: Create feature
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create a feature.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeatureRequest'
      responses:
        '201':
          description: Feature created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Features
  '/openmeter/features/{featureId}':
    get:
      operationId: get-feature
      summary: Get feature
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get a feature by id.
      parameters:
        - name: featureId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Feature response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Features
    patch:
      operationId: update-feature
      summary: Update feature
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Update a feature by id. Currently only the unit_cost field can be updated.
      parameters:
        - name: featureId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeatureRequest'
      responses:
        '200':
          description: Feature updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Features
    delete:
      operationId: delete-feature
      summary: Delete feature
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Delete a feature by id.
      parameters:
        - name: featureId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Features
  '/openmeter/features/{featureId}/cost/query':
    post:
      operationId: query-feature-cost
      summary: Query feature cost
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Query the cost of a feature.
      parameters:
        - name: featureId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeterQueryRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCostQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Features
  /openmeter/llm-cost/overrides:
    get:
      operationId: list-llm-cost-overrides
      summary: List LLM cost overrides
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List per-namespace price overrides.
      parameters:
        - name: filter
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ListLLMCostPricesParamsFilter'
          style: deepObject
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter LLM Cost
    post:
      operationId: create-llm-cost-override
      summary: Create LLM cost override
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create a per-namespace price override.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LLMCostOverrideCreate'
      responses:
        '201':
          description: Price created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMCostPrice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter LLM Cost
  '/openmeter/llm-cost/overrides/{priceId}':
    delete:
      operationId: delete-llm-cost-override
      summary: Delete LLM cost override
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Delete a per-namespace price override.
      parameters:
        - name: priceId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter LLM Cost
  /openmeter/llm-cost/prices:
    get:
      operationId: list-llm-cost-prices
      summary: List LLM cost prices
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List global LLM cost prices. Returns prices with overrides applied if any.
      parameters:
        - name: filter
          in: query
          description: Filter prices.
          required: false
          schema:
            $ref: '#/components/schemas/ListLLMCostPricesParamsFilter'
          style: deepObject
        - name: sort
          in: query
          description: |-
            Sort prices returned in the response. Supported sort attributes are:

            - `id`
            - `provider.id`
            - `model.id` (default)
            - `effective_from`
            - `effective_to`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter LLM Cost
  '/openmeter/llm-cost/prices/{priceId}':
    get:
      operationId: get-llm-cost-price
      summary: Get LLM cost price
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get a specific LLM cost price by ID. Returns the price with overrides applied if
        any.
      parameters:
        - name: priceId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLMCostPrice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter LLM Cost
  /openmeter/meters:
    post:
      operationId: create-meter
      summary: Create meter
      description: Create a meter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeterRequest'
      responses:
        '201':
          description: Meter created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Meters
    get:
      operationId: list-meters
      summary: List meters
      description: List meters.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort meters returned in the response. Supported sort attributes are:

            - `key`
            - `name`
            - `aggregation`
            - `createdAt` (default)
            - `updatedAt`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter meters returned in the response.

            To filter meters by key add the following query param: filter[key]=my-meter-key
          required: false
          schema:
            $ref: '#/components/schemas/ListMetersParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeterPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Meters
  '/openmeter/meters/{meterId}':
    get:
      operationId: get-meter
      summary: Get meter
      description: Get a meter by ID.
      parameters:
        - name: meterId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Meter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Meters
    put:
      operationId: update-meter
      summary: Update meter
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Update a meter.
      parameters:
        - name: meterId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeterRequest'
      responses:
        '200':
          description: Meter updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Meters
    delete:
      operationId: delete-meter
      summary: Delete meter
      description: Delete a meter.
      parameters:
        - name: meterId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Meters
  '/openmeter/meters/{meterId}/query':
    post:
      operationId: query-meter
      summary: Query meter
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Query a meter for usage.

        Set `Accept: application/json` (the default) to get a structured JSON response.
        Set `Accept: text/csv` to download the same data as a CSV file suitable for
        spreadsheets. The CSV columns, in order, are:

        `from, to, [subject,] [customer_id, customer_key, customer_name,] <dimensions...>, value`

        The `subject` column is emitted only when `subject` is in the query's
        `group_by_dimensions`. The three `customer_*` columns are emitted together only
        when `customer_id` is in the query's `group_by_dimensions`.
      parameters:
        - name: meterId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeterQueryRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeterQueryResult'
            text/csv:
              schema:
                type: string
              examples:
                Grouped by customer and dimensions:
                  summary: Grouped by customer and dimensions
                  value: |-
                    from,to,customer_id,customer_key,customer_name,model,type,value
                    2023-01-01T00:00:00Z,2023-01-01T00:01:00Z,01G65Z755AFWAKHE12NY0CQ9FH,acme-inc,Acme Inc.,gpt-4-turbo,input,12
                    2023-01-01T00:01:00Z,2023-01-01T00:02:00Z,01G65Z755AFWAKHE12NY0CQ9FH,acme-inc,Acme Inc.,gpt-4-turbo,input,20
                    2023-01-01T00:02:00Z,2023-01-01T00:03:00Z,01G65Z755B3YZ1KRA9W8V7PS2D,globex,Globex Corp,gpt-4-turbo,output,4
                No group-by dimensions:
                  summary: No group-by dimensions
                  value: |-
                    from,to,value
                    2023-01-01T00:00:00Z,2023-01-01T00:01:00Z,12
                    2023-01-01T00:01:00Z,2023-01-01T00:02:00Z,20
                    2023-01-01T00:02:00Z,2023-01-01T00:03:00Z,4
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Meters
  /openmeter/plans:
    get:
      operationId: list-plans
      summary: List plans
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List all plans.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort plans returned in the response. Supported sort attributes are:

            - `id`
            - `key`
            - `version`
            - `created_at` (default)
            - `updated_at`
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: Filter plans returned in the response.
          required: false
          schema:
            $ref: '#/components/schemas/ListPlansParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Product Catalog
    post:
      operationId: create-plan
      summary: Create plan
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create a new plan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanRequest'
      responses:
        '201':
          description: Plan created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Product Catalog
  '/openmeter/plans/{planId}':
    put:
      operationId: update-plan
      summary: Update plan
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Update a plan by id.
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertPlanRequest'
      responses:
        '200':
          description: Plan upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Product Catalog
    get:
      operationId: get-plan
      summary: Get plan
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get a plan by id.
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Plan response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Product Catalog
    delete:
      operationId: delete-plan
      summary: Delete plan
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Delete a plan by id.
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
  '/openmeter/plans/{planId}/addons':
    get:
      operationId: list-plan-addons
      summary: List add-ons for plan
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List add-ons associated with a plan.
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAddonPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
    post:
      operationId: create-plan-addon
      summary: Add add-on to plan
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Add an add-on to a plan.
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanAddonRequest'
      responses:
        '201':
          description: PlanAddon created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAddon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
  '/openmeter/plans/{planId}/addons/{planAddonId}':
    get:
      operationId: get-plan-addon
      summary: Get add-on association for plan
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get an add-on association for a plan.
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: planAddonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: PlanAddon response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAddon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
    put:
      operationId: update-plan-addon
      summary: Update add-on association for plan
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Update an add-on association for a plan.
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: planAddonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertPlanAddonRequest'
      responses:
        '200':
          description: PlanAddon upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAddon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
    delete:
      operationId: delete-plan-addon
      summary: Remove add-on from plan
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Remove an add-on from a plan.
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: planAddonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
  '/openmeter/plans/{planId}/archive':
    post:
      operationId: archive-plan
      summary: Archive plan version
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Archive a plan version.
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Plan updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
  '/openmeter/plans/{planId}/publish':
    post:
      operationId: publish-plan
      summary: Publish plan version
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Publish a plan version.
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Plan updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
  /openmeter/profiles:
    get:
      operationId: list-billing-profiles
      summary: List billing profiles
      description: List billing profiles.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfilePagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Billing
    post:
      operationId: create-billing-profile
      summary: Create a new billing profile
      description: |-
        Create a new billing profile.

        Billing profiles contain the settings for billing and controls invoice
        generation. An organization can have multiple billing profiles defined. A
        billing profile is linked to a specific app. This association is established
        during the billing profile's creation and remains immutable.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingProfileRequest'
      responses:
        '201':
          description: BillingProfile created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Billing
  '/openmeter/profiles/{id}':
    get:
      operationId: get-billing-profile
      summary: Get a billing profile
      description: Get a billing profile.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: BillingProfile response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing
    put:
      operationId: update-billing-profile
      summary: Update a billing profile
      description: Update a billing profile.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertBillingProfileRequest'
      responses:
        '200':
          description: BillingProfile updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing
    delete:
      operationId: delete-billing-profile
      summary: Delete a billing profile
      description: |-
        Delete a billing profile.

        Only such billing profiles can be deleted that are:

        - not the default profile
        - not pinned to any customer using customer overrides
        - only have finalized invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing
  /openmeter/subscriptions:
    post:
      operationId: create-subscription
      summary: Create subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionCreate'
      responses:
        '201':
          description: Subscription created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
    get:
      operationId: list-subscriptions
      summary: List subscriptions
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort subscriptions returned in the response. Supported sort attributes are:

            - `id`
            - `active_from` (default)
            - `active_to`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: Filter subscriptions.
          required: false
          schema:
            $ref: '#/components/schemas/ListSubscriptionsParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Subscriptions
  '/openmeter/subscriptions/{subscriptionId}':
    get:
      operationId: get-subscription
      summary: Get subscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Subscription response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Subscriptions
  '/openmeter/subscriptions/{subscriptionId}/addons':
    get:
      operationId: list-subscription-addons
      summary: List subscription addons
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List the addons of a subscription.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionAddonPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Subscriptions
  '/openmeter/subscriptions/{subscriptionId}/addons/{subscriptionAddonId}':
    get:
      operationId: get-subscription-addon
      summary: Get add-on association for subscription
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get an add-on association for a subscription.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: subscriptionAddonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: SubscriptionAddon response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionAddon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Subscriptions
  '/openmeter/subscriptions/{subscriptionId}/cancel':
    post:
      operationId: cancel-subscription
      summary: Cancel subscription
      description: |-
        Cancels the subscription. Will result in a scheduling conflict if there are
        other subscriptions scheduled to start after the cancelation time.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionCancel'
      responses:
        '200':
          description: Subscription updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
  '/openmeter/subscriptions/{subscriptionId}/change':
    post:
      operationId: change-subscription
      summary: Change subscription
      description: |-
        Closes a running subscription and starts a new one according to the
        specification. Can be used for upgrades, downgrades, and plan changes.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionChange'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscriptionChangeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
  '/openmeter/subscriptions/{subscriptionId}/unschedule-cancelation':
    post:
      operationId: unschedule-cancelation
      summary: Unschedule subscription cancelation
      description: Unschedules the subscription cancelation.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Subscription updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
components:
  parameters:
    CursorPaginationQuery:
      name: page
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/CursorPaginationQueryPage'
      style: deepObject
    PagePaginationQuery:
      name: page
      in: query
      required: false
      description: Determines which page of the collection to retrieve.
      schema:
        type: object
        properties:
          size:
            description: The number of items to include per page.
            type: integer
          number:
            description: The page number.
            type: integer
        additionalProperties: false
      style: deepObject
  schemas:
    Addon:
      description: |-
        Add-on allows extending subscriptions with compatible plans with additional
        ratecards.
      type: object
      properties:
        id:
          description: ULID (Universally Unique Lexicographically Sortable Identifier).
          type: string
          example: 01G65Z755AFWAKHE12NY0CQ9FH
          pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
          readOnly: true
          title: ULID
        name:
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
          type: string
          maxLength: 1024
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          description: An ISO-8601 timestamp representation of entity creation date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        updated_at:
          description: An ISO-8601 timestamp representation of entity last update date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        deleted_at:
          description: An ISO-8601 timestamp representation of entity deletion date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        key:
          description: |-
            A key is a semi-unique string that is used to identify the add-on. It is used to
            reference the latest `active` version of the add-on and is unique with the
            version number.
          type: string
          example: resource_key
          maxLength: 64
          minLength: 1
          pattern: '^[a-z0-9]+(?:_[a-z0-9]+)*$'
          title: Key
        version:
          description: Version of the add-on. Incremented when the add-on is updated.
          type: integer
          default: 1
          minimum: 1
          readOnly: true
          title: Version
        instance_type:
          description: The InstanceType of the add-ons. Can be "single" or "multiple".
          type: string
          enum:
            - single
            - multiple
          title: The InstanceType of the add-ons. Can be "single" or "multiple".
        currency:
          description: Fiat or custom currency code.
          type: string
          example: USD
          maxLength: 3
          minLength: 3
          pattern: '^[A-Z]{3}$'
        effective_from:
          description: |-
            The date and time when the add-on becomes effective. When not specified, the
            add-on is a draft.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: Effective start date
        effective_to:
          description: |-
            The date and time when the add-on is no longer effective. When not specified,
            the add-on is effective indefinitely.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: Effective end date
        status:
          description: |-
            The status of the add-on. Computed based on the effective start and end dates:

            - `draft`: `effective_from` is not set.
            - `active`: `effective_from <= now` and (`effective_to` is not set or
            `now < effective_to`).
            - `archived`: `effective_to <= now`.
          type: string
          enum:
            - draft
            - active
            - archived
          readOnly: true
          title: Status
        rate_cards:
          description: The rate cards of the add-on.
          type: array
          items:
            $ref: '#/components/schemas/BillingRateCard'
          title: Rate cards
        validation_errors:
          description: List of validation errors.
          type: array
          items:
            $ref: '#/components/schemas/ProductCatalogValidationError'
          readOnly: true
          title: Validation errors
      additionalProperties: false
      required:
        - id
        - name
        - created_at
        - updated_at
        - key
        - version
        - instance_type
        - currency
        - status
        - rate_cards
    AddonPagePaginatedResponse:
      description: Page paginated response.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Addon'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      additionalProperties: false
      required:
        - data
        - meta
    AppPagePaginatedResponse:
      description: Page paginated response.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BillingApp'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      additionalProperties: false
      required:
        - data
        - meta
    BillingApp:
      description: Installed application.
      type: object
      discriminator:
        propertyName: type
        mapping:
          stripe: '#/components/schemas/BillingAppStripe'
          sandbox: '#/components/schemas/BillingAppSandbox'
          external_invoicing: '#/components/schemas/BillingAppExternalInvoicing'
      oneOf:
        - $ref: '#/components/schemas/BillingAppStripe'
        - $ref: '#/components/schemas/BillingAppSandbox'
        - $ref: '#/components/schemas/BillingAppExternalInvoicing'
    BillingAppCustomerData:
      description: App customer data.
      type: object
      properties:
        stripe:
          description: Used if the customer has a linked Stripe app.
          type: object
          additionalProperties: false
          properties:
            customer_id:
              description: The Stripe customer ID used.
              type: string
              example: cus_1234567890
              title: Stripe customer ID
            default_payment_method_id:
              description: The Stripe default payment method ID.
              type: string
              example: pm_1234567890
              title: Stripe default payment method ID
            labels:
              description: Labels for this Stripe integration on the customer.
              type: object
              example:
                env: test
              additionalProperties:
                type: string
                pattern: '^[a-z0-9A-Z]{1}([a-z0-9A-Z-._]*[a-z0-9A-Z]+)?$'
                minLength: 1
                maxLength: 63
              maxProperties: 50
              title: Labels
          title: Stripe
        external_invoicing:
          description: Used if the customer has a linked external invoicing app.
          type: object
          additionalProperties: false
          properties:
            labels:
              description: Labels for this external invoicing integration on the customer.
              type: object
              example:
                env: test
              additionalProperties:
                type: string
                pattern: '^[a-z0-9A-Z]{1}([a-z0-9A-Z-._]*[a-z0-9A-Z]+)?$'
                minLength: 1
                maxLength: 63
              maxProperties: 50
              title: Labels
          title: External invoicing
      additionalProperties: false
    BillingAppExternalInvoicing:
      description: |-
        External Invoicing app enables integration with third-party invoicing or payment
        system.

        The app supports a bi-directional synchronization pattern where OpenMeter
        Billing manages the invoice lifecycle while the external system handles invoice
        presentation and payment collection.

        Integration workflow:

        1. The billing system creates invoices and transitions them through lifecycle
        states (draft → issuing → issued)
        2. The integration receives webhook notifications about invoice state changes
        3. The integration calls back to provide external system IDs and metadata
        4. The integration reports payment events back via the payment status API

        State synchronization is controlled by hooks that pause invoice progression
        until the external system confirms synchronization via API callbacks.
      type: object
      properties:
        id:
          description: ULID (Universally Unique Lexicographically Sortable Identifier).
          type: string
          example: 01G65Z755AFWAKHE12NY0CQ9FH
          pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
          readOnly: true
          title: ULID
        name:
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
          type: string
          maxLength: 1024
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          description: An ISO-8601 timestamp representation of entity creation date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        updated_at:
          description: An ISO-8601 timestamp representation of entity last update date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        deleted_at:
          description: An ISO-8601 timestamp representation of entity deletion date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        type:
          description: The app type.
          type: string
          enum:
            - external_invoicing
          readOnly: true
        definition:
          description: The app catalog definition that this installed app is based on.
          type: object
          example:
            type: stripe
            name: Stripe
            description: Stripe integration allows you to collect payments with Stripe.
          additionalProperties: false
          properties:
            type:
              description: Type of the app.
              type: string
              enum:
                - sandbox
                - stripe
                - external_invoicing
              readOnly: true
            name:
              description: Name of the app.
              type: string
              readOnly: true
            description:
              description: Description of the app.
              type: string
              readOnly: true
          readOnly: true
          required:
            - type
            - name
            - description
        status:
          description: Status of the app connection.
          type: string
          enum:
            - ready
            - unauthorized
          readOnly: true
        enable_draft_sync_hook:
          description: |-
            Enable draft synchronization hook.

            When enabled, invoices will pause at the draft state and wait for the
            integration to call the draft synchronized endpoint before progressing to the
            issuing state. This allows the external system to validate and prepare the
            invoice data.

            When disabled, invoices automatically progress through the draft state based on
            the configured workflow timing.
          type: boolean
        enable_issuing_sync_hook:
          description: |-
            Enable issuing synchronization hook.

            When enabled, invoices will pause at the issuing state and wait for the
            integration to call the issuing synchronized endpoint before progressing to the
            issued state. This ensures the external invoicing system has successfully
            created and finalized the invoice before it is marked as issued.

            When disabled, invoices automatically progress through the issuing state and are
            immediately marked as issued.
          type: boolean
      additionalProperties: false
      required:
        - id
        - name
        - created_at
        - updated_at
        - type
        - definition
        - status
        - enable_draft_sync_hook
        - enable_issuing_sync_hook
    BillingAppSandbox:
      description: Sandbox app can be used for testing billing features.
      type: object
      properties:
        id:
          description: ULID (Universally Unique Lexicographically Sortable Identifier).
          type: string
          example: 01G65Z755AFWAKHE12NY0CQ9FH
          pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
          readOnly: true
          title: ULID
        name:
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
          type: string
          maxLength: 1024
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          description: An ISO-8601 timestamp representation of entity creation date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        updated_at:
          description: An ISO-8601 timestamp representation of entity last update date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        deleted_at:
          description: An ISO-8601 timestamp representation of entity deletion date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        type:
          description: The app type.
          type: string
          enum:
            - sandbox
          readOnly: true
        definition:
          description: The app catalog definition that this installed app is based on.
          type: object
          example:
            type: stripe
            name: Stripe
            description: Stripe integration allows you to collect payments with Stripe.
          additionalProperties: false
          properties:
            type:
              description: Type of the app.
              type: string
              enum:
                - sandbox
                - stripe
                - external_invoicing
              readOnly: true
            name:
              description: Name of the app.
              type: string
              readOnly: true
            description:
              description: Description of the app.
              type: string
              readOnly: true
          readOnly: true
          required:
            - type
            - name
            - description
        status:
          description: Status of the app connection.
          type: string
          enum:
            - ready
            - unauthorized
          readOnly: true
      additionalProperties: false
      required:
        - id
        - name
        - created_at
        - updated_at
        - type
        - definition
        - status
    BillingAppStripe:
      description: Stripe app.
      type: object
      properties:
        id:
          description: ULID (Universally Unique Lexicographically Sortable Identifier).
          type: string
          example: 01G65Z755AFWAKHE12NY0CQ9FH
          pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
          readOnly: true
          title: ULID
        name:
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
          type: string
          maxLength: 1024
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          description: An ISO-8601 timestamp representation of entity creation date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        updated_at:
          description: An ISO-8601 timestamp representation of entity last update date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        deleted_at:
          description: An ISO-8601 timestamp representation of entity deletion date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        type:
          description: The app type.
          type: string
          enum:
            - stripe
          readOnly: true
        definition:
          description: The app catalog definition that this installed app is based on.
          type: object
          example:
            type: stripe
            name: Stripe
            description: Stripe integration allows you to collect payments with Stripe.
          additionalProperties: false
          properties:
            type:
              description: Type of the app.
              type: string
              enum:
                - sandbox
                - stripe
                - external_invoicing
              readOnly: true
            name:
              description: Name of the app.
              type: string
              readOnly: true
            description:
              description: Description of the app.
              type: string
              readOnly: true
          readOnly: true
          required:
            - type
            - name
            - description
        status:
          description: Status of the app connection.
          type: string
          enum:
            - ready
            - unauthorized
          readOnly: true
        account_id:
          description: The Stripe account ID associated with the connected Stripe account.
          type: string
          readOnly: true
        livemode:
          description: Indicates whether the app is connected to a live Stripe account.
          type: boolean
          readOnly: true
        masked_api_key:
          description: The masked Stripe API key that only exposes the first and last few characters.
          type: string
          readOnly: true
      additionalProperties: false
      required:
        - id
        - name
        - created_at
        - updated_at
        - type
        - definition
        - status
        - account_id
        - livemode
        - masked_api_key
    BillingAppStripeCreateCheckoutSessionResult:
      description: |-
        Result of creating a Stripe Checkout Session.

        Contains all the information needed to redirect customers to the checkout or
        initialize an embedded checkout flow.
      type: object
      properties:
        customer_id:
          description: The customer ID in the billing system.
          type: string
          example: 01G65Z755AFWAKHE12NY0CQ9FH
          pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
          title: ULID
        stripe_customer_id:
          description: The Stripe customer ID.
          type: string
        session_id:
          description: The Stripe checkout session ID.
          type: string
        setup_intent_id:
          description: The setup intent ID created for collecting the payment method.
          type: string
        client_secret:
          description: |-
            Client secret for initializing Stripe.js on the client side.

            Required for embedded checkout sessions. See:
            https://docs.stripe.com/payments/checkout/custom-success-page
          type: string
        client_reference_id:
          description: |-
            The client reference ID provided in the request.

            Useful for reconciling the session with your internal systems.
          type: string
        customer_email:
          description: Customer's email address if provided to Stripe.
          type: string
        currency:
          description: Currency code for the checkout session.
          type: string
          example: USD
          maxLength: 3
          minLength: 3
          pattern: '^[A-Z]{3}$'
        created_at:
          description: Timestamp when the checkout session was created.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          title: RFC3339 Date-Time
        expires_at:
          description: Timestamp when the checkout session will expire.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          title: RFC3339 Date-Time
        metadata:
          description: Metadata attached to the checkout session.
          type: object
          additionalProperties:
            type: string
        status:
          description: |-
            The status of the checkout session.

            See:
            https://docs.stripe.com/api/checkout/sessions/object#checkout_session_object-status
          type: string
        url:
          description: URL to redirect customers to the checkout page (for hosted mode).
          type: string
        mode:
          description: |-
            Mode of the checkout session.

            Currently only "setup" mode is supported for collecting payment methods.
          type: string
          enum:
            - setup
        cancel_url:
          description: The cancel URL where customers are redirected if they cancel.
          type: string
        success_url:
          description: The success URL where customers are redirected after completion.
          type: string
        return_url:
          description: The return URL for embedded sessions after authentication.
          type: string
      additionalProperties: false
      required:
        - customer_id
        - stripe_customer_id
        - session_id
        - setup_intent_id
        - created_at
        - mode
    BillingAppStripeCreateCustomerPortalSessionResult:
      description: |-
        Result of creating a
        [Stripe Customer Portal Session](https://docs.stripe.com/api/customer_portal/sessions/object).

        Contains all the information needed to redirect the customer to the Stripe
        Customer Portal.
      type: object
      properties:
        id:
          description: |-
            The ID of the customer portal session.

            See:
            https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-id
          type: string
        stripe_customer_id:
          description: The ID of the stripe customer.
          type: string
        configuration_id:
          description: |-
            Configuration used to customize the customer portal.

            See:
            https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-configuration
          type: string
        livemode:
          description: |-
            Livemode.

            See:
            https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-livemode
          type: boolean
        created_at:
          description: |-
            Created at.

            See:
            https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-created
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          title: RFC3339 Date-Time
        return_url:
          description: |-
            Return URL.

            See:
            https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-return_url
          type: string
        locale:
          description: |-
            The IETF language tag of the locale customer portal is displayed in.

            See:
            https://docs.stripe.com/api/customer_portal/sessions/object#portal_session_object-locale
          type: string
        url:
          description: |-
            The URL to redirect the customer to after they have completed their requested
            actions.
          type: string
      additionalProperties: false
      required:
        - id
        - stripe_customer_id
        - configuration_id
        - livemode
        - created_at
        - return_url
        - locale
        - url
    BillingCustomer:
      description: |-
        Customers can be individuals or organizations that can subscribe to plans and
        have access to features.
      type: object
      properties:
        id:
          description: ULID (Universally Unique Lexicographically Sortable Identifier).
          type: string
          example: 01G65Z755AFWAKHE12NY0CQ9FH
          pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
          readOnly: true
          title: ULID
        name:
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
          type: string
          maxLength: 1024
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          description: An ISO-8601 timestamp representation of entity creation date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        updated_at:
          description: An ISO-8601 timestamp representation of entity last update date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        deleted_at:
          description: An ISO-8601 timestamp representation of entity deletion date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        key:
          $ref: '#/components/schemas/ExternalResourceKey'
        usage_attribution:
          description: Mapping to attribute metered usage to the customer by the event subject.
          type: object
          additionalProperties: false
          properties:
            subject_keys:
              description: |-
                The subjects that are attributed to the customer. Can be empty when no usage
                event subjects are associated with the customer.
              type: array
              items:
                $ref: '#/components/schemas/UsageAttributionSubjectKey'
              minItems: 0
              title: Subject Keys
          required:
            - subject_keys
          title: Usage Attribution
        primary_email:
          description: The primary email address of the customer.
          type: string
          title: Primary Email
        currency:
          description: 'Currency of the customer. Used for billing, tax and invoicing.'
          type: string
          example: USD
          maxLength: 3
          minLength: 3
          pattern: '^[A-Z]{3}$'
          title: Currency
        billing_address:
          description: The billing address of the customer. Used for tax and invoicing.
          type: object
          additionalProperties: false
          properties:
            country:
              description: |-
                Country code in [ISO 3166-1](https://www.iso.org/iso-3166-country-codes.html)
                alpha-2 format.
              type: string
              example: US
              maxLength: 2
              minLength: 2
              pattern: '^[A-Z]{2}$'
              title: Country
            postal_code:
              description: Postal code.
              type: string
              title: Postal Code
            state:
              description: State or province.
              type: string
              title: State
            city:
              description: City.
              type: string
              title: City
            line1:
              description: First line of the address.
              type: string
              title: Line 1
            line2:
              description: Second line of the address.
              type: string
              title: Line 2
            phone_number:
              description: Phone number.
              type: string
              title: Phone Number
          title: Billing Address
      additionalProperties: false
[...]
