openapi: 3.0.0
info:
  title: Konnect Metering & Billing
  version: 0.0.1
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
  description: Konnect Metering & Billing API.
  x-oas-source: kong/platform-api@487b6df8012cde1138ec8ed851846558ee554e3d
  x-oas-source-link: 'https://github.com/Kong/platform-api/commit/487b6df8012cde1138ec8ed851846558ee554e3d'
servers:
  - url: 'https://us.api.konghq.com/v3'
    description: United-States Production region
  - url: 'https://eu.api.konghq.com/v3'
    description: Europe Production region
  - url: 'https://au.api.konghq.com/v3'
    description: Australia Production region
  - url: 'https://me.api.konghq.com/v3'
    description: Middle-East Production region
  - url: 'https://in.api.konghq.com/v3'
    description: India Production region
  - url: 'https://sg.api.konghq.com/v3'
    description: Singapore Production region
paths:
  /openmeter/customers:
    post:
      operationId: create-customer
      summary: Create customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Customer created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Customers
    get:
      operationId: list-customers
      summary: List customers
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort customers returned in the response.
            Supported sort attributes are:
            - `id`
            - `name` (default)
            - `created_at`

            The `asc` suffix is optional as the default sort order is ascending.
            The `desc` suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter customers returned in the response.

            To filter customers by key add the following query param: filter[key]=my-db-id
          required: false
          schema:
            $ref: '#/components/schemas/ListCustomersParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}':
    get:
      operationId: get-customer
      summary: Get customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Customer response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
    put:
      operationId: upsert-customer
      summary: Upsert customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCustomerRequest'
      responses:
        '200':
          description: Customer upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
    delete:
      operationId: delete-customer
      summary: Delete customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/entitlement-access':
    get:
      operationId: list-customer-entitlement-access
      summary: List customer entitlement access
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: List the customer's active features and their access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomerEntitlementAccessResponseData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Entitlements
  /openmeter/events:
    post:
      operationId: ingest-metering-events
      summary: Ingest metering events
      description: Ingests an event or batch of events following the CloudEvents specification.
      requestBody:
        required: true
        content:
          application/cloudevents+json:
            schema:
              $ref: '#/components/schemas/MeteringEvent'
          application/cloudevents-batch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MeteringEvent'
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/MeteringEvent'
                - type: array
                  items:
                    $ref: '#/components/schemas/MeteringEvent'
      responses:
        '202':
          description: The events have been ingested and are being processed asynchronously.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Metering Events
  /openmeter/meters:
    post:
      operationId: create-meter
      summary: Create meter
      description: Create a meter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeterRequest'
      responses:
        '201':
          description: Meter created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Meters
    get:
      operationId: list-meters
      summary: List meters
      description: List meters.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeterPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Meters
  '/openmeter/meters/{meterId}':
    get:
      operationId: get-meter
      summary: Get meter
      description: Get a meter by ID.
      parameters:
        - name: meterId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Meter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Meters
    delete:
      operationId: delete-meter
      summary: Delete meter
      description: Delete a meter.
      parameters:
        - name: meterId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Meters
  /openmeter/subscriptions:
    post:
      operationId: create-subscription
      summary: Create subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionCreate'
      responses:
        '201':
          description: Subscription created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
    get:
      operationId: list-subscriptions
      summary: List subscriptions
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: filter
          in: query
          description: Filter subscriptions.
          required: false
          schema:
            type: object
            properties:
              customer_id:
                description: Filter subscriptions by customer ID.
                type: string
                example: 01G65Z755AFWAKHE12NY0CQ9FH
                pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
                title: ULID
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Subscriptions
  '/openmeter/subscriptions/{subscriptionId}':
    get:
      operationId: get-subscription
      summary: Get subscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Subscription response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Subscriptions
  '/openmeter/subscriptions/{subscriptionId}/cancel':
    post:
      operationId: cancel-subscription
      summary: Cancel subscription
      description: |-
        Cancels the subscription.
        Will result in a scheduling conflict if there are other subscriptions scheduled to start after the cancelation time.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionCancel'
      responses:
        '200':
          description: Subscription updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
  '/openmeter/subscriptions/{subscriptionId}/change':
    post:
      operationId: change-subscription
      summary: Change subscription
      description: |-
        Closes a running subscription and starts a new one according to the specification.
        Can be used for upgrades, downgrades, and plan changes.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSubscriptionChange'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscriptionChangeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
  '/openmeter/subscriptions/{subscriptionId}/unschedule-cancelation':
    post:
      operationId: unschedule-cancelation
      summary: Unschedule subscription cancelation
      description: Unschedules the subscription cancelation.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Subscription updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Subscriptions
components:
  parameters:
    PagePaginationQuery:
      name: page
      in: query
      required: false
      description: Determines which page of the collection to retrieve.
      schema:
        type: object
        properties:
          size:
            type: integer
          number:
            type: integer
      style: deepObject
  schemas:
    BillingCustomer:
      description: Customers can be individuals or organizations that can subscribe to plans and have access to features.
      type: object
      properties:
        id:
          description: ULID (Universally Unique Lexicographically Sortable Identifier).
          type: string
          example: 01G65Z755AFWAKHE12NY0CQ9FH
          pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
          readOnly: true
          title: ULID
        name:
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
          type: string
          maxLength: 1024
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          description: An ISO-8601 timestamp representation of entity creation date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        updated_at:
          description: An ISO-8601 timestamp representation of entity last update date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        deleted_at:
          description: An ISO-8601 timestamp representation of entity deletion date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        key:
          $ref: '#/components/schemas/ExternalResourceKey'
        usage_attribution:
          description: Mapping to attribute metered usage to the customer by the event subject.
          type: object
          properties:
            subject_keys:
              description: |-
                The subjects that are attributed to the customer.
                Can be empty when no usage event subjects are associated with the customer.
              type: array
              items:
                $ref: '#/components/schemas/UsageAttributionSubjectKey'
              minItems: 0
              title: Subject Keys
          required:
            - subject_keys
          title: Usage Attribution
        primary_email:
          description: The primary email address of the customer.
          type: string
          title: Primary Email
        currency:
          description: |-
            Currency of the customer.
            Used for billing, tax and invoicing.
          type: string
          example: USD
          maxLength: 3
          minLength: 3
          pattern: '^[A-Z]{3}$'
          title: Currency
        billing_address:
          description: |-
            The billing address of the customer.
            Used for tax and invoicing.
          type: object
          properties:
            country:
              description: 'Country code in [ISO 3166-1](https://www.iso.org/iso-3166-country-codes.html) alpha-2 format.'
              type: string
              example: US
              maxLength: 2
              minLength: 2
              pattern: '^[A-Z]{2}$'
              title: Country
            postal_code:
              description: Postal code.
              type: string
              title: Postal Code
            state:
              description: State or province.
              type: string
              title: State
            city:
              description: City.
              type: string
              title: City
            line1:
              description: First line of the address.
              type: string
              title: Line 1
            line2:
              description: Second line of the address.
              type: string
              title: Line 2
            phone_number:
              description: Phone number.
              type: string
              title: Phone Number
          title: Billing Address
      required:
        - id
        - name
        - key
    BillingEntitlementAccessResult:
      description: Entitlement access result.
      type: object
      properties:
        type:
          description: The type of the entitlement.
          type: string
          example: static
          enum:
            - metered
            - static
            - boolean
          readOnly: true
        feature_key:
          description: The feature key of the entitlement.
          type: string
          example: available_models
          maxLength: 64
          minLength: 1
          pattern: '^[a-z0-9]+(?:_[a-z0-9]+)*$'
          readOnly: true
          title: Resource Key
        has_access:
          description: |-
            Whether the customer has access to the feature.
            Always true for `boolean` and `static` entitlements.
            Depends on balance for `metered` entitlements.
          type: boolean
          example: true
          readOnly: true
        config:
          description: |-
            Only available for static entitlements.
            Config is the JSON parsable configuration of the entitlement.
            Useful to describe per customer configuration.
          type: string
          example: '{ "availableModels": ["gpt-5", "gpt-4o"] }'
          readOnly: true
      required:
        - type
        - feature_key
        - has_access
    BillingSubscription:
      description: Subscription.
      type: object
      properties:
        id:
          description: ULID (Universally Unique Lexicographically Sortable Identifier).
          type: string
          example: 01G65Z755AFWAKHE12NY0CQ9FH
          pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
          readOnly: true
          title: ULID
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          description: An ISO-8601 timestamp representation of entity creation date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        updated_at:
          description: An ISO-8601 timestamp representation of entity last update date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        deleted_at:
          description: An ISO-8601 timestamp representation of entity deletion date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        customer_id:
          description: The customer ID of the subscription.
          type: string
          example: 01G65Z755AFWAKHE12NY0CQ9FH
          pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
          readOnly: true
          title: Customer ID
        plan_id:
          description: |-
            The plan ID of the subscription.
            Set if subscription is created from a plan.
          type: string
          example: 01G65Z755AFWAKHE12NY0CQ9FH
          pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
          readOnly: true
          title: Plan ID
        billing_anchor:
          description: |-
            A billing anchor is the fixed point in time that determines the subscription's recurring billing cycle.
            It affects when charges occur and how prorations are calculated.
            Common anchors:
            - Calendar month (1st of each month): `2025-01-01T00:00:00Z`
            - Subscription anniversary (day customer signed up)
            - Custom date (customer-specified day)
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: Billing anchor
        status:
          description: The status of the subscription.
          type: string
          enum:
            - active
            - inactive
            - canceled
            - scheduled
          readOnly: true
          title: Status
      required:
        - id
        - customer_id
        - billing_anchor
        - status
    BillingSubscriptionCancel:
      description: Request for canceling a subscription.
      type: object
      properties:
        timing:
          description: If not provided the subscription is canceled immediately.
          example: immediate
          default: immediate
          oneOf:
            - $ref: '#/components/schemas/BillingSubscriptionEditTimingEnum'
            - $ref: '#/components/schemas/DateTime'
    BillingSubscriptionChange:
      description: Request for changing a subscription.
      type: object
      properties:
        labels:
          $ref: '#/components/schemas/Labels'
        customer:
          description: The customer to create the subscription for.
          type: object
          properties:
            id:
              description: |-
                The ID of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              type: string
              example: 01G65Z755AFWAKHE12NY0CQ9FH
              pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
              title: Customer ID
            key:
              description: |-
                The key of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              type: string
              example: 019ae40f-4258-7f15-9491-842f42a7d6ac
              maxLength: 256
              minLength: 1
              title: Customer Key
        plan:
          description: The plan reference of the subscription.
          type: object
          properties:
            id:
              description: |-
                The plan ID of the subscription.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              type: string
              example: 01G65Z755AFWAKHE12NY0CQ9FH
              pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
              title: Plan ID
            key:
              description: |-
                The plan Key of the subscription, if any.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              type: string
              example: resource_key
              maxLength: 64
              minLength: 1
              pattern: '^[a-z0-9]+(?:_[a-z0-9]+)*$'
              title: Plan Key
            version:
              description: |-
                The plan version of the subscription, if any.
                If not provided, the latest version of the plan will be used.
              type: integer
              title: Plan Version
        billing_anchor:
          description: |-
            A billing anchor is the fixed point in time that determines the subscription's recurring billing cycle.
            It affects when charges occur and how prorations are calculated.
            Common anchors:
            - Calendar month (1st of each month): `2025-01-01T00:00:00Z`
            - Subscription anniversary (day customer signed up)
            - Custom date (customer-specified day)

            If not provided, the subscription will be created with the subscription's creation time as the billing anchor.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          title: Billing anchor
        timing:
          description: |-
            Timing configuration for the change, when the change should take effect.
            For changing a subscription, the accepted values depend on the subscription configuration.
          example: immediate
          oneOf:
            - $ref: '#/components/schemas/BillingSubscriptionEditTimingEnum'
            - $ref: '#/components/schemas/DateTime'
      required:
        - customer
        - plan
        - timing
    BillingSubscriptionChangeResponse:
      description: Response for changing a subscription.
      type: object
      properties:
        current:
          description: The current subscription before the change.
          type: object
          properties:
            id:
              description: ULID (Universally Unique Lexicographically Sortable Identifier).
              type: string
              example: 01G65Z755AFWAKHE12NY0CQ9FH
              pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
              readOnly: true
              title: ULID
            labels:
              $ref: '#/components/schemas/Labels'
            created_at:
              description: An ISO-8601 timestamp representation of entity creation date.
              type: string
              format: date-time
              example: '2023-01-01T01:01:01.001Z'
              readOnly: true
              title: RFC3339 Date-Time
            updated_at:
              description: An ISO-8601 timestamp representation of entity last update date.
              type: string
              format: date-time
              example: '2023-01-01T01:01:01.001Z'
              readOnly: true
              title: RFC3339 Date-Time
            deleted_at:
              description: An ISO-8601 timestamp representation of entity deletion date.
              type: string
              format: date-time
              example: '2023-01-01T01:01:01.001Z'
              readOnly: true
              title: RFC3339 Date-Time
            customer_id:
              description: The customer ID of the subscription.
              type: string
              example: 01G65Z755AFWAKHE12NY0CQ9FH
              pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
              readOnly: true
              title: Customer ID
            plan_id:
              description: |-
                The plan ID of the subscription.
                Set if subscription is created from a plan.
              type: string
              example: 01G65Z755AFWAKHE12NY0CQ9FH
              pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
              readOnly: true
              title: Plan ID
            billing_anchor:
              description: |-
                A billing anchor is the fixed point in time that determines the subscription's recurring billing cycle.
                It affects when charges occur and how prorations are calculated.
                Common anchors:
                - Calendar month (1st of each month): `2025-01-01T00:00:00Z`
                - Subscription anniversary (day customer signed up)
                - Custom date (customer-specified day)
              type: string
              format: date-time
              example: '2023-01-01T01:01:01.001Z'
              readOnly: true
              title: Billing anchor
            status:
              description: The status of the subscription.
              type: string
              enum:
                - active
                - inactive
                - canceled
                - scheduled
              readOnly: true
              title: Status
          required:
            - id
            - customer_id
            - billing_anchor
            - status
        next:
          description: The new state of the subscription after the change.
          type: object
          properties:
            id:
              description: ULID (Universally Unique Lexicographically Sortable Identifier).
              type: string
              example: 01G65Z755AFWAKHE12NY0CQ9FH
              pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
              readOnly: true
              title: ULID
            labels:
              $ref: '#/components/schemas/Labels'
            created_at:
              description: An ISO-8601 timestamp representation of entity creation date.
              type: string
              format: date-time
              example: '2023-01-01T01:01:01.001Z'
              readOnly: true
              title: RFC3339 Date-Time
            updated_at:
              description: An ISO-8601 timestamp representation of entity last update date.
              type: string
              format: date-time
              example: '2023-01-01T01:01:01.001Z'
              readOnly: true
              title: RFC3339 Date-Time
            deleted_at:
              description: An ISO-8601 timestamp representation of entity deletion date.
              type: string
              format: date-time
              example: '2023-01-01T01:01:01.001Z'
              readOnly: true
              title: RFC3339 Date-Time
            customer_id:
              description: The customer ID of the subscription.
              type: string
              example: 01G65Z755AFWAKHE12NY0CQ9FH
              pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
              readOnly: true
              title: Customer ID
            plan_id:
              description: |-
                The plan ID of the subscription.
                Set if subscription is created from a plan.
              type: string
              example: 01G65Z755AFWAKHE12NY0CQ9FH
              pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
              readOnly: true
              title: Plan ID
            billing_anchor:
              description: |-
                A billing anchor is the fixed point in time that determines the subscription's recurring billing cycle.
                It affects when charges occur and how prorations are calculated.
                Common anchors:
                - Calendar month (1st of each month): `2025-01-01T00:00:00Z`
                - Subscription anniversary (day customer signed up)
                - Custom date (customer-specified day)
              type: string
              format: date-time
              example: '2023-01-01T01:01:01.001Z'
              readOnly: true
              title: Billing anchor
            status:
              description: The status of the subscription.
              type: string
              enum:
                - active
                - inactive
                - canceled
                - scheduled
              readOnly: true
              title: Status
          required:
            - id
            - customer_id
            - billing_anchor
            - status
      required:
        - current
        - next
    BillingSubscriptionCreate:
      description: Subscription create request.
      type: object
      properties:
        labels:
          $ref: '#/components/schemas/Labels'
        customer:
          description: The customer to create the subscription for.
          type: object
          properties:
            id:
              description: |-
                The ID of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              type: string
              example: 01G65Z755AFWAKHE12NY0CQ9FH
              pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
              title: Customer ID
            key:
              description: |-
                The key of the customer to create the subscription for.

                Either customer ID or customer key must be provided.
                If both are provided, the ID will be used.
              type: string
              example: 019ae40f-4258-7f15-9491-842f42a7d6ac
              maxLength: 256
              minLength: 1
              title: Customer Key
        plan:
          description: The plan reference of the subscription.
          type: object
          properties:
            id:
              description: |-
                The plan ID of the subscription.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              type: string
              example: 01G65Z755AFWAKHE12NY0CQ9FH
              pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
              title: Plan ID
            key:
              description: |-
                The plan Key of the subscription, if any.
                Set if subscription is created from a plan.

                ID or Key of the plan is required if creating a subscription from a plan.
                If both are provided, the ID will be used.
              type: string
              example: resource_key
              maxLength: 64
              minLength: 1
              pattern: '^[a-z0-9]+(?:_[a-z0-9]+)*$'
              title: Plan Key
            version:
              description: |-
                The plan version of the subscription, if any.
                If not provided, the latest version of the plan will be used.
              type: integer
              title: Plan Version
        billing_anchor:
          description: |-
            A billing anchor is the fixed point in time that determines the subscription's recurring billing cycle.
            It affects when charges occur and how prorations are calculated.
            Common anchors:
            - Calendar month (1st of each month): `2025-01-01T00:00:00Z`
            - Subscription anniversary (day customer signed up)
            - Custom date (customer-specified day)

            If not provided, the subscription will be created with the subscription's creation time as the billing anchor.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          title: Billing anchor
      required:
        - customer
        - plan
    BillingSubscriptionEditTimingEnum:
      description: |-
        Subscription edit timing.
        When immediate, the requested changes take effect immediately.
        When next_billing_cycle, the requested changes take effect at the next billing cycle.
      type: string
      enum:
        - immediate
        - next_billing_cycle
    CreateCustomerRequest:
      description: Customer create request.
      type: object
      properties:
        name:
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
          type: string
          maxLength: 1024
        labels:
          $ref: '#/components/schemas/Labels'
        key:
          $ref: '#/components/schemas/ExternalResourceKey'
        usage_attribution:
          description: Mapping to attribute metered usage to the customer by the event subject.
          type: object
          properties:
            subject_keys:
              description: |-
                The subjects that are attributed to the customer.
                Can be empty when no usage event subjects are associated with the customer.
              type: array
              items:
                $ref: '#/components/schemas/UsageAttributionSubjectKey'
              minItems: 0
              title: Subject Keys
          required:
            - subject_keys
          title: Usage Attribution
        primary_email:
          description: The primary email address of the customer.
          type: string
          title: Primary Email
        currency:
          description: |-
            Currency of the customer.
            Used for billing, tax and invoicing.
          type: string
          example: USD
          maxLength: 3
          minLength: 3
          pattern: '^[A-Z]{3}$'
          title: Currency
        billing_address:
          description: |-
            The billing address of the customer.
            Used for tax and invoicing.
          type: object
          properties:
            country:
              description: 'Country code in [ISO 3166-1](https://www.iso.org/iso-3166-country-codes.html) alpha-2 format.'
              type: string
              example: US
              maxLength: 2
              minLength: 2
              pattern: '^[A-Z]{2}$'
              title: Country
            postal_code:
              description: Postal code.
              type: string
              title: Postal Code
            state:
              description: State or province.
              type: string
              title: State
            city:
              description: City.
              type: string
              title: City
            line1:
              description: First line of the address.
              type: string
              title: Line 1
            line2:
              description: Second line of the address.
              type: string
              title: Line 2
            phone_number:
              description: Phone number.
              type: string
              title: Phone Number
          title: Billing Address
      required:
        - name
        - key
    CreateMeterRequest:
      description: Meter create request.
      type: object
      properties:
        name:
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
          type: string
          maxLength: 1024
        labels:
          $ref: '#/components/schemas/Labels'
        key:
          $ref: '#/components/schemas/ResourceKey'
        aggregation:
          description: The aggregation type to use for the meter.
          type: string
          enum:
            - sum
            - count
            - unique_count
            - avg
            - min
            - max
            - latest
        event_type:
          description: The event type to include in the aggregation.
          type: string
          example: prompt
          minLength: 1
        events_from:
          description: |-
            The date since the meter should include events.
            Useful to skip old events.
            If not specified, all historical events are included.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          title: RFC3339 Date-Time
        value_property:
          description: |-
            JSONPath expression to extract the value from the ingested event's data property.

            The ingested value for sum, avg, min, and max aggregations is a number or a string that can be parsed to a number.

            For unique_count aggregation, the ingested value must be a string. For count aggregation the value_property is ignored.
          type: string
          example: $.tokens
          minLength: 1
        dimensions:
          description: |-
            Named JSONPath expressions to extract the group by values from the event data.

            Keys must be unique and consist only alphanumeric and underscore characters.
          type: object
          example:
            type: $.type
          additionalProperties:
            type: string
      required:
        - name
        - key
        - aggregation
        - event_type
    CustomerPagePaginatedResponse:
      description: Page paginated response.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BillingCustomer'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      required:
        - data
        - meta
    DateTime:
      description: '[RFC3339](https://tools.ietf.org/html/rfc3339) formatted date-time string in UTC.'
      type: string
      format: date-time
      example: '2023-01-01T01:01:01.001Z'
      title: RFC3339 Date-Time
    ExternalResourceKey:
      description: ExternalResourceKey is a unique string that is used to identify a resource in an external system.
      type: string
      example: 019ae40f-4258-7f15-9491-842f42a7d6ac
      maxLength: 256
      minLength: 1
      title: External Resource Key
    ListCustomerEntitlementAccessResponseData:
      description: List customer entitlement access response data.
      type: object
      properties:
        data:
          description: The list of entitlement access results.
          type: array
          items:
            $ref: '#/components/schemas/BillingEntitlementAccessResult'
          readOnly: true
      required:
        - data
    ListCustomersParamsFilter:
      description: Filter options for listing customers.
      type: object
      properties:
        key:
          description: |-
            Filter customers by key.
            Case-insensitive partial match.
          type: string
          example: 019ae40f-4258-7f15-9491-842f42a7d6ac
          maxLength: 256
          minLength: 1
          title: External Resource Key
    Meter:
      description: A meter is a configuration that defines how to match and aggregate events.
      type: object
      properties:
        id:
          description: ULID (Universally Unique Lexicographically Sortable Identifier).
          type: string
          example: 01G65Z755AFWAKHE12NY0CQ9FH
          pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
          readOnly: true
          title: ULID
        name:
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
          type: string
          maxLength: 1024
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          description: An ISO-8601 timestamp representation of entity creation date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        updated_at:
          description: An ISO-8601 timestamp representation of entity last update date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        deleted_at:
          description: An ISO-8601 timestamp representation of entity deletion date.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          readOnly: true
          title: RFC3339 Date-Time
        key:
          $ref: '#/components/schemas/ResourceKey'
        aggregation:
          description: The aggregation type to use for the meter.
          type: string
          enum:
            - sum
            - count
            - unique_count
            - avg
            - min
            - max
            - latest
        event_type:
          description: The event type to include in the aggregation.
          type: string
          example: prompt
          minLength: 1
        events_from:
          description: |-
            The date since the meter should include events.
            Useful to skip old events.
            If not specified, all historical events are included.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          title: RFC3339 Date-Time
        value_property:
          description: |-
            JSONPath expression to extract the value from the ingested event's data property.

            The ingested value for sum, avg, min, and max aggregations is a number or a string that can be parsed to a number.

            For unique_count aggregation, the ingested value must be a string. For count aggregation the value_property is ignored.
          type: string
          example: $.tokens
          minLength: 1
        dimensions:
          description: |-
            Named JSONPath expressions to extract the group by values from the event data.

            Keys must be unique and consist only alphanumeric and underscore characters.
          type: object
          example:
            type: $.type
          additionalProperties:
            type: string
      example:
        id: 01G65Z755AFWAKHE12NY0CQ9FH
        key: tokens_total
        name: Tokens Total
        description: AI Token Usage
        aggregation: sum
        event_type: prompt
        value_property: $.tokens
        dimensions:
          model: $.model
          type: $.type
        created_at: '2024-01-01T01:01:01.001Z'
        updated_at: '2024-01-01T01:01:01.001Z'
      required:
        - id
        - name
        - key
        - aggregation
        - event_type
    MeterPagePaginatedResponse:
      description: Page paginated response.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Meter'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      required:
        - data
        - meta
    MeteringEvent:
      description: Metering event following the CloudEvents specification.
      type: object
      properties:
        id:
          description: Identifies the event.
          type: string
          example: 5c10fade-1c9e-4d6c-8275-c52c36731d3c
          minLength: 1
        source:
          description: Identifies the context in which an event happened.
          type: string
          format: uri-reference
          example: service-name
          minLength: 1
        specversion:
          description: The version of the CloudEvents specification which the event uses.
          type: string
          example: '1.0'
          default: '1.0'
          minLength: 1
        type:
          description: Contains a value describing the type of event related to the originating occurrence.
          type: string
          example: com.example.someevent
          minLength: 1
        datacontenttype:
          description: Content type of the CloudEvents data value. Only the value "application/json" is allowed over HTTP.
          type: string
          example: application/json
          enum:
            - application/json
          nullable: true
        dataschema:
          description: Identifies the schema that data adheres to.
          type: string
          format: uri
          minLength: 1
          nullable: true
        subject:
          description: Describes the subject of the event in the context of the event producer (identified by source).
          type: string
          example: customer-id
          minLength: 1
        time:
          description: Timestamp of when the occurrence happened. Must adhere to RFC 3339.
          type: string
          format: date-time
          example: '2023-01-01T01:01:01.001Z'
          nullable: true
          title: RFC3339 Date-Time
        data:
          description: |-
            The event payload.
            Optional, if present it must be a JSON object.
          type: object
          additionalProperties: {}
          nullable: true
      example:
        specversion: '1.0'
        id: 5c10fade-1c9e-4d6c-8275-c52c36731d3c
        source: service-name
        type: prompt
        subject: customer-id
        time: '2023-01-01T01:01:01.001Z'
        data:
          prompt: 'Hello, world!'
          tokens: 100
          model: gpt-4o
          type: input
      required:
        - id
        - source
        - specversion
        - type
        - subject
      title: Metering Event
    ResourceKey:
      description: A key is a unique string that is used to identify a resource.
      type: string
      example: resource_key
      maxLength: 64
      minLength: 1
      pattern: '^[a-z0-9]+(?:_[a-z0-9]+)*$'
      title: Resource Key
    SubscriptionPagePaginatedResponse:
      description: Page paginated response.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BillingSubscription'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      required:
        - data
        - meta
    ULID:
      description: ULID (Universally Unique Lexicographically Sortable Identifier).
      type: string
      example: 01G65Z755AFWAKHE12NY0CQ9FH
      pattern: '^[0-7][0-9A-HJKMNP-TV-Z]{25}$'
      title: ULID
    UpsertCustomerRequest:
      description: Customer upsert request.
      type: object
      properties:
        name:
          description: |-
            Display name of the resource.

            Between 1 and 256 characters.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: |-
            Optional description of the resource.

            Maximum 1024 characters.
          type: string
          maxLength: 1024
        labels:
          $ref: '#/components/schemas/Labels'
        usage_attribution:
          description: Mapping to attribute metered usage to the customer by the event subject.
          type: object
          properties:
            subject_keys:
              description: |-
                The subjects that are attributed to the customer.
                Can be empty when no usage event subjects are associated with the customer.
              type: array
              items:
                $ref: '#/components/schemas/UsageAttributionSubjectKey'
              minItems: 0
              title: Subject Keys
          required:
            - subject_keys
          title: Usage Attribution
        primary_email:
          description: The primary email address of the customer.
          type: string
          title: Primary Email
        currency:
          description: |-
            Currency of the customer.
            Used for billing, tax and invoicing.
          type: string
          example: USD
          maxLength: 3
          minLength: 3
          pattern: '^[A-Z]{3}$'
          title: Currency
        billing_address:
          description: |-
            The billing address of the customer.
            Used for tax and invoicing.
          type: object
          properties:
            country:
              description: 'Country code in [ISO 3166-1](https://www.iso.org/iso-3166-country-codes.html) alpha-2 format.'
              type: string
              example: US
              maxLength: 2
              minLength: 2
              pattern: '^[A-Z]{2}$'
              title: Country
            postal_code:
              description: Postal code.
              type: string
              title: Postal Code
            state:
              description: State or province.
              type: string
              title: State
            city:
              description: City.
              type: string
              title: City
            line1:
              description: First line of the address.
              type: string
              title: Line 1
            line2:
              description: Second line of the address.
              type: string
              title: Line 2
            phone_number:
              description: Phone number.
              type: string
              title: Phone Number
          title: Billing Address
      required:
        - name
    UsageAttributionSubjectKey:
      description: Subject key.
      type: string
      minLength: 1
    SortQuery:
      description: |
        The `asc` suffix is optional as the default sort order is ascending.
        The `desc` suffix is used to specify a descending order.
        Multiple sort attributes may be provided via a comma separated list.
        JSONPath notation may be used to specify a sub-attribute (eg: 'foo.bar desc').
      type: string
      example: created_at desc
      title: SortQuery
    Labels:
      description: |
        Labels store metadata of an entity that can be used for filtering an entity list or for searching across entity types. 

        Keys must be of length 1-63 characters, and cannot start with "kong", "konnect", "mesh", "kic", or "_".
      type: object
      example:
        env: test
      additionalProperties:
        type: string
        pattern: '^[a-z0-9A-Z]{1}([a-z0-9A-Z-._]*[a-z0-9A-Z]+)?$'
        minLength: 1
        maxLength: 63
      maxProperties: 50
      title: Labels
    PageMeta:
      description: Contains pagination query parameters and the total number of objects returned.
      type: object
      properties:
        number:
          type: number
          example: 1
        size:
          type: number
          example: 10
        total:
          type: number
          example: 100
      required:
        - number
        - size
        - total
    PaginatedMeta:
      description: returns the pagination information
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageMeta'
      required:
        - page
      title: PaginatedMeta
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: |
            The HTTP status code of the error. Useful when passing the response
            body to child properties in a frontend UI. Must be returned as an integer.
          type: integer
          readOnly: true
        title:
          description: |
            A short, human-readable summary of the problem. It should not
            change between occurences of a problem, except for localization.
            Should be provided as "Sentence case" for direct use in the UI.
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: |
            Used to return the correlation ID back to the user, in the format
            kong:trace:<correlation_id>. This helps us find the relevant logs
            when a customer reports an issue.
          type: string
          readOnly: true
        detail:
          description: |
            A human readable explanation specific to this occurence of the problem.
            This field may contain request/entity data to help the user understand
            what went wrong. Enclose variable values in square brackets. Should be
            provided as "Sentence case" for direct use in the UI.
          type: string
          readOnly: true
      required:
        - status
        - title
        - instance
        - detail
      title: Error
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
        - required
        - is_array
        - is_base64
        - is_boolean
        - is_date_time
        - is_integer
        - is_null
        - is_number
        - is_object
        - is_string
        - is_uuid
        - is_fqdn
        - is_arn
        - unknown_property
        - missing_reference
        - is_label
        - matches_regex
        - invalid
        - is_supported_network_availability_zone_list
        - is_supported_network_cidr_block
        - is_supported_provider_region
        - type
      nullable: true
      readOnly: true
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
        - field
        - reason
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - min_length
            - min_digits
            - min_lowercase
            - min_uppercase
            - min_symbols
            - min_items
            - min
          nullable: false
          readOnly: true
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must have at least 8 characters
          readOnly: true
      additionalProperties: false
      required:
        - field
        - reason
        - rule
        - minimum
    InvalidParameterMaximumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - max_length
            - max_items
            - max
          nullable: false
          readOnly: true
        maximum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must not have more than 8 characters
          readOnly: true
      additionalProperties: false
      required:
        - field
        - reason
        - rule
        - maximum
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
        - field
        - reason
        - rule
        - choices
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
        - field
        - rule
        - reason
        - dependents
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
          - $ref: '#/components/schemas/InvalidParameterStandard'
          - $ref: '#/components/schemas/InvalidParameterMinimumLength'
          - $ref: '#/components/schemas/InvalidParameterMaximumLength'
          - $ref: '#/components/schemas/InvalidParameterChoiceItem'
          - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    BadRequestError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          required:
            - invalid_parameters
          properties:
            invalid_parameters:
              $ref: '#/components/schemas/InvalidParameters'
    UnauthorizedError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 401
            title:
              example: Unauthorized
            type:
              example: 'https://httpstatuses.com/401'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Invalid credentials
    ForbiddenError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 403
            title:
              example: Forbidden
            type:
              example: 'https://httpstatuses.com/403'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Forbidden
    NotFoundError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 404
            title:
              example: Not Found
            type:
              example: 'https://httpstatuses.com/404'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Not found
    GoneError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 410
            title:
              example: Gone
            type:
              example: 'https://httpstatuses.com/410'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Gone
    ConflictError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 409
            title:
              example: Conflict
            type:
              example: 'https://httpstatuses.com/409'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Conflict
  examples:
    UnauthorizedExample:
      value:
        status: 401
        title: Unauthorized
        instance: 'kong:trace:8347343766220159418'
        detail: Unauthorized
    ForbiddenExample:
      value:
        status: 403
        title: Forbidden
        instance: 'kong:trace:2723154947768991354'
        detail: You do not have permission to perform this action
    NotFoundExample:
      value:
        status: 404
        title: Not Found
        instance: 'kong:trace:6816496025408232265'
        detail: Not Found
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/UnauthorizedExample'
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/ForbiddenExample'
    NotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
          examples:
            NotFoundExample:
              $ref: '#/components/examples/NotFoundExample'
    Gone:
      description: Gone
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/GoneError'
    Conflict:
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
  securitySchemes:
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: |
        The system account access token is meant for automations and integrations that are not directly associated with a human identity.
        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.
        The access token must be passed in the header of a request, for example:
        `curl -X GET 'https://global.api.konghq.com/v2/users/' --header 'Authorization: Bearer spat_i2Ej...'`
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: |
        The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs.
        You can generate a Personal Access Token (PAT) from the [personal access token page](https://cloud.konghq.com/global/account/tokens/) in the Konnect dashboard.
        The PAT token must be passed in the header of a request, for example:
        `curl -X GET 'https://global.api.konghq.com/v2/users/' --header 'Authorization: Bearer kpat_xgfT...'`
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI authenticate with.
tags:
  - name: OpenMeter Entitlements
    description: Entitlements are used to control access to features for customers.
  - name: OpenMeter Subscriptions
    description: Subscriptions are used to track usage of your product or service. Subscriptions can be individuals or organizations that can subscribe to plans and have access to features.
  - name: OpenMeter Customers
    description: Customers are used to track usage of your product or service. Customers can be individuals or organizations that can subscribe to plans and have access to features.
  - name: Metering Events
    description: 'Metering events are used to track usage of your product or service. Events are processed asynchronously by the meters, so they may not be immediately available for querying.'
  - name: Meters
    description: 'Meters specify how to aggregate events for billing and analytics purposes. Meters can be configured with multiple aggregation methods and groupings. Multiple meters can be created for the same event type, enabling flexible metering scenarios.'
security:
  - systemAccountAccessToken: []
  - personalAccessToken: []
  - konnectAccessToken: []
