openapi: 3.0.0
info:
  title: Konnect Metering & Billing
  version: 1.0.0
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
  description: Konnect Metering & Billing API.
  x-oas-source: kong/platform-api@57edc1abbbe7a1729b0313ec4d2118b9e4e84982
  x-oas-source-link: 'https://github.com/Kong/platform-api/commit/57edc1abbbe7a1729b0313ec4d2118b9e4e84982'
servers:
  - url: 'https://us.api.konghq.com/v3'
    description: United-States Production region
  - url: 'https://eu.api.konghq.com/v3'
    description: Europe Production region
  - url: 'https://au.api.konghq.com/v3'
    description: Australia Production region
  - url: 'https://me.api.konghq.com/v3'
    description: Middle-East Production region
  - url: 'https://in.api.konghq.com/v3'
    description: India Production region
  - url: 'https://sg.api.konghq.com/v3'
    description: Singapore Production region
paths:
  /openmeter/addons:
    get:
      operationId: list-product-catalog-addons
      summary: List add-ons
      description: List all add-ons.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort add-ons returned in the response. Supported sort attributes are:

            - `id`
            - `key`
            - `name`
            - `created_at` (default)
            - `updated_at`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: Filter add-ons returned in the response.
          required: false
          schema:
            $ref: '#/components/schemas/ListAddonsParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Product Catalog
    post:
      operationId: create-product-catalog-addon
      summary: Create add-on
      description: Create a new add-on.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddonRequest'
      responses:
        '201':
          description: Addon created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Product Catalog
  '/openmeter/addons/{addonId}':
    put:
      operationId: update-product-catalog-addon
      summary: Update add-on
      description: Update an add-on by id.
      parameters:
        - name: addonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertAddonRequest'
      responses:
        '200':
          description: Addon upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Product Catalog
    get:
      operationId: get-product-catalog-addon
      summary: Get add-on
      description: Get add-on by id.
      parameters:
        - name: addonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Addon response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Product Catalog
    delete:
      operationId: delete-product-catalog-addon
      summary: Soft delete add-on
      description: Soft delete add-on by id.
      parameters:
        - name: addonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
  '/openmeter/addons/{addonId}/archive':
    post:
      operationId: archive-product-catalog-addon
      summary: Archive add-on version
      description: Archive an add-on version.
      parameters:
        - name: addonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Addon updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
  '/openmeter/addons/{addonId}/publish':
    post:
      operationId: publish-product-catalog-addon
      summary: Publish add-on version
      description: Publish an add-on version.
      parameters:
        - name: addonId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Addon updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Product Catalog
  /openmeter/app-catalog:
    get:
      operationId: list-app-catalog
      summary: List app catalog
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List available apps.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCatalogItemPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Apps
  /openmeter/app-catalog/install:
    post:
      operationId: install-app
      summary: Install app from the catalog
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Install an app from the catalog.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingInstallAppRequest'
      responses:
        '201':
          description: InstallAppResponse created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInstallAppResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Apps
  '/openmeter/app-catalog/{appType}':
    get:
      operationId: get-app-catalog-item
      summary: Get app catalog item by type
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get an app catalog item by type.
      parameters:
        - name: appType
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/BillingAppType'
      responses:
        '200':
          description: AppCatalogItem response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppCatalogItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Apps
  /openmeter/apps:
    get:
      operationId: list-apps
      summary: List apps
      description: List installed apps.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort apps returned in the response. Supported sort attributes are:

            - `id`
            - `created_at` (default)

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter apps returned in the response.

            To filter apps by name add the following query param: filter[name]=my-app
          required: false
          schema:
            $ref: '#/components/schemas/ListAppsParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Apps
  '/openmeter/apps/{appId}':
    get:
      operationId: get-app
      summary: Get app
      description: Get an installed app.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: App response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingApp'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Apps
    delete:
      operationId: uninstall-app
      summary: Uninstall app
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Uninstall an app by ID.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Apps
    put:
      operationId: update-app
      summary: Update app
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Update an installed app.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateAppRequest'
      responses:
        '200':
          description: App updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingApp'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Apps
  /openmeter/billing/invoices:
    get:
      operationId: list-invoices
      summary: List billing invoices
      description: |-
        List billing invoices.

        Returns a page of invoices. Gathering invoices are never included. Use `filter`
        to narrow by status, customer, dates, or service period start. Use `sort` to
        control ordering.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort invoices returned in the response. Supported sort attributes:

            - `issued_at`
            - `created_at` (default)
            - `service_period_start`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter invoices returned in the response.

            Examples:

            - `filter[status][oeq]=draft,issued`
            - `filter[customer_id]=01KPDB8K...`
            - `filter[issued_at][gte]=2024-01-01T00:00:00Z`
          required: false
          schema:
            $ref: '#/components/schemas/ListInvoicesParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Billing Settings
  '/openmeter/billing/invoices/{invoiceId}':
    get:
      operationId: get-invoice
      summary: Get a billing invoice
      description: |-
        Get a billing invoice by ID.

        Returns the full invoice resource including line items, status details, totals,
        and workflow configuration snapshot.
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Invoice response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing Settings
    put:
      operationId: update-invoice
      summary: Update a billing invoice
      description: |-
        Update a billing invoice.

        Only the mutable fields of the invoice can be edited: description, labels,
        supplier, customer, workflow settings, and top-level lines. Top-level lines are
        matched by `id`; lines without an `id` are created, and existing lines omitted
        from `lines` are deleted. Detailed (child) lines are always computed and cannot
        be edited directly. Only invoices in draft status can be updated.
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
      responses:
        '200':
          description: Invoice updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing Settings
    delete:
      operationId: delete-invoice
      summary: Delete a billing invoice
      description: |-
        Delete a billing invoice.

        Only standard invoices in draft status can be deleted. Deleting an invoice will
        also delete all associated line items and workflow configuration.
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing Settings
  '/openmeter/billing/invoices/{invoiceId}/advance':
    post:
      operationId: advance-invoice
      summary: Advance billing invoice's next status
      description: |-
        Advance a billing invoice.

        Advances the invoice to the next workflow state. The next state is determined by
        the invoice's current status and workflow configuration. Only invoices in draft
        or issued status can be advanced.
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: The updated invoice after advancing to the next state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing Settings
  '/openmeter/billing/invoices/{invoiceId}/approve':
    post:
      operationId: approve-invoice
      summary: Send the invoice to the customer
      description: |-
        Approve a billing invoice.

        This call instantly sends the invoice to the customer using the configured
        billing profile app.

        This call is valid in two invoice statuses:

        - draft: the invoice will be sent to the customer, the invoice state becomes
        issued
        - manual_approval_needed: the invoice will be sent to the customer, the invoice
        state becomes issued
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: The updated invoice after sending to the customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing Settings
  '/openmeter/billing/invoices/{invoiceId}/retry':
    post:
      operationId: retry-invoice
      summary: Retry advancing the invoice after a failed attempt
      description: |-
        Retry sending a billing invoice.

        Retry advancing the invoice after a failed attempt.

        The action can be called when the invoice's statusDetails' actions field contain
        the "retry" action.
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: The updated invoice after retrying the action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing Settings
  '/openmeter/billing/invoices/{invoiceId}/snapshot-quantities':
    post:
      operationId: snapshot-quantities-invoice
      summary: Snapshot quantities for usage based line items
      description: |-
        Snapshot quantities for usage-based line items.

        This call will snapshot the quantities for all usage based line items in the
        invoice.

        This call is only valid in draft.waiting_for_collection status, where the
        collection period can be skipped using this action.
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: |-
            The updated invoice with the snapshot quantities for usage based line
            items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Billing Settings
  /openmeter/charges:
    get:
      operationId: list-charges
      summary: List charges
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List charges.

        Returns the charges of every customer that are represented as either flat fee or
        usage-based charges.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort charges returned in the response.

            Supported sort attributes are:

            - `id`
            - `created_at`
            - `service_period.from`
            - `billing_period.from`
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter charges.

            To filter charges by customer add the following query param:
            `filter[customer_id][eq]=<id>` or `filter[customer_id][oeq]=<id>,<id>`.

            To filter charges by status add the following query param:
            `filter[status][oeq]=created,active`

            To filter charges by feature, use `filter[feature_id][oeq]=<id>,<id>` or
            `filter[feature_key][oeq]=<key>,<key>`.

            See the `service_period_from` filter field for expressing a service-period
            window query.
          required: false
          schema:
            $ref: '#/components/schemas/ListChargesParamsFilter'
          style: deepObject
        - name: expand
          in: query
          description: |-
            Expand full objects for referenced entities.

            Supported values are:

            - `real_time_usage`: Expand the charge's real-time usage; it sets the `usage`
            and the `totals.realtime` fields.
            - `customer`: Expand the charge's customer to the complete entity.
            - `feature`: Expand the charge's feature to the complete entity.
            - `subscription`: Expand the charge's subscription to the complete entity.
            - `realization.invoice`: Expand each realization's invoice to the complete
            entity.
            - `realization.totals`: Expand each realization run's `totals`.
            - `realization.detailed_lines`: Expand each realization run's `detailed_lines`.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/BillingChargesExpand'
          explode: false
          style: form
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargePagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Billing Settings
  /openmeter/currencies:
    get:
      operationId: list-currencies
      summary: List currencies
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List currencies supported by the billing system.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort currencies returned in the response. Supported sort attributes are:

            - `code` (default)
            - `name`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter currencies returned in the response.

            To filter currencies by type add the following query param: filter[type]=custom
          required: false
          schema:
            $ref: '#/components/schemas/ListCurrenciesParamsFilter'
          style: deepObject
        - name: expand
          in: query
          description: |-
            Expand the currencies returned in the response.

            To include the active and scheduled cost basis add: expand=cost_basis
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/BillingCurrencyExpand'
          explode: false
          style: form
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Currencies
  /openmeter/currencies/custom:
    post:
      operationId: create-custom-currency
      summary: Create custom currency
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create a custom currency. This operation allows defining your own custom
        currency for billing purposes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCurrencyCustomRequest'
      responses:
        '201':
          description: CurrencyCustom created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCurrencyCustom'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Currencies
  '/openmeter/currencies/custom/{currencyId}':
    get:
      operationId: get-custom-currency
      summary: Get custom currency
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get a custom currency.
      parameters:
        - name: currencyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: CurrencyCustom response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCurrencyCustom'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Currencies
  '/openmeter/currencies/custom/{currencyId}/cost-bases':
    get:
      operationId: list-cost-bases
      summary: List cost bases
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List cost bases for a currency. For custom currencies, there can be multiple
        cost bases with different `effective_from` dates.
      parameters:
        - name: currencyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: filter
          in: query
          description: |-
            Filter cost bases returned in the response.

            To filter cost bases by fiat currency code add the following query param:
            filter[fiat_code]=USD
          required: false
          schema:
            $ref: '#/components/schemas/ListCostBasesParamsFilter'
          style: deepObject
        - $ref: '#/components/parameters/PagePaginationQuery'
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostBasisPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Currencies
    post:
      operationId: create-cost-basis
      summary: Create cost basis
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create a cost basis for a currency.
      parameters:
        - name: currencyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCostBasisRequest'
      responses:
        '201':
          description: CostBasis created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCostBasis'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Currencies
  /openmeter/customers:
    post:
      operationId: create-customer
      summary: Create customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Customer created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Customers
    get:
      operationId: list-customers
      summary: List customers
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort customers returned in the response. Supported sort attributes are:

            - `id`
            - `name` (default)
            - `created_at`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter customers returned in the response.

            To filter customers by key add the following query param: filter[key]=my-db-id
          required: false
          schema:
            $ref: '#/components/schemas/ListCustomersParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}':
    get:
      operationId: get-customer
      summary: Get customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Customer response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
    put:
      operationId: upsert-customer
      summary: Upsert customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCustomerRequest'
      responses:
        '200':
          description: Customer upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
    delete:
      operationId: delete-customer
      summary: Delete customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/billing':
    get:
      operationId: get-customer-billing
      summary: Get customer billing data
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: CustomerBillingData response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomerData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
    put:
      operationId: update-customer-billing
      summary: Update customer billing data
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCustomerBillingDataRequest'
      responses:
        '200':
          description: CustomerBillingData upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCustomerData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/billing/app-data':
    put:
      operationId: update-customer-billing-app-data
      summary: Update customer billing app data
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertAppCustomerDataRequest'
      responses:
        '200':
          description: AppCustomerData upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppCustomerData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/billing/stripe/checkout-sessions':
    post:
      operationId: create-customer-stripe-checkout-session
      summary: Create Stripe Checkout Session
      description: |-
        Create a [Stripe Checkout Session](https://docs.stripe.com/payments/checkout)
        for the customer.

        Creates a Checkout Session for collecting payment method information from
        customers. The session operates in "setup" mode, which collects payment details
        without charging the customer immediately. The collected payment method can be
        used for future subscription billing.

        For hosted checkout sessions, redirect customers to the returned URL. For
        embedded sessions, use the client_secret to initialize Stripe.js in your
        application.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCustomerStripeCreateCheckoutSessionRequest'
      responses:
        '201':
          description: CreateStripeCheckoutSessionResult created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppStripeCreateCheckoutSessionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/billing/stripe/portal-sessions':
    post:
      operationId: create-customer-stripe-portal-session
      summary: Create Stripe customer portal session
      description: |-
        Create Stripe Customer Portal Session.

        Useful to redirect the customer to the Stripe Customer Portal to manage their
        payment methods, change their billing address and access their invoice history.
        Only returns URL if the customer billing profile is linked to a stripe app and
        customer.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCustomerStripeCreateCustomerPortalSessionRequest'
      responses:
        '201':
          description: CreateStripeCustomerPortalSessionResult created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAppStripeCreateCustomerPortalSessionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/charges':
    get:
      operationId: list-customer-charges
      summary: List customer charges
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List customer charges.

        Returns the customer's charges that are represented as either flat fee or
        usage-based charges.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: sort
          in: query
          description: |-
            Sort charges returned in the response.

            Supported sort attributes are:

            - `id`
            - `created_at`
            - `service_period.from`
            - `billing_period.from`
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter charges.

            To filter charges by status add the following query param:
            `filter[status][oeq]=created,active`

            To filter charges by feature, use `filter[feature_id][oeq]=<id>,<id>` or
            `filter[feature_key][oeq]=<key>,<key>`.

            See the `service_period_from` filter field for expressing a service-period
            window query.
          required: false
          schema:
            $ref: '#/components/schemas/ListCustomerChargesParamsFilter'
          style: deepObject
        - name: expand
          in: query
          description: |-
            Expand full objects for referenced entities.

            Supported values are:

            - `real_time_usage`: Expand the charge's real-time usage; it sets the `usage`
            and the `totals.realtime` fields.
            - `customer`: Expand the charge's customer to the complete entity.
            - `feature`: Expand the charge's feature to the complete entity.
            - `subscription`: Expand the charge's subscription to the complete entity.
            - `realization.invoice`: Expand each realization's invoice to the complete
            entity.
            - `realization.totals`: Expand each realization run's `totals`.
            - `realization.detailed_lines`: Expand each realization run's `detailed_lines`.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/BillingChargesExpand'
          explode: false
          style: form
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargePagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
    post:
      operationId: create-customer-charges
      summary: Create customer charge
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create customer charge.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChargeRequest'
      responses:
        '201':
          description: Charge created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCharge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/credits/adjustments':
    post:
      operationId: create-credit-adjustment
      summary: Create a credit adjustment
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        A credit adjustment can be used to make manual adjustments to a customer's
        credit balance.

        Supported use-cases:

        - Usage correction
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreditAdjustmentRequest'
      responses:
        '201':
          description: CreditAdjustment created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCreditAdjustment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/credits/balance':
    get:
      operationId: get-customer-credit-balance
      summary: Get a customer's credit balance
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get a credit balance.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: timestamp
          in: query
          description: |-
            Return the credit balance as of this timestamp.

            Defaults to the current time. Historical responses return `live` as zero because
            live charge impacts are only available for current balances.
          required: false
          schema:
            $ref: '#/components/schemas/DateTime'
          explode: false
          style: form
        - name: filter
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetCreditBalanceParamsFilter'
          style: deepObject
      responses:
        '200':
          description: CreditBalances response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCreditBalances'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/credits/grants':
    post:
      operationId: create-credit-grant
      summary: Create a new credit grant
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create a new credit grant. A credit grant represents an allocation of prepaid
        credits to a customer.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreditGrantRequest'
      responses:
        '201':
          description: CreditGrant created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCreditGrant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Customers
    get:
      operationId: list-credit-grants
      summary: List credit grants
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List credit grants.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: filter
          in: query
          description: Filter credit grants returned in the response.
          required: false
          schema:
            $ref: '#/components/schemas/ListCreditGrantsParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditGrantPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/credits/grants/{creditGrantId}':
    get:
      operationId: get-credit-grant
      summary: Get a credit grant
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get a credit grant.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: creditGrantId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: CreditGrant response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCreditGrant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/credits/grants/{creditGrantId}/settlement/external':
    post:
      operationId: update-credit-grant-external-settlement
      summary: Update credit grant external settlement status
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Update the payment settlement status of an externally funded credit grant.

        Use this endpoint to synchronize the payment state of an external payment with
        the system so that revenue recognition and credit availability work as expected.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: creditGrantId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCreditGrantExternalSettlementRequest'
      responses:
        '200':
          description: CreditGrant updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCreditGrant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/credits/grants/{creditGrantId}/void':
    post:
      operationId: void-credit-grant
      summary: Void credit grant
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Void a credit grant, forfeiting the remaining unused balance.

        Voiding is a forward-looking, irreversible operation. Credits already consumed
        by usage remain unaffected — only the remaining balance is forfeited. The grant
        reads as `voided` status afterwards. Payment state is not adjusted when
        `payment_adjustment` is `none`, so invoice-backed or externally collected
        payments may still collect the original amount. Only `active` grants can be
        voided; voiding a pending, expired, or fully consumed grant returns a conflict.
        Retrying a successful void is an idempotent success.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: creditGrantId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidCreditGrantRequest'
      responses:
        '200':
          description: CreditGrant updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCreditGrant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/credits/transactions':
    get:
      operationId: list-credit-transactions
      summary: List credit transactions
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List credit transactions for a customer.

        Returns an immutable, chronological record of credit movements: funded credits
        and consumed credits. Transactions are returned in reverse chronological order
        by default.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - $ref: '#/components/parameters/CursorPaginationQuery'
        - name: filter
          in: query
          description: Filter credit transactions returned in the response.
          required: false
          schema:
            $ref: '#/components/schemas/ListCreditTransactionsParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Cursor paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditTransactionPaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Customers
  '/openmeter/customers/{customerId}/entitlement-access':
    get:
      operationId: list-customer-entitlement-access
      summary: List customer entitlement access
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: List the customer's active features and their access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomerEntitlementAccessResponseData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Entitlements
  '/openmeter/customers/{customerId}/entitlement-access/features/{featureKey}':
    get:
      operationId: get-customer-entitlement-access
      summary: Get customer entitlement access
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get the customer's access to a single feature.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: featureKey
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ResourceKey'
      responses:
        '200':
          description: EntitlementAccessCheckResult response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntitlementAccessCheckResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Entitlements
  '/openmeter/customers/{customerId}/entitlement-access/features/{featureKey}/value':
    get:
      operationId: get-customer-entitlement-value-by-feature-key
      summary: Get customer entitlement value by feature key
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get the customer's entitlement value for a feature at a point in time. Without
        an active entitlement, the result denies access and omits the type.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: featureKey
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ResourceKey'
        - name: expand
          in: query
          description: |-
            Expand computed fields.

            Supported values are:

            - `value`: Expand the balance details of a metered entitlement; it sets the
            `value` field.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/BillingEntitlementAccessExpand'
          explode: false
          style: form
        - name: at
          in: query
          description: The point in time to evaluate the entitlement at. Defaults to the current time.
          required: false
          schema:
            $ref: '#/components/schemas/DateTime'
          explode: false
          style: form
      responses:
        '200':
          description: EntitlementFeatureValueResult response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntitlementFeatureValueResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Entitlements
  '/openmeter/customers/{customerId}/entitlements':
    post:
      operationId: create-customer-entitlement
      summary: Create customer entitlement
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create an entitlement for the customer.

        A customer can have only one active entitlement per feature. The feature must be
        compatible with the entitlement type. Entitlements cannot be modified after
        creation, only deleted.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntitlementRequest'
      responses:
        '201':
          description: Entitlement created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntitlement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Entitlements
    get:
      operationId: list-customer-entitlements
      summary: List customer entitlements
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List the entitlements of the customer that are active at the time of the
        request. For checking entitlement access, use the entitlement access endpoints
        instead.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort entitlements returned in the response. Supported sort attributes are:

            - `created_at` (default)
            - `updated_at`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter entitlements returned in the response.

            To filter entitlements by feature key add the following query param:
            `filter[feature_key]=my-feature`
          required: false
          schema:
            $ref: '#/components/schemas/ListCustomerEntitlementsParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Entitlements
  '/openmeter/customers/{customerId}/entitlements/{entitlementId}':
    get:
      operationId: get-customer-entitlement
      summary: Get customer entitlement
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get an entitlement of the customer by ID. For checking entitlement access, use
        the entitlement access endpoints instead.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: entitlementId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Entitlement response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntitlement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Entitlements
    delete:
      operationId: delete-customer-entitlement
      summary: Delete customer entitlement
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes the entitlement and revokes access to its feature. A customer can hold
        only one active entitlement per feature, so migrating a feature requires
        deleting the previous entitlement first.

        Deletion sets the `deleted_at` timestamp instead of removing history. Access and
        status queries for earlier points in time still treat the entitlement as active,
        so access changes are never retroactive.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: entitlementId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Entitlements
  '/openmeter/customers/{customerId}/entitlements/{entitlementId}/grants':
    post:
      operationId: create-customer-entitlement-grant
      summary: Create customer entitlement grant
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Issue a grant for a metered entitlement of the customer. Boolean and static
        entitlements cannot have grants, so the request is rejected for them.

        Grants are immutable. The amount is added to the balance from `effective_at`,
        which cannot be earlier than the start of the current usage period.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: entitlementId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingEntitlementGrantCreateRequest'
      responses:
        '201':
          description: EntitlementGrant created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntitlementGrant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Entitlements
    get:
      operationId: list-customer-entitlement-grants
      summary: List customer entitlement grants
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List the grants issued for an entitlement of the customer. Grants only exist for
        metered entitlements, so the list is empty for boolean and static entitlements.

        Deleted grants are excluded unless `include_deleted` is set. Voided and expired
        grants are always included, as they are part of the balance history.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: entitlementId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort grants returned in the response. Supported sort attributes are:

            - `created_at` (default)
            - `updated_at`
            - `effective_at`
            - `expires_at`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: include_deleted
          in: query
          description: Include deleted grants in the response.
          required: false
          schema:
            type: boolean
          explode: false
          style: form
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementGrantPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Entitlements
  '/openmeter/customers/{customerId}/entitlements/{entitlementId}/history':
    get:
      operationId: get-customer-entitlement-history
      summary: Get customer entitlement history
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get the balance and usage history of a metered entitlement. The queried range
        may span multiple usage periods.

        `windowed_history` groups usage into windows of the requested size and reports
        the balance at the start of each window. `burndown_history` lists the periods in
        which grants were consumed in a fixed order, together with the usage taken from
        each grant.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: entitlementId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: from
          in: query
          description: |-
            The start of the queried range. Defaults to the last reset. Truncated to the
            minute. The range may span at most 1000 windows.
          required: false
          schema:
            $ref: '#/components/schemas/DateTime'
          explode: false
          style: form
        - name: to
          in: query
          description: |-
            The end of the queried range. Defaults to the current time. Truncated to the
            minute unless it is the current time.
          required: false
          schema:
            $ref: '#/components/schemas/DateTime'
          explode: false
          style: form
        - name: window_size
          in: query
          description: The size of the windows the usage is grouped into.
          required: true
          schema:
            $ref: '#/components/schemas/BillingEntitlementHistoryWindowSize'
          explode: false
          style: form
        - name: time_zone
          in: query
          description: The IANA time zone the windows are aligned to.
          required: false
          schema:
            type: string
            default: UTC
          explode: false
          style: form
      responses:
        '200':
          description: EntitlementHistory response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntitlementHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Entitlements
  '/openmeter/customers/{customerId}/entitlements/{entitlementId}/override':
    put:
      operationId: override-customer-entitlement
      summary: Override customer entitlement
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Override an entitlement of the customer with a new one.

        The referenced entitlement ends and the new one starts at the same instant, so
        access continues without a gap. Both must belong to the same feature. Use this
        for upgrades and downgrades.

        Fails if the referenced entitlement does not exist, is deleted, or is no longer
        active.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: entitlementId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntitlementRequest'
      responses:
        '201':
          description: Entitlement created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntitlement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Entitlements
  '/openmeter/customers/{customerId}/entitlements/{entitlementId}/reset':
    post:
      operationId: reset-customer-entitlement-usage
      summary: Reset customer entitlement usage
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Reset the usage of a metered entitlement. The reset starts a new usage period:
        usage is zeroed and grants roll over according to their rollover settings.

        Usage is reset automatically at the end of each usage period. Use this operation
        to reset it earlier, for example to align the entitlement with the customer's
        billing period. The usage period anchor can be moved at the same time.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: entitlementId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetCustomerEntitlementUsageRequest'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - OpenMeter Entitlements
  '/openmeter/customers/{customerId}/entitlements/{entitlementId}/value':
    get:
      operationId: get-customer-entitlement-value
      summary: Get customer entitlement value
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get the customer's access through a single entitlement, optionally evaluated at
        a point in time.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: entitlementId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
        - name: expand
          in: query
          description: |-
            Expand computed fields.

            Supported values are:

            - `value`: Expand the balance details of a metered entitlement; it sets the
            `value` field.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/BillingEntitlementAccessExpand'
          explode: false
          style: form
        - name: at
          in: query
          description: The point in time to evaluate the entitlement at. Defaults to the current time.
          required: false
          schema:
            $ref: '#/components/schemas/DateTime'
          explode: false
          style: form
      responses:
        '200':
          description: EntitlementValueResult response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntitlementValueResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Entitlements
  /openmeter/defaults/tax-codes:
    get:
      operationId: get-organization-default-tax-codes
      summary: Get organization default tax codes
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.
      responses:
        '200':
          description: OrganizationDefaultTaxCodes response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDefaultTaxCodes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Defaults
    put:
      operationId: update-organization-default-tax-codes
      summary: Update organization default tax codes
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationDefaultTaxCodesRequest'
      responses:
        '200':
          description: OrganizationDefaultTaxCodes upsert response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDefaultTaxCodes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Defaults
  /openmeter/entitlement-access/query:
    post:
      operationId: query-entitlement-access
      summary: Query entitlement access
      description: |-
        Query feature access for a list of customers.

        The endpoint resolves each provided identifier to a customer and returns the
        access status for the requested features, plus optional credit balance
        availability.

        _Designed to be called on a fixed refresh interval and the query response is
        intended to be cached._
      parameters:
        - $ref: '#/components/parameters/CursorPaginationQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitlementAccessQueryRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementAccessQueryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Entitlements
  /openmeter/entitlements:
    get:
      operationId: list-entitlements
      summary: List entitlements
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List the active entitlements of all customers. Intended for administrative use.
        To list the entitlements of a single customer, use the customer entitlements
        endpoints; to check entitlement access, use the entitlement access endpoints.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort entitlements returned in the response. Supported sort attributes are:

            - `created_at` (default)
            - `updated_at`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter entitlements returned in the response.

            To filter entitlements by customer, add the following query param:
            `filter[customer_id]=01K4WAQ0J99ZZ0MD75HXR112H8`
          required: false
          schema:
            $ref: '#/components/schemas/ListEntitlementsParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementPagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Entitlements
  '/openmeter/entitlements/{entitlementId}':
    get:
      operationId: get-entitlement
      summary: Get entitlement
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get an entitlement by ID. To check entitlement access, use the entitlement
        access endpoints instead.
      parameters:
        - name: entitlementId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Entitlement response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntitlement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Entitlements
  /openmeter/events:
    get:
      operationId: list-metering-events
      summary: List metering events
      description: List ingested events.
      parameters:
        - $ref: '#/components/parameters/CursorPaginationQuery'
        - name: filter
          in: query
          description: |-
            Filter events returned in the response.

            To filter events by subject add the following query param:
            filter[subject][eq]=customer-1
          required: false
          schema:
            $ref: '#/components/schemas/ListEventsParamsFilter'
          style: deepObject
        - name: sort
          in: query
          description: |-
            Sort events returned in the response. Supported sort attributes are:

            - `time` (default)
            - `ingested_at`
            - `stored_at`

            When omitted, events are sorted by `time desc` (most recent first). When a sort
            field is provided without a suffix, it sorts descending. Append the `asc` suffix
            to sort ascending, or the `desc` suffix to sort descending.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
      responses:
        '200':
          description: Cursor paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestedEventPaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Metering Events
    post:
      operationId: ingest-metering-events
      summary: Ingest metering events
      description: Ingests an event or batch of events following the CloudEvents specification.
      requestBody:
        required: true
        content:
          application/cloudevents+json:
            schema:
              $ref: '#/components/schemas/MeteringEvent'
          application/cloudevents-batch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MeteringEvent'
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/MeteringEvent'
                - type: array
                  items:
                    $ref: '#/components/schemas/MeteringEvent'
      responses:
        '202':
          description: The events have been ingested and are being processed asynchronously.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Metering Events
  /openmeter/features:
    get:
      operationId: list-features
      summary: List features
      description: List all features.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort features returned in the response. Supported sort attributes are:

            - `key`
            - `name`
            - `created_at` (default)
            - `updated_at`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter features returned in the response.

            To filter features by meter_id add the following query param:
            filter[meter_id][oeq]=<id>
          required: false
          schema:
            $ref: '#/components/schemas/ListFeatureParamsFilter'
          style: deepObject
      responses:
        '200':
          description: Page paginated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturePagePaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Features
    post:
      operationId: create-feature
      summary: Create feature
      description: Create a feature.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeatureRequest'
      responses:
        '201':
          description: Feature created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - OpenMeter Features
  '/openmeter/features/{featureId}':
    get:
      operationId: get-feature
      summary: Get feature
      description: Get a feature by id.
      parameters:
        - name: featureId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '200':
          description: Feature response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      tags:
        - OpenMeter Features
    patch:
      operationId: update-feature
      summary: Update feature
      description: Update a feature by id. Currently only the unit_cost field can be updated.
      parameters:
        - name: featureId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeatureRequest'
      responses:
        '200':
          description: Feature updated response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Features
    delete:
      operationId: delete-feature
      summary: Delete feature
      description: Delete a feature by id.
      parameters:
        - name: featureId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      responses:
        '204':
          description: Deleted response.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Features
  '/openmeter/features/{featureId}/cost/query':
    post:
      operationId: query-feature-cost
      summary: Query feature cost
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Query the cost of a feature.
      parameters:
        - name: featureId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ULID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeterQueryRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCostQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - OpenMeter Features
  /openmeter/grants:
    get:
      operationId: list-grants
      summary: List grants
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List the grants of all customers and entitlements. To list the grants of a
        single entitlement, use the customer entitlement grants endpoint.

        Deleted grants are excluded unless `include_deleted` is set. Voided and expired
        grants are always included, as they are part of the balance history.
      parameters:
        - $ref: '#/components/parameters/PagePaginationQuery'
        - name: sort
          in: query
          description: |-
            Sort grants returned in the response. Supported sort attributes are:

            - `created_at` (default)
            - `updated_at`
            - `effective_at`
            - `expires_at`

            The `asc` suffix is optional as the default sort order is ascending. The `desc`
            suffix is used to specify a descending order.
          required: false
          schema:
            $ref: '#/components/schemas/SortQuery'
          explode: false
          style: form
        - name: filter
          in: query
          description: |-
            Filter grants returned in the response.

            To filter grants by customer, add the following query param:
            `filter[customer_id]=01K4WAQ0J99ZZ0MD75HXR112H8`
          required: false
          schema:
[...]
