<a href="{{include.url}}" class="flex gap-2 items-center w-full">
    <span
     class="navbar-item__icon {% if include.product %}product-icon product-icon--background {% if include.product == 'kic' or include.product == 'kgo' %} product-icon--bordered {% endif %}{% endif %} {% if include.color %} bg-semantic-{{include.color}}-secondary text-semantic-{{include.color}}-primary {% endif %}"
     {% if include.product %} style="background-color: rgb(var(--color-{{include.product}}-background));" {% endif %}
    >
      {% include_svg include.icon height="12" width="12" %}
    </span>
    <span class="text-primary text-sm ">{{include.text}} {% unless include.no_arrow %} &rarr;{% endunless %}</span>
</a>