openapi: 3.0.0
info:
  title: Konnect Control Planes Configuration for Event Gateways
  version: 1.0.0
  description: |
    The API for configuring Event Gateways in Konnect.
  x-extensions-note: |
    This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.
    Supported types:
      - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`
      - `string`: A template string expression that evaluates to a string or a literal string value. For example,
        `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`

    Additionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value
    of the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.
    When the value is an expression, the expression itself is stored and returned in API responses.

    `x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or
    policy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string
    containing a semantic version in the `MAJOR.MINOR` format, e.g., `"1.1"`.
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
  x-oas-source: kong/platform-api@7e26d6e4d023b6aed068061cdcf7bb282246aced
  x-oas-source-link: 'https://github.com/Kong/platform-api/commit/7e26d6e4d023b6aed068061cdcf7bb282246aced'
servers:
  - url: 'https://us.api.konghq.com/v1'
    description: United-States Production region
  - url: 'https://eu.api.konghq.com/v1'
    description: Europe Production region
  - url: 'https://au.api.konghq.com/v1'
    description: Australia Production region
  - url: 'https://me.api.konghq.com/v1'
    description: Middle-East Production region
  - url: 'https://in.api.konghq.com/v1'
    description: India Production region
  - url: 'https://sg.api.konghq.com/v1'
    description: Singapore Production region
paths:
  /event-gateways:
    get:
      operationId: list-event-gateways
      summary: List all Event Gateways
      description: Returns an array of gateway objects containing information about the Konnect Event Gateways.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewaysResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    post:
      operationId: create-event-gateway
      summary: Create Event Gateway
      description: Create a Event gateway in the Konnect Organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGatewayRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
  '/event-gateways/{gatewayId}':
    parameters:
      - name: gatewayId
        in: path
        description: The UUID of your Gateway.
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
    get:
      operationId: get-event-gateway
      summary: Get an Event Gateway
      description: Returns information about an individual Event gateway.
      responses:
        '200':
          description: A response to retrieving a single eventgateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    put:
      operationId: update-event-gateway
      summary: Update Event Gateway
      description: Update an individual gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGatewayRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    patch:
      operationId: patch-event-gateway
      summary: Partially Update Event Gateway
      description: Patch an individual gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchGatewayRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    delete:
      operationId: delete-event-gateway
      summary: Delete Event Gateway
      description: Delete an individual gateway.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateways
  '/event-gateways/{gatewayId}/listeners':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-listeners
      summary: List Event Gateway Listeners
      description: Returns a list of listeners associated with the specified Event Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayListenersFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayListenersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listeners
    post:
      operationId: create-event-gateway-listener
      summary: Create Event Gateway Listener
      description: Creates a new listener associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayListenerRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListener'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listeners
  '/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: eventGatewayListenerId
        in: path
        description: The ID of the Event Gateway Listener.
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: get-event-gateway-listener
      summary: Get an Event Gateway Listener
      description: Returns information about a specific listener associated with the Event Gateway.
      responses:
        '200':
          description: A single event gateway listener object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListener'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listeners
    put:
      operationId: update-event-gateway-listener
      summary: Update Event Gateway Listener
      description: Updates an existing listener associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayListenerRequest'
      responses:
        '200':
          description: Updated event gateway listener object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListener'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listeners
    delete:
      operationId: delete-event-gateway-listener
      summary: Delete Event Gateway Listener
      description: Deletes a specific listener associated with the Event Gateway.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listeners
  '/event-gateways/{gatewayId}/virtual-clusters':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-virtual-clusters
      summary: List all virtual clusters
      description: Returns a paginated list of virtual clusters associated with the specified Event Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - name: filter
          in: query
          description: Filter documents returned in the response.
          required: false
          schema:
            type: object
            properties:
              backend_cluster_id:
                $ref: '#/components/schemas/StringFieldEqualsFilter'
              name:
                $ref: '#/components/schemas/StringFieldContainsFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListVirtualClustersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Clusters
    post:
      operationId: create-event-gateway-virtual-cluster
      summary: Create Virtual Cluster
      description: Creates a new virtual cluster associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/CreateVirtualClusterRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Clusters
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: virtualClusterId
        in: path
        description: The ID of the Virtual Cluster.
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: get-event-gateway-virtual-cluster
      summary: Get a Virtual Cluster
      description: Returns information about a specific virtual cluster associated with the Event Gateway.
      responses:
        '200':
          description: A single virtual cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Clusters
    put:
      operationId: update-event-gateway-virtual-cluster
      summary: Update Virtual Cluster
      description: Updates an existing virtual cluster associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/UpdateVirtualClusterRequest'
      responses:
        '200':
          description: Updated virtual cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Clusters
    delete:
      operationId: delete-event-gateway-virtual-cluster
      summary: Delete Virtual Cluster
      description: Deletes a specific virtual cluster associated with the Event Gateway.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Clusters
  '/event-gateways/{gatewayId}/backend-clusters':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-backend-clusters
      summary: List Backend Clusters
      description: Returns a list of backend clusters associated with the specified Event Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListBackendClustersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Backend Clusters
    post:
      operationId: create-event-gateway-backend-cluster
      summary: Create Backend Cluster
      description: Creates a new backend cluster.
      requestBody:
        $ref: '#/components/requestBodies/CreateBackendClusterRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Backend Clusters
  '/event-gateways/{gatewayId}/backend-clusters/{backendClusterId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: backendClusterId
        in: path
        description: The ID of the Backend Cluster.
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: get-event-gateway-backend-cluster
      summary: Get a Backend Cluster
      description: Returns information about a specific backend cluster.
      responses:
        '200':
          description: A single backend cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendCluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Backend Clusters
    put:
      operationId: update-event-gateway-backend-cluster
      summary: Update Backend Cluster
      description: Updates an existing backend cluster.
      requestBody:
        $ref: '#/components/requestBodies/UpdateBackendClusterRequest'
      responses:
        '200':
          description: Updated backend cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Backend Clusters
    delete:
      operationId: delete-event-gateway-backend-cluster
      summary: Delete Backend Cluster
      description: Deletes a specific backend cluster.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Backend Clusters
  '/event-gateways/{gatewayId}/schema-registries':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-schema-registries
      summary: List Schema Registries
      description: Returns a list of schema registries associated with the specified Event Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListSchemaRegistriesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Schema Registries
    post:
      operationId: create-event-gateway-schema-registry
      summary: Create Schema Registry
      description: Creates a new schema registry associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/CreateSchemaRegistryRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaRegistry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Schema Registries
  '/event-gateways/{gatewayId}/schema-registries/{schemaRegistryId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: schemaRegistryId
        in: path
        description: The ID of the Schema Registry.
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: get-event-gateway-schema-registry
      summary: Get a Schema Registry
      description: Returns information about a specific schema registry associated with the Event Gateway.
      responses:
        '200':
          description: A single schema registry object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaRegistry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Schema Registries
    put:
      operationId: update-event-gateway-schema-registry
      summary: Update Schema Registry
      description: Updates an existing schema registry associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/UpdateSchemaRegistryRequest'
      responses:
        '200':
          description: Updated schema registry object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaRegistry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Schema Registries
    delete:
      operationId: delete-event-gateway-schema-registry
      summary: Delete Schema Registry
      description: Deletes a specific schema registry associated with the Event Gateway.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Schema Registries
  '/event-gateways/{gatewayId}/nodes':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-nodes
      summary: List Nodes
      description: Returns a list of nodes associated with the specified Event Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayNodesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Nodes
  '/event-gateways/{gatewayId}/nodes/{eventGatewayNodeId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayNodeId'
    get:
      operationId: get-event-gateway-node
      summary: Get a Node
      description: Returns information about a specific node associated with the Event Gateway.
      responses:
        '200':
          description: A single node object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayNode'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Nodes
  '/event-gateways/{gatewayId}/nodes/{eventGatewayNodeId}/status':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayNodeId'
    get:
      operationId: get-event-gateway-node-status
      summary: Get Node Status
      description: Returns information about the node status.
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayNodeStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Nodes
  '/event-gateways/{gatewayId}/nodes/{eventGatewayNodeId}/errors':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayNodeId'
    get:
      operationId: list-event-gateway-node-errors
      summary: List Node Errors
      description: Returns information about the node errors.
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayNodeErrorsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Nodes
  '/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}/policies':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayListenerId'
    get:
      operationId: list-event-gateway-listener-policies
      summary: List Policies for Listener
      description: Returns a list of policies associated with the specified Event Gateway listener.
      parameters:
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayListenerPoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
    post:
      operationId: create-event-gateway-listener-policy
      summary: Create Policy for Listener
      description: Creates a new policy associated with the specified Event Gateway listener.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyBefore'
        - $ref: '#/components/parameters/EventGatewayPolicyAfter'
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayListenerPolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
  '/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}/policies/{policyId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayListenerId'
      - name: policyId
        in: path
        description: The UUID of the policy.
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
    get:
      operationId: get-event-gateway-listener-policy
      summary: Get a Policy for Listener
      description: Returns information about a specific policy associated with the Event Gateway listener.
      responses:
        '200':
          description: A single policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listener Policies
    put:
      operationId: update-event-gateway-listener-policy
      summary: Update Policy for Listener
      description: Updates an existing policy associated with the specified Event Gateway listener.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayListenerPolicyRequest'
      responses:
        '200':
          description: Updated policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
    patch:
      operationId: patch-event-gateway-listener-policy
      summary: Partially Update Policy for Listener
      description: Partially updates an existing policy associated with the specified Event Gateway listener.
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayListenerPolicyRequest'
      responses:
        '200':
          description: Updated policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
    delete:
      operationId: delete-event-gateway-listener-policy
      summary: Delete Policy for Listener
      description: Deletes a specific policy associated with the Event Gateway listener.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listener Policies
  '/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}/policies/{policyId}/move':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayListenerId'
      - $ref: '#/components/parameters/policyId'
    post:
      operationId: move-event-gateway-listener-policy
      summary: Move Policy
      description: |
        Moves the position of a specific policy relative to the chain associated with the Event Gateway listener.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
  '/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}/policy-chain':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayListenerId'
    get:
      operationId: get-event-gateway-listener-policy-chain
      summary: Get Policy Chain for Listener
      description: |
        Get the policy chain for a listener composed of all the ids of the policies in order of execution.
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
    put:
      operationId: update-event-gateway-listener-policy-chain
      summary: Update Policy Chain for Listener
      description: Update the policy chain for a listener by providing an ordered list of policy ids.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayPolicyChainRequest'
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/consume-policies':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: list-event-gateway-virtual-cluster-consume-policies
      summary: List Consume Policies for Virtual Cluster
      description: Returns a list of consume policies associated with the specified Event Gateway virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyListFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListConsumePoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    post:
      operationId: create-event-gateway-virtual-cluster-consume-policy
      summary: Create Consume Policy for Virtual Cluster
      description: Creates a new consume policy associated with the specified Event Gateway virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyBefore'
        - $ref: '#/components/parameters/EventGatewayPolicyAfter'
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayConsumePolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/consume-policies/{policyId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - name: policyId
        in: path
        description: The UUID of the policy.
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
    get:
      operationId: get-event-gateway-virtual-cluster-consume-policy
      summary: Get a Consume Policy for Virtual Cluster
      description: Returns information about a specific consume policy associated with the Event Gateway virtual cluster.
      responses:
        '200':
          description: A single consume policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    put:
      operationId: update-event-gateway-virtual-cluster-consume-policy
      summary: Update Consume Policy for Virtual Cluster
      description: Updates an existing consume policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayConsumePolicyRequest'
      responses:
        '200':
          description: Updated consume policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    patch:
      operationId: patch-event-gateway-virtual-cluster-consume-policy
      summary: Patch Consume Policy for Virtual Cluster
      description: Updates an existing consume policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayPolicyRequest'
      responses:
        '200':
          description: Updated consume policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    delete:
      operationId: delete-event-gateway-virtual-cluster-consume-policy
      summary: Delete Consume Policy for Virtual Cluster
      description: Deletes a specific consume policy associated with the Event Gateway virtual cluster.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/consume-policies/{policyId}/move':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - $ref: '#/components/parameters/policyId'
    post:
      operationId: move-event-gateway-virtual-cluster-consume-policy
      summary: Move Consume Policy
      description: |
        Moves the position of a specific consume policy relative to the chain associated with the Event Gateway virtual
        cluster.
        If a policy is defined under a parent policy, it moves the position relative to the sibling policies under the
        same parent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/consume-policy-chain':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: get-event-gateway-virtual-cluster-consume-policy-chain
      summary: Get Consume Policy Chain
      description: |
        Get the consume policy chain for a virtual cluster composed of all the ids of the consume policies in order of execution.
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    put:
      operationId: update-event-gateway-virtual-cluster-consume-policy-chain
      summary: Update Consume Policy Chain
      description: Update the consume policy chain for a virtual cluster by providing an ordered list of consume policy ids.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayPolicyChainRequest'
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/produce-policies':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: list-event-gateway-virtual-cluster-produce-policies
      summary: List Produce Policies for Virtual Cluster
      description: Returns a list of produce policies associated with the specified Event Gateway virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyListFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListProducePoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    post:
      operationId: create-event-gateway-virtual-cluster-produce-policy
      summary: Create Produce Policy for Virtual Cluster
      description: Creates a new produce policy associated with the specified Event Gateway virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyBefore'
        - $ref: '#/components/parameters/EventGatewayPolicyAfter'
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayProducePolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/produce-policies/{policyId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - name: policyId
        in: path
        description: The UUID of the policy.
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
    get:
      operationId: get-event-gateway-virtual-cluster-produce-policy
      summary: Get a Produce Policy for Virtual Cluster
      description: Returns information about a specific produce policy associated with the Event Gateway virtual cluster.
      responses:
        '200':
          description: A single produce policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    put:
      operationId: update-event-gateway-virtual-cluster-produce-policy
      summary: Update Produce Policy for Virtual Cluster
      description: Updates an existing produce policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayProducePolicyRequest'
      responses:
        '200':
          description: Updated produce policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    patch:
      operationId: patch-event-gateway-virtual-cluster-produce-policy
      summary: Patch Produce Policy for Virtual Cluster
      description: Partially updates an existing produce policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayPolicyRequest'
      responses:
        '200':
          description: Updated produce policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    delete:
      operationId: delete-event-gateway-virtual-cluster-produce-policy
      summary: Delete Produce Policy for Virtual Cluster
      description: Deletes a specific produce policy associated with the Event Gateway virtual cluster.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/produce-policies/{policyId}/move':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - $ref: '#/components/parameters/policyId'
    post:
      operationId: move-event-gateway-virtual-cluster-produce-policy
      summary: Move Produce Policy
      description: |
        Moves the position of a specific produce policy relative to the chain associated with the Event Gateway virtual
        cluster.
        If a policy is defined under a parent policy, it moves the position relative to the sibling policies under the
        same parent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/produce-policy-chain':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: get-event-gateway-virtual-cluster-produce-policy-chain
      summary: Get Produce Policy Chain for Virtual Cluster
      description: |
        Get the produce policy chain for a virtual cluster composed of all the ids of the produce policies in order of execution.
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    put:
      operationId: update-event-gateway-virtual-cluster-produce-policy-chain
      summary: Update Produce Policy Chain
      description: Update the produce policy chain for a virtual cluster by providing an ordered list of produce policy ids.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayPolicyChainRequest'
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/cluster-policies':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: list-event-gateway-virtual-cluster-cluster-level-policies
      summary: List Cluster Policies for Virtual Cluster
      description: Returns a list of cluster-level policies associated with the virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyListFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListClusterPoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
    post:
      operationId: create-event-gateway-virtual-cluster-cluster-level-policy
      summary: Create Cluster Policy for Virtual Cluster
      description: Creates a new cluster-level policy associated with the specified Event Gateway virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyBefore'
        - $ref: '#/components/parameters/EventGatewayPolicyAfter'
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayClusterPolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/cluster-policies/{policyId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - name: policyId
        in: path
        description: The UUID of the policy.
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
    get:
      operationId: get-event-gateway-virtual-cluster-cluster-level-policy
      summary: Get a Cluster Policy for Virtual Cluster
      description: Returns information about a specific cluster-level policy associated with the Event Gateway virtual cluster.
      responses:
        '200':
          description: A single cluster-level policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Policies
    put:
      operationId: update-event-gateway-virtual-cluster-cluster-level-policy
      summary: Update Cluster Policy for Virtual Cluster
      description: Updates an existing cluster-level policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayClusterPolicyRequest'
      responses:
        '200':
          description: Updated cluster-level policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
    patch:
      operationId: patch-event-gateway-virtual-cluster-cluster-level-policy
      summary: Patch Cluster Policy for Virtual Cluster
      description: Partially updates an existing cluster-level policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayPolicyRequest'
      responses:
        '200':
          description: Updated cluster-level policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
    delete:
      operationId: delete-event-gateway-virtual-cluster-cluster-level-policy
      summary: Delete Cluster Policy for Virtual Cluster
      description: Deletes a specific cluster-level policy associated with the Event Gateway virtual cluster.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/cluster-policies/{policyId}/move':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - $ref: '#/components/parameters/policyId'
    post:
      operationId: move-event-gateway-virtual-cluster-cluster-level-policy
      summary: Move Cluster Policy
      description: |
        Moves the position of a specific cluster-level policy relative to the chain associated with the Event Gateway virtual
        cluster.
        If a policy is defined under a parent policy, it moves the position relative to the sibling policies under the
        same parent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
  '/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/cluster-policy-chain':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: get-event-gateway-virtual-cluster-cluster-level-policy-chain
      summary: Get Cluster Policy Chain for Virtual Cluster
      description: |
        Get the cluster-level policy chain for a virtual cluster composed of all the ids of the cluster-level policies in order of execution.
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
    put:
      operationId: update-event-gateway-virtual-cluster-cluster-level-policy-chain
      summary: Update Cluster Policy Chain
      description: Update the cluster-level policy chain for a virtual cluster by providing an ordered list of cluster-level policy ids.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayPolicyChainRequest'
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
  '/event-gateways/{gatewayId}/data-plane-certificates':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-data-plane-certificates
      summary: List Event Gateway DataPlane Certificates
      description: Returns a list of dataplane certificates that are associated to this event gateway. A dataplane certificate allows dataplanes configured with the certificate and corresponding private key to establish connection with this event gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayDataPlaneCertificatesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway DataPlane Certificates
    post:
      operationId: create-event-gateway-data-plane-certificate
      summary: Create a New DataPlane Certificate
      description: Create new dataplane certificate to this event gateway. A dataplane certificate allows dataplanes configured with the certificate and corresponding private key to establish connection with this event gateway.
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayDataPlaneCertificateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayDataPlaneCertificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway DataPlane Certificates
  '/event-gateways/{gatewayId}/data-plane-certificates/{certificateId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: certificateId
        in: path
        description: The ID of the dataplane certificate.
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: get-event-gateway-data-plane-certificate
      summary: Get a DataPlane Certificate
      description: Returns information about an individual dataplane certificate.
      responses:
        '200':
          description: A single dataplane certificate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayDataPlaneCertificate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway DataPlane Certificates
    put:
      operationId: update-event-gateway-data-plane-certificate
      summary: Update Event Gateway DataPlane Certificate
      description: Updates an existing dataplane certificate associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayDataPlaneCertificateRequest'
      responses:
        '200':
          description: Updated event gateway dataplane certificate object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayDataPlaneCertificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway DataPlane Certificates
    delete:
      operationId: delete-event-gateway-data-plane-certificate
      summary: Delete Event Gateway DataPlane Certificate
      description: Deletes a specific dataplane certificate associated with the Event Gateway.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway DataPlane Certificates
  '/event-gateways/{gatewayId}/static-keys':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-static-keys
      summary: List Event Gateway Static Keys
      description: Returns a list of static keys associated to this event gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayStaticKeysResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
    post:
      operationId: create-event-gateway-static-key
      summary: Create a New Static Key
      description: Create new static key to this event gateway.
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayStaticKeyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayStaticKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
  '/event-gateways/{gatewayId}/static-keys/{staticKeyId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: staticKeyId
        in: path
        description: The ID of the static key.
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: get-event-gateway-static-key
      summary: Get a Static Key
      description: Returns information about an individual static key.
      responses:
        '200':
          description: A single static key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayStaticKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
    delete:
      operationId: delete-event-gateway-static-key
      summary: Delete Event Gateway Static Key
      description: Deletes a specific static key associated with the Event Gateway.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
components:
  parameters:
    EventGatewayCommonFilter:
      schema:
        type: object
        properties:
          name:
            $ref: '#/components/schemas/StringFieldContainsFilter'
      in: query
      name: filter
      description: Filter documents returned in the response.
      required: false
      style: deepObject
    eventGatewayListenerId:
      schema:
        type: string
        format: uuid
      name: eventGatewayListenerId
      in: path
      required: true
      description: The ID of the Event Gateway Listener.
    EventGatewayListenersFilter:
      schema:
        type: object
        properties:
          name:
            $ref: '#/components/schemas/StringFieldContainsFilter'
          virtual_cluster_id:
            $ref: '#/components/schemas/StringFieldEqualsFilter'
      in: query
      name: filter
      description: Filter listeners returned in the response.
      required: false
      style: deepObject
    eventGatewayNodeId:
      schema:
        type: string
        format: uuid
      name: eventGatewayNodeId
      in: path
      required: true
      description: The ID of the Event Gateway Node.
    EventGatewayPolicyAfter:
      schema:
        type: string
        format: uuid
      in: query
      name: after
      description: |
        Determines the id of the existing policy the new policy should be inserted after. Either 'before' or 'after' can be provided, when both are omitted the new policy is added to the end of the chain. When both are provided, the request fails with a 400 Bad Request.
      required: false
    EventGatewayPolicyBefore:
      schema:
        type: string
        format: uuid
      in: query
      name: before
      description: |
        Determines the id of the existing policy the new policy should be inserted before. Either 'before' or 'after' can be provided, when both are omitted the new policy is added to the end of the chain. When both are provided, the request fails with a 400 Bad Request.
      required: false
    EventGatewayPolicyListFilter:
      schema:
        type: object
        properties:
          parent_policy_id:
            description: The ID of the parent policy.
            type: string
      in: query
      name: filter
      description: Filter policies returned in the response.
      required: false
      style: deepObject
    gatewayId:
      name: gatewayId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
      description: The UUID of your Gateway.
    PageAfter:
      name: 'page[after]'
      description: 'Request the next page of data, starting with the item after this parameter.'
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: string
        example: ewogICJpZCI6ICJoZWxsbyB3b3JsZCIKfQ
    PageSize:
      name: 'page[size]'
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
    policyId:
      name: policyId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
      description: The UUID of the policy.
    virtualClusterId:
      schema:
        type: string
        format: uuid
      name: virtualClusterId
      in: path
      required: true
      description: The ID of the Virtual Cluster.
  schemas:
    EventGatewayInfo:
      description: The gateway object contains information about a Konnect gateway.
      type: object
      properties:
        id:
          description: The gateway ID.
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          readOnly: true
        name:
          $ref: '#/components/schemas/GatewayName'
        description:
          $ref: '#/components/schemas/GatewayDescription'
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          description: An ISO-8604 timestamp representation of gateway creation date.
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          readOnly: true
        updated_at:
          description: An ISO-8604 timestamp representation of gateway update date.
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          readOnly: true
        nodes_total:
          description: The total number of nodes associated with the Event Gateway.
          type: integer
        virtual_clusters_total:
          description: The total number of virtual clusters associated with the Event Gateway.
          type: integer
        min_runtime_version:
          $ref: '#/components/schemas/MinRuntimeVersion'
        version:
          description: |
            The version number of the event gateway. Every change to an entity
            under this gateway will modify the version.
          type: string
          example: v1.123
      additionalProperties: false
      required:
        - id
        - name
        - created_at
        - updated_at
        - nodes_total
        - virtual_clusters_total
        - min_runtime_version
        - version
      x-examples:
        Example 1:
          id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          name: Test Gateway
          labels:
            env: test
          created_at: '2022-11-04T20:10:06.927Z'
          updated_at: '2022-11-04T20:10:06.927Z'
    EventGatewayListener:
      description: Listeners are used to expose virtual clusters to clients.
      type: object
      properties:
        id:
          description: The unique identifier of the listener.
          type: string
          format: uuid
        name:
          description: The unique name of the listener.
          type: string
          maxLength: 255
          minLength: 1
          x-unicode-pattern: '^[\p{L}\p{N}][\p{L}\p{N} _\-\.:/+'']*[\p{L}\p{N}]$'
        description:
          description: A human-readable description of the listener.
          type: string
          default: ''
          maxLength: 512
        addresses:
          $ref: '#/components/schemas/EventGatewayListenerAddresses'
        ports:
          $ref: '#/components/schemas/EventGatewayListenerPorts'
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - id
        - name
        - addresses
        - ports
        - created_at
        - updated_at
    EventGatewayListenerAddresses:
      description: |
        Which address or addresses to listen on.
        `0.0.0.0` means all addresses on the host.
        `::` means all addresses on the host in IPv6.

          If `0.0.0.0` or `::` is used, there can't be other extra addresses defined.
          WARNING: there are use cases where listening on all addresses is insecure. So use this with caution.

          `localhost` means only the localhost ipv4 address.
      type: array
      items:
        type: string
        minLength: 1
      minItems: 1
    EventGatewayListenerPorts:
      description: |
        Which port or ports to listen on.
        There can be multiple ways to define ports:
          - as a single port, e.g. 9092
          - as a range of ports, e.g. 9092-9094

        It's possible to combine both, e.g. [9092, "9093-9095", 9096].
      type: array
      items:
        $ref: '#/components/schemas/EventGatewayListenerPort'
      minItems: 1
    EventGatewayListenerPort:
      oneOf:
        - type: string
          pattern: '^(\d{1,5}|\d{1,5}-\d{1,5})$'
          description: A port or a range of ports in the format 9092 or 9092-9094.
        - type: integer
          minimum: 1
          maximum: 65535
    VirtualCluster:
      description: A representation of a Kafka cluster that maps to a backend cluster.
      type: object
      properties:
        id:
          description: The unique identifier of the virtual cluster.
          type: string
          format: uuid
        description:
          description: A human-readable description of the virtual cluster.
          type: string
          default: ''
          maxLength: 512
        destination:
          $ref: '#/components/schemas/BackendClusterReference'
        authentication:
          $ref: '#/components/schemas/VirtualClusterAuthenticationSensitiveDataAwareSchemes'
        namespace:
          $ref: '#/components/schemas/VirtualClusterNamespace'
        name:
          $ref: '#/components/schemas/VirtualClusterName'
        dns_label:
          $ref: '#/components/schemas/VirtualClusterDNSLabel'
        acl_mode:
          $ref: '#/components/schemas/VirtualClusterACLMode'
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - id
        - name
        - dns_label
        - destination
        - authentication
        - acl_mode
        - created_at
        - updated_at
    VirtualClusterName:
      description: The name of the virtual cluster.
      type: string
      maxLength: 255
      minLength: 1
      x-unicode-pattern: '^[\p{L}\p{N}][\p{L}\p{N} _\-\.:/+'']*[\p{L}\p{N}]$'
    VirtualClusterReference:
      description: A reference to a virtual cluster.
      anyOf:
        - $ref: '#/components/schemas/VirtualClusterReferenceById'
        - $ref: '#/components/schemas/VirtualClusterReferenceByName'
    VirtualClusterReferenceById:
      description: Reference a virtual cluster by its unique identifier.
      type: object
      properties:
        id:
          description: The unique identifier of the virtual cluster.
          type: string
          format: uuid
          minLength: 1
      required:
        - id
    VirtualClusterReferenceByName:
      description: Reference a virtual cluster by its unique name.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/VirtualClusterName'
      required:
        - name
    VirtualClusterAuthenticationSensitiveDataAwareSchemes:
      description: |
        How to handle authentication from clients.

        It tries to authenticate with every rule sequentially one by one.
        It succeeds on the first match, and fails if no rule matches.
      type: array
      items:
        $ref: '#/components/schemas/VirtualClusterAuthenticationSensitiveDataAwareScheme'
      minItems: 1
    VirtualClusterAuthenticationSchemes:
      description: |
        How to handle authentication from clients.

        It tries to authenticate with every rule sequentially one by one.
        It succeeds on the first match, and fails if no rule matches.
      type: array
      items:
        $ref: '#/components/schemas/VirtualClusterAuthenticationScheme'
      minItems: 1
    VirtualClusterAuthenticationSensitiveDataAwareScheme:
      discriminator:
        propertyName: type
        mapping:
          anonymous: '#/components/schemas/VirtualClusterAuthenticationAnonymous'
          sasl_plain: '#/components/schemas/VirtualClusterAuthenticationSaslPlainSensitiveDataAware'
          sasl_scram: '#/components/schemas/VirtualClusterAuthenticationSaslScram'
          oauth_bearer: '#/components/schemas/VirtualClusterAuthenticationOauthBearer'
      oneOf:
        - $ref: '#/components/schemas/VirtualClusterAuthenticationAnonymous'
        - $ref: '#/components/schemas/VirtualClusterAuthenticationSaslPlainSensitiveDataAware'
        - $ref: '#/components/schemas/VirtualClusterAuthenticationSaslScram'
        - $ref: '#/components/schemas/VirtualClusterAuthenticationOauthBearer'
    VirtualClusterAuthenticationScheme:
      discriminator:
        propertyName: type
        mapping:
          anonymous: '#/components/schemas/VirtualClusterAuthenticationAnonymous'
          sasl_plain: '#/components/schemas/VirtualClusterAuthenticationSaslPlain'
          sasl_scram: '#/components/schemas/VirtualClusterAuthenticationSaslScram'
          oauth_bearer: '#/components/schemas/VirtualClusterAuthenticationOauthBearer'
      oneOf:
        - $ref: '#/components/schemas/VirtualClusterAuthenticationAnonymous'
        - $ref: '#/components/schemas/VirtualClusterAuthenticationSaslPlain'
        - $ref: '#/components/schemas/VirtualClusterAuthenticationSaslScram'
        - $ref: '#/components/schemas/VirtualClusterAuthenticationOauthBearer'
    VirtualClusterAuthenticationAnonymous:
      type: object
      properties:
        type:
          type: string
          enum:
            - anonymous
          x-terraform-transform-const: true
      required:
        - type
    VirtualClusterAuthenticationSaslPlainSensitiveDataAware:
      description: SASL/PLAIN authentication scheme for the virtual cluster.
      type: object
      properties:
        type:
          type: string
          enum:
            - sasl_plain
          x-terraform-transform-const: true
        mediation:
          description: The mediation type for SASL/PLAIN authentication.
          type: string
          enum:
            - passthrough
            - terminate
        principals:
          description: 'List of principals to be able to authenticate with, used with `terminate` mediation.'
          type: array
          items:
            $ref: '#/components/schemas/VirtualClusterAuthenticationPrincipalSensitiveDataAware'
      additionalProperties: false
      required:
        - type
        - mediation
    VirtualClusterAuthenticationSaslPlain:
      description: |
        SASL/PLAIN authentication scheme for the virtual cluster containing principals with username and password.
      type: object
      properties:
        type:
          type: string
          enum:
            - sasl_plain
          x-terraform-transform-const: true
        mediation:
          description: The mediation type for SASL/PLAIN authentication.
          type: string
          enum:
            - passthrough
            - terminate
        principals:
          description: 'List of principals to be able to authenticate with, used with `terminate` mediation.'
          type: array
          items:
            $ref: '#/components/schemas/VirtualClusterAuthenticationPrincipal'
          minItems: 1
      additionalProperties: false
      required:
        - type
        - mediation
    VirtualClusterAuthenticationPrincipalSensitiveDataAware:
      description: A principal for authentication.
      type: object
      properties:
        username:
          $ref: '#/components/schemas/GatewaySecretReferenceOrLiteral'
        password:
          $ref: '#/components/schemas/GatewaySecret'
      required:
        - username
    VirtualClusterAuthenticationPrincipal:
      description: A principal for authentication containing username and password.
      type: object
      properties:
        username:
          $ref: '#/components/schemas/GatewaySecretReferenceOrLiteral'
        password:
          $ref: '#/components/schemas/GatewaySecret'
      required:
        - username
        - password
    VirtualClusterAuthenticationJWKS:
      description: JSON Web Key Set configuration for verifying token signatures.
      type: object
      properties:
        endpoint:
          description: URL for JWKS endpoint.
          type: string
          format: uri
          minLength: 1
        timeout:
          description: Total time from establishing connection to receive a response from JWKS endpoint.
          type: string
          default: 10s
        cache_expiration:
          description: Duration after which the gateway will fetch and cache JWKS.
          type: string
          default: 1h
      required:
        - endpoint
    VirtualClusterAuthenticationClaimsMapping:
      description: Maps JWT claims in the case when sub and scope are presented as different claims in your JWT token.
      type: object
      properties:
        sub:
          description: Maps the subject claim.
          type: string
          minLength: 1
        scope:
          description: Maps the scope claim.
          type: string
          minLength: 1
    VirtualClusterAuthenticationSaslScram:
      description: SASL/SCRAM authentication scheme for the virtual cluster.
      type: object
      properties:
        type:
          type: string
          enum:
            - sasl_scram
          x-terraform-transform-const: true
        algorithm:
          description: The algorithm used for SASL/SCRAM authentication.
          type: string
          enum:
            - sha256
            - sha512
      additionalProperties: false
      required:
        - type
        - algorithm
    VirtualClusterAuthenticationOauthBearer:
      description: Oauth Bearer authentication scheme for the virtual cluster.
      type: object
      properties:
        type:
          type: string
          enum:
            - oauth_bearer
          x-terraform-transform-const: true
        mediation:
          description: |
            Methods to mediate authentication:
            * passthrough - pass authentication from the client through proxy to the backend cluster without any kind of
              validation
            * validate_forward - pass authentication from the client through proxy to the backend cluster.
              Proxy does the validation before forwarding it to the client.
            * terminate - terminate authentication at the proxy level and originate authentication to the backend cluster
              using the configuration defined at BackendCluster's authentication.
              SASL auth is not originated if authentication on the backend_cluster is not configured.
          type: string
          enum:
            - passthrough
            - validate_forward
            - terminate
        claims_mapping:
          $ref: '#/components/schemas/VirtualClusterAuthenticationClaimsMapping'
        jwks:
          $ref: '#/components/schemas/VirtualClusterAuthenticationJWKS'
        validate:
          $ref: '#/components/schemas/VirtualClusterAuthenticationValidate'
      additionalProperties: false
      required:
        - type
        - mediation
    VirtualClusterAuthenticationValidate:
      description: Validation rules.
      type: object
      properties:
        audiences:
          description: List of expected audience values. One of them has to match the audience claim in the token.
          type: array
          items:
            $ref: '#/components/schemas/VirtualClusterAuthenticationAudience'
          minItems: 1
        issuer:
          description: Expected token issuer in the token.
          type: string
          minLength: 1
    VirtualClusterAuthenticationAudience:
      type: object
      properties:
        name:
          type: string
          minLength: 1
      required:
        - name
    VirtualClusterDNSLabel:
      description: |-
        The DNS label used in the bootstrap server URL to identify the virtual cluster when using SNI routing.
        The format follows the RFC1035: 1-63 chars, lowercase alphanumeric or '-', must start and end with an alphanumeric character.
      type: string
      example: vcluster-1
      maxLength: 63
      minLength: 1
      pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
    VirtualClusterACLMode:
      description: |
        Configures whether or not ACL policies are enforced on the gateway.
        - `enforce_on_gateway` means the gateway enforces its own ACL policies for this virtual cluster
          and does not forward ACL-related commands to the backend cluster.
          Note that if there are no ACL policies configured, all access is denied.
        - `passthrough` tells the gateway to forward all ACL-related commands.
      type: string
      enum:
        - enforce_on_gateway
        - passthrough
    BackendCluster:
      description: The Kafka cluster.
      type: object
      properties:
        id:
          description: The unique identifier of the backend cluster.
          type: string
          format: uuid
          readOnly: true
        name:
          $ref: '#/components/schemas/BackendClusterName'
        description:
          description: A human-readable description of the backend cluster.
          type: string
          default: ''
          maxLength: 512
        authentication:
          $ref: '#/components/schemas/BackendClusterAuthenticationSensitiveDataAwareScheme'
        insecure_allow_anonymous_virtual_cluster_auth:
          description: |
            If true, virtual clusters can have allow anonymous authentication and use this backend cluster.
            This setting is not recommended for production use as it may create privilege escalation vulnerabilities.
          type: boolean
          default: false
        bootstrap_servers:
          $ref: '#/components/schemas/BootstrapServers'
        tls:
          $ref: '#/components/schemas/BackendClusterTLS'
        metadata_update_interval_seconds:
          $ref: '#/components/schemas/BackendMetadataUpdateIntervalSeconds'
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - id
        - name
        - authentication
        - bootstrap_servers
        - tls
        - created_at
        - updated_at
    BackendClusterName:
      description: The unique name of the backend cluster.
      type: string
      maxLength: 255
      minLength: 1
      x-unicode-pattern: '^[\p{L}\p{N}][\p{L}\p{N} _\-\.:/+'']*[\p{L}\p{N}]$'
    BackendClusterReference:
      description: The backend cluster associated with the virtual cluster.
      type: object
      properties:
        id:
          description: The unique identifier of the backend cluster.
          type: string
          format: uuid
        name:
          $ref: '#/components/schemas/BackendClusterName'
      additionalProperties: false
      required:
        - id
        - name
    BackendClusterReferenceModify:
      description: |
        The backend cluster associated with the virtual cluster.

        Either `id` or `name` must be provided. Following changes to the backend cluster name won't affect the
        reference, as the system will create the entities relationship by `id`.
      anyOf:
        - $ref: '#/components/schemas/BackendClusterReferenceById'
        - $ref: '#/components/schemas/BackendClusterReferenceByName'
    BackendClusterReferenceById:
      type: object
      properties:
        id:
          description: The unique identifier of the backend cluster.
          type: string
          format: uuid
          minLength: 1
      required:
        - id
    BackendClusterReferenceByName:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/BackendClusterName'
      required:
        - name
    BootstrapServers:
      description: 'A list of cluster bootstrap servers in the format address:port.'
      type: array
      items:
        type: string
        description: 'Endpoint in address:port format.'
        pattern: '^(([a-zA-Z0-9\.\-]+)|\[([a-fA-F0-9:]+)\]):\d+$'
        minLength: 1
      minItems: 1
    BackendClusterTLS:
      type: object
      properties:
        enabled:
          description: 'If true, TLS is enabled for connections to this backend cluster. If false, TLS is explicitly disabled.'
          type: boolean
        insecure_skip_verify:
          description: 'If true, skip certificate verification. It''s not secure to use for production.'
          type: boolean
          default: false
        ca_bundle:
          $ref: '#/components/schemas/GatewaySecretReferenceOrLiteral'
        tls_versions:
          description: List of supported TLS versions.
          type: array
          items:
            type: string
            enum:
              - tls12
              - tls13
          default:
            - tls12
            - tls13
        client_identity:
          description: Client mTLS configuration.
          type: object
          properties:
            certificate:
              $ref: '#/components/schemas/GatewaySecretReferenceOrLiteral'
            key:
              $ref: '#/components/schemas/GatewaySecret'
          required:
            - certificate
            - key
          x-min-runtime-version: '1.1'
          x-speakeasy-param-computed: false
      required:
        - enabled
    BackendMetadataUpdateIntervalSeconds:
      description: The interval at which metadata is updated in seconds.
      type: integer
      default: 60
      maximum: 43200
      minimum: 1
    BackendClusterAuthenticationScheme:
      discriminator:
        propertyName: type
        mapping:
          anonymous: '#/components/schemas/BackendClusterAuthenticationAnonymous'
          sasl_plain: '#/components/schemas/BackendClusterAuthenticationSaslPlain'
          sasl_scram: '#/components/schemas/BackendClusterAuthenticationSaslScram'
      oneOf:
        - $ref: '#/components/schemas/BackendClusterAuthenticationAnonymous'
        - $ref: '#/components/schemas/BackendClusterAuthenticationSaslPlain'
        - $ref: '#/components/schemas/BackendClusterAuthenticationSaslScram'
    BackendClusterAuthenticationSensitiveDataAwareScheme:
      discriminator:
        propertyName: type
        mapping:
          anonymous: '#/components/schemas/BackendClusterAuthenticationAnonymous'
          sasl_plain: '#/components/schemas/BackendClusterAuthenticationSaslPlainSensitiveDataAware'
          sasl_scram: '#/components/schemas/BackendClusterAuthenticationSaslScramSensitiveDataAware'
      oneOf:
        - $ref: '#/components/schemas/BackendClusterAuthenticationAnonymous'
        - $ref: '#/components/schemas/BackendClusterAuthenticationSaslPlainSensitiveDataAware'
        - $ref: '#/components/schemas/BackendClusterAuthenticationSaslScramSensitiveDataAware'
    BackendClusterAuthenticationAnonymous:
      description: Anonymous authentication scheme for the backend cluster.
      type: object
      properties:
        type:
          description: The type of authentication scheme.
          type: string
          enum:
            - anonymous
          x-terraform-transform-const: true
      additionalProperties: false
      required:
        - type
    BackendClusterAuthenticationSaslPlainSensitiveDataAware:
      description: |
        SASL/PLAIN authentication scheme for the backend cluster without requiring sensitive password data.
      type: object
      properties:
        type:
          type: string
          enum:
            - sasl_plain
          x-terraform-transform-const: true
        username:
          $ref: '#/components/schemas/GatewaySecretReferenceOrLiteral'
        password:
          $ref: '#/components/schemas/GatewaySecret'
      additionalProperties: false
      required:
        - type
        - username
    BackendClusterAuthenticationSaslPlain:
      description: SASL/PLAIN authentication scheme for the backend cluster.
      type: object
      properties:
        type:
          type: string
          enum:
            - sasl_plain
          x-terraform-transform-const: true
        username:
          $ref: '#/components/schemas/GatewaySecretReferenceOrLiteral'
        password:
          $ref: '#/components/schemas/GatewaySecret'
      additionalProperties: false
      required:
        - type
        - username
        - password
    BackendClusterAuthenticationSaslScramSensitiveDataAware:
      description: |
        SASL/SCRAM authentication scheme for the backend cluster without requiring sensitive password data.
      type: object
      properties:
        type:
          type: string
          enum:
            - sasl_scram
          x-terraform-transform-const: true
        algorithm:
          description: The algorithm used for SASL/SCRAM authentication.
          type: string
          enum:
            - sha256
            - sha512
        username:
          $ref: '#/components/schemas/GatewaySecretReferenceOrLiteral'
        password:
          $ref: '#/components/schemas/GatewaySecret'
      additionalProperties: false
      required:
        - type
        - username
        - algorithm
    BackendClusterAuthenticationSaslScram:
      description: SASL/SCRAM authentication scheme for the backend cluster.
      type: object
      properties:
        type:
          type: string
          enum:
            - sasl_scram
          x-terraform-transform-const: true
        algorithm:
          description: The algorithm used for SASL/SCRAM authentication.
          type: string
          enum:
            - sha256
            - sha512
        username:
          $ref: '#/components/schemas/GatewaySecretReferenceOrLiteral'
        password:
          $ref: '#/components/schemas/GatewaySecret'
      additionalProperties: false
      required:
        - type
        - username
        - algorithm
        - password
    SchemaRegistry:
      description: A schema registry that contains schemas.
      type: object
      properties:
        name:
          description: The unique name of the schema registry.
          type: string
          maxLength: 255
          minLength: 1
          x-unicode-pattern: '^[\p{L}\p{N}][\p{L}\p{N} _\-\.:/+'']*[\p{L}\p{N}]$'
        description:
          description: A human-readable description of the virtual cluster.
          type: string
          default: ''
          maxLength: 512
        type:
          description: The type of the schema registry.
          type: string
        config:
          description: The configuration of the schema registry.
          type: object
        labels:
          $ref: '#/components/schemas/Labels'
        id:
          description: The unique identifier of the schema registry.
          type: string
          format: uuid
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      required:
        - name
        - type
        - id
        - created_at
        - updated_at
    SchemaRegistryConfluentSensitiveDataAware:
      description: A Confluent schema registry.
      type: object
      properties:
        name:
          description: The unique name of the schema registry.
          type: string
          maxLength: 255
          minLength: 1
          x-unicode-pattern: '^[\p{L}\p{N}][\p{L}\p{N} _\-\.:/+'']*[\p{L}\p{N}]$'
        description:
          description: A human-readable description of the virtual cluster.
          type: string
          default: ''
          maxLength: 512
        type:
          description: The type of the schema registry.
          type: string
          enum:
            - confluent
          x-terraform-transform-const: true
        config:
          description: The configuration of the schema registry.
          type: object
          $ref: '#/components/schemas/SchemaRegistryConfluentConfigSensitiveDataAware'
        labels:
          $ref: '#/components/schemas/Labels'
      required:
        - name
        - type
        - config
    SchemaRegistryConfluent:
      description: A Confluent schema registry.
      type: object
      properties:
        name:
          description: The unique name of the schema registry.
          type: string
          maxLength: 255
          minLength: 1
          x-unicode-pattern: '^[\p{L}\p{N}][\p{L}\p{N} _\-\.:/+'']*[\p{L}\p{N}]$'
        description:
          description: A human-readable description of the virtual cluster.
          type: string
          default: ''
          maxLength: 512
        type:
          description: The type of the schema registry.
          type: string
          enum:
            - confluent
          x-terraform-transform-const: true
        config:
          description: The configuration of the schema registry.
          type: object
          $ref: '#/components/schemas/SchemaRegistryConfluentConfig'
        labels:
          $ref: '#/components/schemas/Labels'
      required:
        - name
        - type
        - config
    SchemaRegistryConfluentConfigSensitiveDataAware:
      description: |
        The configuration of [Confluent Schema Registry](https://github.com/confluentinc/schema-registry)
      type: object
      properties:
        schema_type:
          description: The format of the message.
          type: string
          enum:
            - avro
            - json
        endpoint:
          description: The endpoint of the Confluent schema registry.
          type: string
          format: uri
          minLength: 1
        timeout_seconds:
          description: |
            Total time in seconds from establishing connection to receive a response from schema registry.
          type: integer
          default: 10
          minimum: 1
        authentication:
          $ref: '#/components/schemas/SchemaRegistryAuthenticationSensitiveDataAwareScheme'
      required:
        - schema_type
        - endpoint
    SchemaRegistryConfluentConfig:
      description: |
        The configuration of [Confluent Schema Registry](https://github.com/confluentinc/schema-registry)
      type: object
      properties:
        schema_type:
          description: The format of the message.
          type: string
          enum:
            - avro
            - json
        endpoint:
          description: The endpoint of the Confluent schema registry.
          type: string
          format: uri
          minLength: 1
        timeout_seconds:
          description: |
            Total time in seconds from establishing connection to receive a response from schema registry.
          type: integer
          default: 10
          minimum: 1
        authentication:
          $ref: '#/components/schemas/SchemaRegistryAuthenticationScheme'
      required:
        - schema_type
        - endpoint
    SchemaRegistryAuthenticationSensitiveDataAwareScheme:
      description: The authentication configuration for the schema registry.
      discriminator:
        propertyName: type
        mapping:
          basic: '#/components/schemas/SchemaRegistryAuthenticationBasicSensitiveDataAware'
      oneOf:
        - $ref: '#/components/schemas/SchemaRegistryAuthenticationBasicSensitiveDataAware'
    SchemaRegistryAuthenticationScheme:
      description: The authentication configuration for the schema registry.
      discriminator:
        propertyName: type
        mapping:
          basic: '#/components/schemas/SchemaRegistryAuthenticationBasic'
      oneOf:
        - $ref: '#/components/schemas/SchemaRegistryAuthenticationBasic'
    SchemaRegistryAuthenticationBasicSensitiveDataAware:
      type: object
      properties:
        type:
          type: string
          enum:
            - basic
          x-terraform-transform-const: true
        username:
          $ref: '#/components/schemas/GatewaySecretReferenceOrLiteral'
        password:
          $ref: '#/components/schemas/GatewaySecret'
      required:
        - type
[...]
