name: Scheduled Automated Tests
on:
  workflow_dispatch:
  schedule:
  - cron: '0 15 * * *'

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}

env:
  VITE_PORTAL_API_URL: ${{ vars.VITE_PORTAL_API_URL }}

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gateway:
          - '3.13'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: 'recursive'

      - name: Install deps
        uses: './.github/reusable-steps/install-deps'

      - name: Run site
        uses: './.github/reusable-steps/run-site'

      - name: Download Kong License
        uses: Kong/kong-license@master
        id: getLicense
        with:
          op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

      - name: Generate instruction files
        uses: './.github/reusable-steps/generate-instruction-files'

      - name: Run tests
        working-directory: tools/automated-tests
        env:
          KONG_LICENSE_DATA: ${{ steps.getLicense.outputs.license }}
          RUNTIME: gateway
          PRODUCTS: ai-gateway,gateway
          GATEWAY_VERSION: ${{ matrix.gateway }}
        run: |
          DEBUG=tests:*,debug npm run run-tests

      - name: Publish Test Report
        uses: './.github/reusable-steps/publish-test-report'
        if: always()
