name: Scheduled Broken Links Checker
on:
  workflow_dispatch:
  schedule:
  - cron: '0 0 * * 0'

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}

env:
  VITE_PORTAL_API_URL: ${{ vars.VITE_PORTAL_API_URL }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: 'recursive'

      # Configure Ruby to build Jekyll site
      - name: Set up Ruby
        uses: ruby/setup-ruby@84684c07c1965536eb4802c8daf1a77968df0cb1 # v1
        with:
          ruby-version: .ruby-version
      - name: Ruby gem cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: ${{ github.workspace }}/vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Bundle Setup
        run: bundle config path ${{ github.workspace }}/vendor/bundle
      - name: Bundle Install
        run: bundle install --jobs 4 --retry 3

      # Configure Node to build assets
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24"
      - name: Cache node modules
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: npm install
        run: npm ci

      # Build the Docs
      - name: Build Docs
        run: |
          exe/build

      - name: Run site
        run: |
          npx netlify dev --context test & npx wait-on http://localhost:8888

      - name: Run link checker
        run: |
          cd tools/broken-link-checker
          npm ci
          node full.js --host http://localhost:8888
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
