name: Check for Changes in the docs repo
on:
  workflow_dispatch:
    inputs:
      days:
        description: 'Number of days to check for docs changes'
        required: false
        default: '7'
  schedule:
    - cron: '0 0 * * 0'

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Check out docs repo
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # master
        with:
          repository: Kong/docs.konghq.com
          token: ${{ secrets.PAT }}
          path: './docs'
          fetch-depth: 0
          ref: 'main'

      - name: Run docs changes tracker
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCS_PATH: './docs'
        run: |
          DAYS="${{ github.event.inputs.days || '7' }}"
          export DAYS_TO_CHECK_FOR_DOCS_CHANGES=$DAYS

          npm ci --prefix ./tools/track-docs-changes
          node tools/track-docs-changes/index.js