name: Check for Changes in the docs repo
on:
  workflow_dispatch:
    inputs:
      days:
        description: 'Number of days to check for docs changes'
        required: false
        default: '7'
  schedule:
    - cron: '0 0 * * 0'

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Check out docs repo
        uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2 # master
        with:
          repository: Kong/docs.konghq.com
          token: ${{ secrets.PAT }}
          path: './docs'

      - name: Run docs changes tracker
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCS_PATH: './docs'
        run: |
          DAYS="${{ github.event.inputs.days || '7' }}"
          export DAYS_TO_CHECK_FOR_DOCS_CHANGES=$DAYS

          npm ci --prefix ./tools/track-docs-changes
          node tools/track-docs-changes/index.js