name: Event Gateway Automated Tests
on:
  workflow_dispatch:
  schedule:
  - cron: '0 0 1 * *'

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}

permissions:
  actions: read
  contents: read
  checks: write
  statuses: write

env:
  VITE_PORTAL_API_URL: ${{ vars.VITE_PORTAL_API_URL }}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: 'recursive'

      - name: Install deps
        uses: './.github/reusable-steps/install-deps'

      - name: Run site
        uses: './.github/reusable-steps/run-site'

      - name: Generate instruction files
        uses: './.github/reusable-steps/generate-instruction-files'

      - name: Download Kong License
        uses: Kong/kong-license@master
        id: getLicense
        with:
          op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

      - name: Run tests
        working-directory: tools/automated-tests
        shell: bash
        env:
          KONG_LICENSE_DATA: ${{ steps.getLicense.outputs.license }}
          RUNTIME: konnect
          PRODUCTS: event-gateway
          TESTS_KONNECT_TOKEN: ${{ secrets.KONNECT_TOKEN }}
        run: |
          DEBUG=tests:*,debug npm run run-tests

      - name: Publish Test Report
        uses: './.github/reusable-steps/publish-test-report'
        if: always()
