name: Linting
on:
  pull_request:
    types: [synchronize, ready_for_review, opened, labeled]
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit
      - name: Check if manual review has been performed
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        id: labels
        with:
          result-encoding: string
          script: |
            const { data: labels } = await github.rest.issues.listLabelsOnIssue({
              ...context.repo,
              issue_number: context.issue.number
            });
            return labels.map(l => l.name).includes('ci:manual-approve:linting')
    outputs:
      result: ${{ steps.labels.outputs.result }}
  vale:
    needs: check
    if: needs.check.outputs.result == 'false'
    name: Vale
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 2
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # 47edd678ac3f81e2dc578756871e4d00c19191daf
        with:
          sha: ${{ github.sha }}
          files: |
            app/**/*.md
            app/_landing_pages/**/*.yaml
          files_ignore: |
            app/assets/**
            app/_references/**
          json: true
          quotepath: false
          escape_json: false
      - uses: errata-ai/vale-action@d89dee975228ae261d22c15adcd03578634d429c # v2.1.1
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          fail_on_error: true
          files: '${{ steps.changed-files.outputs.all_changed_files }}'
          filter_mode: file
          reporter: github-pr-annotations
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Prepare Frontmatters for Vale
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          cd tools/vale-frontmatter
          npm ci
          node index.js $CHANGED_FILES
      - uses: errata-ai/vale-action@d89dee975228ae261d22c15adcd03578634d429c # v2.1.1
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          fail_on_error: true
          files: '${{ steps.changed-files.outputs.all_changed_files }}'
          files_ignore: |
            app/_references/**
          filter_mode: file
          reporter: github-pr-annotations
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
