name: Submodule Sync
on:
  workflow_dispatch:
    schedule:
      - cron: '0 0 * * *'
  repository_dispatch:
    types: [PLUGINS_UPDATED]

permissions:
  contents: write
  pull-requests: write

jobs:
  submodule-sync:
    name: Submodule Sync
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Submodule Sync
        uses: mheap/submodule-sync-action@a06903a4e38f042f6f52cc88d184ec1c930ee12d # v1
        with:
          token: ${{ secrets.PAT }}
          path: app/.repos/kong-plugins
          ref: main
          pr_branch: automated-kong-plugins-update
          base_branch: main
          target_branch: main
