name: Sync Konnect OAS Data
on: workflow_dispatch

permissions:
  contents: write
  pull-requests: write

jobs:
  update_oas_data:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Create GitHub App Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_KONG_DOCS_ID }}
          private-key: ${{ secrets.GH_APP_KONG_DOCS_SECRET }}
          owner: Kong

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Fetch OAS Data
        run: |
          cd tools/konnect-oas-data-generator
          npm ci
          node run.js --url ${{ vars.VITE_PORTAL_API_URL }}
      - name: Create pull request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8
        with:
          title: Sync Konnect OAS Data
          commit-message: Sync Konnect OAS Data
          labels: skip-changelog,review:general
          token: ${{ steps.app-token.outputs.token }}