name: Sync Konnect OAS Data
on: workflow_dispatch

permissions:
  contents: write
  pull-requests: write

jobs:
  update_oas_data:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Create GitHub App Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_KONG_DOCS_ID }}
          private-key: ${{ secrets.GH_APP_KONG_DOCS_SECRET }}
          owner: Kong

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Fetch OAS Data
        run: |
          cd tools/konnect-oas-data-generator
          npm ci
          node run.js --url ${{ vars.VITE_PORTAL_API_URL }}
      - name: Create pull request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7
        with:
          title: Sync Konnect OAS Data
          commit-message: Sync Konnect OAS Data
          labels: skip-changelog,review:general
          token: ${{ steps.app-token.outputs.token }}