name: Sync Konnect OAS Data
on: workflow_dispatch

permissions:
  contents: write
  pull-requests: write

jobs:
  update_oas_data:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Fetch OAS Data
        run: |
          cd tools/konnect-oas-data-generator
          npm ci
          node run.js --url ${{ vars.VITE_PORTAL_API_URL }}
      - name: Create pull request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7
        with:
          title: Sync Konnect OAS Data
          commit-message: Sync Konnect OAS Data
          labels: skip-changelog,review:general
          token: ${{ secrets.PAT }}