name: Validate frontmatters
on:
  workflow_dispatch:
  pull_request:
    types: [synchronize, opened]
  push:
    branches: [main]

jobs:
  validate-frontmatters:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Run validator
        working-directory: tools/frontmatter-validator
        run: |
          npm ci
          node index.js