name: Validate frontmatters
on:
  workflow_dispatch:
  pull_request:
    types: [synchronize, opened]
  push:
    branches: [main]

jobs:
  validate-frontmatters:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run validator
        working-directory: tools/frontmatter-validator
        run: |
          npm ci
          node index.js