name: Validate frontmatters
on:
  workflow_dispatch:
  pull_request:
    types: [synchronize, opened]
  push:
    branches: [main]

jobs:
  validate-frontmatters:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run validator
        working-directory: tools/frontmatter-validator
        run: |
          npm ci
          node index.js