name: Validate frontmatters
on:
  workflow_dispatch:
  pull_request:
    types: [synchronize, opened]
  push:
    branches: [main]

jobs:
  validate-frontmatters:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Run validator
        working-directory: tools/frontmatter-validator
        run: |
          npm ci
          node index.js