<div class="card flex-col gap-5 p-6 pb-4">
    <div class="flex justify-between items-center">
        <img src="{{ include.icon }}" class="w-8 h-8"/>
        <div class="flex gap-2">
            {% if include.deprecated == true %}
            {% include badge.html text='Deprecated' css_class='deprecated' %}
            {% endif %}
            {% include badge.html text=include.version %}
        </div>
    </div>
    <div class="flex flex-col gap-3 grow">
        <h3>{{ include.title }}</h3>
        <p class="text-sm text-secondary">{{ include.description }}</p>
    </div>
    <div class="flex flex-col w-full text-primary text-sm">
        <a class="flex justify-between py-3 border-b border-primary/5  hover:bg-hover-component/100 hover:px-6 hover:-mx-6 hover:no-underline items-center" href="{{ include.spec_url }}">
            <span class="flex gap-2 items-center"><div class="w-4 text-brand">{% include_svg "/assets/icons/service-document.svg" %}</div>Specification</span>
            <span class="flex text-terciary">&rarr;</span>
        </a>
        {% if include.insomnia_link.exist? %}
        <a class="flex justify-between py-3 border-b border-primary/5  hover:bg-hover-component/100 hover:px-6 hover:-mx-6 hover:no-underline items-center" href="{{ include.insomnia_link.url }}">
            <span class="flex gap-2 items-center"><div class="w-4 text-brand">{% include_svg "/assets/icons/insomnia/insomnia.svg" %}</div>Run in Insomnia</span>
            <span class="flex text-terciary">&rarr;</span>
        </a>
        {% endif %}
    </div>
</div>