{% assign policy = include.policy %}
<div class="card card__bordered min-h-[260px]">
    <a href="{{policy.url}}" class="flex flex-col gap-5 hover:no-underline text-secondary w-full p-6">
        {% if policy.icon %}
        <img src="{{ policy.icon }}" class="w-8 h-8"/>
        {% else %}
        <div class="w-8 h-8"></div>
        {% endif %}

        <div class="flex flex-col gap-3 flex-grow">
            <h4>{{ policy.title | liquify }}</h4>

            <p class="text-sm line-clamp-5">
                {{ policy.description | liquify | markdownify | markdown }}
            </p>
        </div>
    </a>
</div>
